{% extends "dashboard/layout.html" %}


{% block title %}
  영업관리
{% endblock %}


{% block css %}

  <style type="text/css">
    .input-form {
      border: 1px solid #d1d3e2;
      border-radius: .35rem;
      padding: .375rem .75rem;
      font-size: 0.9em;
      color: #6e707e;
      width: 170px;
    }

    .td-img {
      max-width: 40%;
      height: auto;
    }

    .flow-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .flow-table td, .flow-table th {
      padding: 5px 15px;
      text-align: center;
      vertical-align: middle;
      font-size: 17px;
      border-top: 0px dotted #858796a3;
    }

    .dataTable td {
      padding: 10px;
    }

  </style>

{% endblock %}


{% block content %}
<div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> 센터별 담당자 관리 </h6>
        </div>

        <div class="card-body">
          <div class="row mb-3">
            <h5 class="text-primary mb-3">
              <span class="ml-3 text-dark">▼</span> 센터별 담당자 등록
            </h5>
          </div>
          <form method="POST" id="centerManagerForm">
            <div class="row col-12">
              <span class="col-xl-1">적용기간 : </span>
              <span class="col-xl-2"><input class="input-form" type="date" name="startdate" id="startdate"></span>
              <span class="col-xl-2"><input class="input-form" type="date" name="enddate" id="enddate"></span>
            </div>
            <div id="revenuediv">
              <table id="manager" class="display" style="width:100%">
                <thead style="width:100%">
                <tr>
                  <th class="d-none">담당자</th>
                  <th>담당자</th>
                  <th>담당구역</th>
                  <th>추가관리</th>
                  <th>대청소담당구역</th>
                  <th><i id="addManager" class="fas fa-plus-square fa-fw text-info" style="font-size: 2rem"></i></th>
                </tr>
                </thead>
              </table>
            </div>

          </form>
        </div>
      </div>
    </div>
</div>



{% endblock %}


{% block script %}
<script>
  var managerCounter = 0;
  function magicsearchtab(input) {
          value = $(input).attr('data-id');
          $(input).blur(function () {
              if (value !== "") {
                  $(input).trigger('set', {id: value});
              }
          });
      }
  // 센터별 담당자
  var t1 = $('#manager').DataTable({
      "autoWidth": true,
      "searching": false,
      "paging": false,
      "info": false,
      "scrollY": "60vh",
      "scrollX": true,
      "scrollCollapse": true,
      'fnCreatedRow': function (nRow, aData, iDataIndex) {
          $(nRow).attr('id', 'row' + iDataIndex);
      },
      "ordering": false,
      "columnDefs": [
          {targets: 0, width: "0%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap d-none",
            createdCell: function (td, cellData, rowData, row, col) {
                      $(td).css('padding-bottom', '30px');
                      $(td).css('padding-top', '10px');
            }
          },
          {targets: 1, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
              createdCell: function (td, cellData, rowData, row, col) {
                      $(td).css('padding-bottom', '30px');
                      $(td).css('padding-top', '10px');
                    }
          },
          {targets: 2, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                createdCell: function (td, cellData, rowData, row, col) {
                      $(td).css('padding-bottom', '30px');
                      $(td).css('padding-top', '10px');
                }
          },
          {targets: 3, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                createdCell: function (td, cellData, rowData, row, col) {
                    $(td).css('padding-bottom', '30px');
                    $(td).css('padding-top', '10px');
                }
          },
          {targets: 4, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                createdCell: function (td, cellData, rowData, row, col) {
                    $(td).css('padding-bottom', '30px');
                    $(td).css('padding-top', '10px');
                  }
          },
          {targets: 5, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                createdCell: function (td, cellData, rowData, row, col) {
                    $(td).css('padding-bottom', '30px');
                    $(td).css('padding-top', '10px');
                  }
          },
      ],
  });

  $('#addManager').on('click', function () {
      t1.row.add([
          '<div class="text-center d-none" value="0" name="itemId" id="item0' + managerCounter + '">추가</div>',
          '<input class="magicsearch input-form" autocomplete="off" type="text" style="width: 200px;" name="empId" id="item1' + managerCounter + '">',
          '<input style="width:200px" class="input-form" type="text" name="manageArea" id="item2' + managerCounter + '">',
          '<input style="width:200px" class="input-form" type="text" name="additionalArea" id="item3' + managerCounter + '">',
          '<input style="width:200px" class="money input-form" name="cleanupArea" id="item4' + managerCounter + '">',
          '<i class="fas fa-times-circle" name="remove" >'
      ]).draw(false);

      $('#item1' + managerCounter).magicsearch({
              dataSource: {{ empNames|safe }},
              fields: 'value',
              id: 'id',
              multiple: false,
              multiField: 'value',
              format: '%value%',
              multiStyle: {space: 5, width: 80},
              noResult: '검색결과없음',
              focusShow: false,
          });
  });

  // {% if items %}
  //     {% for item in items %}
  //         t1.row.add([
  //             '<div class="text-center d-none" value="0" name="itemId" id="item0' + itemCounter + '">{{ item.contractItemId }}</div>',
  //             '<input class="magicsearch input-form" autocomplete="off" type="text" style="width: 200px;" name="revenueCategoryCompany" ' +
  //             'data-id="{{ item.companyName }}"' +
  //             'id="item5' + itemCounter + '" onkeydown="magicsearchtab(item5' + itemCounter + ')">',
  //             '<select style="width:200px" class="input-form" size="1" id="item1' + itemCounter + '" name="mainCategory" onchange="itemChange( item1' + itemCounter + ",item2" + itemCounter + ')">' +
  //             '</select>',
  //             '<select style="width:200px" class="input-form" size="1" id="item2' + itemCounter + '" name="subCategory"> <option value="init" selected="selected">--소분류--</option>',
  //             '<input style="width:200px" class="input-form" type="text" name="itemName" id="item3' + itemCounter + '" value="{{ item.itemName }}">',
  //             '<input style="width:200px" class="money input-form" name="itemPrice" id="item4' + itemCounter + '" value="{{ item.itemPrice }}">',
  //             '<i class="fas fa-times-circle" name="remove" >'
  //         ]).draw(false);
  //         itemCounter++;
  //     {% endfor %}
  //     $.ajax({
  //         url: "{% url 'sales:maincategory_ajax_url' %}",
  //         method: 'POST',
  //         cache: false,
  //         data: {"contractId":"{{ contractId }}"},
  //         headers: {'X-CSRFToken': '{{ csrf_token }}'},
  //         success: function (returnData) {
  //             var category = returnData[0];
  //             var data = returnData[1];
  //             for(var i=0;i<data.length;i++){
  //                 $('#item1'+i).empty();
  //                 $('#item1'+i).append('<option value="" selected="">--대분류--</option>');
  //                 for (var count = 0; count < category.length; count++) {
  //                     var option = $("<option value=" + category[count].mainCategory + ">" + category[count].mainCategory + "</option>");
  //                     $('#item1'+i).append(option);
  //                 }
  //                 $('#item1' + i).val(data[i].mainCategory).prop("selected", true);
  //                 itemChangeAdd("item1" + i, "item2" + i, data[i].subCategory, i);
  //             }
  //         }, error:function(request,status,error){
  //             alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
  //         }
  //     });
  //
  //     for (var p = 0; p < itemCounter; p++) {
  //         $('#item5' + p).magicsearch({
  //             dataSource: companyList,
  //             fields: 'value',
  //             id: 'id',
  //             format: '%value%',
  //             multiStyle: {space: 5, width: 80},
  //             noResult: '검색결과없음',
  //             focusShow: true,
  //             maxShow: 100,
  //         });
  //     }
  //
  //     $('.money').simpleMoneyFormat();
  //     $('input[name=itemPrice]').on("change keyup paste input", function() {
  //         totalPrice('itemPrice', 'totalItemPrice');
  //     });
  // {% else %}
  //     $('#addManager').click();
  // {% endif %}

  $('#centermanager').on('click', 'i', function () {
      t1
          .row($(this).parents('tr'))
          .remove()
          .draw();
  });
</script>


{% endblock %}