{% extends "dashboard/layout.html" %}


{% block title %}
센터별 체크리스트
{% endblock %}

{% block css %}
<style>
  pc-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .pc-table td, .pc-table th {
      padding: 5px 15px;
      text-align: center;
      vertical-align: middle;
      font-size: 17px;
      border: 1px solid rgba(206, 210, 219, 0.64);
    }
  pc-table2 {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

  .pc-table2 td, .pc-table th {
    padding: 3px 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    border: 1px solid rgba(206, 210, 219, 0.64);
  }

  .file_input_textbox {
    float:left;
    height:29px;
  }
  .file_input_div {
      position:relative;
      width:80px;
      height:36px;
      overflow:hidden;
  }
  .file_input_img_btn {
      padding:0 0 0 5px;
  }
  .file_input_hidden {
      font-size:29px;
      position:absolute;
      right:0px;
      top:0px;
      opacity:0;
      filter: alpha(opacity=0);
      -ms-filter: alpha(opacity=0);
      cursor:pointer;
  }

</style>
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 h3 text-gray-800"> 센터별 체크리스트</h6>
      </div>

      <div class="card-body">
        <form method="POST" id="searchForm">
          {% csrf_token %}
          <h5 class="text-center d-none d-xl-block mb-1">
            <i class="fas fa-angle-left text-primary" onclick="btn_move(1)"></i>
            {{ thisMonday | date:"Y-m-d" }} ~ {{ thisSunday | date:"Y-m-d" }}
            <i class="fas fa-angle-right text-primary" onclick="btn_move(2)"></i>
          </h5>

          <h6 class="text-center d-xl-none mb-1">
            <i class="fas fa-angle-left text-primary" onclick="btn_move(1)"></i>
            {{ thisMonday | date:"Y-m-d" }} ~ {{ thisSunday | date:"Y-m-d" }}
            <i class="fas fa-angle-right text-primary" onclick="btn_move(2)"></i>
          </h6>
          <div class="row m-1 justify-content-between">
            <span>
              <select class="form-control" id="centerName" onchange="btn_change(this.value)">
                {% for center in centers %}
                <option value="{{ center.centerName }}" {% if centerName == center.centerName %} selected {% endif %} >
                  {{ center.centerName }}
                </option>
                {% endfor %}
              </select>
            </span>
            <a class="btn bg-primary text-white" href="#" role="button" id="postLink" data-toggle="modal" data-target="#postModal">
              <span>점검</span>
            </a>
          </div>
        </form>
          <div class="row mb-3 center">
            {% if confirmCheckList%}
            <div class="m-2 d-none d-xl-block" style="width: 100%;">
              <table class="pc-table" style="width: 100%;">
                <tr style="background-color: #c5e4f8; color: black;">
                  <th width="10%" class="font-weight-normal" style="background-color: #deeef8;">점검일자</th>
                  <th width="10%" class="font-weight-normal bg-gray-400">점검자</th>
                  {% for check in checklist %}
                  <th width="10%" class="font-weight-normal">{{ check.checkListName}}</th>
                  {% endfor %}
                </tr>
                {% for date in dateList %}
                <tr>
                  <th width="10%" class="font-weight-normal text-dark" style="background-color: #deeef8;">{{ date.confirmDate |date:'Y-m-d' }}</th>
                  <th width="10%" class="font-weight-normal bg-gray-200">{{ date.empName.empId__empName }}</th>
                  {% if date.data %}
                    {% for d in date.data %}
                      <th width="10%" class="font-weight-normal text-dark" >
                        {% if d.checkListStatus != 'Y'  %} 이상 {% else %} V {% endif %}
                        {% if d.file %}
                        <a href="/media/{{ d.file }}" target="_blank"><i class="fas fa-camera-retro text-primary"></i></a>
                        {% endif %}
                      </th>
                    {% endfor %}
                  {% else %}
                    {% for check in checklist %}
                    <th width="10%" class="font-weight-normal text-dark" ></th>
                    {% endfor %}
                  {% endif %}
                </tr>
                {% endfor %}
              </table>
            </div>
            <!--모바일 화면-->
              <table class="pc-table m-2 d-xl-none" style="width: 100%;">
                <tr style="background-color: #c5e4f8; color: black;">
                  <th width="10%" class="font-weight-normal" style="background-color: #deeef8;font-size: small;">일자</th>
                  {% for check in checklist %}
                  <th width="10%" class="font-weight-normal" style="font-size: small;">{{ check.checkListId}}</th>
                  {% endfor %}
                </tr>
                {% for date in dateList %}
                <tr>
                  <th width="10%" class="font-weight-normal text-dark" style="background-color: #deeef8;font-size: x-small">{{ date.confirmDate |date:'Y.m.d' }}</th>
                  {% if date.data %}
                    {% for d in date.data %}
                      <th width="10%" class="font-weight-normal text-dark" style="font-size: x-small">
                        {% if d.checkListStatus != 'Y'  %} X {% else %} V {% endif %}
                        {% if d.file %}
                        <a href="/media/{{ d.file }}" target="_blank"><i class="fas fa-camera-retro text-primary"></i></a>
                        {% endif %}
                      </th>
                    {% endfor %}
                  {% else %}
                    {% for check in checklist %}
                    <th width="10%" class="font-weight-normal text-dark" ></th>
                    {% endfor %}
                  {% endif %}
                </tr>
                {% endfor %}
              </table>
              <div class="d-xl-none small m-2">
                {% for checklist in checklists %}
                <span>{{ checklist.checkListId }} : {{ checklist.checkListName }}</span>
                {% endfor %}
              </div>
            {% else %}
            <table class="pc-table m-2" style="width: 100%;">
              <tr style="background-color: #deeef8; color: black;">
                <td><span style="width:100%" class="text-center center mb-3">조회 기간에 해당하는 <span class="text-danger">체크리스트 없음</span></span></td>
              </tr>
            </table>
            {% endif %}
          </div>
        </form>
        <div class="input-group" style="width: 220px;">
          <input type="month" class="form-control" name="pdfmonth" id="pdfmonth" max="9999-12" value="{{ today | date:'Y-m' }}">
          <a class="btn bg-warning text-white" onclick="btn_pdf()">
            <span>PDF</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="postModalLabel">센터 점검</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="postForm" action="/daesungwork/postchecklist/" enctype="multipart/form-data" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_post();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6">
                <label for="modalCenterName" class="text-primary">센터명</label>
                <select class="form-control" name="modalCenterName" id="modalCenterName">
                  {% for center in centers %}
                    <option value="{{ center.centerName }}" {% if centerName == center.centerName %} selected {% endif %}>
                      {{ center.centerName }}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label for="modalEmpName" class="text-primary">점검자</label>
                <select class="form-control" name="modalEmpName" id="modalEmpName">
                  {% for emp in employees %}
                    <option value="{{ emp.empId }}" {% if user.employee.empId == emp.empId %} selected {% endif %}>
                      {{ emp.empName }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 mb-3 mb-sm-0">
                <label for="modalCheckDate" class="text-primary">점검일자</label>
                <input type="date" max="9999" class="form-control" name="modalCheckDate" id="modalCheckDate" value="{{ today | date:'Y-m-d' }}">
              </div>
            </div>
            <div class="row m-1">
              {% if checklist %}
                  <table class="pc-table2" style="width: 100%;">
                    <tr style="background-color: #c5e4f8;color: black">
                      <td>항목</td>
                      <td><input type="checkbox" class="checkall">점검</td>
                      <td class="d-table-cell">비고</td>
                      <td>첨부파일</td>
                    </tr>
                    {% for check in checklist %}
                    <tr>
                      <td name="checkListName" style="background-color: #deeef8; color: black">{{ check.checkListName }}</td>
                      <td style="color: black"><input name="checkListBox" type="checkbox" class="check" value="{{ check.checkListId }}"></td>
                      <td><input name="checkListComment" type="text" class="form-control"></td>
                      <td>
                      <input name="checkListFiles" type="file" class="file" style="width: 100px">
                    </tr>
                    {% endfor %}
                  </table>
              {% endif %}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_post()">등록</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block script %}

<script type="text/javascript">
    $('.checkall').click(function () {
        $('.check').prop('checked', this.checked);
    });

    function replaceAll(str, searchStr, replaceStr) {
        if (str != null) {
            var new_str = str.split(searchStr).join(replaceStr);
            return new_str.split("T").join(" ").slice(0, 16);
        } else {
            return '-'
        }
    }
    
    function btn_pdf() {
        const month = document.getElementById("pdfmonth").value;
        if(month==''){
            alert("조회일자를 입력해주세요.");
            return false;
        }
        window.open('/daesungwork/viewchecklistpdf/'+ month + '/');
    }
    
    function btn_change(centerName) {
        const searchForm = document.getElementById('searchForm');
        const searchDayInput = document.createElement("input");
        searchDayInput.setAttribute("type", "hidden");
        searchDayInput.setAttribute("name", "searchDay");
        searchDayInput.setAttribute("value", "{{ thisMonday |date:'Y-m-d'}}");
        searchForm.appendChild(searchDayInput);
        const centerNameInput = document.createElement("input");
        centerNameInput.setAttribute("type", "hidden");
        centerNameInput.setAttribute("name", "centerName");
        centerNameInput.setAttribute("value", centerName);
        searchForm.appendChild(centerNameInput);
        searchForm.submit();
    }

    function btn_post() {
        if (document.getElementById("modalCenterName").value==''){
            alert("센터명을 입력해주세요.");
            return false;
        }
        if (document.getElementById("modalCheckDate").value === '') {
            alert("점검일자를 입력해주세요.");
            return false;
        }
        const postForm = document.getElementById('postForm');

        // 센터 담당자
        const lengthItem = $('[name="checkListName"]').length;
        const listItem = new Array();
        console.log('lengthItem:', lengthItem);
        for (var i = 0; i <= lengthItem - 1; i++) {
            var data = new Object();
            data.checkListName = $('td[name="checkListName"]').eq(i).text();
            data.checkListBox = $('input[name="checkListBox"]').eq(i).is(":checked");
            data.checkListComment = $('input[name="checkListComment"]').eq(i).val();
            data.checkListFiles = $('input[name="checkListFiles"]').eq(i).val();
            listItem.push(data);
          }
        const jsonCheckList = JSON.stringify(listItem);
        const item = document.createElement("input");
        item.setAttribute("type", "hidden");
        item.setAttribute("name", "jsonCheckList");
        item.setAttribute("value", jsonCheckList);
        postForm.appendChild(item);
        postForm.submit();

    }

    function btn_move(searchMonday){
        if(searchMonday==1){
            const searchForm = document.getElementById("searchForm");
            const searchDayInput = document.createElement("input");
            searchDayInput.setAttribute("type", "hidden");
            searchDayInput.setAttribute("name", "searchDay");
            searchDayInput.setAttribute("value", "{{ lastMonday |date:'Y-m-d'}}");
            searchForm.appendChild(searchDayInput);
            const centerName = document.getElementById("centerName").value;
            const centerNameInput = document.createElement("input");
            centerNameInput.setAttribute("type", "hidden");
            centerNameInput.setAttribute("name", "centerName");
            centerNameInput.setAttribute("value", centerName);
            searchForm.appendChild(centerNameInput);

            searchForm.submit();


        }else{
            const searchForm = document.getElementById("searchForm");
            const searchDay = document.createElement("input");
            searchDay.setAttribute("type", "hidden");
            searchDay.setAttribute("name", "searchDay");
            searchDay.setAttribute("value", "{{ nextMonday |date:'Y-m-d'}}");
            searchForm.appendChild(searchDay);
            const centerName = document.getElementById("centerName").value;
            const centerNameInput = document.createElement("input");
            centerNameInput.setAttribute("type", "hidden");
            centerNameInput.setAttribute("name", "centerName");
            centerNameInput.setAttribute("value", centerName);
            searchForm.appendChild(centerNameInput);

            searchForm.submit();

        }

    }

    $(document).ready(function () {

    });


</script>

{% endblock %}