{% extends "dashboard/layout.html" %}
{% load humanize %}


{% block title %}
판매현황
{% endblock %}


{% block css %}
<style>
  pc-table {
    color: #333333;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  .pc-table td, .pc-table th {
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    border: 1px solid rgba(206, 210, 219, 0.64);
  }

  pc-table2 {
    color: #333333;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  .pc-table2 td, .pc-table th {
    padding: 3px 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    border: 1px solid rgba(206, 210, 219, 0.64);
  }

  .file_input_textbox {
    float: left;
    height: 29px;
  }

  .file_input_div {
    position: relative;
    width: 80px;
    height: 36px;
    overflow: hidden;
  }

  .file_input_img_btn {
    padding: 0 0 0 5px;
  }

  .file_input_hidden {
    font-size: 29px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    cursor: pointer;
  }

</style>
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 h3 text-gray-800">판매현황</h6>
        <div class="dropdown no-arrow">
          <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
            <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
          </a>
          {% if user.is_staff %}
          <a class="btn btn-primary" href="#" role="button" onclick="open_insertmodal()">
            <i class="fas fa-pen d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-pen"></i> 일괄등록</span>
          </a>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <form method="POST" id="searchForm">
          <div class="row ml-3 mt-1">
            <span>
              <select class="form-control" id="affiliates" name="affiliates" onchange="change_affiliate(this.value)">
                <option value="all">전체</option>
                {% for affiliate in affiliates %}
                <option value="{{ affiliate.affiliateId }}" {% if affiliateId == affiliate.affiliateId %} selected {% endif %}>
                  {{ affiliate.affiliateName }}
                </option>
                {% endfor %}
              </select>
            </span>
          </div>
        </form>
        {% if startdate or enddate %}
        <div class="row m-2 pt-3">
          <div class="col-xl-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">조회기간</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if startdate %}{{ startdate }}{% endif %} ~ {% if enddate %} {{ enddate }} {% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-coins fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">전체판매금액</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if sales.total %}{{ sales.total | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-coins fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">전체판매건수</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if sales.count %}{{ sales.count | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-coins fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="row m-2 pt-3">
          <div class="col-xl-3">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">일간매출현황</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if sales.today %}{{ sales.today | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-coins fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">주간매출현황</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if sales.weekly %}{{ sales.weekly | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">월간매출현황</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if sales.monthly %}{{ sales.monthly | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-won-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card border-left-danger shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">연간매출현황</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if sales.yearly %}{{ sales.yearly | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comment-dollar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <form method="POST" id="postForm" action="/daesungwork/postsale/{{ affiliateId }}/">
          {% csrf_token %}
          <div class="form-group row m-2 pt-4">
            <div class="col-xl-2">
              <label for="saleDate" class="font-weight-bold text-primary"> 판매일자 </label> {{ form.saleDate }}
            </div>
            <div class="col-xl-2">
              <label for="affiliate" class="font-weight-bold text-primary"> 판매처 </label> {{ form.affiliate }}
            </div>
            <div class="col-xl-2">
              <label for="client" class="font-weight-bold text-primary"> 업체명
                {% if user.is_staff %}
                <a class="text-white" target="_blank" href="/client/postclient/">
                  <i class="fas fa-plus-circle fa-fw text-info"></i>
                </a>
                {% endif %}
              </label>
              {{ form.client }}
            </div>
            <div class="col-xl-1">
              <label for="product" class="font-weight-bold text-primary"> 모델명 </label> {{ form.product }}
            </div>
            <div class="col-xl-1">
              <label for="size" class="font-weight-bold"> 사이즈 </label> {{ form.size }}
            </div>
            <div class="col-xl-1">
              <label for="unitPrice" class="font-weight-bold"> 단가 </label> {{ form.unitPrice }}
            </div>
            <div class="col-xl-1">
              <label for="quantity" class="font-weight-bold"> 수량 </label> {{ form.quantity }}
            </div>
            <div class="col-xl-1">
              <label for="salePrice" class="font-weight-bold text-primary"> 매출금액 </label> {{ form.salePrice }}
            </div>
            <div class="col-xl-1">
              <span class="btn bg-primary text-white mt-4 center" onclick="btn_post()">등록</span>
            </div>
          </div>
        </form>
        <div id="salesdiv" class="p-3">
          <table id="showsales" class="display" style="width:100%">
            <thead style="width:100%">
            <tr style="background-color: #deeef8; color: black;">
              <td>판매일자</td>
              <td>매출처</td>
              <td>업체명</td>
              <td>모델명</td>
              <td>사이즈</td>
              <td>단가</td>
              <td>수량</td>
              <td>매출금액</td>
              <td><i class="fas fa-trash-alt text-secondary"></i></td>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th style="padding: 8px 10px; text-align: center"></th>
              <th style="padding: 8px 10px; text-align: center"></th>
              <th style="padding: 8px 10px; text-align: center"></th>
              <th style="padding: 8px 10px; text-align: center"></th>
              <th style="padding: 8px 10px; text-align: right">TOTAL :</th>
              <th style="padding: 8px 10px; text-align: right"></th>
              <th style="padding: 8px 10px; text-align: center"></th>
              <th style="padding: 8px 10px; text-align: right"></th>
              <th style="padding: 8px 10px; text-align: center"></th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- model Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header bg-info text-gray-100">
        <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span class="text-gray-100" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
          {% csrf_token %}
          <div class="row mb-1">
            <div class="col-6">
              <label for="startdate" class="font-weight-bold text-primary">시작 일자</label>
              <input type="date" max="9999-12-31" class="form-control" id="startdate" name="startdate" required>
            </div>
            <div class="col-6">
              <label for="enddate" class="font-weight-bold text-primary">종료 일자</label>
              <input type="date" max="9999-12-31" class="form-control" id="enddate" name="enddate" required>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-12">
              <label for="filterClient" class="font-weight-bold text-primary">업체명</label>
              <select class="form-control" id="filterClient" name="filterClient">
                <option value="">------</option>
                {% for client in clients %}
                <option value="{{ client.companyName }}">
                  {{ client.companyName }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-6">
              <label for="filterProduct" class="font-weight-bold text-primary">모델명</label>
              <input type="text" class="form-control" id="filterProduct" name="filterProduct" required>
            </div>
            <div class="col-6">
              <label for="filterSize" class="font-weight-bold text-primary">사이즈</label>
              <input type="text" class="form-control" id="filterSize" name="filterSize" required>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
        <a class="btn btn-info" href="#" onclick="btn_filter()">조회</a>
      </div>
    </div>
  </div>
</div>

<!-- insert Modal -->
<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-header bg-info text-gray-100">
        <h5 class="modal-title" id="insertModalLabel">일괄등록</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span class="text-gray-100" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <form id="insertForm" action="/daesungwork/insertsale/" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_insert();}">
          {% csrf_token %}
          <div class="row mb-1">
            <div class="col-3">
              <label class="font-weight-bold text-primary">판매 일자</label>
              <input type="date" max="9999-12-31" class="form-control" name="saleDate" id="insertSaleDate" required>
            </div>
            <div class="col-3">
              <label for="insertAffiliates" class="font-weight-bold text-primary">매출처</label>
              <select class="form-control" id="insertAffiliates" name="affiliates">
                <option value="all">전체</option>
                {% for affiliate in affiliates %}
                <option value="{{ affiliate.affiliateId }}" {% if affiliateId == affiliate.affiliateId %} selected {% endif %}>
                  {{ affiliate.affiliateName }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-3">
              <label for="insertClient" class="font-weight-bold text-primary">업체명</label>
              <select class="form-control" id="insertClient" name="client">
                <option value="">------</option>
                {% for client in clients %}
                <option value="{{ client.companyName }}">
                  {{ client.companyName }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </form>
        <table id="insertTable" class="display" style="width:100%">
          <thead style="width:100%">
          <tr>
            <th class="font-weight-bold text-primary">모델명</th>
            <th class="font-weight-bold text-primary">사이즈</th>
            <th class="font-weight-bold text-primary">단가</th>
            <th class="font-weight-bold text-primary">수량</th>
            <th class="font-weight-bold text-primary">매출금액</th>
            <th><i id="addSale" class="fas fa-plus-square fa-fw text-info" style="font-size: 2rem"></i></th>
          </tr>
          </thead>
        </table>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
        <a class="btn btn-info" href="#" onclick="btn_insert()">등록</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}

<script type="text/javascript">

    function btn_deletesale(val) {
        const saleId = val.id;
        if (confirm("판매정보를 삭제하시겠습니까?") == true) {
            location.href = '/daesungwork/deletesale/' + saleId + '/';
        }
    }


    function btn_filter() {
        document.getElementById("filterForm").submit();
    }

    function changeModel(modelName, sizeId, unitPriceId, quantityId, salePriceId) {
        $.ajax({
            url: "{% url 'daesungwork:modelasjson' %}",
            method: 'POST',
            cache: false,
            data: {"modelName": modelName,},
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function (returnData) {
                let unitPrice = returnData[0];
                let sizes = returnData[1];
                $('#' + sizeId).empty();
                for (var count = 0; count < sizes.length; count++) {
                    var option = $("<option value=" + sizes[count].sizeId + ">" + sizes[count].size + "</option>");
                    $('#' + sizeId).append(option);
                }
                $('#' + unitPriceId).val(unitPrice[0].unitPrice);
                changePrice(unitPriceId, quantityId, salePriceId);
            }
        });
    }

    function changeFilterModel() {
        $.ajax({
            url: "{% url 'daesungwork:modelasjson' %}",
            method: 'POST',
            cache: false,
            data: {"modelName": modelName,},
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function (returnData) {
                var sizes = returnData[1];
                $('#size').empty();
                for (var count = 0; count < sizes.length; count++) {
                    var option = $("<option value=" + sizes[count].sizeId + ">" + sizes[count].size + "</option>");
                    $('#size').append(option);
                }
                $('#unitPrice').val(unitPrice[0].unitPrice);
            }
        });
    }

    function changePrice(unitPriceId, quantityId, salePriceId) {
        const unitPrice = $('#' + unitPriceId).val();
        const quantity = $('#' + quantityId).val();

        if (unitPrice !== '' && quantity !== '') {
            $('#' + salePriceId).val(unitPrice * quantity);
        }
    }

    function open_insertmodal() {
        $('#insertModal').modal('show');
        setTimeout("$('#addSale').click()", 150);
    }

    function change_affiliate(affiliateId) {
        location.href = '/daesungwork/showsalestatus/' + affiliateId + '/'

    }

    function replaceAll(str, searchStr, replaceStr) {
        if (str != null) {
            var new_str = str.split(searchStr).join(replaceStr);
            return new_str.split("T").join(" ").slice(0, 16);
        } else {
            return '-'
        }
    }

    function btn_post() {
        if (document.getElementById("saleDate").value === '') {
            alert("판매일자를 입력해주세요.");
            return false;
        }
        if (document.getElementById("affiliate").value === '') {
            alert("판매처를 선택해주세요.");
            return false;
        }
        if (document.getElementById("client").value === '') {
            alert("업체명을 입력해주세요.");
            return false;
        }
        if (document.getElementById("product").value === '') {
            alert("모델명을 선택해주세요.");
            return false;
        }
        if (document.getElementById("salePrice").value === '') {
            alert("매출금액을 입력해주세요.");
            return false;
        }
        const postForm = document.getElementById('postForm');
        postForm.submit();
    }

    function btn_insert() {
        const form = document.getElementById("insertForm");

        if (!$('#insertSaleDate').val()) {
            alert("판매일자를 입력해주세요."); return false;
        }
        if (!$('#insertAffiliates').val()) {
            alert("매출처를 선택해주세요."); return false;
        }
        if (!$('#insertClient').val()) {
            alert("업체명을 선택해주세요."); return false;
        }

        // 판매현황 일괄등록
        const lengthSale = $('.insertTableCount').length; // x 그림에 insertTableCount class 추가해서 길이 셈.
        const listSale = [];
        for (let i=0; i<lengthSale; i++) {
            if ($('select[name="insertProduct"]').eq(i).val() === null) {
                alert("품명을 선택해주세요."); return false;
            }
            if ($('select[name="insertSize"]').eq(i).val() === null) {
                alert("사이즈를 선택해주세요."); return false;
            }
            if ($('input[name="insertUnitPrice"]').eq(i).val() === '') {
                alert("단가를 입력해주세요."); return false;
            }
            if ($('input[name="insertQuantity"]').eq(i).val() === '') {
                alert("수량을 입력해주세요."); return false;
            }
            if ($('input[name="insertSalePrice"]').eq(i).val() === '') {
                alert("매출금액을 입력해주세요."); return false;
            }

            var data = new Object();
            data.product = $('select[name="insertProduct"]').eq(i).val();
            data.size = $('select[name="insertSize"]').eq(i).val();
            data.unitPrice = $('input[name="insertUnitPrice"]').eq(i).val();
            data.quantity = $('input[name="insertQuantity"]').eq(i).val();
            data.salePrice = $('input[name="insertSalePrice"]').eq(i).val();
            listSale.push(data);
        }
        const jsonSale = JSON.stringify(listSale);
        const sale = document.createElement("input");
        sale.setAttribute("type", "hidden");
        sale.setAttribute("name", "jsonSale");
        sale.setAttribute("value", jsonSale);
        form.appendChild(sale);

        if (confirm("일괄등록 하시겠습니까?") === true) {
            form.submit();
        }
    }

    function product_select(productSelectId) {
        let productSelectObj = $('#' + productSelectId);
        $.ajax({
            url: "{% url 'daesungwork:productasjson' %}",
            method: 'GET',
            cache: false,
            data: {},
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function (returnData) {
                productSelectObj.append('<option value="">------</option>');
                for (let i=0; i<returnData.length; i++) {
                    productSelectObj.append(
                        '<option value="' + [returnData[i].productId + '">' + returnData[i].modelName] + '</option>'
                    );
                }
            }
        });
    }

    $(document).ready(function () {
        $('#showsales').dataTable({
            "processing": true,
            "ajax": {
                "processing": true,
                "type": 'POST',
                "data": {
                    "affiliateId": "{{ affiliateId }}",
                    "startdate": "{{ startdate }}",
                    "enddate": "{{ enddate }}",
                    "filterClient": "{{ filterClient }}",
                    "filterProduct": "{{ filterProduct }}",
                    "filterSize": "{{ filterSize }}",
                },
                "url": "{% url 'daesungwork:salesasjson' %}",
                "dataSrc": ""
            },
            "columns": [
                {data: "saleDate"},
                {data: "affiliate__affiliateName"},
                {data: "client__companyName"},
                {data: "product__modelName"},
                {data: "size__size"},
                {data: "unitPrice"},
                {data: "quantity"},
                {data: "salePrice"},
                {
                    data: "saleId",
                    "render": function (data, type, row) {
                        return '<i class="fas fa-times-circle" onclick="btn_deletesale(this)" id="' + row['saleId'] + '"</i>'
                    },
                },
            ],
            "columnDefs": [
                {targets: 0, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                {targets: 1, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                {targets: 2, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                {targets: 3, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                {targets: 4, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                {targets: 5, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                {targets: 6, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                {targets: 7, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                {targets: 8, width: "5%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},

            ],
            "deferRender": true,
            "bLengthChange": false,
            "order": [[0, 'desc']],
            "searching": true,
            "paging": true,
            "info": false,
            "scrollY": "80vh",
            "scrollX": true,
            "scrollCollapse": true,
            "language": {
                "lengthMenu": "_MENU_",
                "search": "검색:",
                "zeroRecords": "결과 없음",
                "processing": "로딩중",
                "paginate": {
                    "first": "처음",
                    "last": "끝",
                    "next": "→",
                    "previous": "←"
                },
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).text(replaceAll(aData.saleDate, "-", "-"));
                $('td:eq(2)', nRow).css('color', '#4e73df');
                $('td:eq(3)', nRow).css('color', '#4e73df');
                $('td:eq(5)', nRow).text(aData.unitPrice.toLocaleString());
                $('td:eq(7)', nRow).text(aData.salePrice.toLocaleString());
            },
            "footerCallback": function () {
                var api = this.api(), data;

                var unitResult = 0;
                api.column(5, {search: 'applied'}).data().each(function (data, index) {
                    unitResult += parseFloat(data);
                });
                $(api.column(5).footer()).html(unitResult.toLocaleString());

                var saleResult = 0;
                api.column(7, {search: 'applied'}).data().each(function (data, index) {
                    saleResult += parseFloat(data);
                });
                $(api.column(7).footer()).html(saleResult.toLocaleString());
            },
        });

        const salesTable = $('#showsales').DataTable();

        $("#showsales tbody").on("click", 'tr td:eq(3)', function () {
            const data = salesTable.data();
            window.open('about:blank').location.href = '/daesungwork/viewproduct/' + data[0].product__productId + '/'
        });
        $("#showsales tbody").on("click", 'tr td:eq(2)', function () {
            const data = salesTable.data();
            window.open('about:blank').location.href = '/client/viewclient/' + data[0].client__companyName + '/'
        });

        let insertTable = $('#insertTable').DataTable({
            "autoWidth": true,
            "searching": false,
            "paging": false,
            "info": false,
            "scrollY": "60vh",
            "scrollX": true,
            "scrollCollapse": true,
            'fnCreatedRow': function (nRow, aData, iDataIndex) {
                $(nRow).attr('id', 'row' + iDataIndex);
            },
            "ordering": false,
            "columnDefs": [
                {
                    targets: 0, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding-bottom', '30px');
                        $(td).css('padding-top', '20px');
                    }
                },
                {
                    targets: 1, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding-bottom', '30px');
                        $(td).css('padding-top', '20px');
                    }
                },
                {
                    targets: 2, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding-bottom', '30px');
                        $(td).css('padding-top', '20px');
                    }
                },
                {
                    targets: 3, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding-bottom', '30px');
                        $(td).css('padding-top', '20px');
                    }
                },
                {
                    targets: 4, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding-bottom', '30px');
                        $(td).css('padding-top', '20px');
                    }
                },
                {targets: 5, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
            ],
        });

        let saleCounter = 0;

        $('#addSale').on('click', function () {
            insertTable.row.add([
                '<select class="form-control" name="insertProduct" id="buy1' + saleCounter + '"' +
                    'onchange="changeModel(this.value, \'buy2' + saleCounter + '\', \'buy3' + saleCounter + '\', ' +
                    '\'buy4' + saleCounter + '\', \'buy5' + saleCounter + '\')">',
                '<select class="form-control" name="insertSize" id="buy2' + saleCounter + '">',
                '<input class="form-control" name="insertUnitPrice" id="buy3' + saleCounter + '" type="number"' +
                    'onchange="changePrice(\'buy3' + saleCounter + '\', \'buy4' + saleCounter + '\', \'buy5' + saleCounter + '\')">',
                '<input class="form-control" name="insertQuantity" id="buy4' + saleCounter + '" type="number"' +
                    'onchange="changePrice(\'buy3' + saleCounter + '\', \'buy4' + saleCounter + '\', \'buy5' + saleCounter + '\')">',
                '<input class="form-control" name="insertSalePrice" id="buy5' + saleCounter + '" type="number">',
                '<i class="fas fa-times-circle insertTableCount">',
            ]).draw();
            product_select('buy1' + saleCounter);
            saleCounter++;
        });

        $('#insertTable').on('click', 'i', function () {
            insertTable
                .row($(this).parents('tr'))
                .remove()
                .draw();
        });

    });


</script>

{% endblock %}