{% extends "dashboard/layout.html" %}
{% load humanize %}


{% block title %}
  입출고관리
{% endblock %}


{% block css %}
  <style>
    pc-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .pc-table td, .pc-table th {
      padding: 5px 15px;
      text-align: center;
      vertical-align: middle;
      font-size: 17px;
      border: 1px solid rgba(206, 210, 219, 0.64);
    }

    pc-table2 {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .pc-table2 td, .pc-table th {
      padding: 3px 10px;
      text-align: center;
      vertical-align: middle;
      font-size: 15px;
      border: 1px solid rgba(206, 210, 219, 0.64);
    }

    .thumbnail{
    position: relative;
    z-index: 0;
    }

    .thumbnail:hover{
    background-color: transparent;
    z-index: 50;
    }

    .thumbnail span{ /*CSS for enlarged image*/
    position: absolute;
    background-color: lightyellow;
    padding: 5px;
    left: -1000px;
    border: 1px solid lightgrey;
    visibility: hidden;
    color: black;
    text-decoration: none;
    }

    .thumbnail span img{ /*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
    }

    .thumbnail:hover span{ /*CSS for enlarged image on hover*/
    visibility: visible;
    top: 0;
    left: 60px; /*position where enlarged image should offset horizontally */

    }
  </style>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800">입출고관리</h6>
          <div class="dropdown no-arrow">
            <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
              <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
            </a>
            <a class="btn btn-primary" href="#" role="button" onclick="open_insertmodal()">
              <i class="fas fa-pen d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-pen"></i> 일괄등록</span>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="row m-2 pb-3">
            <div class="col-xl-3">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-weight-bold text-primary text-uppercase mb-1">조회기간</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {% if startdate or enddate %}
                          {% if startdate %}{{ startdate }}{% else %}전체{% endif %} ~
                          {% if enddate %}{{ enddate }}{% else %}전체{% endif %}
                        {% else %}
                          전체
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-coins fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-weight-bold text-primary text-uppercase mb-1">모델명 / 사이즈</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {% if product %}{{ product }}{% else %} 전체 {% endif %} /
                        {% if size %}{{ size }}{% else %} 전체 {% endif %}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-coins fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-weight-bold text-primary text-uppercase mb-1">입고 / 출고</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{ inRemaining | intcomma }} /
                        {{ outRemaining | intcomma }}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-weight-bold text-primary text-uppercase mb-1">재고량</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {{ remaining | intcomma }}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-won-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h5 class="m-3">▼ <span class="text-primary font-weight-bold">입출고 목록</span></h5>
          {% if authorizations %}
          <form method="POST" id="postForm">
            {% csrf_token %}
            <div class="form-group row m-2">
              <div class="col-xl-3">
                <label for="productName" class="font-weight-bold text-primary"> 모델명 </label> {{ form.productName }}
              </div>
              <div class="col-xl-3">
                <label for="sizeName" class="font-weight-bold text-primary"> 사이즈 </label> {{ form.sizeName }}
              </div>
              <div class="col-xl-2">
                <label for="quantity" class="font-weight-bold text-primary"> 수량 </label> {{ form.quantity }}
              </div>
              <div class="col-xl-3">
                <label for="comment" class="font-weight-bold"> 비고 </label> {{ form.comment }}
              </div>
              <div class="col-xl-1 text-center">
                {% for auth in authorizations %}
                  {% if auth.menuId.codeName == 's35-1' %}
                    <span class="btn bg-danger m-1 text-white center" onclick="btn_post('입고')">입고</span>
                  {% endif %}
                  {% if auth.menuId.codeName == 's35-2' %}
                    <span class="btn bg-primary m-1  text-white center" onclick="btn_post('출고')">출고</span>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </form>
          {% endif %}
          <div class="p-3">
            <table id="showreproduction" class="display" style="width:100%">
              <thead>
              <tr style="background-color: #deeef8; color: black;">
                <td>구분</td>
                <td>제품사진</td>
                <td>모델명</td>
                <td>사이즈</td>
                <td>입고량</td>
                <td>출고량</td>
                <td>비고</td>
                <td>작업자</td>
                <td>작업일시</td>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">TOTAL:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6">
                <label for="startdate" class="font-weight-bold text-primary">시작 일자(작업일자기준)</label>
                <input type="date" max="9999-12-31" class="form-control" id="startdate" name="startdate" value="{{ startdate }}" required>
              </div>
              <div class="col-6">
                <label for="enddate" class="font-weight-bold text-primary">종료 일자(작업일자기준)</label>
                <input type="date" max="9999-12-31" class="form-control" id="enddate" name="enddate" value="{{ enddate }}" required>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="filterProduct" class="font-weight-bold text-primary">모델명</label>
                <select id="filterProduct" name="filterProduct" onchange="changeModel(this.value, 'filterSize')">
                  <option value="">------</option>
                  {% for product in products %}
                  <option value="{{ product.productId }}">{{ product.modelName }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label for="filterSize" class="font-weight-bold text-primary">사이즈</label>
                <select type="text" class="form-control" id="filterSize" name="filterSize">
                     <option value="">------</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">조회</a>
        </div>
      </div>
    </div>
  </div>

  <!-- insert Modal -->
  <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="insertModalLabel">일괄등록</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="insertForm" action="/daesungwork/insertstockinout/" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_insert();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6">
                <label for="insertProduct" class="font-weight-bold text-primary">모델명</label>
                <select id="insertProduct" name="product" onchange="change_product()">
                  <option value="">------</option>
                  {% for product in products %}
                  <option value="{{ product.productId }}">
                    {{ product.modelName }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label class="font-weight-bold">비고일괄등록</label>
                <div class="input-group">
                  <input class="form-control" id="insertTotalComment" maxlength="200">
                  <span class="input-group-text bg-primary text-gray-100" onclick="insert_comment()">
                    <i class="fas fa-arrow-down"></i></span>
                </div>
              </div>
            </div>
          </form>
          <table id="insertTable" class="display" style="width:100%">
            <thead style="width:100%">
            <tr>
              <th class="font-weight-bold text-primary">사이즈</th>
              <th class="font-weight-bold text-primary">수량</th>
              <th class="font-weight-bold text-primary">비고</th>
              <th><i id="addSize" class="fas fa-plus-square fa-fw text-info" style="font-size: 2rem"></i></th>
            </tr>
            </thead>
          </table>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          {% for auth in authorizations %}
            {% if auth.menuId.codeName == 's35-1' %}
              <a class="btn btn-danger" href="#" onclick="btn_insert('in')">입고</a>
            {% endif %}
            {% if auth.menuId.codeName == 's35-2' %}
              <a class="btn btn-primary" href="#" onclick="btn_insert('out')">출고</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      function open_insertmodal() {
          $('#insertModal').modal('show');
          setTimeout("$('#addSale').click()", 150);
      }

      function product_select(productSelectId) {
          let productSelectObj = $('#' + productSelectId);
          $.ajax({
              url: "{% url 'daesungwork:productasjson' %}",
              method: 'GET',
              cache: false,
              data: {},
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  productSelectObj.append('<option value="">------</option>');
                  for (let i=0; i<returnData.length; i++) {
                      productSelectObj.append(
                          '<option value="' + [returnData[i].productId + '">' + returnData[i].modelName] + '</option>'
                      );
                  }
              }
          });
      }

      function btn_filter() {
          if(document.getElementById("startdate").value === '' &&
              document.getElementById("enddate").value === '' &&
              document.getElementById("filterProduct").value === '' &&
              document.getElementById("filterSize").value === ''){
              alert("검색조건을 입력해 주세요.");
              return false;
          }
          document.getElementById("filterForm").submit();
      }

      function changeModel(modelName, sizeSelectId) {
          $.ajax({
              url: "{% url 'daesungwork:modelasjson' %}",
              method: 'POST',
              cache: false,
              data: {"modelName": modelName,},
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  var sizes = returnData[1];
                  $('#' + sizeSelectId).empty();
                   $('#' + sizeSelectId).append("<option value=''>------</option>");
                  for (var count = 0; count < sizes.length; count++) {
                      var option = $("<option value=" + sizes[count].sizeId + ">" + sizes[count].size + "</option>");
                      $('#' + sizeSelectId).append(option);
                  }
              }
          });
      }

      function replaceAll(str, searchStr, replaceStr) {
          if (str != null) {
              var new_str = str.split(searchStr).join(replaceStr);
              return new_str.split("T").join(" ").slice(0, 16);
          } else {
              return '-'
          }
      }

      function change_product() {
          let insertTable = $('#insertTable').DataTable();
          insertTable.rows().remove().draw();
          console.log(insertTable);
      }

      function btn_post(typeName) {
          const modelName = document.getElementById("productName").value;
          const sizeName = document.getElementById("sizeName").value;
          const quantity = document.getElementById("quantity").value;
          if (modelName === '') {
              alert("제품명을 입력해주세요.");
              return false;
          }
          if (sizeName === '') {
              alert("사이즈를 선택해주세요.");
              return false;
          }
          if (quantity === '') {
              alert("수량을 입력해주세요.");
              return false;
          }
          const postForm = document.getElementById('postForm');

          if (typeName == "입고") {
              postForm.action = "/daesungwork/poststockinout/입고/";
              postForm.submit();
          } else if(typeName == "출고") {
              $.ajax({
              url: "{% url 'daesungwork:inoutcheckasjson' %}",
              method: 'POST',
              cache: false,
              data: {
                  "modelName": modelName,
                  "sizeName": sizeName,
              },
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                    console.log(returnData)
                    var result = parseInt(returnData);
                    if((result-quantity) >= 0){
                        postForm.action = "/daesungwork/poststockinout/출고/";
                        postForm.submit();
                    }else{
                        alert('재고가 부족합니다 현재 재고량은 ' + result + ' 입니다.')
                    }
                  }
              });
          }
      }

      function btn_insert(inout) {
          const form = document.getElementById("insertForm");
          const typeName = document.createElement("input");
          typeName.setAttribute("type", "hidden");
          typeName.setAttribute("name", "typeName");
          typeName.setAttribute("value", inout);
          form.appendChild(typeName);
          if (!$('#insertProduct').val()) {
              alert("모델명을 선택해주세요."); return false;
          }

          const lengthSale = $('.insertTableCount').length; // x 그림에 insertTableCount class 추가해서 길이 셈.
          const listSale = [];
          for (let i=0; i<lengthSale; i++) {
              if ($('select[name="insertSize"]').eq(i).val() === null) {
                  alert("사이즈를 선택해주세요."); return false;
              }
              if ($('input[name="insertQuantity"]').eq(i).val() === '') {
                  alert("수량을 입력해주세요."); return false;
              }
              if (inout === 'out') {
                  $.ajax({
                      url: "{% url 'daesungwork:inoutcheckasjson' %}",
                      method: 'POST',
                      async: false,
                      cache: false,
                      data: {
                          "modelName": $('#insertProduct').val(),
                          "sizeName": $('select[name="insertSize"]').eq(i).val(),
                      },
                      headers: {'X-CSRFToken': '{{ csrf_token }}'},
                      success: function (returnData) {
                          var result = parseInt(returnData);
                          if (result >= $('input[name="insertQuantity"]').eq(i).val()) {
                              var data = new Object();
                              data.size = $('select[name="insertSize"]').eq(i).val();
                              data.quantity = $('input[name="insertQuantity"]').eq(i).val();
                              data.comment = $('input[name="insertComment"]').eq(i).val();
                              listSale.push(data);
                          } else{
                              alert($('select[name="insertSize"] option:selected').eq(i).text() + ' 사이즈의 재고가 부족해 출고할 수 없습니다.\n' +
                                  '현재 재고량은 ' + result + ' 입니다.');
                              return false;
                          }
                      }
                  });
              } else if (inout === 'in') {
                  var data = new Object();
                  data.size = $('select[name="insertSize"]').eq(i).val();
                  data.quantity = $('input[name="insertQuantity"]').eq(i).val();
                  data.comment = $('input[name="insertComment"]').eq(i).val();
                  listSale.push(data);
              }
          }
          const jsonSale = JSON.stringify(listSale);
          const sale = document.createElement("input");
          sale.setAttribute("type", "hidden");
          sale.setAttribute("name", "jsonStock");
          sale.setAttribute("value", jsonSale);
          form.appendChild(sale);

          if (listSale.length > 0) {
              if (confirm("일괄등록 하시겠습니까?") === true) {
                  form.submit();
              }
          } else {
              alert('등록할 수 있는 항목이 없습니다.');
              return false;
          }
      }

      // function changeModel(modelName, sizeId) {
      //     $.ajax({
      //         url: "{% url 'daesungwork:modelasjson' %}",
      //         method: 'POST',
      //         cache: false,
      //         data: {"modelName": modelName,},
      //         headers: {'X-CSRFToken': '{{ csrf_token }}'},
      //         success: function (returnData) {
      //             let unitPrice = returnData[0];
      //             let sizes = returnData[1];
      //             $('#' + sizeId).empty();
      //             for (var count = 0; count < sizes.length; count++) {
      //                 var option = $("<option value=" + sizes[count].sizeId + ">" + sizes[count].size + "</option>");
      //                 $('#' + sizeId).append(option);
      //             }
      //         }
      //     });
      // }

      function insert_comment() {
          const comment = $('#insertTotalComment').val();
          $('input[name=insertComment]').val(comment);
      }

      function save_comment(obj, stockManagementId) {
          let divObj = $(obj).closest('div');
          let comment = divObj.children('input').val();
          $.ajax({
              url: "{% url 'daesungwork:change_stockinout_comment' %}",
              method: 'POST',
              cache: false,
              data: {
                  "stockManagementId": stockManagementId,
                  "comment": comment,
              },
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  if (returnData === 'N') {
                      alert('수정 중 오류가 발생했습니다. 다시한번 확인해주세요.');
                      return false;
                  } else {
                      divObj.parent().html(
                          '<div style="cursor: pointer" onclick="change_input(this, ' + stockManagementId + ')">' + comment + '</div>'
                      );
                      return false;
                  }
              }
          });
      }

      function change_input(obj, stockManagementId) {
          let inputValue = $(obj).text();
          let inputHtml = '<div class="input-group">' +
              '<input type="text" class="form-control" maxlength="200" value="' + inputValue + '" ' +
                  'onkeydown="javascript: if (event.keyCode == 13) {save_comment(this, ' + stockManagementId + ')}">' +
              '<span class="input-group-btn"><button class="btn btn-primary" onclick="save_comment(this, ' + stockManagementId + ')">' +
              '<i class="fas fa-check"></i></button></span>' +
              '</div>';
          $(obj).parent().html(inputHtml);
      }

      $(document).ready(function () {
          $('#showreproduction').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      'startdate': '{{ startdate }}',
                      'enddate': '{{ enddate }}',
                      'modelName': '{{ modelName }}',
                      'sizeName': '{{ sizeName }}',
                  },
                  "url": "{% url 'daesungwork:stockinoutasjson' %}",
                  "dataSrc": ""
              },
              "columns": [
                  {data: "typeName"},
                  {data: "productName__productPicture",
                     "render": function (data, type, row) {
                         return '<a class="thumbnail" href="#thumb"><img src="/media/' + row['productName__productPicture'] + '" height="80px" border="0" /><span><img src="/media/' + row['productName__productPicture'] + '" /></span></a>'
                     },
                  },
                  {data: "productName__modelName"},
                  {data: "sizeName__size"},
                  {data: "quantity"},
                  {data: "quantity"},
                  {data: "comment"},
                  {data: "managerEmp__empName"},
                  {data: "createdDateTime"},
              ],
              "columnDefs": [
                  {targets: 0, width: "5%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 1, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 4, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 5, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 6, width: "25%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {targets: 7, width: "5%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 8, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
              ],
              "deferRender": true,
              "bLengthChange": false,
              "order": [[8, 'desc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollX": true,
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  if(aData.typeName === "입고"){
                      $('td:eq(0)', nRow).css('color', '#df121a').css('font-weight', 'bold');
                      $('td:eq(5)', nRow).text('');
                      $('td:eq(4)', nRow).text(aData.quantity.toLocaleString());
                  }else if(aData.typeName === "출고"){
                      $('td:eq(0)', nRow).css('color', '#4e73df').css('font-weight', 'bold');
                      $('td:eq(4)', nRow).text('');
                      $('td:eq(5)', nRow).text(aData.quantity.toLocaleString());
                  }
                  $('td:eq(8)', nRow).text(replaceAll(aData.createdDateTime, "-", "."));

                  // 수정을 위한 작업
                  let comment;
                  if (aData.comment) {
                      comment = aData.comment
                  }
                  else {
                      comment = '&nbsp;'
                  }

                  if (aData.managerEmp__empId === {{ user.employee.empId }}) {
                      $('td:eq(6)', nRow).html(
                          '<div style="cursor: pointer" onclick="change_input(this, ' + aData.stockManagementId + ')">' +
                          comment + aData.managerEmp__empId + '{{ user.employee.empId }}</div>'
                      );
                  }
              },
              "footerCallback": function () {
                  var api = this.api();
                  var inQuantityResult = 0;
                  var outQuantityResult = 0;
                  api.data().each(function (data, index) {
                      if(data.typeName == '입고'){
                          inQuantityResult += Number(data.quantity);
                      }else{
                          outQuantityResult += Number(data.quantity);
                      }
                  });
                  $(api.column(4).footer()).html(inQuantityResult.toLocaleString());
                  $(api.column(5).footer()).html(outQuantityResult.toLocaleString());

               }
          });

          let insertTable = $('#insertTable').DataTable({
              "autoWidth": true,
              "searching": false,
              "paging": false,
              "info": false,
              "scrollY": "60vh",
              "scrollX": true,
              "scrollCollapse": true,
              'fnCreatedRow': function (nRow, aData, iDataIndex) {
                  $(nRow).attr('id', 'row' + iDataIndex);
              },
              "ordering": false,
              "columnDefs": [
                  {
                      targets: 0, width: "30%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      createdCell: function (td, cellData, rowData, row, col) {
                          $(td).css('padding-bottom', '30px');
                          $(td).css('padding-top', '20px');
                      }
                  },
                  {
                      targets: 1, width: "30%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      createdCell: function (td, cellData, rowData, row, col) {
                          $(td).css('padding-bottom', '30px');
                          $(td).css('padding-top', '20px');
                      }
                  },
                  {
                      targets: 2, width: "30%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      createdCell: function (td, cellData, rowData, row, col) {
                          $(td).css('padding-bottom', '30px');
                          $(td).css('padding-top', '20px');
                      }
                  },
                  {
                      targets: 3, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      createdCell: function (td, cellData, rowData, row, col) {
                          $(td).css('padding-bottom', '30px');
                          $(td).css('padding-top', '20px');
                      }
                  },
              ],
          });

          let sizeCounter = 0;

          $('#addSize').on('click', function () {
              insertTable.row.add([
                  '<select name="insertSize" id="size1' + sizeCounter + '"></select>',
                  '<input class="form-control" name="insertQuantity" id="size2' + sizeCounter + '" type="number">',
                  '<input class="form-control" name="insertComment" id="size3' + sizeCounter + '">',
                  '<i class="fas fa-times-circle insertTableCount">',
              ]).draw();
              select2_modal('size1' + sizeCounter, 'insertModal');
              changeModel($('#insertProduct').val(), 'size1' + sizeCounter);
              sizeCounter++;
          });

          $('#insertTable').on('click', 'i', function () {
              insertTable
                  .row($(this).parents('tr'))
                  .remove()
                  .draw();
          });

          // modal select2
          select2_modal('filterProduct', 'filterModal');
          select2_modal('insertProduct', 'insertModal');

      });


  </script>

{% endblock %}