{% extends "dashboard/layout.html" %}
{% load humanize %}


{% block title %}
구매현황
{% endblock %}


{% block css %}
<style>
  pc-table {
    color: #333333;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  .pc-table td, .pc-table th {
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    border: 1px solid rgba(206, 210, 219, 0.64);
  }

  pc-table2 {
    color: #333333;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  .pc-table2 td, .pc-table th {
    padding: 3px 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    border: 1px solid rgba(206, 210, 219, 0.64);
  }

  .file_input_textbox {
    float: left;
    height: 29px;
  }

  .file_input_div {
    position: relative;
    width: 80px;
    height: 36px;
    overflow: hidden;
  }

  .file_input_img_btn {
    padding: 0 0 0 5px;
  }

  .file_input_hidden {
    font-size: 29px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    cursor: pointer;
  }

</style>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-xl-12">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 h3 text-gray-800">구매현황</h6>
        <div class="dropdown no-arrow">
          <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
            <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
          </a>
          <a class="btn btn-primary" href="#" role="button" onclick="open_insertmodal()">
            <i class="fas fa-pen d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-pen"></i> 일괄등록</span>
          </a>
        </div>
      </div>
      <div class="card-body">
        {% if startdate or enddate %}
        <div class="row m-2 pt-3">
          <div class="col-xl-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">조회기간</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if startdate %}{{ startdate }}{% endif %} ~ {% if enddate %} {{ enddate }} {% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-coins fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">전체판매금액</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if buys.total %} {{ buys.total | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-coins fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">전체판매건수</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if buys.count %}{{ buys.count | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-coins fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="row m-2 pt-3">
          <div class="col-xl-3">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">일간구매현황</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if buys.today %}{{ buys.today | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-coins fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">주간구매현황</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if buys.weekly %}{{ buys.weekly | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">월간구매현황</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if buys.monthly %}{{ buys.monthly | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-won-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card border-left-danger shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="font-weight-bold text-primary text-uppercase mb-1">연간구매현황</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{% if buys.yearly %}{{ buys.yearly | intcomma }}{% endif %}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comment-dollar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        <form method="POST" id="postForm" action="/daesungwork/postbuy/">
          {% csrf_token %}
          <div class="form-group row m-2 pt-4">
            <div class="col-xl-2">
              <label for="buyDate" class="font-weight-bold text-primary"> 구매일자 </label>
              {{ form.buyDate }}
            </div>
            <div class="col-xl-2">
              <label for="client" class="font-weight-bold text-primary"> 거래처
                <a class="text-white" target="_blank" href="/client/postclient/">
                  <i class="fas fa-plus-circle fa-fw text-info"></i>
                </a>
              </label>
              {{ form.client }}
            </div>
            <div class="col-xl-2">
              <label for="product" class="font-weight-bold text-primary"> 품명 </label>
              {{ form.product }}
            </div>
            <div class="col-xl-1">
              <label for="quantity" class="font-weight-bold text-primary"> 수량 </label>
              {{ form.quantity }}
            </div>
            <div class="col-xl-1">
              <label for="salePrice" class="font-weight-bold text-primary"> 공급가 </label>
              {{ form.salePrice }}
            </div>
            <div class="col-xl-1">
              <label for="vatPrice" class="font-weight-bold"> 부가세 </label>
              {{ form.vatPrice }}
            </div>
            <div class="col-xl-1">
              <label for="totalPrice" class="font-weight-bold"> 합계 </label>
              {{ form.totalPrice }}
            </div>
            <div class="col-xl-1">
              <label for="comment" class="font-weight-bold"> 비고 </label>
              {{ form.comment }}
            </div>
            <div class="col-xl-1 text-center">
              <span class="btn bg-primary text-white mt-4" onclick="btn_post()">등록</span>
            </div>
          </div>
        </form>

        <table id="showbuys" class="display" style="width:100%">
          <thead style="width:100%">
          <tr style="background-color: #deeef8; color: black;">
            <td>구매일자</td>
            <td>거래처</td>
            <td>품명</td>
            <td>수량</td>
            <td>공급가</td>
            <td>부가세</td>
            <td>합계</td>
            <td>비고</td>
            <td><i class="fas fa-trash-alt text-secondary"></i></td>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right">TOTAL :</th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- model Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header bg-info text-gray-100">
        <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span class="text-gray-100" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
          {% csrf_token %}
          <div class="row mb-1">
            <div class="col-6">
              <label for="startdate" class="font-weight-bold text-primary">시작 일자</label>
              <input type="date" max="9999-12-31" class="form-control" id="startdate" name="startdate" required>
            </div>
            <div class="col-6">
              <label for="enddate" class="font-weight-bold text-primary">종료 일자</label>
              <input type="date" max="9999-12-31" class="form-control" id="enddate" name="enddate" required>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-6">
              <label for="filterClient" class="font-weight-bold text-primary">거래처</label>
              <select id="filterClient" name="filterClient">
                <option value="">------</option>
                {% for client in clients %}
                <option value="{{ client.companyName }}">
                  {{ client.companyName }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-6">
              <label for="filterProduct" class="font-weight-bold text-primary">품명</label>
              <input type="text" class="form-control" id="filterProduct" name="filterProduct" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
        <a class="btn btn-info" href="#" onclick="btn_filter()">조회</a>
      </div>
    </div>
  </div>
</div>

<!-- insert Modal -->
<div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-header bg-info text-gray-100">
        <h5 class="modal-title" id="insertModalLabel">일괄등록</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span class="text-gray-100" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <form id="insertForm" action="/daesungwork/insertbuy/" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_insert();}">
          {% csrf_token %}
          <div class="row mb-1">
            <div class="col-3">
              <label class="font-weight-bold text-primary">발생 일자</label>
              <input type="date" max="9999-12-31" class="form-control" name="buyDate" id="insertPostDate" required>
            </div>
            <div class="col-3">
              <label for="insertClient" class="font-weight-bold text-primary">거래처</label>
              <select id="insertClient" name="insertClient">
                <option value="">------</option>
                {% for client in clients %}
                <option value="{{ client.companyName }}">
                  {{ client.companyName }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </form>
        <table id="insertTable" class="display" style="width:100%">
          <thead style="width:100%">
          <tr>
            <th class="font-weight-bold text-primary">품명</th>
            <th class="font-weight-bold text-primary">수량</th>
            <th class="font-weight-bold text-primary">공급가</th>
            <th class="font-weight-bold text-primary">부가세</th>
            <th class="font-weight-bold text-primary">합계</th>
            <th class="font-weight-bold">비고</th>
            <th><i id="addBuy" class="fas fa-plus-square fa-fw text-info" style="font-size: 2rem"></i></th>
          </tr>
          </thead>
        </table>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
        <a class="btn btn-info" href="#" onclick="btn_insert()">등록</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}

<script type="text/javascript">

    function btn_deletebuy(val) {
        const buyId = val.id;
        if (confirm("구매정보를 삭제하시겠습니까?") == true) {
            location.href = '/daesungwork/deletebuy/' + buyId + '/';
        }
    }

    function btn_filter() {
        document.getElementById("filterForm").submit();
    }

    function changePrice(quantityId, salePriceId, vatPriceId, totalPriceId) {
        const quantity = $('#' + quantityId).val();
        const salePrice = $('#' + salePriceId).val();
        const vatPrice = $('#' + vatPriceId).val();

        if (salePrice !== '' && quantity !== '') {
            $('#' + totalPriceId).val(
                (Number(salePrice) + Number(vatPrice)) * Number(quantity)
            );
        }
    }

    function replaceAll(str, searchStr, replaceStr) {
        if (str != null) {
            var new_str = str.split(searchStr).join(replaceStr);
            return new_str.split("T").join(" ").slice(0, 16);
        } else {
            return '-'
        }
    }

    function btn_post() {
        if (document.getElementById("buyDate").value === '') {
            alert("구매일자를 입력해주세요."); return false;
        }
        if (document.getElementById("client").value === '') {
            alert("거래처를 입력해주세요."); return false;
        }
        if (document.getElementById("product").value === '') {
            alert("품명을 입력해주세요."); return false;
        }
        if (document.getElementById("quantity").value === '') {
            alert("수량을 입력해주세요"); return false;
        }
        if (document.getElementById("salePrice").value === '') {
            alert("공급가를 입력해주세요."); return false;
        }
        const postForm = document.getElementById('postForm');
        postForm.submit();
    }

    function open_insertmodal() {
        $('#insertModal').modal('show');
        setTimeout("$('#addBuy').click()", 150);
    }

    function btn_insert() {
        const form = document.getElementById("insertForm");

        if (!$('#insertPostDate').val()) {
            alert("발생일자를 입력해주세요."); return false;
        }
        if (!$('#insertClient').val()) {
            alert("거래처를 선택해주세요."); return false;
        }

        // 구매현황 일괄등록
        const lengthBuy = $('.insertTableCount').length; // x 그림에 insertTableCount class 추가해서 길이 셈.
        const listBuy = [];
        for (let i=0; i<lengthBuy; i++) {
            if ($('input[name="insertProduct"]').eq(i).val() === null) {
                alert("품명을 입력해주세요."); return false;
            }
            if ($('input[name="insertQuantity"]').eq(i).val() === '') {
                alert("수량을 입력해주세요."); return false;
            }
            if ($('input[name="insertSalePrice"]').eq(i).val() === '') {
                alert("공급가를 입력해주세요."); return false;
            }

            var data = new Object();
            data.product = $('input[name="insertProduct"]').eq(i).val();
            data.quantity = $('input[name="insertQuantity"]').eq(i).val();
            data.salePrice = $('input[name="insertSalePrice"]').eq(i).val();
            data.vatPrice = $('input[name="insertVatPrice"]').eq(i).val();
            data.totalPrice = $('input[name="insertTotalPrice"]').eq(i).val();
            data.comment = $('input[name="insertComment"]').eq(i).val();
            listBuy.push(data);
        }
        const jsonBuy = JSON.stringify(listBuy);
        const buy = document.createElement("input");
        buy.setAttribute("type", "hidden");
        buy.setAttribute("name", "jsonBuy");
        buy.setAttribute("value", jsonBuy);
        form.appendChild(buy);

        if (confirm("일괄등록 하시겠습니까?") === true) {
            form.submit();
        }
    }

    $(document).ready(function () {
        $('#showbuys').dataTable({
            "processing": true,
            "ajax": {
                "processing": true,
                "type": 'POST',
                "data": {
                    "startdate": "{{ startdate }}",
                    "enddate": "{{ enddate }}",
                    "filterClient": "{{ filterClient }}",
                    "filterProduct": "{{ filterProduct }}",
                },
                "url": "{% url 'daesungwork:buysasjson' %}",
                "dataSrc": ""
            },
            "columns": [
                {data: "buyDate"},
                {data: "client__companyName"},
                {data: "product"},
                {data: "quantity"},
                {data: "salePrice"},
                {data: "vatPrice"},
                {data: "totalPrice"},
                {data: "comment"},
                {
                    data: "buyId",
                    "render": function (data, type, row) {
                        return '<i class="fas fa-times-circle" onclick="btn_deletebuy(this)" id="' + row['buyId'] + '"</i>'
                    },
                },
            ],
            "columnDefs": [
                {targets: 0, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                {targets: 1, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                {targets: 2, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                {targets: 3, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                {targets: 4, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                {targets: 5, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                {targets: 6, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                {targets: 7, width: "15%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                {targets: 8, width: "5%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},

            ],
            "deferRender": true,
            "bLengthChange": false,
            "order": [[0, 'desc']],
            "searching": true,
            "paging": true,
            "info": false,
            "scrollY": "80vh",
            "scrollX": true,
            "scrollCollapse": true,
            "language": {
                "lengthMenu": "_MENU_",
                "search": "검색:",
                "zeroRecords": "결과 없음",
                "processing": "로딩중",
                "paginate": {
                    "first": "처음",
                    "last": "끝",
                    "next": "→",
                    "previous": "←"
                },
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $('td:eq(0)', nRow).text(replaceAll(aData.buyDate, "-", "-"));
                $('td:eq(3)', nRow).text(aData.quantity.toLocaleString());
                $('td:eq(4)', nRow).text(aData.salePrice.toLocaleString());
                $('td:eq(5)', nRow).text(aData.vatPrice.toLocaleString());
                $('td:eq(6)', nRow).text(aData.totalPrice.toLocaleString());
            },
            "footerCallback": function () {
                let api = this.api(), data;

                let totalResult = 0;
                api.column(6, {search: 'applied'}).data().each(function (data, index) {
                    totalResult += parseFloat(data);
                });
                $(api.column(6).footer()).html(totalResult.toLocaleString());
            },
        });

        let insertTable = $('#insertTable').DataTable({
            "autoWidth": true,
            "searching": false,
            "paging": false,
            "info": false,
            "scrollY": "60vh",
            "scrollX": true,
            "scrollCollapse": true,
            'fnCreatedRow': function (nRow, aData, iDataIndex) {
                $(nRow).attr('id', 'row' + iDataIndex);
            },
            "ordering": false,
            "columnDefs": [
                {targets: 0, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                {
                    targets: 1, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding-bottom', '30px');
                        $(td).css('padding-top', '20px');
                    }
                },
                {
                    targets: 2, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding-bottom', '30px');
                        $(td).css('padding-top', '20px');
                    }
                },
                {
                    targets: 3, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding-bottom', '30px');
                        $(td).css('padding-top', '20px');
                    }
                },
                {
                    targets: 4, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding-bottom', '30px');
                        $(td).css('padding-top', '20px');
                    }
                },
                    {
                    targets: 5, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    createdCell: function (td, cellData, rowData, row, col) {
                        $(td).css('padding-bottom', '30px');
                        $(td).css('padding-top', '20px');
                    }
                },
                {targets: 6, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
            ],
        });

        let buyCounter = 0;

        $('#addBuy').on('click', function () {
            insertTable.row.add([
                '<input class="form-control" name="insertProduct" id="buy1' + buyCounter + '">',
                '<input class="form-control" name="insertQuantity" id="buy2' + buyCounter + '" type="number" value="0"' +
                'onchange="changePrice(\'buy2' + buyCounter + '\', \'buy3' + buyCounter + '\', \'buy4' + buyCounter + '\', \'buy5' + buyCounter + '\')">',
                '<input class="form-control" name="insertSalePrice" id="buy3' + buyCounter + '" type="number" value="0"' +
                'onchange="changePrice(\'buy2' + buyCounter + '\', \'buy3' + buyCounter + '\', \'buy4' + buyCounter + '\', \'buy5' + buyCounter + '\')">',
                '<input class="form-control" name="insertVatPrice" id="buy4' + buyCounter + '" type="number" value="0"' +
                'onchange="changePrice(\'buy2' + buyCounter + '\', \'buy3' + buyCounter + '\', \'buy4' + buyCounter + '\', \'buy5' + buyCounter + '\')">',
                '<input class="form-control" name="insertTotalPrice" id="buy5' + buyCounter + '" type="number" readonly>',
                '<input class="form-control" name="insertComment" id="display6' + buyCounter + '">',
                '<i class="fas fa-times-circle insertTableCount">',
            ]).draw();
            changePrice('buy2'+buyCounter, 'buy3'+buyCounter, 'buy4'+buyCounter, 'buy5'+buyCounter);
            buyCounter++;
        });

        $('#insertTable').on('click', 'i', function () {
            insertTable
                .row($(this).parents('tr'))
                .remove()
                .draw();
        });

        changePrice('quantity', 'salePrice', 'vatPrice', 'totalPrice');

        // modal select2
        select2_modal('insertClient', 'insertForm');
        select2_modal('filterClient', 'filterForm');

    });


</script>

{% endblock %}