{% extends "dashboard/layout.html" %}


{% block title %}
센터별 담당자 조회
{% endblock %}


{% block css %}

<style type="text/css">
  .input-form {
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    padding: .375rem .75rem;
    font-size: 0.9em;
    color: #6e707e;
    width: 170px;
  }

  pc-table {
    color: #333333;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  .pc-table td, .pc-table th {
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    border: 1px solid rgba(206, 210, 219, 0.64);
  }

  .dataTable td {
    padding: 10px;
  }

</style>

{% endblock %}


{% block content %}
<div class="row">
  <div class="col-xl-12">
    <div class="card shadow mb-4">

      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 h3 text-gray-800"> 센터별 담당자 관리 </h6>
      </div>

      <div class="card-body">
        <div class="row">
          <h5 class="text-primary">
            <span class="ml-3 text-dark">▼</span> 담당자 배정 현황 조회
          </h5>
        </div>
        <!--<form method="POST" id="centerManagerForm">-->
        <div class="row col-12">
          <span class="col-xl-1 m-0">번호: {{ centermanager.centerManagerId }}</span>
          <span class="col-xl-3 m-0">기간: {{ centermanager.startDate }} ~ {{ centermanager.endDate }}</span>
          <span class="col-xl-2 m-0">작성자: {{ centermanager.writeEmp.empName }} </span>
          <span class="col-xl-3 m-0">작성일시: {{ centermanager.createdDatetime | date:'Y-m-d H:m' }} </span>
        </div>
        <div class="row mb-3 center">
          <table class="pc-table ml-3 mr-3 mt-1" style="width: 100%;">
            <tr style="background-color: #c5e4f8; color: black;">
              <th class="font-weight-normal">담당자</th>
              <th class="font-weight-normal">담당구역</th>
              <th class="font-weight-normal">추가관리</th>
              <th class="font-weight-normal">대청소담당구역</th>
            </tr>

            {% for emp in centermanageremps %}
            <tr>
              <th class="font-weight-normal text-dark" style="background-color: #deeef8;">{{ emp.empId.empName }}</th>
              <th class="font-weight-normal text-dark">{{ emp.manageArea.centerName }}</th>
              <th class="font-weight-normal text-dark">{{ emp.additionalArea }}</th>
              <th class="font-weight-normal text-dark">{{ emp.cleanupArea.centerName }}</th>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="text-right mr-1 mt-3">
            <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_delete()">
              <span class="text"> 삭제 </span>
            </a>
            <a href="#" class="btn btn-info btn-icon-split" onclick="btn_modify()">
              <span class="text"> 수정 </span>
            </a>
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block script %}
<script>
    var managerCounter = 0;

    function btn_cancel() {
        if (confirm("취소 하시겠습니까?") === true) {
            history.back();
        } else {
            return false;
        }
    }

    function btn_delete(){
        if (confirm("삭제 하시겠습니까?") === true) {
            location.href = '/daesungwork/deletecentermanager/{{ centermanager.centerManagerId }}/'
        }
    }

    function btn_modify() {
        location.href = '/daesungwork/modifycentermanager/{{ centermanager.centerManagerId }}/'
    }



</script>

{% endblock %}