{% extends "dashboard/layout.html" %}


{% block title %}
  전자결재
{% endblock %}


{% block css %}
  <style>
     .pc-table {
    color: #333333;
    table-layout: fixed;
    width: 100%;
    }

    .pc-table td, .pc-table th {
    padding: 3px 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border: 1px solid lightgrey;
    }

    .pc-table-main td, .pc-table-main th {
      padding: 5px;
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
      border-top: 1px dotted #858796a3;
    }

    .mobile-table {
      color: #333333;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .mobile-table td, .mobile-table th {
      padding: 5px 10px;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
      border-top: 1px dotted #858796a3;
    }

  </style>
{% endblock %}


{% block content %}
  <form id="documentForm" method="post">{% csrf_token %}</form>

  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 h3 text-gray-800">문서 양식</h6>
    </div>

    <div class="card-body">
      <div class="row mb-3">
        <div class="col-1">
          <label for="formNumber" class="font-weight-bold text-primary">NO.</label>
          <input id="formNumber" name="formNumber" class="form-control" value="{{ form.formNumber }}">
        </div>
        <div class="col-5">
          <label for="formTitle" class="font-weight-bold text-primary">문서명</label>
          <input id="formTitle" name="formTitle" class="form-control" value="{{ form.formTitle }}">
        </div>
        <div class="col-2">
          <label for="firstCategory" class="font-weight-bold text-primary">대분류</label>
          <select id="firstCategory" name="firstCategory" class="form-control"></select>
        </div>
        <div class="col-2">
          <div class="d-flex flex-row align-items-center justify-content-between">
            <label for="secondCategory" class="font-weight-bold text-primary">소분류</label>
            <a href="#" role="button" id="addCategory" data-toggle="modal" data-target="#categoryModal">
              <i class="fas fa-plus-circle fa-fw text-primary"></i>
            </a>
          </div>
          <select id="secondCategory" name="secondCategory" class="form-control"></select>
        </div>
        <div class="col-1">
          <label for="preservationYear" class="font-weight-bold text-primary">보존연한</label>
          <select id="preservationYear" name="preservationYear" class="form-control">
            <option value="9999" {% if form.preservationYear == 9999 %}selected="selected"{% endif %}>영구</option>
            <option value="1" {% if form.preservationYear == 1 %}selected="selected"{% endif %}>1년</option>
            <option value="3" {% if form.preservationYear == 3 %}selected="selected"{% endif %}>3년</option>
            <option value="5" {% if form.preservationYear == 5 %}selected="selected"{% endif %}>5년</option>
            <option value="10" {% if form.preservationYear == 10 %}selected="selected"{% endif %}>10년</option>
          </select>
        </div>
        <div class="col-1">
          <label for="securityLevel" class="font-weight-bold text-primary">보안등급</label>
          <select id="securityLevel" name="securityLevel" class="form-control">
            <option value="S" {% if form.securityLevel == 'S' %}selected="selected"{% endif %}>S등급</option>
            <option value="A" {% if form.securityLevel == 'A' %}selected="selected"{% endif %}>A등급</option>
            <option value="B" {% if form.securityLevel == 'B' %}selected="selected"{% endif %}>B등급</option>
            <option value="C" {% if form.securityLevel == 'C' %}selected="selected"{% endif %}>C등급</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="approvalFormat" class="font-weight-bold text-primary">결재양식</label>
          <select id="approvalFormat" name="approvalFormat" class="form-control" onchange="change_format(this.value)">
            <option value="신청" {% if form.approvalFormat == '신청' %}selected="selected"{% endif %}>신청</option>
            <option value="결재" {% if form.approvalFormat == '결재' %}selected="selected"{% endif %}>결재</option>
          </select>
        </div>
        <div class="col-12" id="format1">
          <table class="pc-table">
            <tr>
              <td width="20%" class="bg-light">신청</td>
              <td width="80%"><input id="apply" class="empName magicsearch form-control"></td>
            </tr>
            <tr>
              <td width="20%" class="bg-light">승인</td>
              <td width="80%"><input id="process" class="empName magicsearch form-control"></td>
            </tr>
            <tr>
              <td width="20%" class="bg-light">참조</td>
              <td width="80%"><input id="reference" class="empName magicsearch form-control"></td>
            </tr>
          </table>
        </div>
        <div class="col-12" id="format2">
          <table class="pc-table">
            <tr>
              <td width="20%" class="bg-light">결재</td>
              <td width="80%"><input id="approval" class="empName2 magicsearch form-control"></td>
            </tr>
            <tr>
              <td width="20%" class="bg-light">합의</td>
              <td width="80%" colspan="3"><input id="agreement" class="empName2 magicsearch form-control"></td>
            </tr>
            <tr>
              <td width="20%" class="bg-light">재무합의</td>
              <td width="80%" colspan="3"><input id="financial" class="empName2 magicsearch form-control"></td>
            </tr>
            <tr>
              <td width="20%" class="bg-light">참조</td>
              <td width="80%"><input id="reference2" class="empName2 magicsearch form-control"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <label for="comment" class="font-weight-bold text-primary">문서설명</label>
          <input id="comment" name="comment" class="form-control" value="{{ form.comment }}">
        </div>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-between">
        <label for="formHtml" class="font-weight-bold text-primary">본문</label>
        <span>※ 문서편집기 하단을 드래그 하여 크기를 조정할 수 있습니다.</span>
      </div>
      <div id="formHtml"></div>
    </div>
    <div class="text-center mb-3">
      <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_cancel()">
        <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
        <span class="text">취소</span>
      </a>
      <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">
        <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
        <span class="text">등록</span>
      </a>
    </div>
  </div>

  <!-- category Modal -->
  <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="categoryModalLabel">문서 분류 등록</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div onkeydown="javascript: if (event.keyCode == 13) {btn_register();}">
            <div class="row mb-3">
              <div class="col-6">
                <label for="firstCategoryAdd" class="font-weight-bold text-primary">대분류</label>
                <input type="text" class="form-control" id="firstCategoryAdd" name="firstCategoryAdd">
              </div>
              <div class="col-6">
                <label for="secondCategoryAdd" class="font-weight-bold text-primary">소분류</label>
                <input type="text" class="form-control" id="secondCategoryAdd" name="secondCategoryAdd">
              </div>
            </div>
          </div>
          <span class="text-danger">※ 오타없이 입력해주세요.</span>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_register()">등록</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}
  <script type="text/javascript">
    //결재 포맷
    function change_format(thisVal){
        const format1 = $('#format1');
        const format2 = $('#format2');
        const apply = $('#apply');
        const process = $('#process');
        const reference = $('#reference');
        const approval = $('#approval');
        const agreement = $('#agreement');
        const financial = $('#financial');
        const reference2 = $('#reference2');
        let className;
        if(thisVal=='결재' ){
            format1.hide();
            format2.show();
            className = '.empName';

        }else{
            format1.show();
            format2.hide();
            className = '.empName2';
        }

        {% if apply %}
          apply.attr("data-id", "{{ apply }}");
        {% endif %}
        {% if process %}
          process.attr("data-id", "{{ process }}");
        {% endif %}
        {% if reference %}
          reference.attr("data-id", "{{ reference }}");
        {% endif %}
        {% if approval %}
          approval.attr("data-id", "{{ approval }}");
        {% endif %}
        {% if agreement %}
          agreement.attr("data-id", "{{ agreement }}");
        {% endif %}
        {% if financial %}
          financial.attr("data-id", "{{ financial }}");
        {% endif %}
        {% if reference %}
          reference2.attr("data-id", "{{ reference }}");
        {% endif %}

        $(className).magicsearch({
            dataSource: {{ empNames|safe }},
            fields: 'name',
            id: 'id',
            multiple: true,
            multiField: 'name',
            format: '%name% %position% (%dept%)',
            multiStyle: {space: 5, width: 80},
            noResult: '검색결과없음',
            focusShow: false,
        });
    }

    // 문서 양식 등록
    function btn_save() {
        const documentForm = $('#documentForm');
        $('<input />', {
            type: 'hidden',
            name: 'formNumber',
            value: $('#formNumber').val()
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'formTitle',
            value: $('#formTitle').val()
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'firstCategory',
            value: $('#firstCategory').val()
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'secondCategory',
            value: $('#secondCategory').val()
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'preservationYear',
            value: $('#preservationYear').val()
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'securityLevel',
            value: $('#securityLevel').val()
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'comment',
            value: $('#comment').val()
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'approvalFormat',
            value: $('#approvalFormat').val()
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'apply',
            value: $('#apply').attr('data-id')
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'process',
            value: $('#process').attr('data-id')
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'reference',
            value: $('#reference').attr('data-id')
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'approval',
            value: $('#approval').attr('data-id')
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'agreement',
            value: $('#agreement').attr('data-id')
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'financial',
            value: $('#financial').attr('data-id')
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'reference2',
            value: $('#reference2').attr('data-id')
        }).appendTo(documentForm);
        $('<input />', {
            type: 'hidden',
            name: 'formHtml',
            value: $('#formHtml').summernote('code')
        }).appendTo(documentForm);
        documentForm[0].submit();
    }

    // 문서 분류 등록
    function btn_register() {
        const firstCategoryAdd = $('#firstCategoryAdd').val();
        const secondCategoryAdd = $('#secondCategoryAdd').val();
        if (firstCategoryAdd === '') {
            alert('대분류를 입력해주세요.');
            return false;
        }
        if (secondCategoryAdd === '') {
            alert('소분류를 입력해주세요.');
            return false;
        }
        $.ajax({
            url: "{% url 'approval:postdocumentcategory' %}",
            method: 'POST',
            cache: false,
            data: {
                "firstCategoryAdd": firstCategoryAdd,
                "secondCategoryAdd": secondCategoryAdd,
            },
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function (message) {
                alert(message);
                load_category();
                $('.close').click();
            }
        });
    }

    // 분류 로드
    function load_category() {
        const firstCategory = $('#firstCategory');
        const secondCategory = $('#secondCategory');

        $.ajax({
            url: "{% url 'approval:documentcategoryasjson' %}",
            method: 'GET',
            cache: false,
            data: {"category": "first"},
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function (returnData) {
                firstCategory.empty();
                for (let i=0; i<returnData.length; i++){
                    if ("{{ form.categoryId.firstCategory }}" === returnData[i].firstCategory) {
                        firstCategory.append(
                            '<option value="' + returnData[i].firstCategory + '" selected="selected">' +
                            returnData[i].firstCategory + '</option>'
                        )
                    } else {
                        firstCategory.append(
                            '<option value="' + returnData[i].firstCategory + '">' +
                            returnData[i].firstCategory + '</option>'
                        )
                    }
                }
                $.ajax({
                    url: "{% url 'approval:documentcategoryasjson' %}",
                    method: 'GET',
                    cache: false,
                    data: {
                        "category": "second",
                        "firstCategory": firstCategory.val(),
                    },
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    success: function (returnData) {
                        secondCategory.empty();
                        for (let i=0; i<returnData.length; i++){
                            if ("{{ form.categoryId.secondCategory }}" === returnData[i].secondCategory) {
                                secondCategory.append(
                                    '<option value="' + returnData[i].secondCategory + '" selected="selected">' +
                                    returnData[i].secondCategory + '</option>'
                                );
                            } else {
                                secondCategory.append(
                                    '<option value="' + returnData[i].secondCategory + '">' +
                                    returnData[i].secondCategory + '</option>'
                                );
                            }
                        }
                    }
                });
            }
        });

        firstCategory.change(function () {
            $.ajax({
                url: "{% url 'approval:documentcategoryasjson' %}",
                method: 'GET',
                cache: false,
                data: {
                    "category": "second",
                    "firstCategory": this.value,
                },
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (returnData) {
                    secondCategory.empty();
                    for (let i=0; i<returnData.length; i++){
                        secondCategory.append(
                            '<option value="' + returnData[i].secondCategory + '">' +
                            returnData[i].secondCategory + '</option>'
                        );
                    }
                }
            });
        });
    }

    $(document).ready(function() {
        change_format("{{ form.approvalFormat }}");
        // 분류 로드
        load_category();

        // 본문 작성
        const toolbar = [
            ['font', ['fontsize', 'bold', 'italic', 'underline', 'strikethrough', 'forecolor', 'backcolor']],
            ['font2', ['ol', 'ul', 'paragraph', 'height']],
            ['insert', ['picture', 'link', 'table', 'hr']],
            ['util', ['codeview', 'help']]
        ];
        let formHtml = $('#formHtml');
        formHtml.summernote({
            placeholder: '결재 문서 내용 작성',
            tabsize: 2,
            height: document.documentElement.clientHeight * 0.5,
            toolbar: toolbar,
            spellCheck: false,
            disableGrammar: true,
        });
        formHtml.summernote('code', '{{ form.formHtml | safe }}');
    })

  </script>
{% endblock %}
