{% extends "dashboard/layout.html" %}


{% block title %}
전자결재
{% endblock %}


{% block css %}
<style>
  .table {
    color: #333333;
  }

  .table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-bottom: 1px solid #e3e6f0;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
  }

  .pc-table {
    color: #333333;
    table-layout: fixed;
    width: 100%;
  }

  .pc-table td, .pc-table th {
    padding: 3px 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border: 1px solid lightgrey;
  }

</style>
{% endblock %}


{% block content %}
<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 h3 text-gray-800"> 문서 작성 </h6>
  </div>

  <div class="card-body">
    <form id="document" method="POST" enctype="multipart/form-data" class="d-none">{% csrf_token %}</form>
    <div class="row mb-2">
      <div class="col-8 font-weight-bold text-primary">문서종류</div>
      <div class="col-2 font-weight-bold text-primary">보존연한</div>
      <div class="col-2 font-weight-bold text-primary">보안등급</div>
    </div>
    <div class="row mb-3">
      <div class="col-2">
        <select id="firstCategory" name="firstCategory" class="form-control"></select>
      </div>
      <div class="col-2">
        <select id="secondCategory" name="secondCategory" class="form-control"></select>
      </div>
      <div class="col-4">
        <select id="formTitle" name="formTitle" class="form-control"></select>
      </div>
      <div class="col-2">
        <span id="preservationYear" name="preservationYear" class="form-control"></span>
      </div>
      <div class="col-2">
        <span id="securityLevel" name="securityLevel" class="form-control"></span>
      </div>
    </div>

    <div class="document-editor d-none">
      <div class="mb-3">
        <label for="approval" class="font-weight-bold text-primary">결재선</label>
        <div class="d-none" id="approvalFormat"></div>
        <div class="col-12 pl-0 pr-0" id="format1">
          <table class="pc-table">
            <tr>
              <td width="20%" class="bg-light">신청</td>
              <td width="80%"><input id="apply" class="empName magicsearch form-control"></td>
            </tr>
            <tr>
              <td width="20%" class="bg-light">승인</td>
              <td width="80%"><input id="process" class="empName magicsearch form-control"></td>
            </tr>
            <tr>
              <td width="20%" class="bg-light">참조</td>
              <td width="80%"><input id="reference" class="empName magicsearch form-control"></td>
            </tr>
          </table>
        </div>
        <div class="col-12 pl-0 pr-0" id="format2">
          <table class="pc-table">
            <tr>
              <td width="20%" class="bg-light">결재</td>
              <td width="80%"><input id="approval" class="empName2 magicsearch form-control"></td>
            </tr>
            <tr>
              <td width="20%" class="bg-light">합의</td>
              <td width="80%" colspan="3"><input id="agreement" class="empName2 magicsearch form-control"></td>
            </tr>
            <tr>
              <td width="20%" class="bg-light">재무합의</td>
              <td width="80%" colspan="3"><input id="financial" class="empName2 magicsearch form-control"></td>
            </tr>
            <tr>
              <td width="20%" class="bg-light">참조</td>
              <td width="80%"><input id="reference2" class="empName2 magicsearch form-control"></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="mb-3">
        <label for="title" class="font-weight-bold text-primary">제목</label>
        <input id="title" name="title" class="form-control" value="">
      </div>

      <div class="d-flex flex-row align-items-center justify-content-between">
        <label for="contentHtml" class="font-weight-bold text-primary">본문</label>
        <span>※ 문서편집기 하단을 드래그 하여 크기를 조정할 수 있습니다.</span>
      </div>
      <div id="contentHtml"></div>

      <div class="row">
        <div class="col-6">
          <label class="font-weight-bold text-primary mt-3">첨부파일</label>
          <table class="table">
            <thead>
            <tr>
              <td width="65%"><b>파일명</b></td>
              <td width="20%"><b>파일크기</b></td>
              <td width="15%">
                <label class="m-0 btn btn-info btn-icon-split">
                  <span class="icon text-white-100"><i class="fas fa-file-upload"></i></span>
                  <input id="files" name="files" type="file" multiple="multiple" class="d-none" onchange=file_names(this.id)>
                </label>
              </td>
            </tr>
            </thead>
            <tbody id="filesTbody">
            </tbody>
          </table>
        </div>
        <div class="col-6">
          <label class="font-weight-bold text-primary mt-3">관련문서</label>
          <table class="table">
            <thead>
            <tr>
              <td class="d-none">documentId</td>
              <td width="25%"><b>문서번호</b></td>
              <td width="40%"><b>문서명</b></td>
              <td width="20%"><b>기안자</b></td>
              <td width="15%">
                <label class="m-0 btn btn-info btn-icon-split" id="filterLink" data-toggle="modal" data-target="#documentModal" onclick="load_table()">
                  <span class="icon text-white-100"> <i class="fas fa-file-upload"> </i> </span>
                </label>
              </td>
            </tr>
            </thead>
            <tbody id="documentsTbody">
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="text-center mb-3">
      <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_cancel()">
        <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
        <span class="text">취소</span>
      </a>
      <a href="#" class="btn btn-warning btn-icon-split" onclick="btn_save('임시')">
        <span class="icon text-white-50"> <i class="fas fa-save"> </i> </span>
        <span class="text">임시</span>
      </a>
      <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save('진행')">
        <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
        <span class="text">기안</span>
      </a>
    </div>

  </div>
</div>

<!-- Document Modal -->
<div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="documentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header bg-info text-gray-100">
        <h5 class="modal-title" id="documentModalLabel">관련문서 등록</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span class="text-gray-100" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <form id="documentForm" onkeydown="javascript: if (event.keyCode == 13) {btn_related();}">
          {% csrf_token %}
          <table id="documents" class="hover row-border" width="100%" style="width: 100%;">
            <thead>
            <tr>
              <th><input class="ckbxall" type="checkbox"></th>
              <th>문서번호</th>
              <th>문서명</th>
              <th>기안자</th>
              <th class="d-none">documentId</th>
            </tr>
            </thead>
          </table>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
        <a class="btn btn-info" href="#" onclick="document_names()">등록</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}
<script type="text/javascript">
    function btn_save(documentStatus) {
        if($('#title').val() != '') {
            const form = $('#document');
            $('<input />', {
                type: 'hidden',
                name: 'documentStatus',
                value: documentStatus
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'firstCategory',
                value: $('#firstCategory').val()
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'secondCategory',
                value: $('#secondCategory').val()
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'formTitle',
                value: $('#formTitle').val()
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'preservationYear',
                value: $('#preservationYear').text()
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'securityLevel',
                value: $('#securityLevel').text()
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'approvalFormat',
                value: $('#approvalFormat').val()
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'apply',
                value: $('#apply').attr('data-id')
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'process',
                value: $('#process').attr('data-id')
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'reference',
                value: $('#reference').attr('data-id')
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'approval',
                value: $('#approval').attr('data-id')
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'agreement',
                value: $('#agreement').attr('data-id')
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'financial',
                value: $('#financial').attr('data-id')
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'reference2',
                value: $('#reference2').attr('data-id')
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'title',
                value: $('#title').val()
            }).appendTo(form);
            $('<input />', {
                type: 'hidden',
                name: 'contentHtml',
                value: $('#contentHtml').summernote('code')
            }).appendTo(form);

            // 첨부파일
            form.append($("#files"));
            let filesName = $('td[name="filesName"]');
            let filesSize = $('td[name="filesSize"]');
            let listFile = [];
            let data;
            for (let i = 0; i < filesName.length; i++) {
                data = {};
                data.fileName = filesName[i].innerText;
                data.fileSize = filesSize[i].innerText;
                listFile.push(data);
            }
            $('<input />', {
                type: 'hidden',
                name: 'jsonFile',
                value: JSON.stringify(listFile)
            }).appendTo(form);

            // 관련문서
            let documentIds = $('td[name="documentId"]');
            let listId = [];
            for (let i = 0; i < documentIds.length; i++) {
                listId.push(documentIds.eq(i).text());
            }
            $('<input />', {
                type: 'hidden',
                name: 'relatedDocumentId',
                value: JSON.stringify(listId)
            }).appendTo(form);

            form[0].submit();
        }else{
            alert('제목을 입력해주세요.');
        }
    }

    function load_category() {
        const firstCategory = $('#firstCategory');
        const secondCategory = $('#secondCategory');
        const formTitle = $('#formTitle');

        // 대분류
        $.ajax({
            url: "{% url 'approval:documentcategoryasjson' %}",
            method: 'GET',
            cache: false,
            data: {"category": "first"},
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function (returnData) {
                firstCategory.empty();
                for (let i = 0; i < returnData.length; i++) {
                    if ("{{ form.categoryId.firstCategory }}" === returnData[i].firstCategory) {
                        firstCategory.append(
                            '<option value="' + returnData[i].firstCategory + '" selected="selected">' +
                            returnData[i].firstCategory + '</option>'
                        )
                    } else {
                        firstCategory.append(
                            '<option value="' + returnData[i].firstCategory + '">' +
                            returnData[i].firstCategory + '</option>'
                        )
                    }
                }
                // 소분류
                $.ajax({
                    url: "{% url 'approval:documentcategoryasjson' %}",
                    method: 'GET',
                    cache: false,
                    data: {
                        "category": "second",
                        "firstCategory": firstCategory.val(),
                    },
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    success: function (returnData) {
                        secondCategory.empty();
                        for (let i = 0; i < returnData.length; i++) {
                            if ("{{ form.categoryId.secondCategory }}" === returnData[i].secondCategory) {
                                secondCategory.append(
                                    '<option value="' + returnData[i].secondCategory + '" selected="selected">' +
                                    returnData[i].secondCategory + '</option>'
                                );
                            } else {
                                secondCategory.append(
                                    '<option value="' + returnData[i].secondCategory + '">' +
                                    returnData[i].secondCategory + '</option>'
                                );
                            }
                        }
                        // 문서명
                        $.ajax({
                            url: "{% url 'approval:documentformasjson' %}",
                            method: 'GET',
                            cache: false,
                            data: {
                                "type": "formTitle",
                                "firstCategory": firstCategory.val(),
                                "secondCategory": secondCategory.val(),
                            },
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            success: function (returnData) {
                                formTitle.empty();
                                formTitle.append('<option value="">선택</option>');
                                for (let i = 0; i < returnData.length; i++) {
                                    formTitle.append(
                                        '<option value="' + returnData[i].formTitle + '">' +
                                        returnData[i].formNumber + '. ' +
                                        returnData[i].formTitle + '</option>'
                                    );
                                }
                            }
                        });
                    }
                });
            }
        });

        // 대분류 기준으로 소분류
        firstCategory.change(function () {
            $.ajax({
                url: "{% url 'approval:documentcategoryasjson' %}",
                method: 'GET',
                cache: false,
                data: {
                    "category": "second",
                    "firstCategory": this.value,
                },
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (returnData) {
                    secondCategory.empty();
                    for (let i = 0; i < returnData.length; i++) {
                        secondCategory.append(
                            '<option value="' + returnData[i].secondCategory + '">' +
                            returnData[i].secondCategory + '</option>'
                        );
                    }
                    $.ajax({
                        url: "{% url 'approval:documentformasjson' %}",
                        method: 'GET',
                        cache: false,
                        data: {
                            "type": "formTitle",
                            "firstCategory": firstCategory.val(),
                            "secondCategory": secondCategory.val(),
                        },
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        success: function (returnData) {
                            formTitle.empty();
                            formTitle.append('<option value="">선택</option>');
                            for (let i = 0; i < returnData.length; i++) {
                                formTitle.append(
                                    '<option value="' + returnData[i].formTitle + '">' +
                                    returnData[i].formTitle + '</option>'
                                );
                            }
                        }
                    });
                }
            });
        });

        // 대분류, 소분류 기준으로 문서명
        secondCategory.change(function () {
            $.ajax({
                url: "{% url 'approval:documentformasjson' %}",
                method: 'GET',
                cache: false,
                data: {
                    "type": "formTitle",
                    "firstCategory": firstCategory.val(),
                    "secondCategory": secondCategory.val(),
                },
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (returnData) {
                    formTitle.empty();
                    formTitle.append('<option value="">선택</option>');
                    for (let i = 0; i < returnData.length; i++) {
                        formTitle.append(
                            '<option value="' + returnData[i].formTitle + '">' +
                            returnData[i].formTitle + '</option>'
                        );
                    }
                }
            });
        });
    }

    function load_document(data) {
        const preservationYear = $('#preservationYear');
        const securityLevel = $('#securityLevel');
        const editor = $('.document-editor');
        const contentHtml = $('#contentHtml');
        const title = $('#title');
        const format1 = $('#format1');
        const format2 = $('#format2');
        const apply = $('#apply');
        const process = $("#process");
        const reference = $('#reference');
        const approval = $('#approval');
        const agreement = $('#agreement');
        const financial = $('#financial');
        const reference2 = $('#reference2');
        const approvalFormat= $('#approvalFormat');

        if (data.length === 0) {
            preservationYear.text('');
            securityLevel.text('');
            editor.addClass('d-none');
            title.val('');
            contentHtml.summernote('code', '');
            format1.hide();
            format2.hide();
        } else {
            console.log(data);
            const val = data[0];
            const approvalList = data[1];
            console.log(approvalList);
            if (val.preservationYear < 9999) {
                preservationYear.text(val.preservationYear.toString() + '년');
            } else {
                preservationYear.text('영구');
            }
            securityLevel.text(val.securityLevel + '등급');
            editor.removeClass('d-none');
            contentHtml.summernote('code', val.formHtml);
            approvalFormat.val(val.approvalFormat);

            apply.trigger('destroy');
            process.trigger('destroy');
            reference.trigger('destroy');
            approval.trigger('destroy');
            agreement.trigger('destroy');
            financial.trigger('destroy');
            reference2.trigger('destroy');
            if(approvalList.apply != null){
                apply.attr("data-id", approvalList.apply);
            }
            if(approvalList.process != null){
                process.attr("data-id", approvalList.process);
            }
            if(approvalList.reference != null){
                reference.attr("data-id", approvalList.reference);
                reference2.attr("data-id", approvalList.reference);
            }
            if(approvalList.approval != null){
                approval.attr("data-id", approvalList.approval);
            }
            if(approvalList.agreement != null){
                agreement.attr("data-id", approvalList.agreement);
            }
            if(approvalList.financial != null){
                financial.attr("data-id", approvalList.financial);
            }

            let className;
            if (val.approvalFormat == '신청') {
                // format2.attr('style', "display:none;");
                format2.addClass("d-none");
                format1.removeClass("d-none");
                className = '.empName';
            } else {
                format1.addClass("d-none");
                format2.removeClass("d-none");
                className = '.empName2';
            }
            $(className).magicsearch({
                dataSource: {{ empNames|safe }},
                fields: 'name',
                id: 'id',
                multiple: true,
                multiField: 'name',
                format: '%name% %position% (%dept%)',
                multiStyle: {space: 5, width: 80},
                noResult: '검색결과없음',
                focusShow: false,
            });
        }
    }

    function file_names(id) {
        let files = $('#' + id).get(0).files;
        let filesTbody = $('#filesTbody');
        let file;
        let tr;
        filesTbody.empty();

        for (let i = 0; i < files.length; i++) {
            file = files[i];
            tr = '<tr>';
            tr += '<td class="text-left" name="filesName">' + file.name + '</td>';
            tr += '<td name="filesSize">' + (file.size / 1048576).toFixed(2) + 'MB</td>';
            tr += '<td><i class="fas fa-times-circle" name="remove" onclick="remove_row(this)"></i></td>';
            tr += '</tr>';
            filesTbody.append(tr);
        }
    }

    function document_names() {
        let length = $('.document-id').length;
        let dataList = [];
        let data;
        for (let i = 2; i <= length - 1; i++) {
            if ($('.ckbx').eq(i - 2).is(":checked")) {
                data = {};
                data.documentId = $('.document-id').eq(i).text();
                data.documentNumber = $('.document-number').eq(i).text();
                data.title = $('.document-title').eq(i).text();
                data.empName = $('.document-empname').eq(i).text();
                dataList.push(data);
            }
        }

        let documentsTbody = $('#documentsTbody');
        let tr;
        documentsTbody.empty();
        for (let i = 0; i < dataList.length; i++) {
            data = dataList[i];
            tr = '<tr>';
            tr += '<td class="d-none" name="documentId">' + data.documentId + '</td>';
            tr += '<td>' + data.documentNumber + '</td>';
            tr += '<td class="text-left">' + data.title + '</td>';
            tr += '<td>' + data.empName + '</td>';
            tr += '<td><i class="fas fa-times-circle" name="remove" onclick="remove_row(this)"></i></td>';
            tr += '</tr>';
            documentsTbody.append(tr);
        }

        $('#documentModal').modal('hide');
    }

    function remove_row(obj) {
        let row = $(obj).parent().parent();
        row.remove();
    }

    function load_table() {
        setTimeout(function () {
            if (!$.fn.DataTable.isDataTable('#documents')) {
                $('#documents').DataTable({
                    "processing": true,
                    "ajax": {
                        "processing": true,
                        "type": 'GET',
                        "data": {
                            'documentStatus': '완료',
                        },
                        "url": "{% url 'approval:showdocumentasjson' %}",
                        "dataSrc": ""
                    },
                    "columnDefs": [
                        {
                            targets: 0,
                            width: "5%",
                            className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                            orderable: false,
                            data: null,
                            defaultContent: '<input class="ckbx" name="ckbx" type=checkbox></input>',
                        },
                        {
                            targets: 1,
                            width: "20%",
                            className: "document-number dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                            data: "documentNumber",
                        },
                        {
                            targets: 2,
                            width: "55%",
                            className: "document-title dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                            data: "title"
                        },
                        {
                            targets: 3,
                            width: "20%",
                            className: "document-empname dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                            data: "empName",
                        },
                        {
                            targets: 4,
                            orderable: false,
                            className: "document-id d-none",
                            data: "documentId",
                        },
                    ],
                    "deferRender": true,
                    "searching": false,
                    "paging": false,
                    "info": false,
                    "scrollY": "50vh",
                    "scrollX": true,
                    "scrollCollapse": true,
                    "order": [[1, 'desc']],
                    "language": {
                        "lengthMenu": "_MENU_개씩 보기",
                        "search": "검색:",
                        "zeroRecords": "결과 없음",
                        "processing": "로딩중",
                        "paginate": {
                            "first": "처음",
                            "last": "끝",
                            "next": "→",
                            "previous": "←"
                        },
                    },
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    }
                });
            }
        }, 100);
    }

    $(document).ready(function () {
        load_category();
        const firstCategory = $('#firstCategory');
        const secondCategory = $('#secondCategory');
        const formTitle = $('#formTitle');
        formTitle.change(function () {
            $.ajax({
                url: "{% url 'approval:documentformasjson' %}",
                method: 'GET',
                cache: false,
                data: {
                    "type": "form",
                    "firstCategory": firstCategory.val(),
                    "secondCategory": secondCategory.val(),
                    "formTitle": this.value,
                },
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (returnData) {
                    load_document(returnData);
                }
            })
        });

        // 본문 작성
        const toolbar = [
            ['font', ['fontsize', 'bold', 'italic', 'underline', 'strikethrough', 'forecolor', 'backcolor']],
            ['font2', ['ol', 'ul', 'paragraph', 'height']],
            ['insert', ['picture', 'link', 'table', 'hr']],
            ['util', ['codeview', 'help']]
        ];
        let contentHtml = $('#contentHtml');
        contentHtml.summernote({
            placeholder: '결재 문서 내용 작성',
            tabsize: 2,
            height: document.documentElement.clientHeight * 0.5,
            toolbar: toolbar,
            spellCheck: false,
            disableGrammar: true,
        });

        $('.ckbxall').click(function () {
            $('.ckbx').prop('checked', this.checked);
        });
    })

</script>
{% endblock %}
