{% extends "dashboard/layout.html" %}


{% block title %}
  전자결재
{% endblock %}


{% block css %}
  <style>
  </style>
{% endblock %}


{% block content %}
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 h3 text-gray-800"> 문서 작성 </h6>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-6 font-weight-bold text-primary mb-2">문서종류</div>
      </div>
      <div class="row">
        <div class="col-2">
          <select id="firstCategory" name="firstCategory" class="form-control"></select>
        </div>
        <div class="col-2">
          <select id="secondCategory" name="secondCategory" class="form-control"></select>
        </div>
        <div class="col-4">
          <select id="formTitle" name="formTitle" class="form-control"></select>
        </div>
      </div>

    </div>
  </div>

{% endblock %}


{% block script %}
  <script type="text/javascript">

  </script>
{% endblock %}
