{% extends "dashboard/layout.html" %}


{% block title %}
  전자결재
{% endblock %}


{% block css %}
  <style>
  </style>
{% endblock %}


{% block content %}
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 h3 text-gray-800">{{ title }}</h6>
      <div class="dropdown no-arrow">
        <a class="btn btn-primary"  href="/approval/postdocument/" role="button">
          <i class="fas fa-pen fa-fw d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-pen fa-fw"></i> 등록</span>
        </a>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive mt-3">
        <div class="mb-3">
          {% if category == '진행' %}
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_option('')">
              <span class="d-xl-none">전체</span>
              <span class="d-none d-xl-block">진행전체</span>
            </a>
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_option('결재예정')">
              <span class="d-xl-none">예정</span>
              <span class="d-none d-xl-block">결재예정</span>
            </a>
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_option('결재대기')">
              <span class="d-xl-none">대기</span>
              <span class="d-none d-xl-block">결재대기</span>
            </a>
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_option('결재완료')">
              <span class="d-xl-none">완료</span>
              <span class="d-none d-xl-block">결재완료</span>
            </a>
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_option('참조문서')">
              <span class="d-xl-none">참조</span>
              <span class="d-none d-xl-block">참조문서</span>
            </a>
          {% elif category == '완료' %}
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_option('')">
              <span class="d-xl-none">전체</span>
              <span class="d-none d-xl-block">완료전체</span>
            </a>
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_option('기안문서')">
              <span class="d-xl-none">기안</span>
              <span class="d-none d-xl-block">기안문서</span>
            </a>
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_option('결재문서')">
              <span class="d-xl-none">결재</span>
              <span class="d-none d-xl-block">결재문서</span>
            </a>
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_option('참조문서')">
              <span class="d-xl-none">참조</span>
              <span class="d-none d-xl-block">참조문서</span>
            </a>
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_option('반려문서')">
              <span class="d-xl-none">반려</span>
              <span class="d-none d-xl-block">반려문서</span>
            </a>
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_option('조회문서')">
              <span class="d-xl-none">조회</span>
              <span class="d-none d-xl-block">조회문서</span>
            </a>
          {% endif %}
        </div>
        <table id="showdocument" class="hover row-border">
          <thead>
          <tr>
            <th>문서번호</th>
            <th>제목</th>
            <th>기안자</th>
            <th>
              {% if category == '임시' %}
                수정일
              {% else %}
                기안일
              {% endif %}
            </th>
            <th>문서종류</th>
            <th>상태</th>
            <th>구분</th>
            <th class="d-none">documentId</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}
  <script type="text/javascript">

    function btn_option(option) {
        load_datatable($('#showdocument').DataTable(), '{{ category }}', option);
    }

    function load_datatable(table, category, option) {
        table.rows().remove();
        $.ajax({
            url: "{% url 'approval:showdocumentasjson' %}",
            method: 'GET',
            cache: false,
            data: {
                'category': category,
                'option': option,
            },
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function (returnData) {
                for (let i = 0; i < returnData.length; i++) {
                    table.row.add(returnData[i])
                }
                table.draw()
            }
        });
    }

    $(document).ready(function() {
        let table = $('#showdocument').DataTable({
            "processing": true,
            "columnDefs": [
                {
                    targets: 0,
                    width: "10%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "documentNumber",
                },
                {
                    targets: 1,
                    width: "45%",
                    className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                    data: "title",
                },
                {
                    targets: 2,
                    width: "10%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "empName"
                },
                {
                    targets: 3,
                    width: "10%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "draftDatetime",
                },
                {
                    targets: 4,
                    width: "15%",
                    className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                    data: "formTitle",
                },
                {
                    targets: 5,
                    width: "5%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "displayStatus1",
                },
                {
                    targets: 6,
                    width: "5%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "displayStatus2",
                },
                {
                    targets: 7,
                    className: "d-none",
                    data: "documentId",
                },
            ],
            "deferRender": true,
            "searching": true,
            "paging": true,
            "info": false,
            "scrollY": "60vh",
            "scrollX": false,
            "scrollCollapse": true,
            "order": [[0, 'desc']],
            "language": {
                "lengthMenu": "_MENU_ 개씩 보기",
                "search": "검색:",
                "paginate": {
                    "first": "처음",
                    "last": "끝",
                    "next": "다음",
                    "previous": "이전"
                },
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData.draftDatetime) {
                    $('td', nRow).eq(3).text(aData.draftDatetime.split('-').join('.').split('T').slice(0, 1));
                } else {
                    $('td', nRow).eq(3).text(aData.modifyDatetime.split('-').join('.').split('T').slice(0, 1));
                }
                $('td', nRow).eq(4).text(aData.formNumber + '. ' + aData.formTitle);
                if (aData.displayStatus2 === '결재대기') {
                    $('td', nRow).eq(6).css('color', 'red');
                    $('td', nRow).css('background-color', '#ffe6e6');
                }
                if (aData.displayStatus2 === '결재예정') {
                    $('td', nRow).eq(6).css('color', 'blue');
                }
            }
        });

        $('#showdocument').on("click", 'tr', function () {
            const data = table.row(this).data();
            {% if documentStatus == '임시' %}
                window.open('about:blank').location.href = '/approval/modifydocument/' + data.documentId + '/';
            {% else %}
                window.open('about:blank').location.href = '/approval/viewdocument/' + data.documentId + '/';
            {% endif %}
        });

        load_datatable(table, '{{ category }}', '');
    })

  </script>
{% endblock %}
