{% extends "dashboard/layout.html" %}


{% block title %}
 전자결재
{% endblock %}


{% block css %}
<style>
  .pc-table {
    color: #333333;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  .pc-table td, .pc-table th {
    padding: 8px 15px;
    vertical-align: middle;
    font-size: 14px;
    border: 1px dotted #858796a3;
  }

  .pc-table-title {
    width: 10%;
    background-color: #f8f9fc;
    text-align: center;
    font-weight: bold;
  }

  .pc-table-top {
    width: 10%;
    background-color: #f8f9fc;
    text-align: center;
  }

  .pc-table-bottom {
    width: 10%;
    text-align: center;
  }

  .pc-table-detail {
    width: 40%;
    text-align: left;
  }

  .note-input-date {
    background: #ffffff;
    border: none;
  }

  .note-input-money {
    background: #ffffff;
    border: none;
  }
  .comment-title {
    background-color: #f8f9fc;
    text-align: center;
    font-weight: bold;
  }
  .comment-contentleft {
    background-color: #ffffff;
    text-align: left;
  }
  .comment-contentcenter {
    background-color: #ffffff;
    text-align: center;
  }

</style>
{% endblock %}


{% block content %}
<form id="documentForm" method="post">{% csrf_token %}</form>

<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <div class="m-0 h3 text-gray-800" id="title">
      {{ document.formId.formNumber }}.
      {{ document.formId.formTitle }}
    </div>
    <div class="dropdown no-arrow">
      {% if document.formId.copyAuth == 'Y' and document.documentStatus != "삭제"%}
        <a class="btn btn-warning" href="#" role="button" onclick="btn_copy()">
            <i class="fas fa-copy d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-copy"></i> 복사</span>
        </a>
      {% endif %}
      {% if document.documentStatus == "완료" and document.formId.mailAuth == 'Y' %}
        <a class="btn btn-info" href="#" role="button" id="emailLink" data-toggle="modal" data-target="#emailModal">
           <i class="fas fa-at d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-at"></i> 공유</span>
        </a>
      {% endif %}
    </div>
  </div>
  <input id="smtpEmail"  type="text" value="{{ email.smtpEmail }}" class="d-none">
  <input id="smtpStatus" type="text" value="{{ email.smtpStatus }}" class="d-none">
  <div class="card-body">
    {# pc 화면 #}
    {% if document.documentStatus == "삭제" %}
    <div class="text-center text-secondary h3" id="pcDelete">결재가 취소되거나 삭제된 문서입니다.</div>
    <div class="d-none">
    {% else %}
    <div>
    {% endif %}
    <table id="pc-table" class="pc-table">
      <tbody>
      <tr>
        <td class="pc-table-title" colspan="1">문서 종류</td>
        <td class="pc-table-detail" colspan="4">
          {{ document.formId.categoryId.firstCategory }} >
          {{ document.formId.categoryId.secondCategory }} >
          {{ document.formId.formTitle }}
        </td>
        <td class="pc-table-title" colspan="1">문서 번호</td>
        <td class="pc-table-detail" colspan="4">{{ document.documentNumber }}</td>
      </tr>
      <tr>
        <td class="pc-table-title" colspan="1">기안 부서</td>
        <td class="pc-table-detail" colspan="4">{{ document.writeEmp.empDeptName }}</td>
        <td class="pc-table-title" colspan="1">기&nbsp;&nbsp;안&nbsp;&nbsp;자</td>
        <td class="pc-table-detail" colspan="4">{{ document.writeEmp.empName }}</td>
      </tr>
      <tr>
        <td class="pc-table-title" colspan="1">보존 연한</td>
        <td class="pc-table-detail" colspan="4">
          {% if document.preservationYear == 9999 %} 영구
          {% else %} {{ document.preservationYear }}년
          {% endif %}
        </td>
        <td class="pc-table-title" colspan="1">보안 등급</td>
        <td class="pc-table-detail" colspan="4">{{ document.securityLevel }}등급</td>
      </tr>
      <tr>
        <td class="pc-table-title" colspan="1">기안 일시</td>
        <td class="pc-table-detail" colspan="4">{{ document.draftDatetime | date:"Y.m.d. H:i:s" }}</td>
        <td class="pc-table-title" colspan="1">완료 일시</td>
        <td class="pc-table-detail" colspan="4">{{ document.approveDatetime | date:"Y.m.d. H:i:s" }}</td>
      </tr>
      {% if document.formId.approvalFormat == '신청' %}
        {% for approvals in approvalList %}
          {% for approval in approvals %}
            {% if approval.name == '신청' or approval.name == '승인'%}
              {% if approval.count > 0 %}
                <tr class="pc-table-title">
                  <td rowspan="3">{{ approval.name }}</td>
                {% for a in approval.data %}
                  <td rowspan="1" class="font-weight-normal">{{ a.approvalEmp__empPosition__positionName}}</td>
                {% endfor %}
                </tr>
                <tr>
                {% for a in approval.data %}
                  <td rowspan="1" height="70px" class="text-center">
                  {% if a.approvalStatus == '완료' %}
                    <div><img src="/media/{{ a.approvalEmp__empStamp }}" width="100%"></div>
                    <div>{{ a.approvalDatetime | date:"Y.m.d" }}</div>
                  {% elif a.approvalStatus == '반려' %}
                    <div><img src="/media/stamp/rejected.png" width="100%"></div>
                    <div>{{ a.approvalDatetime | date:"Y.m.d" }}</div>
                  {% elif a.approvalStatus == '대기' %}
                    {% if document.documentStatus == '진행' and user.employee.empId == a.approvalEmp and a.approvalEmp in do_approval %}
                      <span>
                        <button class="btn btn-primary" onclick="btn_approve('{{ a.approvalId }}')">승인</button>
                        <button class="btn btn-danger" onclick="btn_reject('{{ a.approvalId }}')">반려</button></span>
                    {% else %}
                      <span>대기</span>
                    {% endif %}
                  {% elif a.approvalStatus == '정지' %}
                    <span>-</span>
                  {% endif %}
                  </td>
                {% endfor %}
                </tr>
                <tr class="pc-table-bottom">
                {% for a in approval.data %}
                  <td rowspan="1">{{ a.approvalEmp__empName}}</td>
                {% endfor %}
                </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% elif document.formId.approvalFormat == '결재' %}
        {% for approvals in approvalList %}
          {% for approval in approvals %}
            {% if approval.name == '결재' or approval.name == '합의' or approval.name == '재무합의' %}
              {% if approval.count > 0 %}
                <tr class="pc-table-title">
                  <td rowspan="3">{{ approval.name }}</td>
                {% for a in approval.data %}
                  <td rowspan="1" class="font-weight-normal">{{ a.approvalEmp__empPosition__positionName }}</td>
                {% endfor %}
                </tr>
                <tr>
                {% for a in approval.data %}
                  <td rowspan="1" height="70px" class="text-center">
                  {% if a.approvalStatus == '완료' %}
                    <div><img src="/media/{{ a.approvalEmp__empStamp }}" width="100%"></div>
                    <div>{{ a.approvalDatetime | date:"Y.m.d" }}</div>
                  {% elif a.approvalStatus == '반려' %}
                    <div><img src="/media/icon/rejected.png" width="45%"></div>
                    <div>{{ a.approvalDatetime | date:"Y.m.d" }}</div>
                  {% elif a.approvalStatus == '대기' %}
                    {% if document.documentStatus == '진행' and user.employee.empId == a.approvalEmp and a.approvalEmp in do_approval %}
                    <span>
                      <button class="btn btn-primary" onclick="btn_approve('{{ a.approvalId }}')">승인</button>
                      <button class="btn btn-danger" onclick="btn_reject('{{ a.approvalId }}')">반려</button>
                    </span>
                    {% else %}
                    <span>대기</span>
                    {% endif %}
                  {% elif a.approvalStatus == '정지' %}
                    <span>-</span>
                  {% endif %}
                  </td>
                {% endfor %}
                </tr>
                <tr class="pc-table-bottom">
                {% for a in approval.data %}
                  <td rowspan="1">{{ a.approvalEmp__empName }}</td>
                {% endfor %}
                </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endif %}
      {% for approval in reference %}
        {% if approval.count > 0 %}
          <tr class="pc-table-title">
            <td rowspan="3">{{ approval.name }}</td>
          {% for a in approval.data %}
            <td rowspan="1" class="font-weight-normal">{{ a.approvalEmp__empPosition__positionName }}</td>
          {% endfor %}
          </tr>
          <tr>
          {% for a in approval.data %}
            <td rowspan="1" class="text-center">
            {% if a.approvalStatus == '완료' %}
              <i class="text-primary fas fa-check"></i>
            {% elif a.approvalStatus == '대기' %}
              {% if user.employee.empId == a.approvalEmp and a.approvalEmp in check_approval%}
              <span>
                <button class="btn btn-info" onclick="document.location.href='/approval/approvedocument/{{a.approvalId}}/'">확인</button>
              </span>
              {% else %}
              <span>대기</span>
              {% endif %}
            {% elif a.approvalStatus == '정지' %}
              <span>-</span>
            {% endif %}
            </td>
          {% endfor %}
          </tr>
          <tr class="pc-table-bottom">
          {% for a in approval.data %}
            <td rowspan="1">{{ a.approvalEmp__empName }}</td>
          {% endfor %}
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
    </div>

    {#  모바일 화면  #}
    {% if document.documentStatus == "삭제" %}
    <div class="text-center text-secondary h6" id="mobileDelete">결재가 취소되거나 삭제된 문서입니다.</div>
    <div class="d-none">
    {% else %}
    <div>
    {% endif %}
    <table id="mobile-table" class="pc-table">
      <tr><td colspan="3" class="bg-secondary text-center text-white"> 문 서</td></tr>
      <tr>
        <td class="text-center bg-gray-200 font-weight-bold" colspan="1">문서 종류</td>
        <td colspan="2">
          {{ document.formId.categoryId.firstCategory }} >
          {{ document.formId.categoryId.secondCategory }} >
          {{ document.formId.formTitle }}
        </td>
      </tr>
      <tr>
        <td class="text-center bg-gray-200 font-weight-bold" colspan="1">문서 번호</td>
        <td colspan="2">{{ document.documentNumber }}</td>
      </tr>
      <tr>
        <td class="text-center bg-gray-200 font-weight-bold" colspan="1">기안 부서</td>
        <td colspan="2">{{ document.writeEmp.empDeptName }}</td>
      </tr>
      <tr>
        <td class="text-center bg-gray-200 font-weight-bold" colspan="1">기&nbsp;&nbsp;안&nbsp;&nbsp;자</td>
        <td colspan="2">{{ document.writeEmp.empName }}</td>
      </tr>
      <tr>
        <td class="text-center bg-gray-200 font-weight-bold" colspan="1">보존 연한</td>
        <td colspan="2">
          {% if document.preservationYear == 9999 %} 영구
          {% else %} {{ document.preservationYear }}년
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="text-center bg-gray-200 font-weight-bold" colspan="1">보안 등급</td>
        <td colspan="2">{{ document.securityLevel }}등급</td>
      </tr>
      <tr>
        <td class="text-center bg-gray-200 font-weight-bold" colspan="1">기안 일시</td>
        <td colspan="2">{{ document.draftDatetime | date:"Y.m.d. H:i:s" }}</td>
      </tr>
      <tr>
        <td class="text-center bg-gray-200 font-weight-bold" colspan="1">완료 일시</td>
        <td colspan="2">{{ document.approveDatetime | date:"Y.m.d. H:i:s" }}</td>
      </tr>
      <tr><td colspan="3" class="bg-secondary text-center text-white"> 결 재</td></tr>
    {% if document.formId.approvalFormat == '신청' %}
        {% for approvals in approvalList %}
          {% for approval in approvals %}
            {% if approval.name == '신청' or approval.name == '승인'%}
              {% if approval.count > 0 %}
                {% for a in approval.data %}
                  {% if a.approvalStatus == '완료' %}
                    <tr>
                       <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                       <td colspan="2">{{ a.approvalEmp__empName}}(<span class="text-primary">승인</span>)</td>
                    </tr>
                  {% elif a.approvalStatus == '반려' %}
                    <tr>
                      <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                      <td colspan="2">{{ a.approvalEmp__empName}}(<span class="text-danger">반려</span>)</td>
                    </tr>
                  {% elif a.approvalStatus == '대기' %}
                    {% if document.documentStatus == '진행' and user.employee.empId == a.approvalEmp and a.approvalEmp in do_approval %}
                      <tr>
                      <span>
                        <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                        <td colspan="2">{{ a.approvalEmp__empName}}
                        <button class="btn btn-primary" onclick="btn_approve('{{ a.approvalId }}')">승인</button>
                        <button class="btn btn-danger" onclick="btn_reject('{{ a.approvalId }}')">반려</button>
                        </td>
                      </span>
                      </tr>
                    {% else %}
                      <tr>
                        <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                        <td colspan="2">{{ a.approvalEmp__empName}}(<span>대기</span>)</td>
                      </tr>
                    {% endif %}
                  {% elif a.approvalStatus == '정지' %}
                    <tr>
                      <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                      <td colspan="2">{{ a.approvalEmp__empName}}(<span>-</span>)</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% elif document.formId.approvalFormat == '결재' %}
        {% for approvals in approvalList %}
          {% for approval in approvals %}
            {% if approval.name == '결재' or approval.name == '합의' or approval.name == '재무합의' %}
              {% if approval.count > 0 %}
                {% for a in approval.data %}
                  {% if a.approvalStatus == '완료' %}
                    <tr>
                       <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                       <td colspan="2">{{ a.approvalEmp__empName}}(<span class="text-primary">승인</span>)</td>
                    </tr>
                  {% elif a.approvalStatus == '반려' %}
                    <tr>
                      <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                      <td colspan="2">{{ a.approvalEmp__empName}}(<span class="text-danger">반려</span>)</td>
                    </tr>
                  {% elif a.approvalStatus == '대기' %}
                    {% if document.documentStatus == '진행' and user.employee.empId == a.approvalEmp and a.approvalEmp in do_approval %}
                      <tr>
                      <span>
                        <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                        <td colspan="2">{{ a.approvalEmp__empName}}
                        <button class="btn btn-primary" onclick="btn_approve('{{ a.approvalId }}')">승인</button>
                        <button class="btn btn-danger" onclick="btn_reject('{{ a.approvalId }}')">반려</button>
                        </td>
                      </span>
                      </tr>
                    {% else %}
                      <tr>
                        <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                        <td colspan="2">{{ a.approvalEmp__empName}}(<span>대기</span>)</td>
                      </tr>
                    {% endif %}
                  {% elif a.approvalStatus == '정지' %}
                    <tr>
                      <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                      <td colspan="2">{{ a.approvalEmp__empName}}(<span>-</span>)</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endif %}
      {% for approval in reference %}
        {% if approval.count > 0 %}
          {% for a in approval.data %}
            {% if a.approvalStatus == '완료' %}
              <tr>
                 <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                 <td colspan="2">{{ a.approvalEmp__empName}}(<span class="text-primary"><i class="text-primary fas fa-check"></i></span>)</td>
              </tr>
            {% elif a.approvalStatus == '대기' %}
              {% if user.employee.empId == a.approvalEmp and a.approvalEmp in check_approval%}
              <tr>
                <span>
                  <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                  <td colspan="2">{{ a.approvalEmp__empName}}
                  <button class="btn btn-info" onclick="document.location.href='/approval/approvedocument/{{a.approvalId}}/'">확인</button>
                  </td>
                </span>
              </tr>
              {% else %}
              <tr>
                <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                <td colspan="2">{{ a.approvalEmp__empName}}(<span>대기</span>)</td>
              </tr>
              {% endif %}
            {% elif a.approvalStatus == '정지' %}
              <tr>
                <td class="text-center bg-gray-200">{% ifchanged a.approvalCategory %}<b>{{ a.approvalCategory }}</b><br>{% endifchanged %}</td>
                <td colspan="2">{{ a.approvalEmp__empName}}(<span>-</span>)</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </table>
    </div>

    {% if document.documentStatus == "삭제" %}
    <div class="d-none">
    {% else %}
    <div>
    {% endif %}
    {# 제목 본문#}
      <div class="mt-3 mb-3 text-gray-900">
        <label class="text-primary font-weight-bold">제목</label>
        <div class="mb-4" id="documenttitle">{{ document.title }}</div>
        <hr>
        <label class="text-primary font-weight-bold">내용</label>
        <div class="overflow-auto">
           {{ document.contentHtml | safe }}
        </div>
        <br>
        {% if files or related %}
          <hr>
          <br>
          <div class="row">
            {% if files %}
              <div class="col-6">
                <b>첨부파일</b>
                {% for f in files %}
                <br><a href="/media/{{ f.file }}" download>{{ f.fileName }} ({{ f.fileSize }}MB)</a>
                {% endfor %}
              </div>
            {% endif %}
            {% if related %}
              <div class="col-6">
                <b>관련문서</b>
                {% for r in related %}
                <br>
                <a href="/approval/viewdocument/{{ r.relatedDocumentId.documentId }}" target="_blank">
                  [{{ r.relatedDocumentId.documentNumber }}]
                  {{ r.relatedDocumentId.title }}
                </a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% if document.documentStatus == '임시' and document.writeEmp == user.employee %}
        <div class="text-center mb-3">
          <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_delete()">
            <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
            <span class="text">삭제</span>
          </a>
          <a href="#" class="btn btn-success btn-icon-split" onclick="btn_modify()">
            <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
            <span class="text">수정</span>
          </a>
        </div>
      {% elif document.documentStatus == '진행' and draftCancelStatus == True %}
        <div class="text-center mb-3">
          <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_draftCancel()">
            <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
            <span class="text">기안취소</span>
          </a>
        </div>
      {% endif %}

      <hr>
      <div>
        <label class="text-primary font-weight-bold mb-3">의견</label>
        <form id="documentComment" method="POST" enctype="multipart/form-data" class="input-group mb-3">
          {% csrf_token %}
          <input name="documentId" class="d-none" value="{{ document.documentId }}">
          <input name="comment" type="text" class="form-control" onkeydown="javascript: if (event.keyCode == 13) {btn_comment();}">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="btn_comment()">
              <i class="fas fa-check fa-sm"></i> 등록
            </button>
          </div>
        </form>
        <table class="pc-table">
          {% for comment in comments %}
          <tbody>
          <tr>
            <td class="comment-title" style="width: 25%">
              {% if comment.author == user.employee %}
              <i class="fas fa-trash-alt text-secondary" id="{{ comment.commentId }}" onclick="btn_commentdelete(this.id)"></i>
              {% endif %}
              {{ comment.author }}
            </td>
            <td class="comment-contentleft" style="width: 60%">{{ comment.comment }}</td>
            <td class="comment-contentcenter d-none d-xl-table-cell" style="width: 15%">{{ comment.updated | date:"Y.m.d H:i:s" | slice:"2:" }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- email Modal -->
  <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="documentModalLabel">결재문서 전송</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="emailForm" action="/approval/viewdocumentemail/{{ document.documentId }}/" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_email();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-3 pr-0 mb-sm-0">
                <input type="text" class="form-control" id="empEmail" name="empEmail">
              </div>
              <div class="col-1 pt-1">
                <span class="text-info">@</span>
              </div>
              <div class="col-4 pl-0">
                <input type="text" class="form-control" id="address" name="address">
              </div>
              <div class="col-4 pl-0 mb-sm-0">
                <select type="text" class="form-control" id="selectaddress" name="selectaddress" onchange="change_email(this.value)">
                  <option value="직접입력">직접입력</option>
                  <option value="unioneinc.co.kr">unioneinc.co.kr</option>
                  <option value="naver.com">naver.com</option>
                  <option value="gmail.com">gmail.com</option>
                  <option value="hanmail.com">hanmail.net</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_email()">전송</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}
<script type="text/javascript">
    function btn_modify() {
        location.href = '/approval/modifydocument/{{ document.documentId }}/';
    }

    function btn_delete() {
        if (confirm('삭제하시겠습니까?')) {
            location.href = '/approval/deletedocument/{{ document.documentId }}/'
        }
    }

    function btn_draftCancel() {
        if (confirm('기안 취소시, 해당 문서의 결재는 초기화 되며 임시문서로 저장됩니다.\n기안 취소하시겠습니까?')) {
            location.href = '/approval/draftcancel/{{ document.documentId }}/'
        }
    }

    function btn_copy() {
        if (confirm('문서를 복사하시겠습니까?')) {
            location.href = '/approval/copydocument/{{ document.documentId }}/'
        }
    }

    function btn_commentdelete(commentId) {
        if (confirm('삭제하시겠습니까?')) {
            location.href = '/approval/deletecomment/' + commentId
        }
    }

    function btn_approve(approvalId) {
        if (confirm('결재승인 하시겠습니까?')) {
            location.href='/approval/approvedocument/' + approvalId + '/';
        } else {
            return false;
        }
    }

    function btn_reject(approvalId) {
        if (confirm('결재반려 하시겠습니까?')) {
            location.href='/approval/returndocument/' + approvalId + '/';
        } else {
            return false;
        }
    }

    function changeFont(width) {
        if (window.innerWidth < width) {
            $('#title').removeClass('h3');
            $('#documenttitle').removeClass('h5');
            $('#pc-table').hide();
            $('#pcDelete').hide();
            $('#mobileDelete').show();
            $('#mobile-table').show();
        } else {
            $('#title').addClass('h3');
            $('#documenttitle').addClass('h5');
            $('#pc-table').show();
            $('#pcDelete').show();
            $('#mobileDelete').hide();
            $('#mobile-table').hide();

        }
      }

    function change_email(val) {
      const address = $("#address");

        if(val=='직접입력'){
            address.removeAttr("readonly");
            address.val('');

        }else{
            address.val(val);
            address.attr("readonly",true);
        }

    }
    function btn_email() {
        const smtpEmail = $('#smtpEmail').val();
        const smtpStatus = $('#smtpStatus').val();
        const emailForm = $("#emailForm");
        console.log(smtpEmail, smtpStatus);
        if(smtpStatus == '정상' && smtpEmail != '') {
            emailForm.submit();
        }else{
            alert('이메일 전송기능은 SMTP 설정이 되어있어야 사용가능합니다.\n 관리자 이메일등록을 해주세요 :)');
        }
    }

    function btn_comment() {
        const form = $('#documentComment');
        form.attr('action', '/approval/postdocumentcomment/');
        form.submit();
    }

    $(window).resize(function() {
        changeFont(1200);
    });

    $(document).ready(function () {
        changeFont(1200);
        const reference = $('#reference');
        {% if reference %}
          reference.attr("data-id", "{{ reference }}");
        {% endif %}
        $('.empName').magicsearch({
            dataSource: {{ empNames|safe }},
            fields: 'name',
            id: 'id',
            multiple: true,
            multiField: 'name',
            format: '%name% %position% (%dept%)',
            multiStyle: {space: 5, width: 80},
            noResult: '검색결과없음',
            focusShow: false,
        });

        // Input 양식 비활성화
        const noteInputDate = $('.note-input-date');
        noteInputDate.attr('disabled', 'disabled');
        const noteInputMoney = $('.note-input-money');
        noteInputMoney.attr('disabled', 'disabled');
        const noteInputCheckbox = $('.note-input-checkbox');
        noteInputCheckbox.attr('onclick', 'return false');

    })

</script>
{% endblock %}
