{% extends 'usone/layout.html' %}
{% block content %}

    <div id="content" class="colM">

        <h1>비밀번호 변경</h1>
        <div id="content-main">

            <form method="post">
                {% csrf_token %}

                <div>

                    <fieldset class="module aligned wide">

                        <div class="form-row">

                            <label for="id_old_password"><br>기존 비밀번호:</label> <br> <input class="form-control"
                                                                                          type="password"
                                                                                          name="old_password"
                                                                                          autofocus="" required=""
                                                                                          id="id_old_password">
                        </div>

                        <div class="form-row">

                            <label for="id_new_password1"><br>새 비밀번호:</label> <br> <input class="form-control"
                                                                                          type="password"
                                                                                          name="new_password1"
                                                                                          required=""
                                                                                          id="id_new_password1">

                        </div>

                        <div class="form-row">

                            <label for="id_new_password2"><br>새 비밀번호 (확인):</label> <br> <input class="form-control"
                                                                                               type="password"
                                                                                               name="new_password2"
                                                                                               required=""
                                                                                               id="id_new_password2">

                            <div class="help"><br>
                                <ul>
                                    <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
                                    <li>비밀번호는 전부 숫자로 할 수 없습니다.</li>
                                </ul>
                            </div>

                        </div>

                    </fieldset>
                    <div align="right">
                        <a href="{% url 'usone:index' %}">
                            <button type="button" class="btn btn-danger">취소</button>
                        </a>
                        <input type="submit" class="save btn btn-success" value="변경">

                    </div>
                </div>

            </form>
        </div>


        <br class="clear">

    </div>

{% endblock %}
