{% extends "dashboard/layout.html" %}


{% block title %}
  고객사
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-2"></div>

    <div class="col-xl-8">

      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800">거래처 등록</h6>
        </div>

        <div class="card-body">
          <form id="CompanyForm" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="col-sm-6">
                <label for="companyName" class="font-weight-bold text-primary">거래처 명</label>
                {{ form.companyName }}
              </div>
              <div class="col-sm-6">
                <label for="ceo" class="font-weight-bold">대표자</label>
                {{ form.ceo }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-6">
                <label for="companyNumber" class="font-weight-bold">사업자등록번호</label>
                {{ form.companyNumber }}
              </div>
              <div class="col-sm-6">
                <label for="companyPhone" class="font-weight-bold">전화번호</label>
                {{ form.companyPhone }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-6">
                <label for="companyAddress" class="font-weight-bold">주소</label>
                {{ form.companyAddress }}
              </div>
              <div class="col-sm-6">
                <label for="companyType" class="font-weight-bold">거래처종류</label>
                {{ form.companyType }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-12">
                <label for="companyComment" class="font-weight-bold">참고사항</label>
                {{ form.companyComment }}
              </div>
            </div>

            <div class="text-center">
              <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_cancel()">
                <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
                <span class="text"> 취소 </span>
              </a>
              <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">
                <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
                <span class="text"> 저장 </span>
              </a>
            </div>
          </form>
        </div>

      </div>

    </div>

    <div class="col-xl-2"></div>
  </div>

{% endblock %}


{% block script %}

<script type="text/javascript">
    function btn_cancel() {
        if (confirm("취소하시겠습니까?") === true) {
            history.back();
        } else {
            return false;
        }
    }

    function btn_save() {
        const companyName = document.getElementById("companyName").value;
        if (companyName === '') {
            alert("고객사 명을 입력해주세요.");
            return false;
        }
        if ($('#companyName').attr('readonly') === 'readonly'){
            if (confirm("수정 하시겠습니까?") === true) {
                document.getElementById("CompanyForm").submit();
            }
        } else {
            $.ajax({
                url: "{% url 'client:checkcompany' %}",
                method: 'POST',
                cache: false,
                data: {
                    "companyName": companyName,
                },
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (returnData) {
                    if (returnData === 'N') {
                        alert('이미 등록된 고객사입니다.');
                        return false;
                    } else if (returnData === 'Y') {
                        if (confirm("고객사 등록을 하시겠습니까?") === true) {
                            document.getElementById("CompanyForm").submit();
                        }
                    }
                }
            });
        }
    }

    $(document).ready(function () {
        if ($('#companyName').val() !== '') {
            $('#companyName').attr('readonly', true);
        }
    })
</script>

{% endblock %}