{% extends "dashboard/layout.html" %}


{% block title %}
  고객사
{% endblock %}


{% block css %}

  <style type="text/css">

  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800">고객사</h6>

          <div class="dropdown no-arrow">
            <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
              <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
            </a>
            {% if user.employee.empDeptName == '경영지원본부' or user.is_staff %}
            <a class="btn btn-primary" href="/client/postclient/" role="button">
              <i class="fas fa-pen d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-pen"></i> 등록</span>
            </a>
            {% endif %}
          </div>
        </div>

        <div class="card-body">
          {% csrf_token %}

          <div class="table-responsive">
            <table id="showclientlist" class="hover row-border" width="100%" style="width: 100%;">
              <thead>
              <tr>
                <th>[한글] 고객사 명</th>
                <th>[영문] 고객사 명</th>
                <th>담당자</th>
                <th>고객사대표</th>
                <th>사업자등록번호</th>
                <th>주소</th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-1"></div>
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-12">
                <label for="empName" class="font-weight-light text-primary">성함</label>
                <input type="text" class="form-control" id="empName" name="empName">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-12">
                <label for="companyName" class="font-weight-light text-primary">고객사</label>
                <input type="text" class="form-control" id="companyName" name="companyName">
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      function btn_filter() {
          document.getElementById("filterForm").submit();
      }

      $(document).ready(function () {
          $('#showclientlist').DataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      "companyName": {% if companyName %}"{{ companyName }}",{% else %}"",{% endif %}
                      "empName": {% if empName %}"{{ empName }}",{% else %}"",{% endif %}
                      "chkbox": {% if chkbox %}"{{ chkbox }}",{% else %}"",{% endif %}
                  },
                  "url": "{% url 'client:filter_ajax_url' %}",
                  "dataSrc": ""
              },
              columns: [
                  {data: "companyNameKo"},
                  {data: "companyName"},
                  {data: "saleEmpId__empName"},
                  {data: "ceo"},
                  {data: "companyNumber"},
                  {data: "companyAddress"},
              ],
              columnDefs: [
                  {targets: 0, width: "15%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {targets: 1, width: "15%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 4, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 5, width: "30%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
              ],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollX": true,
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  if (aData.companyName != "") {
                      $('td:eq(0)', nRow).addClass('text-primary');
                      $('td:eq(1)', nRow).addClass('text-danger');
                  }
              }
          });


          var table = $('#showclientlist').DataTable();

          $("#showclientlist").on("click", 'tr', function () {
              const data = table.row(this).data();
              location.href = '/client/viewclient/' + data.companyName + '/'
          });

      });

  </script>

{% endblock %}