{% extends "dashboard/layout.html" %}


{% block title %}
  고객사
{% endblock %}


{% block css %}

  <style type="text/css">

  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-1"></div>

    <div class="col-xl-10 d-xl-block">
      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800">고객사</h6>

          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
              <i class="fas fa-filter fa-fw text-gray-400"></i>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="dropdown-toggle" href="/client/postclient/" role="button">
              <i class="fas fa-plus fa-fw text-gray-400"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          {% csrf_token %}

          <div class="table-responsive">
            <table id="showclientlist" class="hover row-border" width="100%" style="width: 100%;">
              <thead>
              <tr>
                <th>고객사</th>
                <th>영업대표</th>
                <th>DB담당자</th>
                <th>SYSTEM담당자</th>
                <th>DB계약만료일</th>
                <th>SYSTEM계약만료일</th>
              </tr>
              </thead>
            </table>
          </div>

        </div>

      </div>
    </div>

    <div class="col-xl-1"></div>
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row">
              <div class="col-4 text-center">
                <label class="checkbox"><input type="checkbox" name="chkbox" value="present" checked> 현재 고객사</label>
              </div>
              <div class="col-4 text-center">
                <label class="checkbox"><input type="checkbox" name="chkbox" value="past"> 과거 고객사</label>
              </div>
              <div class="col-4 text-center">
                <label class="checkbox"><input type="checkbox" name="chkbox" value="wait"> 등록대기</label>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-12">
                <label for="empName" class="font-weight-light text-primary">성함</label>
                <input type="text" class="form-control" id="empName" name="empName">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-12">
                <label for="companyName" class="font-weight-light text-primary">고객사</label>
                <input type="text" class="form-control" id="companyName" name="companyName">
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      function btn_filter() {
          document.getElementById("filterForm").submit();
      }

      $(document).ready(function () {


          {% if filter == 'Y'%}
              $('#showclientlist').DataTable({
                  "processing": true,
                  "ajax": {
                      "processing": true,
                      "type": 'POST',
                      "data": {
                          "companyName": {% if companyName %}"{{ companyName }}",{% else %}"",{% endif %}
                          "empName": {% if empName %}"{{ empName }}",{% else %}"",{% endif %}
                          "chkbox": {% if chkbox %}"{{ chkbox }}",{% else %}"",{% endif %}
                      },
                      "url": "{% url 'client:filter_ajax_url' %}",
                      "dataSrc": ""
                  },
                  columns: [
                      {data: "companyName"},
                      {data: "saleEmpId__empName"},
                      {
                          data: "dbMainEmpId__empName",
                          render: function (data, type, row) {
                              var value = row["dbMainEmpId__empName"];
                              var value2 = row["dbSubEmpId__empName"];
                              if (value == null) {
                                  value = '';
                              }
                              if (value2 == null) {
                                  value2 = '';
                              }
                              return value + '/' + value2;
                          }
                      },
                      {
                          data: "solutionMainEmpId__empName",
                          render: function (data, type, row) {
                              var value = row["solutionMainEmpId__empName"];
                              var value2 = row["solutionSubEmpId__empName"];
                              if (value == null) {
                                  value = '';
                              }
                              if (value2 == null) {
                                  value2 = '';
                              }
                              return value + '/' + value2;
                          }
                      },
                      {data: "dbContractEndDate"},
                      {data: "solutionContractEndDate"},
                  ],
                  columnDefs: [
                      {targets: 0, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 1, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 2, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 3, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 4, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 5, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  ],
                  "searching": true,
                  "paging": true,
                  "info": false,
                  "scrollY": "80vh",
                  "scrollCollapse": true,
                  "language": {
                      "lengthMenu": "_MENU_ 개씩 보기",
                      "search": "검색:",
                      "paginate": {
                          "first": "처음",
                          "last": "끝",
                          "next": "다음",
                          "previous": "이전"
                      },
                  }
              });
          {% else %}
              $('#showclientlist').DataTable({
                  "processing": true,
                  "ajax": {
                      "processing": true,
                      "url": "{% url 'client:list_ajax_url' %}",
                      "dataSrc": ""
                  },
                  columns: [
                      {data: "companyName"},
                      {data: "saleEmpId__empName"},
                      {
                          data: "dbMainEmpId__empName",
                          render: function (data, type, row) {
                              var value = row["dbMainEmpId__empName"];
                              var value2 = row["dbSubEmpId__empName"];
                              if (value == null) {
                                  value = '';
                              }
                              if (value2 == null) {
                                  value2 = '';
                              }
                              return value + '/' + value2;
                          }
                      },
                      {
                          data: "solutionMainEmpId__empName",
                          render: function (data, type, row) {
                              var value = row["solutionMainEmpId__empName"];
                              var value2 = row["solutionSubEmpId__empName"];
                              if (value == null) {
                                  value = '';
                              }
                              if (value2 == null) {
                                  value2 = '';
                              }
                              return value + '/' + value2;
                          }
                      },
                      {data: "dbContractEndDate"},
                      {data: "solutionContractEndDate"},
                  ],
                  columnDefs: [
                      {targets: 0, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 1, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 2, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 3, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 4, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 5, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  ],
                  "searching": true,
                  "paging": true,
                  "info": false,
                  "scrollY": "80vh",
                  "scrollCollapse": true,
                  "language": {
                      "lengthMenu": "_MENU_ 개씩 보기",
                      "search": "검색:",
                      "paginate": {
                          "first": "처음",
                          "last": "끝",
                          "next": "다음",
                          "previous": "이전"
                      },
                  }
              });
          {% endif %}

          var table = $('#showclientlist').DataTable();
      
          $("#showclientlist").on("click", 'tr', function () {
              const data = table.row(this).data();
              location.href = '/client/viewclient/' + data.companyName + '/'
          });

      });

  </script>

{% endblock %}