{% extends "dashboard/layout.html" %}


{% block title %}
  거래처
{% endblock %}


{% block css %}

  <style type="text/css">

    .table {
      color: #585858;
      font-weight: normal;
    }

    .table td, .table th {
      padding: .75rem;
      vertical-align: middle;
      border-top: 1px solid #ffffff;
      white-space: normal;
    }

    .a {
      background-color: #e4f1f8;
      text-align: center;
      font-weight: bold;
    }

    .c {
      font-size: 0.8vw;
    }

    .d {
      font-size: 1.4vw;
    }

    @media only screen and (max-width: 800px) {
      .b {
        display: none;
      }

      .table {
        font-size: 12px;
      }

      .c {
        font-size: 12px;
      }

      #register {
        display: none;
      }

    }


  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-12 ">
      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> {{ company.companyName }} </h6>
        </div>

        <div class="card-body">
          {% csrf_token %}
          <table class="table mb-0" width="100%">
            <tbody>
            <tr class="row">
              <td class="col-sm-2 a">대 표 자</td>
              <td class="col-sm-4">{% if company.ceo %}{{ company.ceo }}{% endif %}</td>
              <td class="col-sm-2 a">거래처종류</td>
              <td class="col-sm-4">{{ company.companyType }}</td>
            </tr>
            <tr class="row">
              <td class="col-sm-2 a">사업자등록번호</td>
              <td class="col-sm-4">{% if company.companyNumber %}{{ company.companyNumber }}{% endif %}</td>
              <td class="col-sm-2 a">전 화 번 호</td>
              <td class="col-sm-4">{% if company.companyPhone %}{{ company.companyPhone }}{% endif %}</td>
            </tr>
            <tr class="row">
            </tr>
            <tr class="row">
              <td class="col-sm-2 a">주 소</td>
              <td class="col-sm-10">{% if company.companyAddress %}{{ company.companyAddress }}{% endif %}</td>
            </tr>
            <tr class="row">
              <td class="col-sm-2 a">참 고 사 항</td>
              <td class="col-sm-10">{% if company.companyComment %}{{ company.companyComment }}{% endif %}</td>
            </tr>
            <tr class="row">
              <th class="col-sm-2 a">담 당 자<br>
                <a href="#" class="btn btn-info btn-icon-split btn-sm" onclick="location.href='/client/postcustomer/{{ company.companyName }}'">
                  <span id="check" class="icon text-white-50"><i class="fas fa-plus"></i></span>
                  <span id="register" class="text">등록</span>
                </a>
              </th>
              <td class="col-sm-10">
                {% for customer in customers %}
                  <a href="/client/viewcustomer/{{ customer.pk }}">
                    {{ customer.customerName }}{% if customer.customerPhone %}({{ customer.customerPhone }}){% else %}{% endif %}</a> <br>
                {% endfor %}
              </td>
            </tr>
            </tbody>
          </table>

          {% if user.is_staff %}
          <div class="text-center">
            <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_delete()">
              <span class="icon text-white-50"> <i class="fas fa-trash"> </i> </span>
              <span class="text"> 삭제 </span>
            </a>
            <a href="/client/modifyclient/{{ company.companyName }}/" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
              <span class="text"> 수정 </span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-700">프로젝트 이력</h6>
        </div>
        <div class="card-body">
          <table id="showcontracts" class="mb-0 text-gray-600" width="100%">
            <thead>
            <tr class="bg-light">
              <th>구분</th>
              <th>담당부서</th>
              <th>담당자</th>
              <th>프로젝트명</th>
              <th>거래처</th>
              <th>매출금액</th>
              <th>이익금액</th>
              <th>계약일</th>
              <th class="d-none">contractId</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th style="text-align: right; padding: 8px 10px;">TOTAL :</th>
              <th style="text-align: right; padding: 8px 10px;"></th>
              <th style="text-align: right; padding: 8px 10px;"></th>
              <th></th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-700">작업 이력</h6>
        </div>
        <div class="card-body">
          <table id="showservices" class="mb-0 text-gray-600" width="100%">
            <thead>
            <tr class="bg-light">
              <th>날짜</th>
              <th>성함</th>
              <th>부서</th>
              <th>구분</th>
              <th>작업시간</th>
              <th>초과근무</th>
              <th>내용</th>
              <th class="d-none">serviceId</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th>TOTAL :</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      function btn_delete() {
          if (confirm('이 거래처를 삭제하시겠습니까?') === true) {
              location.href = '/client/deleteclient/{{ company.companyName }}/';
              console.log('삭제');
          }
      }
      function replaceAll(str, searchStr, replaceStr) {
          var new_str = str.split(searchStr).join(replaceStr);
          return new_str.split("T").join(" ").slice(0, 10);
      }

      function db_comment() {
          $('#dbcommentSave').css("display", "inline");
          $('#dbtextArea').css("display", "inline");
          $('#dbcomment').css("display", "none");
      }

      function sol_comment() {
          $('#solcommentSave').css("display", "inline");
          $('#soltextArea').css("display", "inline");
          $('#solcomment').css("display", "none");
      }

      function dbcommentSubmit() {
          $("#dbsaveComment").submit();
      }

      function solcommentSubmit() {
          $("#solsaveComment").submit();
      }

      $(document).ready(function () {
          $('#showcontracts').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      "userId": "{{ user.employee.empId }}",
                      "startdate": "",
                      "enddate": "",
                      "contractStep": "",
                      "empDeptName": "",
                      "empName": "",
                      "companyName": "{{ company.companyName }}",
                      "saleCompanyName": "",
                      "endCompanyName": "",
                      "contractName": "",
                      "mainCategory": "",
                      "drops": "N",
                      "modifyContractPaper": "",
                  },
                  "url": "{% url 'sales:contracts_ajax_url' %}",
                  "dataSrc": ""
              },
              "columns": [
                  {data: 'contractStep'},
                  {data: 'empDeptName'},
                  {data: 'empName'},
                  {
                      data: 'contractName',
                      render: function (data, type, row) {
                          return '[' + row["contractCode"] + '] ' + row["contractName"];
                      }
                  },
                  {data: 'saleCompanyName__companyNameKo'},
                  {data: 'salePrice'},
                  {data: 'profitPrice'},
                  {data: 'contractDate'},
                  {data: 'contractId'},
              ],
              "columnDefs": [
                  {targets: 0, width: "7%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 1, width: "7%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 2, width: "7%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 3, width: "39%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap c"},
                  {targets: 4, width: "10%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap c"},
                  {targets: 5, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap c"},
                  {targets: 6, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap c"},
                  {targets: 7, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 8, visible: false}
              ],
              "deferRender": true,
              "order": [[7, 'desc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollX": true,
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  $('td:eq(5)', nRow).text(aData.salePrice.toLocaleString());
                  $('td:eq(6)', nRow).text(aData.profitPrice.toLocaleString());
                  $('td:eq(7)', nRow).text(replaceAll(aData.contractDate, "-", "."));
                  if (aData.contractStep == 'Firm') {
                      $('td:eq(0)', nRow).css('color', '#4e73df');
                  } else if (aData.contractStep == 'Opportunity') {
                      $('td:eq(0)', nRow).css('color', '#1cc88a');
                  }
              },
              "footerCallback": function () {
                  var api = this.api(), data;

                  var revenueResult = 0;
                  api.column(5, {search: 'applied'}).data().each(function (data, index) {
                      revenueResult += parseFloat(data);
                  });
                  $(api.column(5).footer()).html(revenueResult.toLocaleString());

                  var profitResult = 0;
                  api.column(6, {search: 'applied'}).data().each(function (data, index) {
                      profitResult += parseFloat(data);
                  });
                  $(api.column(6).footer()).html(profitResult.toLocaleString());
              },
          });

          const contractstable = $('#showcontracts').DataTable();

          $("#showcontracts").on("click", 'tr', function () {
              const data = contractstable.row(this).data();
              window.open('about:blank').location.href = '/sales/viewcontract/' + data.contractId + '/'
          });

          $('#showservices').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      "companyName": "{{ company.companyName }}"
                  },
                  "url": "{% url 'client:service_ajax_url' %}",
                  "dataSrc": ""
              },
              "columns": [
                  {data: "serviceDate"},
                  {data: "empName"},
                  {data: "empDeptName"},
                  {data: "serviceType__typeName"},
                  {data: "serviceHour"},
                  {data: "serviceOverHour"},
                  {data: "serviceTitle"},
                  {data: "serviceId"},
              ],
              "columnDefs": [
                  {targets: 0, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 1, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 2, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 3, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 4, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 5, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 6, width: "30%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap c"},
                  {targets: 7, className: "d-none"},
              ],
              "deferRender": true,
              "order": [[0, 'desc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollX": true,
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              },
              "footerCallback": function () {
                  var api = this.api(), data;

                  var hour = 0;
                  api.column(4, {search: 'applied'}).data().each(function (data, index) {
                      hour += parseFloat(data);
                  });
                  $(api.column(4).footer()).html(hour.toLocaleString());

                  var overhour = 0;
                  api.column(5, {search: 'applied'}).data().each(function (data, index) {
                      overhour += parseFloat(data);
                  });
                  $(api.column(5).footer()).html(overhour.toLocaleString());
              },
          });

          var table = $('#showservices').DataTable();

          $("#showservices").on("click", 'tr', function () {
              const data = table.row(this).data();
              window.open('about:blank').location.href = '/service/viewservice/' + data.serviceId + '/'
          });
      });

  </script>

{% endblock %}