{% extends "dashboard/layout.html" %}


{% block title %}
  고객사 정보
{% endblock %}


{% block css %}

  <style type="text/css">

    .table {
      color: #333333;
    }

    .table td, .table th {
      padding: .75rem;
      vertical-align: middle;
      border-top: 1px solid #e3e6f0;
      text-align: center;
      white-space: normal;
    }

    .a {
      background-color: #f2f9f9;
    }

    .c {
      font-size: 0.9vw;

    }

    .d {
      font-size: 1.4vw;
    }

    @media only screen and (max-width: 800px) {
      .b {
        display: none;
      }

      .table {
        font-size: 1.2vw;
      }

      #register{
        display: none;
      }
    }


  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-1"></div>
    <!-- PC화면 -->
    <div class="col-xl-10 ">
      <div class="card shadow mb-4">
        <!-- 카드 제목 : 게시물 제목 -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> {{ company.companyName }} </h6>
        </div>
        <!-- 카드 본문 -->
        <div class="card-body">
          {% csrf_token %}
          <table class="table mb-0" width="100%">
            <tbody>
            <tr class="row">
              <td class="col-2 a"><b>영업대표</b></td>
              <td class="col-10">{{ company.saleEmpId.empName }}</td>
            </tr>

            <tr class="row">
              <td class="col-2 a"><b>주소</b></td>
              <td class="col-10">{{ company.companyAddress }}</td>
            </tr>

            <tr class="row">
              <th class="col-2 a">계약만료일</th>
              <td class="col-10">
                <table class="table table" style="margin-bottom: 0px">
                  <thead>
                  <tr class="row">
                    <td class="col-6"><B>DB지원팀</B></td>
                    <td class="col-6"><B>SOLUTION지원</B></td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="row">
                    <td class="col-6">{% if company.dbContractEndDate %}{{ company.dbContractEndDate }}{% else %}-{% endif %}</td>
                    <td class="col-6">{% if company.solutionContractEndDate %}{{ company.solutionContractEndDate }}{% else %}-{% endif %}</td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr class="row">
              <th class="col-2 a">담당자<br>
                <a href="#" class="btn btn-info btn-icon-split btn-sm" onclick="location.href='/client/postcustomer/{{ company.companyName }}'">
                    <span id="check" class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                  <span id="register" class="text" >담당자 등록</span>
                </a>
              </th>
              <td class="col-10">
                {% for customer in customers %}
                  <a href="/client/viewcustomer/{{ customer.pk }}">
                    {{ customer.customerName }}{% if customer.customerPhone %}({{ customer.customerPhone }}){% else %}{% endif %}</a> <br>
                {% endfor %}
              </td>
            </tr>

            <tr class="row">
              <th class="col-2 a">엔지니어</th>
              <td class="col-10">
                <table class="table table" style="margin-bottom: 0px">
                  <thead>
                  <tr class="row">
                    <td class="col-3"><B>DB 담당자(정)</B></td>
                    <td class="col-3"><B>DB 담당자(부)</B></td>
                    <td class="col-3"><B>SYSTEM 담당자(정)</B></td>
                    <td class="col-3"><B>SYSTEM 담당자(부)</B></td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="row">
                    <td class="col-3">{% if company.dbMainEmpId %}{{ company.dbMainEmpId.empName }}{% else %}-{% endif %}</td>
                    <td class="col-3">{% if company.dbSubEmpId %}{{ company.dbSubEmpId.empName }}{% else %}-{% endif %}</td>
                    <td class="col-3">{% if company.solutionMainEmpId %}{{ company.solutionMainEmpId.empName }}{% else %}-{% endif %}</td>
                    <td class="col-3">{% if company.solutionSubEmpId %}{{ company.solutionSubEmpId.empName }}{% else %}-{% endif %}</td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <tr class="row b">
              <th class="col-2 a">DB정보</th>
              <td class="col-10">
                <table class="table table" style="font-size: 12px">
                  <thead>
                  <tr>
                    <td><b>CLASSIFICATION</b></td>
                    <td><b>SID</b></td>
                    <td><b>VERSION</b></td>
                    <td><b>DBTYPE</b></td>
                    <td><b>OSTYPE</b></td>
                    <td><b>APPLIANCE</b></td>
                    <td><b>DUPLICATION</b></td>
                    <td><b>DATASIZE_MB</b></td>
                    <td><b>REMARKS</b></td>
                  </tr>
                  </thead>

                  <tbody>
                  {% for db in dbms %}
                    <tr>
                      <td> {{ db.CLASSIFICATION }} </td>
                      <td> {{ db.SID }} </td>
                      <td> {{ db.VERSION }} </td>
                      <td> {{ db.DBTYPE }} </td>
                      <td> {{ db.OSTYPE }} </td>
                      <td> {{ db.APPLIANCE }} </td>
                      <td> {{ db.DUPLICATION }} </td>
                      <td> {{ db.DATASIZE_MB }} </td>
                      <td> {{ db.REMARKS }} </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </td>
            </tr>

            <tr class="row b">
              <th class="col-2 a">SYSTEM정보</th>
              <td class="col-10">{{ company.companySystem }}</td>
            </tr>

            <tr class="row">
              <td class="col-2 a"><b>DB참고사항</b></td>
              <td class="col-10">
                <p id="db_comment_text">
                  {% if company.dbComment %}{{ company.dbComment }}{% else %}{% endif %}
                </p>
                {% if user.employee.empId == company.dbMainEmpId.empId or user.employee.empId == company.dbSubEmpId.empId %}
                  <form id="dbsaveComment" method="POST">
                    {% csrf_token %}
                    <textarea id="dbtextArea" name="dbtextArea" style="display: none" class="form-control" rows="3">{{ company.dbComment }}</textarea>
                    <button id="dbcommentSave" style="display: none" algin="right" class="btn btn-success c" onclick="dbcommentSubmit()">저장</button>
                  </form>
                  <button id="dbcomment" algin="right" class="btn btn-info c" onclick="db_comment()">참고사항작성</button>
                  <br>

                {% endif %}
              </td>
            </tr>

            <tr class="row">
              <th class="col-2 a">SYSTEM참고사항</th>
              <td class="col-10">
                <p id="sol_comment_text" method="POST">
                  {% if company.solutionComment %}{{ company.solutionComment }}{% else %}{% endif %}
                </p>
                {% if user.employee.empId == company.solutionMainEmpId.empId or user.employee.empId == company.solutionSubEmpId.empId %}
                  <form name="solsaveComment" method="POST">
                    {% csrf_token %}
                    <textarea id="soltextArea" name="soltextArea" style="display: none" class="form-control" rows="3"> </textarea>
                    <button id="solcommentSave" style="display: none" algin="right" class="btn btn-success c" onclick="solcommentSubmit()">저장</button>
                  </form>
                  <button id="solcomment" algin="right" class="btn btn-info c" onclick="sol_comment()">참고사항작성</button><br>
                {% endif %}
              </td>
            </tr>
            </tbody>
          </table>

        </div>
        <!--card body end -->
      </div>
      <div class="card shadow mb-4">
        <!-- 카드 제목 : 게시물 제목 -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> 이력 </h6>
        </div>
        <!-- 카드 본문 -->
        <div class="card-body">
          <table id="showclients" class="table mb-0" width="100%" style="color:black">
            <thead>
            <tr>
              <th class="d-none">No</th>
              <th>날짜</th>
              <th class="d-none">empId</th>
              <th>엔지니어</th>
              <th>부서</th>
              <th class="d-none">companyName</th>
              <th>지원타입</th>
              <th class="d-none">serviceStartDatetime</th>
              <th class="d-none">serviceEndDatetime</th>
              <th class="d-none">serviceFinishDatetime</th>
              <th class="d-none">serviceOverHour</th>
              <th class="d-none">serviceRegHour</th>
              <th class="d-none">serviceLocation</th>
              <th class="d-none">directgo</th>
              <th>지원내용</th>
              <th class="d-none">serviceDetails</th>
              <th class="d-none">customerName</th>
              <th class="d-none">customerDeptName</th>
              <th class="d-none">customerPhone</th>
              <th class="d-none">customerEmail</th>
              <th class="d-none">serviceSignPath</th>
              <th class="d-none">serviceStatus</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      $(document).ready(function () {
          $('#showclients').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      "companyName": "{{ company.companyName }}"
                  },
                  "url": "{% url 'client:client_ajax_url' %}",
                  "dataSrc": ""
              },
              "columns": [
                  {data: "pk"},
                  {data: "fields.serviceDate"},
                  {data: "fields.empId"},
                  {data: "fields.empName"},
                  {data: "fields.empDeptName"},
                  {data: "fields.companyName"},
                  {data: "fields.serviceType"},
                  {data: "fields.serviceStartDatetime"},
                  {data: "fields.serviceEndDatetime"},
                  {data: "fields.serviceFinishDatetime"},
                  {data: "fields.serviceOverHour"},
                  {data: "fields.serviceRegHour"},
                  {data: "fields.serviceLocation"},
                  {data: "fields.directgo"},
                  {data: "fields.serviceTitle"},
                  {data: "fields.serviceDetails"},
                  {data: "fields.customerName"},
                  {data: "fields.customerDeptName"},
                  {data: "fields.customerPhone"},
                  {data: "fields.customerEmail"},
                  {data: "fields.serviceSignPath"},
                  {data: "fields.serviceStatus"},
              ],
              "columnDefs": [
                  {targets: 1, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 3, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 4, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 6, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: 14, width: "40%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap c"},
                  {targets: [0, 2, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21], visible: false},
                  {"orderable": false, "targets": [6, 0]},
              ],
              "order": [[1, 'desc'], [3, 'asc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              }
          });

          var table = $('#showclients').DataTable();

          $("#showclients").on("click", 'tr', function () {
              const data = table.row(this).data();
              location.href = '/service/viewservice/' + data.pk + '/'
          });


      });


      function db_comment() {
          $('#dbcommentSave').css("display", "inline");
          $('#dbtextArea').css("display", "inline");
          $('#dbcomment').css("display", "none");
      }

      function sol_comment() {
          $('#solcommentSave').css("display", "inline");
          $('#soltextArea').css("display", "inline");
          $('#solcomment').css("display", "none");
      }

      function dbcommentSubmit() {
          $("#dbsaveComment").submit();
      }


      function solcommentSubmit() {
          $("#solsaveComment").submit();
      }


  </script>

{% endblock %}