{% extends "dashboard/layout.html" %}


{% block title %}
  일일업무
{% endblock %}


{% block css %}

  <style type="text/css">

    .table {
      color: #333333;
    }

    .table td, .table th {
      padding: .75rem;
      vertical-align: middle;
      border-top: 1px solid #e3e6f0;
      font-size: 14px;
      text-align: center;
      white-space: nowrap;
    }

  </style>

{% endblock %}


{% block content %}
  <h2 class="text-center d-none d-xl-block mb-3">
    <i class="fas fa-angle-left" onclick="location.href='/service/dayreport/{{ beforeDate | date:'Y-m-d' }}/'"></i>
    {{ Date | date:"Y년 m월 d일" }} ({{ Date | date:"D" | slice:"0:1" }})
    <i class="fas fa-angle-right" onclick="location.href='/service/dayreport/{{ afterDate | date:'Y-m-d' }}/'"></i>
  </h2>

  <h3 class="text-center d-xl-none mb-3">
    <i class="fas fa-angle-left" onclick="location.href='/service/dayreport/{{ beforeDate | date:'Y-m-d' }}/'"></i>
    {{ Date | date:"Y년 m월 d일" }} ({{ Date | date:"D" | slice:"0:1" }})
    <i class="fas fa-angle-right" onclick="location.href='/service/dayreport/{{ afterDate | date:'Y-m-d' }}/'"></i>
  </h3>

  {% for rown in rows %}
    <div class="row">
      {% for row in rown %}
      {% if row.title %}
      <div class="col-xl-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 h3 text-gray-800">{{ row.title }}</h6>
          </div>
          <div class="card-body">
            <!-- 일정 -->
            <h5 class="text-gray-700"><i class="fas fa-briefcase"></i> 일정</h5>

            <!-- 일정: PC화면(1200px이상) -->
            <table class="table mb-0 d-none d-xl-table" width="100%">
              <thead>
              <tr>
                <td width="5%"><b>구분</b></td>
                <td width="10%"><b>성함</b></td>
                <td width="20%"><b>시간</b></td>
                <td width="20%"><b>고객사</b></td>
                <td width="45%"><b>업무내용</b></td>
              </tr>
              </thead>

              <tbody>
              {% for q in row.service %}
                <tr {% if q.serviceId != '' %} onclick="document.location.href='/service/viewservice/{{ q.serviceId }}/'" {% endif %}>
                  <td>
                    {% if q.flag == '직출' %} <b style="color: #4e73df">직출</b> {% endif %}
                    {% if q.flag == '상주' %} <b style="color: #333333">상주</b> {% endif %}
                  </td>
                  <td>{% ifchanged q.empName %}<b>{{ q.empName }}</b><br>{% endifchanged %}</td>
                  <td>
                    {{ q.serviceBeginDatetime|time:"H:i" }} ~ {{ q.serviceFinishDatetime|time:"H:i" }}

                    {% if q.serviceBeginDatetime.date|date:"Y-m-d" != day and q.serviceFinishDatetime.date|date:"Y-m-d" == day %}
                      <br>({{ q.serviceBeginDatetime|date:"d" }}일) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    {% elif q.serviceBeginDatetime.date|date:"Y-m-d" == day and q.serviceFinishDatetime.date|date:"Y-m-d" != day %}
                      <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ({{ q.serviceFinishDatetime|date:"d" }}일)
                    {% elif q.serviceBeginDatetime.date|date:"Y-m-d" != day and q.serviceFinishDatetime.date|date:"Y-m-d" != day %}
                      <br>({{ q.serviceBeginDatetime|date:"d" }}일) &nbsp&nbsp ({{ q.serviceFinishDatetime|date:"d" }}일)
                    {% endif %}

                    {% if q.serviceStatus == 'B' %}<div style="color: red">(이동중)</div>{% endif %}
                    {% if q.serviceStatus == 'S' %}<div style="color: red">(업무중)</div>{% endif %}
                    {% if q.serviceStatus == 'E' %}<div style="color: red">(이동중)</div>{% endif %}
                    {% if q.serviceStatus == 'Y' %}<div style="color: red">(완료)</div>{% endif %}
                  </td>
                  <td>
                    {{ q.companyName }}<br>
                    {% if q.serviceType %}({{ q.serviceType }}){% endif %}
                  </td>
                  <td style="white-space: normal">{{ q.serviceTitle }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            <!-- 일정: 모바일화면(1200px미만) -->
            <table class="table mb-0 d-xl-none" width="100%">
              <thead>
              <tr>
                <td width="10%"><b>성함</b></td>
                <td width="20%"><b>시간</b></td>
                <td width="20%"><b>고객사</b></td>
              </tr>
              </thead>
              <tbody>
              {% for q in row.service %}
                <tr {% if q.serviceId != '' %} onclick="document.location.href='/service/viewservice/{{ q.serviceId }}/'" {% endif %}>
                  <td rowspan="2">
                    {% ifchanged q.empName %}<b>{{ q.empName }}</b><br>{% endifchanged %}
                    {% if q.flag == '직출' %} <b style="color: #4e73df">(직출)</b> {% endif %}
                    {% if q.flag == '상주' %} <b style="color: #333333">(상주)</b> {% endif %}
                  </td>
                  <td>
                    {{ q.serviceBeginDatetime|time:"H:i" }} ~ {{ q.serviceFinishDatetime|time:"H:i" }}

                    {% if q.serviceBeginDatetime.date|date:"Y-m-d" != day and q.serviceFinishDatetime.date|date:"Y-m-d" == day %}
                      <br>({{ q.serviceBeginDatetime|date:"d" }}일) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    {% elif q.serviceBeginDatetime.date|date:"Y-m-d" == day and q.serviceFinishDatetime.date|date:"Y-m-d" != day %}
                      <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ({{ q.serviceFinishDatetime|date:"d" }}일)
                    {% elif q.serviceBeginDatetime.date|date:"Y-m-d" != day and q.serviceFinishDatetime.date|date:"Y-m-d" != day %}
                      <br>({{ q.serviceBeginDatetime|date:"d" }}일) &nbsp&nbsp ({{ q.serviceFinishDatetime|date:"d" }}일)
                    {% endif %}

                    {% if q.serviceStatus == 'B' %}<div style="color: red">(이동중)</div>{% endif %}
                    {% if q.serviceStatus == 'S' %}<div style="color: red">(업무중)</div>{% endif %}
                    {% if q.serviceStatus == 'E' %}<div style="color: red">(이동중)</div>{% endif %}
                    {% if q.serviceStatus == 'Y' %}<div style="color:red">(완료)</div>{% endif %}
                  </td>
                  <td>
                    {{ q.companyName }}<br>
                    {% if q.serviceType %}({{ q.serviceType }}){% endif %}
                  </td>
                </tr>

                <tr {% if q.serviceId != '' %} onclick="document.location.href='/service/viewservice/{{ q.serviceId }}/'" {% endif %}>
                  <td colspan="2" style="white-space: normal">{{ q.serviceTitle }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            <!-- 교육 -->
            {% if row.education %}
              <br>
              <h5 class="text-gray-700"><i class="fas fa-book-open"></i>교육</h5>

              <!-- 교육: PC화면(1200px이상) -->
              <table class="table mb-0 d-none d-xl-table" width="100%">
                <thead>
                <tr>
                  <td width="5%"><b>구분</b></td>
                  <td width="10%"><b>성함</b></td>
                  <td width="20%"><b>시간</b></td>
                  <td width="65%"><b>교육내용</b></td>
                </tr>
                </thead>
                <tbody>
                {% for q in row.education %}
                  <tr {% if q.serviceId != '' %} onclick="document.location.href='/service/viewservice/{{ q.serviceId }}/'" {% endif %}>
                    <td class="d-none d-xl-table-cell">{% if q.flag == '직출' %} <b style="color: #4e73df">직출</b> {% endif %}</td>
                    <td>{% ifchanged q.empName %}<b>{{ q.empName }}</b><br>{% endifchanged %}</td>
                    <td>
                      {{ q.serviceBeginDatetime|time:"H:i" }} ~ {{ q.serviceFinishDatetime|time:"H:i" }}

                      {% if q.serviceBeginDatetime.date|date:"Y-m-d" != day and q.serviceFinishDatetime.date|date:"Y-m-d" == day %}
                        <br>({{ q.serviceBeginDatetime|date:"d" }}일) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      {% elif q.serviceBeginDatetime.date|date:"Y-m-d" == day and q.serviceFinishDatetime.date|date:"Y-m-d" != day %}
                        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ({{ q.serviceFinishDatetime|date:"d" }}일)
                      {% elif q.serviceBeginDatetime.date|date:"Y-m-d" != day and q.serviceFinishDatetime.date|date:"Y-m-d" != day %}
                        <br>({{ q.serviceBeginDatetime|date:"d" }}일) &nbsp&nbsp ({{ q.serviceFinishDatetime|date:"d" }}일)
                      {% endif %}

                      {% if q.serviceStatus == 'B' %}<div style="color: red">(이동중)</div>{% endif %}
                      {% if q.serviceStatus == 'S' %}<div style="color: red">(업무중)</div>{% endif %}
                      {% if q.serviceStatus == 'E' %}<div style="color: red">(이동중)</div>{% endif %}
                      {% if q.serviceStatus == 'Y' %}<div style="color:red">(완료)</div>{% endif %}
                    </td>
                    <td style="white-space: normal">{{ q.serviceTitle }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>

              <!-- 교육: 모바일화면(1200px미만) -->
              <table class="table mb-0 d-xl-none" width="100%">
                <thead>
                <tr>
                  <td width="10%"><b>성함</b></td>
                  <td width="90%"><b>시간</b></td>
                </tr>
                </thead>
                <tbody>
                {% for q in row.education %}
                  <tr {% if q.serviceId != '' %} onclick="document.location.href='/service/viewservice/{{ q.serviceId }}/'" {% endif %}>
                    <td rowspan="2">
                      {% ifchanged q.empName %}<b>{{ q.empName }}</b><br>{% endifchanged %}
                      {% if q.flag == '직출' %} <b class="d-xl-none" style="color: #4e73df">(직출)</b> {% endif %}
                    </td>
                    <td>
                      {{ q.serviceBeginDatetime|time:"H:i" }} ~ {{ q.serviceFinishDatetime|time:"H:i" }}

                      {% if q.serviceBeginDatetime.date|date:"Y-m-d" != day and q.serviceFinishDatetime.date|date:"Y-m-d" == day %}
                        <br>({{ q.serviceBeginDatetime|date:"d" }}일) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      {% elif q.serviceBeginDatetime.date|date:"Y-m-d" == day and q.serviceFinishDatetime.date|date:"Y-m-d" != day %}
                        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ({{ q.serviceFinishDatetime|date:"d" }}일)
                      {% elif q.serviceBeginDatetime.date|date:"Y-m-d" != day and q.serviceFinishDatetime.date|date:"Y-m-d" != day %}
                        <br>({{ q.serviceBeginDatetime|date:"d" }}일) &nbsp&nbsp ({{ q.serviceFinishDatetime|date:"d" }}일)
                      {% endif %}

                      {% if q.serviceStatus == 'B' %}<div style="color: red">(이동중)</div>{% endif %}
                      {% if q.serviceStatus == 'S' %}<div style="color: red">(업무중)</div>{% endif %}
                      {% if q.serviceStatus == 'E' %}<div style="color: red">(이동중)</div>{% endif %}
                      {% if q.serviceStatus == 'Y' %}<div style="color:red">(완료)</div>{% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td style="white-space: normal">{{ q.serviceTitle }}</td>
                  </tr>
                {% endfor %}
                </tbody>

              </table>
            {% endif %}

            <!-- 휴가 -->
            {% if row.vacation %}
              <br>
              <h5 class="text-gray-700"><i class="fas fa-plane-departure"></i>휴가</h5>
              {% for q in row.vacation %}
                <li style="text-indent: 16px;"> ({{ q.vacationType }}) {{ q.empName }} </li>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
  {% endfor %}

{% endblock %}


{% block script %}

  <script type="text/javascript">

  </script>

{% endblock %}