{% extends "dashboard/layout.html" %}
{% block title %}
    일정 등록
{% endblock %}
{% block content %}
{#    <script type="text/javascript">#}
{#        function btn_cancel() {#}
{#            if (confirm("취소하시겠습니까?") == true) {    //확인#}
{#                location.href = "/usone/scheduleindex/"#}
{#            } else {   //취소#}
{#                return false;#}
{#            }#}
{#        }#}
{##}
{#        function btn_form_cancel() {#}
{#            if (confirm("양식 등록을 취소하시겠습니까?") == true) {    //확인#}
{#                location.href = "/usone/post/"#}
{#            } else {   //취소#}
{#                return false;#}
{#            }#}
{#        }#}
{##}
{#        function btn_save() {#}
{#            if (document.postform.COMPANY_NAME.value == '') {#}
{#                alert("고객사 명을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (document.postform.SERVICE_TYPE.value == '') {#}
{#                alert("지원 타입을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            var start = document.postform.startdate.value + " " + document.postform.starttime.value#}
{#            var finish = document.postform.finishdate.value + " " + document.postform.finishtime.value#}
{##}
{#            if (start > finish) {#}
{#                alert("지원 시간을 확인해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (document.postform.DETAILS.value == '') {#}
{#                alert("지원 내용을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (confirm("일정등록을 하시겠습니까?") == true) {    //확인#}
{#                var formObj = document.postform;#}
{#                var inputObj = document.createElement("input");#}
{##}
{##}
{#                inputObj.setAttribute("type", "hidden");#}
{#                inputObj.setAttribute("name", "status");#}
{#                inputObj.setAttribute("value", "save");#}
{##}
{#                formObj.appendChild(inputObj);#}
{##}
{#                formObj.submit();#}
{#            } else {   //취소#}
{#                return false;#}
{#            }#}
{#        }#}
{##}
{#        function btn_form_change() {#}
{#            if (document.postform.COMPANY_NAME.value == '') {#}
{#                alert("고객사 명을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (document.postform.SERVICE_TYPE.value == '') {#}
{#                alert("지원 타입을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            var start = document.postform.startdate.value + " " + document.postform.starttime.value#}
{#            var finish = document.postform.finishdate.value + " " + document.postform.finishtime.value#}
{##}
{#            if (start > finish) {#}
{#                alert("지원 시간을 확인해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (document.postform.DETAILS.value == '') {#}
{#                alert("지원 내용을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (confirm("변경된 내용으로 양식을 저장할까요?") == true) {    //확인#}
{#                var formObj = document.postform;#}
{#                var inputObj = document.createElement("input");#}
{##}
{#                inputObj.setAttribute("type", "hidden");#}
{#                inputObj.setAttribute("name", "status");#}
{#                inputObj.setAttribute("value", "form_change");#}
{##}
{#                formObj.appendChild(inputObj);#}
{##}
{#                formObj.submit();#}
{#            } else {   //취소#}
{#                return false;#}
{#            }#}
{#        }#}
{##}
{#        function btn_new_save() {#}
{#            if (document.postform.COMPANY_NAME.value == '') {#}
{#                alert("고객사 명을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (document.postform.SERVICE_TYPE.value == '') {#}
{#                alert("지원 타입을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            var start = document.postform.startdate.value + " " + document.postform.starttime.value#}
{#            var finish = document.postform.finishdate.value + " " + document.postform.finishtime.value#}
{##}
{#            if (start > finish) {#}
{#                alert("지원 시간을 확인해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (document.postform.DETAILS.value == '') {#}
{#                alert("지원 내용을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (confirm("일정을 생성 하시겠습니까?") == true) {    //확인#}
{#                var formObj = document.postform;#}
{#                var inputObj = document.createElement("input");#}
{##}
{##}
{#                inputObj.setAttribute("type", "hidden");#}
{#                inputObj.setAttribute("name", "status");#}
{#                inputObj.setAttribute("value", "form");#}
{##}
{#                formObj.appendChild(inputObj);#}
{##}
{#                formObj.submit();#}
{#            } else {   //취소#}
{#                return false;#}
{#            }#}
{#        }#}
{##}
{#        function btn_form_save() {#}
{#            if (document.postform.COMPANY_NAME.value == '') {#}
{#                alert("고객사 명을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (document.postform.SERVICE_TYPE.value == '') {#}
{#                alert("지원 타입을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            var start = document.postform.startdate.value + " " + document.postform.starttime.value#}
{#            var finish = document.postform.finishdate.value + " " + document.postform.finishtime.value#}
{##}
{#            if (start > finish) {#}
{#                alert("지원 시간을 확인해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (document.postform.DETAILS.value == '') {#}
{#                alert("지원 내용을 입력해주세요");#}
{#                return false;#}
{#            }#}
{##}
{#            if (confirm("새로운 양식을 생성 하시겠습니까?") == true) {    //확인#}
{#                var formObj = document.postform;#}
{#                var inputObj = document.createElement("input");#}
{##}
{##}
{#                inputObj.setAttribute("type", "hidden");#}
{#                inputObj.setAttribute("name", "status");#}
{#                inputObj.setAttribute("value", "form");#}
{##}
{#                formObj.appendChild(inputObj);#}
{##}
{#                formObj.submit();#}
{#            } else {   //취소#}
{#                return false;#}
{#            }#}
{#        }#}
{##}
{#        function btn_click() {#}
{##}
{#            if (document.postform.COMPANY_NAME.value == '') {#}
{#                alert("고객사 명을 입력해주세요")#}
{#                return false;#}
{#            }#}
{##}
{#            if (document.postform.SERVICE_TYPE.value == '') {#}
{#                alert("지원 타입을 입력해주세요")#}
{#                return false;#}
{#            }#}
{##}
{#            var start = document.postform.startdate.value + " " + document.postform.starttime.value#}
{#            var finish = document.postform.finishdate.value + " " + document.postform.finishtime.value#}
{##}
{#            var old = new Date(finish);#}
{#            var now = new Date();#}
{#            var gap = old - now;#}
{#            var hour_gap = gap / 1000 / 60 / 60;#}
{##}
{#            if (start > finish) {#}
{#                alert("지원 시간을 확인해주세요")#}
{#                return false;#}
{#            }#}
{##}
{#            if (document.postform.DETAILS.value == '') {#}
{#                alert("지원 내용을 입력해주세요")#}
{#                return false;#}
{#            }#}
{##}
{##}
{#            if (hour_gap > 1) {#}
{#                msg = "실제 지원 완료 시각이 1시간 이상 차이납니다.\n계속 진행하시겠습니까?  ";#}
{#                if (confirm(msg) == true) {#}
{#                    if (confirm("지원 완료 후 수정 불가합니다.") == true) {    //확인#}
{#                        var formObj = document.postform;#}
{#                        var inputObj = document.createElement("input");#}
{##}
{#                        inputObj.setAttribute("type", "hidden");#}
{#                        inputObj.setAttribute("name", "status");#}
{#                        inputObj.setAttribute("value", "sign");#}
{##}
{#                        formObj.appendChild(inputObj);#}
{##}
{#                        formObj.submit();#}
{#                    } else {   //취소#}
{#                        return false;#}
{#                    }#}
{#                } else {#}
{#                    return false;#}
{#                }#}
{#            } else {#}
{##}
{#                if (confirm("완료 후 수정 불가합니다.") == true) {    //확인#}
{#                    var formObj = document.postform;#}
{#                    var inputObj = document.createElement("input");#}
{##}
{#                    inputObj.setAttribute("type", "hidden");#}
{#                    inputObj.setAttribute("name", "status");#}
{#                    inputObj.setAttribute("value", "sign");#}
{##}
{#                    formObj.appendChild(inputObj);#}
{##}
{#                    formObj.submit();#}
{#                } else {   //취소#}
{#                    return false;#}
{#                }#}
{#            }#}
{##}
{#        }#}
{##}
{#        function btn_delete() {#}
{#            if (confirm("양식을 삭제하시겠습니까?") == true) {    //확인#}
                {#server_url = '/usone/delpost/{{ service_id }}/';#}
                {#location.href = server_url;#}
{#                var formObj = document.postform;#}
{#                var inputObj = document.createElement("input");#}
{##}
{#                inputObj.setAttribute("type", "hidden");#}
{#                inputObj.setAttribute("name", "status");#}
{#                inputObj.setAttribute("value", "delete");#}
{##}
{#                formObj.appendChild(inputObj);#}
{##}
{#                formObj.submit();#}
{#            } else {   //취소#}
{#                return false;#}
{#            }#}
{#        }#}
{##}
{##}
{#        function showVal(newVal) {#}
{#            $('#finishdate').val(newVal);#}
{#        }#}
{##}
{#        function chageLangSelect() {#}
{#            a = $("#selectBox option:selected").val();#}
{#            if (a == "휴가") {#}
{#                $('#starttime').css('background-color', 'lightgrey')#}
{#                    .val("00:00");#}
{#                $('#finishtime').css('background-color', 'lightgrey')#}
{#                    .val("00:00");#}
{#                $('#company').css('background-color', 'lightgrey')#}
{#                    .val("기타").prop("selected", true);#}
{#                $('#location').prop("disabled", false)#}
{#                    .css('background-color', 'lightgrey');#}
{#                $('#jigchul').prop("disabled", false)#}
{#                    .css('background-color', 'lightgrey');#}
{#                $('#btn_finish').hide();#}
{##}
{#            } else {#}
{#                $('#starttime').prop("disabled", false)#}
{#                    .css('background-color', 'white');#}
{#                $('#finishtime').prop("disabled", false)#}
{#                    .css('background-color', 'white');#}
{#                $('#company').prop("disabled", false)#}
{#                    .css('background-color', 'white');#}
{#                $('#location').prop("disabled", false)#}
{#                    .css('background-color', 'white');#}
{#                $('#btn_finish').show()#}
{#            }#}
{#        }#}
{##}
{#        $(document).ready(function () {#}
{#            $(".myform").click(function (event) {#}
{##}
{#                if (event.target.id == "new") {#}
{#                    var formObj = document.postform;#}
{#                    var inputObj = document.createElement("input");#}
{##}
{#                    inputObj.setAttribute("type", "hidden");#}
{#                    inputObj.setAttribute("name", "status");#}
{#                    inputObj.setAttribute("value", "form_new");#}
{##}
{#                    formObj.appendChild(inputObj);#}
{#                    formObj.submit();#}
{#                }#}
{#                else {#}
{#                    location.href = "/usone/formchange/" + event.target.id + '/'#}
{#                }#}
{#            });#}
{#            var postdate = document.getElementById("postdate").textContent;#}
{#            if ({{type}} == 0) {#}
{#                $('#startdate').val(postdate);#}
{#                $('#finishdate').val(postdate);#}
{#            }#}
{#        });#}
{##}
{#        function post_click() {#}
{#            var today = new Date();#}
{#            var dd = today.getDate();#}
{#            if (dd < 10) {#}
{#                dd = '0' + dd#}
{#            }#}
{#            var mm = today.getMonth() + 1;#}
{#            if (mm < 10) {#}
{#                mm = '0' + mm#}
{#            }#}
{#            var yyyy = today.getFullYear();#}
{#            today = yyyy + '-' + mm + '-' + dd;#}
{#            location.href = "/usone/post/" + today + '/'#}
{#        }#}
{##}
{#    </script>#}

{#    <div class="text-center">#}
{#        <h1 class="mb-4"> {{ empName }}님의 일정등록 </h1>#}
{#    </div>#}

    <h1 class="h3 mb-4 text-gray-800"> 일정등록 </h1>

    <div>
        <p id="postdate" style="display:none">{{ postdate }}</p>
    </div>

    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary"> 카드제목 </h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink" x-placement="bottom-end"
                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-156px, 19px, 0px);">
                    <div class="dropdown-header"> 내 양식:</div>
                    <a class="dropdown-item" href="#"> 고객사1 정기점검 </a>
                    <a class="dropdown-item" href="#"> 고객사2 정기점검 </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"> 휴가등록 </a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="company" class="font-weight-bold text-primary"> 고객사 명 </label> {{ form.companyName }}
                    </div>
                    <div class="col-sm-6">
                        <label for="selectBox" class="font-weight-bold text-primary"> 지원 타입 </label> {{ form.serviceType }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="startdate" class="font-weight-bold text-primary"> 시작 일자 </label> {{ form.startdate }}
                    </div>
                    <div class="col-sm-6">
                        <label for="starttime" class="font-weight-bold text-primary"> 시작 시간 </label> {{ form.starttime }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="finishdate" class="font-weight-bold text-primary"> 종료 일자 </label> {{ form.finishdate }}
                    </div>
                    <div class="col-sm-6">
                        <label for="finishtime" class="font-weight-bold text-primary"> 종료 시간 </label> {{ form.finishtime }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 text-center">
                        <input type="radio" id="for1" name="for" value="for_n" checked/>
                        <label for="for1"> 기본등록 &nbsp &nbsp</label>
                    </div>
                    <div class="col-sm-3 text-center">
                        <input type="radio" id="for2" name="for" value="for_my"/>
                        <label for="for2"> 매월반복 &nbsp &nbsp</label>
                    </div>
                    <div class="col-sm-3 text-center">
                        <input type="radio" id="for3" name="for" value="for_hn"/>
                        <label for="for3"> 기간(휴일제외) &nbsp &nbsp</label>
                    </div>
                    <div class="col-sm-3 text-center">
                        <input type="radio" id="for4" name="for" value="for_hy"/>
                        <label for="for4"> 기간(휴일포함) &nbsp &nbsp</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="location" class="font-weight-bold text-primary"> 지역 구분 </label> {{ form.serviceLocation }}
                    </div>
                    <div class="col-sm-6">
                        <label for="jigchul" class="font-weight-bold text-primary"> 직출 여부 </label> {{ form.directgo }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="font-weight-bold text-primary"> 제목 </label> {{ form.serviceTitle }}
                </div>
                <div class="form-group">
                    <label for="id_DETAILS" class="font-weight-bold text-primary"> 지원 내용 </label> {{ form.serviceDetails }}
                </div>

                <div class="text-center">
                    <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_cancel()">
                        <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
                        <span class="text"> 취소 </span>
                    </a>
                    <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">
                        <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
                        <span class="text"> 저장 </span>
                    </a>
                </div>
            </form>
        </div>
    </div>

{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        <div class="form-group row">#}
{#            <div class="col-sm-6 mb-3 mb-sm-0">#}
{#                <label for="company" class="font-weight-bold text-primary"> 고객사 명 </label> {{ form.companyName }}#}
{#            </div>#}
{#            <div class="col-sm-6">#}
{#                <label for="selectBox" class="font-weight-bold text-primary"> 지원 타입 </label> {{ form.serviceType }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#            <div class="col-sm-6 mb-3 mb-sm-0">#}
{#                <label for="startdate" class="font-weight-bold text-primary"> 시작 일자 </label> {{ form.startdate }}#}
{#            </div>#}
{#            <div class="col-sm-6">#}
{#                <label for="starttime" class="font-weight-bold text-primary"> 시작 시간 </label> {{ form.starttime }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#            <div class="col-sm-6 mb-3 mb-sm-0">#}
{#                <label for="finishdate" class="font-weight-bold text-primary"> 종료 일자 </label> {{ form.finishdate }}#}
{#            </div>#}
{#            <div class="col-sm-6">#}
{#                <label for="finishtime" class="font-weight-bold text-primary"> 종료 시간 </label> {{ form.finishtime }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#            <div class="col-sm-3 text-center">#}
{#                <input type="radio" id="for1" name="for" value="for_n" checked/>#}
{#                <label for="for1"> 기본등록 &nbsp &nbsp</label>#}
{#            </div>#}
{#            <div class="col-sm-3 text-center">#}
{#                <input type="radio" id="for2" name="for" value="for_my"/>#}
{#                <label for="for2"> 매월반복 &nbsp &nbsp</label>#}
{#            </div>#}
{#            <div class="col-sm-3 text-center">#}
{#                <input type="radio" id="for3" name="for" value="for_hn"/>#}
{#                <label for="for3"> 기간(휴일제외) &nbsp &nbsp</label>#}
{#            </div>#}
{#            <div class="col-sm-3 text-center">#}
{#                <input type="radio" id="for4" name="for" value="for_hy"/>#}
{#                <label for="for4"> 기간(휴일포함) &nbsp &nbsp</label>#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group row">#}
{#            <div class="col-sm-6 mb-3 mb-sm-0">#}
{#                <label for="location" class="font-weight-bold text-primary"> 지역 구분 </label> {{ form.serviceLocation }}#}
{#            </div>#}
{#            <div class="col-sm-6">#}
{#                <label for="jigchul" class="font-weight-bold text-primary"> 직출 여부 </label> {{ form.directgo }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="id_DETAILS" class="font-weight-bold text-primary"> 지원 내용 </label> {{ form.serviceDetails }}#}
{#        </div>#}
{##}
{#        <div class="text-center">#}
{#            <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_cancel()">#}
{#                <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>#}
{#                <span class="text"> 취소 </span>#}
{#            </a>#}
{#            <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">#}
{#                <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>#}
{#                <span class="text"> 저장 </span>#}
{#            </a>#}
{#        </div>#}
{#    </form>#}
{% endblock %}