{% extends "dashboard/layout.html" %}


{% block title %}
  휴가등록
{% endblock %}


{% block content %}
  <div>
    <p id="postdate" style="display:none">{{ postdate }}</p>
  </div>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> 휴가등록 </h6>
        </div>

        <div class="card-body">
          <form id="VacationForm" method="POST">
            {% csrf_token %}
            <div class="form-group row">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="font-weight-bold text-primary"> 시작 일자 </label>
                <input type="date" name="startdate" class="form-control" id="startdate" onchange="showVal(this.value)" maxlength="16" required="">
              </div>
              <div class="col-6">
                <label for="enddate" class="font-weight-bold text-primary"> 종료 일자 </label> {{ form.enddate }}
                <input type="date" name="enddate" class="form-control" id="enddate" maxlength="16" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <table id="vacation" class="cell-border compact stripe" width="100%" style="width: 100%;">
                  <thead>
                  <tr>
                    <th>휴가일</th>
                    <th>일차</th>
                    <th>오전반차</th>
                    <th>오후반차</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="col-lg-3"></div>
            </div>

            <div class="text-center">
              <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_cancel()">
                <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
                <span class="text"> 취소 </span>
              </a>
              <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">
                <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
                <span class="text"> 저장 </span>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      $(document).ready(function () {
          <!-- 휴가일자 초기화 -->
          const dateToday = new Date();
          const yyyy = dateToday.getFullYear();
          let mm = dateToday.getMonth() + 1;
          if (mm < 10) {
              mm = '0' + mm
          }
          let dd = dateToday.getDate();
          if (dd < 10) {
              dd = '0' + dd
          }
          const strToday = yyyy + '-' + mm + '-' + dd;
          $('#startdate').val(strToday);
          $('#enddate').val(strToday);

          <!-- 휴가일 테이블 -->
          let data = [
              {
                  "휴가일": "2019-04-01",
                  "일차": "V",
                  "오전반차": "V",
                  "오후반차": "V"
              },
              {
                  "휴가일": "2019-04-02",
                  "일차": "V",
                  "오전반차": "V",
                  "오후반차": "V"
              },
              {
                  "휴가일": "2019-04-03",
                  "일차": "V",
                  "오전반차": "V",
                  "오후반차": "V"
              },
          ];
          $('#vacation').DataTable( {
              data: data,
              columns: [
                  { data: '휴가일' },
                  { data: '일차' },
                  { data: '오전반차' },
                  { data: '오후반차' }
              ],
              columnDefs: [
                  {targets: [0], width: "40%", className: "dt-head-center"},
                  {targets: [1,2,3], width: "20%"},
              ],
              "ordering": false,
              "searching": false,
              "paging": false,
              "info": false,
          } );
      });

      function showVal(newVal) {
          $('#enddate').val(newVal);
      }

      function btn_cancel() {
          if (confirm("취소하시겠습니까?") === true) {
              location.href = "/scheduler/"
          } else {
              return false;
          }
      }

      function btn_save() {
          if (confirm("휴가등록을 하시겠습니까?") === true) {
              document.getElementById("ServicereportForm").submit();
          }
      }
  </script>

{% endblock %}