{% extends "dashboard/layout.html" %}


{% block title %}
  일정관리
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-2"></div>

    <div class="col-xl-8">

      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

          <h6 class="m-0 h3 text-gray-800">일정{% if form.serviceTitle.value == None %} 등록{% else %} 수정{% endif %}</h6>

          {% if form.serviceTitle.value == None %} <!-- 일정 등록 화면과 일정 수정 화면 구분 -->
            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                   aria-labelledby="dropdownMenuLink" x-placement="bottom-end"
                   style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-156px, 19px, 0px);">
                <div class="dropdown-header" id="myForm"> 내 양식:</div>
                {% for serviceform in serviceforms %}
                  <a class="dropdown-item" href="#" onclick="applyform(
                      '{{ serviceform.companyName.companyName }}',
                      '{{ serviceform.serviceType }}',
                      '{{ serviceform.serviceStartTime | time:"H:i"}}',
                      '{{ serviceform.serviceEndTime | time:"H:i"}}',
                      '{{ serviceform.serviceLocation }}',
                      '{{ serviceform.directgo }}',
                      '{{ serviceform.serviceTitle }}',
                      '{{ serviceform.serviceDetails }}')">
                    {{ serviceform.serviceTitle | truncatechars:"15" }}
                  </a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <div class="dropdown-header" id="myForm"> 관리:</div>
                <a class="dropdown-item" href="/service/showserviceforms/"> 양식관리 </a>
              </div>
            </div>
          {% endif %}

        </div>

        <div class="card-body">

          <form id="ServicereportForm" method="POST">

            {% csrf_token %}
            <div class="form-group row">
              <div class="col-6">
                <label for="companyName" class="font-weight-bold text-primary"> 고객사 명 </label> {{ form.companyName }}
              </div>
              <div class="col-6">
                <label for="serviceType" class="font-weight-bold text-primary"> 일정 구분 </label> {{ form.serviceType }}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <label for="startdate" class="font-weight-bold text-primary"> 시작 일자 </label> {{ form.startdate }}
              </div>
              <div class="col-6">
                <label for="starttime" class="font-weight-bold text-primary"> 시작 시간 </label> {{ form.starttime }}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <label for="enddate" class="font-weight-bold text-primary"> 종료 일자 </label> {{ form.enddate }}
              </div>
              <div class="col-6">
                <label for="endtime" class="font-weight-bold text-primary"> 종료 시간 </label> {{ form.endtime }}
              </div>
            </div>
            {% if form.serviceTitle.value == None %} <!-- 일정 등록 화면과 일정 수정 화면 구분 -->
              <div class="form-group row">
                <div class="col-sm-6 text-center">
                  <div class="form-group row">
                    <div class="col-6 text-center">
                      <input type="radio" id="for1" name="for" value="for_n" checked/>
                      <label for="for1"> 기본등록 </label>
                    </div>
                    <div class="col-6 text-center">
                      <input type="radio" id="for2" name="for" value="for_my"/>
                      <label for="for2"> 매월반복 </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 text-center">
                  <div class="form-group row">
                    <div class="col-6 text-center">
                      <input type="radio" id="for3" name="for" value="for_hn"/>
                      <label for="for3"> 기간(휴일제외) </label>
                    </div>
                    <div class="col-6 text-center">
                      <input type="radio" id="for4" name="for" value="for_hy"/>
                      <label for="for4"> 기간(휴일포함) </label>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="form-group row">
              <div class="col-6">
                <label for="serviceLocation" class="font-weight-bold text-primary"> 지역 구분 </label> {{ form.serviceLocation }}
              </div>
              <div class="col-6">
                <label for="directgo" class="font-weight-bold text-primary"> 직출 여부 </label> {{ form.directgo }}
              </div>
            </div>
            <div class="form-group">
              <label for="coWorkers" class="font-weight-bold text-primary"> 동행자 <span class="text-danger">(초과근무 시 필수 작성)</span> </label> {{ form.coWorkers }}
            </div>
            <div class="form-group">
              <label for="serviceTitle" class="font-weight-bold text-primary"> 제목 </label> {{ form.serviceTitle }}
            </div>
            <div class="form-group">
              <label for="serviceDetails" class="font-weight-bold text-primary"> 내용 </label> {{ form.serviceDetails }}
            </div>

            <div class="text-center">
              <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_cancel()">
                <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
                <span class="text"> 취소 </span>
              </a>
              <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">
                <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
                <span class="text"> 저장 </span>
              </a>
            </div>

          </form>

        </div>

      </div>

    </div>

    <div class="col-xl-2"></div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">

      function showVal(newVal) {
          $('#enddate').val(newVal);
      }

      function btn_cancel() {
          if (confirm("취소하시겠습니까?") === true) {
              location.href = "/scheduler/"
          } else {
              return false;
          }
      }

      function btn_save() {
          const serviceStartDatetime = Date.parse(document.getElementById("startdate").value.replace(/-/g,'/') + ' ' + document.getElementById("starttime").value);
          const serviceEndDatetime = Date.parse(document.getElementById("enddate").value.replace(/-/g,'/') + ' ' + document.getElementById("endtime").value);
          const diff = ((serviceEndDatetime - serviceStartDatetime)/3600000).toFixed(1);

          let Form = document.getElementById("ServicereportForm");
          const coWorkers = document.getElementById('coWorkers').getAttribute('data-id');
          let coWorkerInput = document.createElement("input");
          coWorkerInput.setAttribute("type", "hidden");
          coWorkerInput.setAttribute("name", "coWorkerId");
          coWorkerInput.setAttribute("value", coWorkers);
          Form.appendChild(coWorkerInput);

          if (document.getElementById("companyName").value === '') {
              alert("고객사 명을 입력해주세요.");
              return false;
          }
          if (document.getElementById("serviceType").value === '') {
              alert("일정 구분을 입력해주세요.");
              return false;
          }
          if (document.getElementById("serviceTitle").value === '') {
              alert("제목을 입력해주세요.");
              return false;
          }
          if (document.getElementById("serviceDetails").value === '') {
              alert("내용을 입력해주세요.");
              return false;
          }
          if (diff < 0) {
              alert("시작일시가 종료일시보다 느립니다. 확인해주세요.");
              return false;
          }
          if (diff > 12) {
              if (confirm("일정이 12시간 이상입니다.\n반복 일정은 반복 등록 기능을 사용해주세요.\n일정 등록 하시겠습니까?") === true) {
                  Form.submit();
              }
          } else {
              if (confirm("일정 등록 하시겠습니까?") === true) {
                  Form.submit();
              }
          }
      }

      function applyform(companyName, serviceType, serviceStartTime, serviceEndTime, serviceLocation, directgo, serviceTitle, serviceDetails) {
          $('#companyName').val(companyName);
          $('#serviceType').val(serviceType);
          $('#starttime').val(serviceStartTime);
          $('#endtime').val(serviceEndTime);
          $('#serviceLocation').val(serviceLocation);
          $('#directgo').val(directgo);
          $('#serviceTitle').val(serviceTitle);
          $('#serviceDetails').val(serviceDetails);
          document.getElementById("companyName").style.backgroundColor = "#e8f0fe";
          document.getElementById("serviceType").style.backgroundColor = "#e8f0fe";
          document.getElementById("starttime").style.backgroundColor = "#e8f0fe";
          document.getElementById("endtime").style.backgroundColor = "#e8f0fe";
          document.getElementById("serviceLocation").style.backgroundColor = "#e8f0fe";
          document.getElementById("directgo").style.backgroundColor = "#e8f0fe";
          document.getElementById("serviceTitle").style.backgroundColor = "#e8f0fe";
          document.getElementById("serviceDetails").style.backgroundColor = "#e8f0fe";
      }

      var value = "";
      var inputId = "";

      function addInput(input) {
          if (window.event.keyCode == 9) {
              value = $(input).attr('data-id');
              inputId = $(input).attr('id');
          }
      }

      $('#serviceType').focus(function () {
          if (value !== "") {
              $('#companyName').trigger('set', {id: value});
              value = "";
              inputId = "";
          }
      });

      $(document).ready(function () {
          const companyName = document.getElementById('companyName');
          {% if companyName %}
              companyName.setAttribute("data-id", "{{ companyName }}");
          {% endif %}

          $('#companyName').magicsearch({
              dataSource: {{ companyNames|safe }},
              fields: 'value',
              id: 'id',
              format: '%value%',
              noResult: '검색결과없음',
              focusShow: true,
          });
          companyName.removeAttribute("style");
          companyName.parentElement.removeAttribute("style");

          const coWorkers = document.getElementById('coWorkers');
          {% if coWorkers %}
              coWorkers.setAttribute("data-id", "{{ coWorkers }}");
          {% endif %}

          $('#coWorkers').magicsearch({
              dataSource: {{ empNames|safe }},
              fields: 'value',
              id: 'id',
              multiple: true,
              multiField: 'value',
              format: '%value%',
              multiStyle: {space: 5, width: 80},
              noResult: '검색결과없음',
              focusShow: true,
          });
          coWorkers.removeAttribute("style");
          coWorkers.parentElement.removeAttribute("style");

          $('#companyName').on("propertychange change keyup paste input", function () {
              document.getElementById("companyName").style.backgroundColor = "#fff";
          });
          $('#serviceType').on("propertychange change keyup paste input", function () {
              document.getElementById("serviceType").style.backgroundColor = "#fff";
          });
          $('#starttime').on("propertychange change keyup paste input", function () {
              document.getElementById("starttime").style.backgroundColor = "#fff";
          });
          $('#endtime').on("propertychange change keyup paste input", function () {
              document.getElementById("endtime").style.backgroundColor = "#fff";
          });
          $('#serviceLocation').on("propertychange change keyup paste input", function () {
              document.getElementById("serviceLocation").style.backgroundColor = "#fff";
          });
          $('#directgo').on("propertychange change keyup paste input", function () {
              document.getElementById("directgo").style.backgroundColor = "#fff";
          });
          $('#serviceTitle').on("propertychange change keyup paste input", function () {
              document.getElementById("serviceTitle").style.backgroundColor = "#fff";
          });
          $('#serviceDetails').on("propertychange change keyup paste input", function () {
              document.getElementById("serviceDetails").style.backgroundColor = "#fff";
          });
      });

  </script>

{% endblock %}