{% extends "dashboard/layout.html" %}


{% block title %}
  일정관리
{% endblock %}


{% block content %}

  <div class="row">

    <div class="col-xl-2"></div>

    <div class="col-xl-8">

      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

          <h6 class="m-0 h3 text-gray-800"> 양식 </h6>

          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="/service/postserviceform/">
              <i class="fas fa-plus fa-sm fa-fw text-gray-400"></i>
            </a>
          </div>

        </div>

        <div class="card-body">

          <div class="table-responsive">
            <table id="showserviceform" class="hover row-border" width="100%" style="width: 100%;">
              <thead>
              <tr>
                <th>고객사</th>
                <th>일정구분</th>
                <th>제목</th>
                <th>수정</th>
                <th>삭제</th>
              </tr>
              </thead>
            </table>
          </div>

        </div>

      </div>

    </div>

    <div class="col-xl-2"></div>

  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">

      function btn_delete(serviceFormId) {
          if (confirm("일정을 삭제 하시겠습니까?") === true) {
              location.href = '/service/deleteserviceform/' + serviceFormId + '/'
          }
      }

      function btn_edit(serviceFormId) {
          if (confirm("일정을 수정 하시겠습니까?") === true) {
              location.href='/service/modifyserviceform/' + serviceFormId + '/'
          }
      }

      $(document).ready(function () {

          const table = $('#showserviceform').DataTable({
              data: [],
              columns: [
                  {data: "고객사"},
                  {data: "일정구분"},
                  {data: "제목"},
                  {data: "수정"},
                  {data: "삭제"},
              ],
              columnDefs: [
                  {targets: 0, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 1, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, width: "40%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 4, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
              ],
              "ordering": false,
              "searching": false,
              "paging": false,
              "info": false,
              "scrollY": "60vh",
              "scrollCollapse": true,
          });

          {% for serviceform in serviceforms %}
              table.row.add( {
                  "고객사": "{{ serviceform.companyName.companyName }}<br>({{ serviceform.serviceType }})",
                  "일정구분": "{{ serviceform.serviceType }}",
                  "제목": "{{ serviceform.serviceTitle }}",
                  "수정": "<a href=\"#\" class=\"btn btn-sm btn-info\" onclick=\"btn_edit({{ serviceform.serviceFormId }})\"><span class=\"icon text-white-50\"> <i class=\"fas fa-edit\"> </i> </span></a>",
                  "삭제": "<a href=\"#\" class=\"btn btn-sm btn-danger\" onclick=\"btn_delete({{ serviceform.serviceFormId }})\"><span class=\"icon text-white-50\"> <i class=\"fas fa-trash-alt\"> </i> </span></a>",
              } ).draw();
          {% endfor %}

      });

  </script>

{% endblock %}