{% extends "dashboard/layout.html" %}


{% block title %}
  일정구분관리
{% endblock %}


{% block css %}

  <style type="text/css">

  </style>

{% endblock %}


{% block content %}

  <div>
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 h3 text-gray-800">일정구분관리</h6>
        <div class="dropdown no-arrow">
          <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
            <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
          </a>
          {% if user.employee.empDeptName == '경영지원본부' or user.is_staff %}
            <a class="btn btn-primary" href="/service/postservicetype/" role="button">
              <i class="fas fa-pen d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-pen"></i> 등록</span>
            </a>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="showservicetype" class="hover row-border" style="width: 100%;">
            <thead>
            <tr>
              <th>typeId</th>
              <th>일정구분</th>
              <th>정렬번호</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">

      $(document).ready(function () {
          $('#showservicetype').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'GET',
                  "data": {
                  },
                  "url": "{% url 'service:showservicetypeasjson' %}",
                  "dataSrc": ""
              },
              "columnDefs": [
                  {
                      targets: 0,
                      width: "33%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "typeId",
                  },
                  {
                      targets: 1,
                      width: "33%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "typeName",
                  },
                  {
                      targets: 2,
                      width: "33%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "orderNumber"
                  },
              ],
              "deferRender": true,
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "60vh",
              "scrollX": false,
              "scrollCollapse": true,
              "order": [[2, 'asc']],
              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
              },
              "footerCallback": function () {
              },
          });

          const showprofiles = $('#showservicetype').DataTable();

          $("#showservicetype").on("click", 'tr', function () {
              const data = showprofiles.row(this).data();
              location.href = '/service/viewservicetype/' + data.typeId + '/'
          });
      });

  </script>

{% endblock %}