{% extends "dashboard/layout.html" %}


{% block title %}
  일정관리
{% endblock %}


{% block content %}

  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 h3 text-gray-800"> 휴가 </h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="/service/postvacation/">
          <i class="fas fa-plus fa-sm fa-fw text-gray-400"></i>
        </a>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table id="showvacation" class="hover row-border w-100">
          <thead>
          <tr>
            <th>휴가일</th>
            <th>구분</th>
            <th>종류</th>
            <th>사유</th>
            <th>상태</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      function btn_delete(vacationId) {
          if (confirm("휴가를 삭제 하시겠습니까?") === true) {
              location.href = '/service/deletevacation/' + vacationId + '/';
          }
      }

      $(document).ready(function () {

          const table = $('#showvacation').DataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'GET',
                  "data": {
                      'empId': '{{ request.user.employee.empId }}',
                  },
                  "url": "{% url 'service:showvacationsasjson' %}",
                  "dataSrc": ""
              },
              "columnDefs": [
                  {
                      targets: 0,
                      width: "15%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "vacationDate"
                  },
                  {
                      targets: 1,
                      width: "5%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "vacationType",
                  },
                  {
                      targets: 2,
                      width: "5%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "vacationCategory__categoryName"
                  },
                  {
                      targets: 3,
                      width: "65%",
                      className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                      data: "comment",
                  },
                  {
                      targets: 4,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "vacationStatus",
                  },
              ],
              "deferRender": true,
              "searching": false,
              "paging": false,
              "info": false,
              "scrollY": "50vh",
              "scrollX": true,
              "scrollCollapse": true,
              "order": [[0, 'desc']],
              "language": {
                  "lengthMenu": "_MENU_개씩 보기",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  if (aData.vacationStatus === 'N') {
                      $('td:eq(4)', nRow).text('결재진행');
                  } else if (aData.vacationStatus === 'Y') {
                      $('td:eq(4)', nRow).text('결재완료');
                  } else if (aData.vacationStatus === 'R') {
                      $('td:eq(4)', nRow).text('반려');
                  }
              }
          });

          $("#showvacation").on("click", 'tr', function () {
              const data = table.row(this).data();
              if (data.documentId__documentId) {
                  location.href = '/approval/viewdocument/' + data.documentId__documentId + '/'
              } else {
                  alert('2020년 이전의 휴가는 결재문서가 없습니다.');
                  return false;
              }
          });
      });

  </script>

{% endblock %}

