{% extends "dashboard/layout.html" %}


{% block title %}
  회의록
{% endblock %}


{% block css %}

  <style type="text/css">

  </style>

{% endblock %}


{% block content %}

  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 h3 text-gray-800">회의록</h6>
      <div class="dropdown no-arrow">
        <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
          <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
        </a>
        <a class="btn btn-primary" href="#" role="button" data-toggle="modal" data-target="#insertModal">
          <i class="fas fa-pen d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-pen"></i> 등록</span>
        </a>
      </div>
    </div>

    <div class="card-body">
      {% csrf_token %}
      <div class="mb-3">
        <h5>▼ <span class="text-primary font-weight-bold">주간회의록 목록</span></h5>
      </div>
      <div class="table-responsive">
        <table id="showreports" class="hover row-border" style="width: 100%;">
          <thead>
          <tr class="bg-light">
            <th>번호</th>
            <th>회의유형</th>
            <th>회의일자</th>
            <th>작성자</th>
            <th>작성시간</th>
            <th>최종수정시간</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">조회조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="text-primary font-weight-bold">시작일자</label>
                <input type="date" max="9999-12-31" class="form-control" name="startdate" value="{{ startdate }}">
              </div>
              <div class="col-6 mb-3 mb-sm-0">
                <label for="enddate" class="text-primary font-weight-bold">종료일자</label>
                <input type="date" max="9999-12-31" class="form-control" name="enddate" value="{{ enddate }}">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="text-primary font-weight-bold">회의유형</label>
                <select class="form-control" name="category">
                  <option value="">전체</option>
                  {% for c in categories %}
                    <option value="{{ c }}">{{ c }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6 mb-3 mb-sm-0">
                <label for="enddate" class="text-primary font-weight-bold">작성자</label>
                <input class="form-control" name="writer" value="{{ writer }}">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Insert Modal -->
  <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="insertModalLabel">일정조회일자</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="insertForm" method="GET" action="/service/postreport/" onkeydown="javascript: if (event.keyCode == 13) {btn_insert();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="text-primary font-weight-bold">시작일자</label>
                <input type="date" max="9999-12-31" class="form-control" name="startdate">
              </div>
              <div class="col-6 mb-3 mb-sm-0">
                <label for="enddate" class="text-primary font-weight-bold">종료일자</label>
                <input type="date" max="9999-12-31" class="form-control" name="enddate">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_insert()">등록</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      function btn_filter() {
          $("#filterForm").submit();
      }

      function btn_insert() {
          $("#insertForm").submit();
      }

      function replaceAll(str, searchStr, replaceStr) {
          var new_str = str.split(searchStr).join(replaceStr);
          return new_str.split("T").join(" ").slice(0, 10);
      }

      $(document).ready(function () {
          const reportsTable = $('#showreports').DataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      'startdate': '{{ startdate }}',
                      'enddate': '{{ enddate }}',
                      'category': '{{ category }}',
                      'writer': '{{ writer }}',
                  },
                  "url": "{% url 'service:reportsasjson' %}",
                  "dataSrc": ""
              },
              "columnDefs": [
                  {
                      targets: 0,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "reportId",
                  },
                  {
                      targets: 1,
                      width: "18%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "category",
                  },
                  {
                      targets: 2,
                      width: "18%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "reportDate",
                  },
                  {
                      targets: 3,
                      width: "18%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "writer__empName",
                  },
                  {
                      targets: 4,
                      width: "18%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "writeDatetime",
                  },
                  {
                      targets: 5,
                      width: "18%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "modifyDatetime",
                  },
              ],
              "deferRender": true,
              "order": [[0, 'asc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollX": true,
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_개씩 보기",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  let row = $('td', nRow);
                  row.eq(4).text(aData.writeDatetime.split('T').join(' ').slice(0, 16));
                  row.eq(5).text(aData.modifyDatetime.split('T').join(' ').slice(0, 16));
              },
          });

          $("#showreports").on("click", 'tr', function () {
              const data = reportsTable.row(this).data();
              location.href = '/service/viewreport/' + data.reportId + '/';
          });
      });

  </script>

{% endblock %}