{% extends "dashboard/layout.html" %}


{% block title %}
  일정관리
{% endblock %}


{% block content %}

  <div class="row">

    <div class="col-xl-6">

      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

          <h6 class="m-0 h3 text-gray-800"> 일정 </h6>

          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
              <i class="fas fa-filter fa-fw text-gray-400"></i>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="dropdown-toggle" href="#" role="button" onclick="btn_post()">
              <i class="fas fa-plus fa-fw text-gray-400"></i>
            </a>
          </div>

        </div>

        <div class="card-body">
          <div class="text-center text-gray-900 font-weight-bold text-lg mb-3">
            {{ countServices }}건, {{ sumHour }}시간 <br class="d-xl-none">
            ({{ sumOverHour }}시간 초과근무)
          </div>
          <b style="font-size:14px; color:red">※ 지난 일정은 "완료" 해주세요</b>
          <div class="table-responsive">
            <table id="showservice" class="hover row-border" width="100%" style="width: 100%;">
              <thead>
              <tr>
                <th>날짜</th>
                <th class="d-none">empId</th>
                <th class="d-none">empName</th>
                <th class="d-none">empDeptName</th>
                <th>고객사</th>
                <th class="d-none">serviceType</th>
                <th class="d-none">serviceStartDatetime</th>
                <th class="d-none">serviceEndDatetime</th>
                <th class="d-none">serviceFinishDatetime</th>
                <th class="d-none">serviceOverHour</th>
                <th class="d-none">serviceRegHour</th>
                <th class="d-none">serviceLocation</th>
                <th class="d-none">directgo</th>
                <th>제목</th>
                <th class="d-none">serviceDetails</th>
                <th class="d-none">customerName</th>
                <th class="d-none">customerDeptName</th>
                <th class="d-none">customerPhone</th>
                <th class="d-none">customerEmail</th>
                <th class="d-none">serviceSignPath</th>
                <th class="d-none">serviceStatus</th>
              </tr>
              </tr>
              </thead>
            </table>
          </div>

        </div>

      </div>

    </div>

    <div class="col-xl-6 d-none d-xl-block">

      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

          <h6 class="m-0 h3 text-gray-800"> 상세내용 </h6>

        </div>

        <div class="card-body">

          <div class="form-group row">
            <div class="col-6 mb-3 mb-sm-0">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">성함</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="empName"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 mb-3 mb-sm-0">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">직출</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="directgo"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 mb-3 mb-sm-0">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">고객사</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="companyName"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 mb-3 mb-sm-0">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">일정구분</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceType"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 mb-3 mb-sm-0">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">시작시간</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceStartDatetime"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 mb-3 mb-sm-0">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">종료시간</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceEndDatetime"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-6 mb-3 mb-sm-0">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">소요시간</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceHour"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 mb-3 mb-sm-0">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">초과근무</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceOverHour"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-12 mb-3 mb-sm-0">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">제목</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceTitle"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-12 mb-3 mb-sm-0">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">내용</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceDetails"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="font-weight-light text-primary">시작 일자</label>
                <input type="date" class="form-control" id="startdate" name="startdate">
              </div>
              <div class="col-6">
                <label for="enddate" class="font-weight-light text-primary">종료 일자</label>
                <input type="date" class="form-control" id="enddate" name="enddate">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="empDeptName" class="font-weight-light text-primary">부서</label>
                <input class="form-control" id="empDeptName" name="empDeptName">
              </div>
              <div class="col-6">
                <label for="empName" class="font-weight-light text-primary">성함</label>
                <input class="form-control" id="empName" name="empName">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="companyName" class="font-weight-light text-primary">고객사</label>
                <input class="form-control" id="companyName" name="companyName">
              </div>
              <div class="col-6">
                <label for="serviceType" class="font-weight-light text-primary">일정구분</label>
                <input class="form-control" id="serviceType" name="serviceType">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-12">
                <label for="serviceTitle" class="font-weight-light text-primary">제목 & 내용</label>
                <input class="form-control" id="serviceTitle" name="serviceTitle">
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">

      function btn_filter() {
          document.getElementById("filterForm").submit();
      }

      function btn_post() {
          const dateToday = new Date();
          const yyyy = dateToday.getFullYear();
          const mm = ((dateToday.getMonth() + 1) > 9 ? '' : '0') + (dateToday.getMonth() + 1);
          const dd = (dateToday.getDate() > 9 ? '' : '0') + dateToday.getDate();
          const strToday = yyyy + '-' + mm + '-' + dd;
          const url = "/service/postservice/" + strToday;
          location.href = url;
      }

      $(document).ready(function () {
          {% if filter == 'N'%}

              $('#showservice').dataTable({
                  "processing": true,
                  "ajax": {
                      "processing": true,
                      "url": "{% url 'service:service_ajax_url' %}",
                      "dataSrc": ""
                  },

                  "columns": [
                      {data: "fields.serviceDate"},
                      {data: "fields.empId"},
                      {data: "fields.empName"},
                      {data: "fields.empDeptName"},
                      {data: "fields.companyName"},
                      {data: "fields.serviceType"},
                      {data: "fields.serviceStartDatetime"},
                      {data: "fields.serviceEndDatetime"},
                      {data: "fields.serviceFinishDatetime"},
                      {data: "fields.serviceOverHour"},
                      {data: "fields.serviceRegHour"},
                      {data: "fields.serviceLocation"},
                      {data: "fields.directgo"},
                      {data: "fields.serviceTitle"},
                      {data: "fields.serviceDetails"},
                      {data: "fields.customerName"},
                      {data: "fields.customerDeptName"},
                      {data: "fields.customerPhone"},
                      {data: "fields.customerEmail"},
                      {data: "fields.serviceSignPath"},
                      {data: "fields.serviceStatus"},
                  ],
                  "columnDefs": [
                      {targets: 0, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 4, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 13, width: "60%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20], visible: false},
                      {"orderable": false, "targets": [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]},
                  ],
              });

          {% else %}
              $('#showservice').dataTable({
                  "processing": true,
                  "ajax": {
                      "processing": true,
                      "type": 'POST',
                      "data": {
                          "startdate":{% if startdate %}"{{ startdate }}",{% else %}"",{% endif %}
                          "enddate":{% if enddate %}"{{ enddate }}",{% else %}"",{% endif %}
                          "empDeptName":{% if empDeptName %}"{{ empDeptName }}",{% else %}"",{% endif %}
                          "empName":{% if empName %}"{{ empName }}",{% else %}"",{% endif %}
                          "companyName":{% if companyName %}"{{ companyName }}",{% else %}"",{% endif %}
                          "serviceType":{% if serviceType %}"{{ serviceType }}",{% else %}"",{% endif %}
                          "serviceTitle":{% if serviceTitle %}"{{ serviceTitle }}",{% else %}"",{% endif %}
                      },
                      "url": "{% url 'service:filter_ajax_url' %}",
                      "dataSrc": ""
                  },

                  "columns": [
                      {data: "fields.serviceDate"},
                      {data: "fields.empId"},
                      {data: "fields.empName"},
                      {data: "fields.empDeptName"},
                      {data: "fields.companyName"},
                      {data: "fields.serviceType"},
                      {data: "fields.serviceStartDatetime"},
                      {data: "fields.serviceEndDatetime"},
                      {data: "fields.serviceFinishDatetime"},
                      {data: "fields.serviceOverHour"},
                      {data: "fields.serviceRegHour"},
                      {data: "fields.serviceLocation"},
                      {data: "fields.directgo"},
                      {data: "fields.serviceTitle"},
                      {data: "fields.serviceDetails"},
                      {data: "fields.customerName"},
                      {data: "fields.customerDeptName"},
                      {data: "fields.customerPhone"},
                      {data: "fields.customerEmail"},
                      {data: "fields.serviceSignPath"},
                      {data: "fields.serviceStatus"},
                  ],
                  "columnDefs": [
                      {targets: 0, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 4, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: 13, width: "60%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                      {targets: [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20], visible: false},
                      {"orderable": false, "targets": [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]},
                  ],
              });
          {% endif %}


          $("#showservice").on("click", 'tr', function () {
              const data = table.row(this).data();
              location.href = '/service/viewservice/' + data.serviceId + '/'
          });

          $("#showservice").on("mouseenter", 'tr', function () {
              const data = table.row(this).data();
              $('#empName').text(data.empName);
              $('#directgo').text(data.directgo);
              $('#companyName').text(data.companyName);
              $('#serviceType').text(data.serviceType.replace('&amp;', '&'));
              $('#serviceStartDatetime').text(data.serviceStartDatetime);
              $('#serviceEndDatetime').text(data.serviceEndDatetime);
              $('#serviceHour').text(data.serviceHour);
              $('#serviceOverHour').text(data.serviceOverHour);
              $('#serviceTitle').text(data.serviceTitle);
              $('#serviceDetails').html(data.serviceDetails);
          });

      });

  </script>

{% endblock %}