{% extends "dashboard/layout.html" %}


{% block title %}
  일정관리
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> 일정관리</h6>
          <div class="dropdown no-arrow">
            <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
            <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
            </a>
            <!-- <a class="btn btn-warning" href="#" role="button" id="changeLink" data-toggle="modal" data-target="#changeModal"> -->
            <!-- <i class="fas fa-sync-alt d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-sync-alt"></i> 변경</span> -->
            <!-- </a> -->
            <a class="btn btn-primary" href="#" role="button" onclick="btn_post()">
            <i class="fa fa-pen d-xl-none"></i><span class="d-none d-xl-block"><i class="fa fa-pen"></i> 등록</span>
            </a>
          </div>
        </div>

        <div class="card-body">
          <div class="row mb-3">
            <div class="col-xl-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-weight-bold text-primary text-uppercase mb-1">조회기간</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        {% if startDay or endDay %}
                          {% if startDay %}{{ startDay|date:'Y.m.d'|slice:"2:" }}{% else %}전체{% endif %}
                          ~
                          {% if endDay %}{{ endDay|date:'Y.m.d'|slice:"2:" }}{% else %}전체{% endif %}
                        {% else %}
                          전체기간
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-weight-bold text-primary text-uppercase mb-1">일정횟수</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ countServices }} 건</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="font-weight-bold text-primary text-uppercase mb-1">소요시간</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ sumHour }} 시간</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clock fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!--            <div class="col-xl-3">-->
<!--              <div class="card border-left-warning shadow h-100 py-2">-->
<!--                <div class="card-body">-->
<!--                  <div class="row no-gutters align-items-center">-->
<!--                    <div class="col mr-2">-->
<!--                      <div class="font-weight-bold text-primary text-uppercase mb-1">초과근무</div>-->
<!--                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ sumOverHour }} 시간</div>-->
<!--                    </div>-->
<!--                    <div class="col-auto">-->
<!--                      <i class="fas fa-moon fa-2x text-gray-300"></i>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>

          <div class="table-responsive mt-3">
            <table id="showservice" class="hover row-border" width="100%" style="width: 100%;">
              <thead>
              <tr>
                <th class="d-none">serviceId</th>
                <th>날짜</th>
                <th>고객사</th>
                <th>소요시간</th>
                <th>제목</th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="col-xl-6 d-none d-xl-block">-->
      <!--<div class="card shadow mb-4">-->
        <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
          <!--<h6 class="m-0 h3 text-gray-800"> 상세내용 </h6>-->
        <!--</div>-->

        <!--<div class="card-body">-->
          <!--<div class="form-group row">-->
            <!--<div class="col-6 mb-3 mb-sm-0">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">성함</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800" id="empName"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-6 mb-3 mb-sm-0">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">직출</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800" id="directgo"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group row">-->
            <!--<div class="col-12 mb-3 mb-sm-0">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">계약명</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800" id="contractName"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group row">-->
            <!--<div class="col-6 mb-3 mb-sm-0">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">고객사</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800" id="companyName"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-6 mb-3 mb-sm-0">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">일정구분</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceType"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group row">-->
            <!--<div class="col-6 mb-3 mb-sm-0">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">시작시간</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceStartDatetime"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-6 mb-3 mb-sm-0">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">종료시간</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceEndDatetime"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group row">-->
            <!--<div class="col-6 mb-3 mb-sm-0">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">소요시간</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceHour"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-6 mb-3 mb-sm-0">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">초과근무</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceOverHour"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group row">-->
            <!--<div class="col-12 mb-3 mb-sm-0">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">제목</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceTitle"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group row">-->
            <!--<div class="col-12 mb-3 mb-sm-0">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">내용</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceDetails"></div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->

      <!--</div>-->

    <!--</div>-->
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdateFilter" class="font-weight-bold text-primary">시작 일자</label>
                <input type="date" max="9999-12-31" class="form-control" id="startdateFilter" name="startdate" value="{{ startdate }}">
              </div>
              <div class="col-6">
                <label for="enddateFilter" class="font-weight-bold text-primary">종료 일자</label>
                <input type="date" max="9999-12-31" class="form-control" id="enddateFilter" name="enddate" value="{{ enddate }}">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="empDeptNameFilter" class="font-weight-bold text-primary">부서</label>
                <input class="form-control" id="empDeptNameFilter" name="empDeptName" value="{{ empDeptName }}">
              </div>
              <div class="col-4">
                <label for="empNameFilter" class="font-weight-bold text-primary">성함</label>
                <input class="form-control" id="empNameFilter" name="empName" value="{{ empName }}">
              </div>
              <div class="col-2 text-center">
                <label for="empCheckFilter" class="font-weight-bold text-primary">내일정</label>
                <input class="form-control" type="checkbox" id="empCheckFilter" name="empCheck"
                       value="{{ empCheck }}" {% if empCheck %}checked{% endif %}>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="companyNameFilter" class="font-weight-bold text-primary">고객사</label>
                <input class="form-control" id="companyNameFilter" name="companyName" value="{{ companyName }}">
              </div>
              <div class="col-6">
                <label for="serviceTypeFilter" class="font-weight-bold text-primary">일정구분</label>
                <input class="form-control" id="serviceTypeFilter" name="serviceType" value="{{ serviceType }}">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-10">
                <label for="contractNameFilter" class="font-weight-bold text-primary">계약명</label>
                <input class="form-control" id="contractNameFilter" name="contractName" value="{{ contractName }}">
              </div>
              <div class="col-2 text-center">
                <label for="contractCheckFilter" class="font-weight-bold text-primary">없음</label>
                <input class="form-control" type="checkbox" id="contractCheckFilter" name="contractCheck"
                       value="{{ contractCheck }}" {% if contractCheck %}checked{% endif %}>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-12">
                <label for="serviceTitleFilter" class="font-weight-bold text-primary">제목 & 내용</label>
                <input class="form-control" id="serviceTitleFilter" name="serviceTitle" value="{{ serviceTitle }}">
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Change Modal -->
  <div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="changeModalLabel">계약명 일괄 입력</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="changeForm" action="/service/changecontractsname/" method="POST" onkeydown="javascript: if (event.keyCode == 13) { btn_change() }">
            {% csrf_token %}

            <div class="col-12 mb-3 mb-sm-0">
              <label for="contracts" class="font-weight-light text-primary">계약명</label>
              <input class="form-control magicsearch" id="contracts" name="contracts" autocomplete="off">
              <input class="d-none" id="changeCompanyName">
            </div>

            <div class="table-responsive">
            <table id="changeContract" class="hover row-border" width="100%" style="width: 100%;">
            <thead>
              <tr>
                <th><input class="ckbxall" type="checkbox"></th>
                <th>날짜</th>
                <th>고객사</th>
                <th>제목</th>
                <th class="d-none">serviceId</th>
              </tr>
            </thead>
            </table>
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_change()">변경</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">

      function btn_filter() {
          document.getElementById("filterForm").submit();
      }

      function btn_post() {
          const dateToday = new Date();
          const yyyy = dateToday.getFullYear();
          const mm = ((dateToday.getMonth() + 1) > 9 ? '' : '0') + (dateToday.getMonth() + 1);
          const dd = (dateToday.getDate() > 9 ? '' : '0') + dateToday.getDate();
          const strToday = yyyy + '-' + mm + '-' + dd;
          const url = "/service/postservice/" + strToday;
          location.href = url;
      }

      function btn_change() {
          const length = $('.service-id').length;
          const idList = new Array();
          for (var i = 2; i <= length - 1; i++) {
              if ($('.ckbx').eq(i-2).is(":checked")) {
                  idList.push($('.service-id').eq(i).text());
              }
          }

          const changeForm = document.getElementById('changeForm');

          const serviceId = document.createElement("input");
          serviceId.setAttribute("type", "hidden");
          serviceId.setAttribute("name", "serviceId");
          serviceId.setAttribute("value", JSON.stringify(idList));
          changeForm.appendChild(serviceId);

          const contractId = document.createElement("input");
          contractId.setAttribute("type", "hidden");
          contractId.setAttribute("name", "contractId");
          contractId.setAttribute("value", JSON.stringify($('#contracts').data("id")));
          changeForm.appendChild(contractId);

          changeForm.submit();
      }

      function replaceAll(str, searchStr, replaceStr) {
          var new_str = str.split(searchStr).join(replaceStr);
          return new_str.split("T").join(" ").slice(0, 16);
      }

      $('#contractCheckFilter').click(function () {
          if ($(this).is(":checked")) {
              $("#contractNameFilter").val('');
              $("#contractNameFilter").attr('readonly', '');
          } else {
              $("#contractNameFilter").removeAttr('readonly');
          }
      });

      $('#empCheckFilter').click(function () {
          if ($(this).is(":checked")) {
              $("#empDeptNameFilter").val('');
              $("#empDeptNameFilter").attr('readonly', '');
              $("#empNameFilter").val('');
              $("#empNameFilter").attr('readonly', '');
          } else {
              $("#empDeptNameFilter").removeAttr('readonly');
              $("#empNameFilter").removeAttr('readonly');
          }
      });

      $(document).ready(function () {
          $('#showservice').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      "startdate": "{{ startdate }}",
                      "enddate": "{{ enddate }}",
                      "empDeptName": "{{ empDeptName }}",
                      "empName": "{{ empName }}",
                      "empCheck": "{{ empCheck }}",
                      "companyName": "{{ companyName }}",
                      "serviceType": "{{ serviceType }}",
                      "contractName": "{{ contractName }}",
                      "contractCheck": "{{ contractCheck }}",
                      "serviceTitle": "{{ serviceTitle }}",
                      "selectType": "show",
                  },
                  "url": "{% url 'service:service_ajax_url' %}",
                  "dataSrc": ""
              },

              "columns": [
                  {data: "serviceId"},
                  {data: "serviceDate"},
                  {data: "companyName__companyName"},
                  {data: "serviceHour"},
                  {data: "serviceTitle"},
              ],
              "columnDefs": [
                  {targets: 0, className: "d-none"},
                  {targets: 1, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, width: "20%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 4, width: "60%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
              ],
              "deferRender": true,
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "60vh",
              "scrollX": true,
              "scrollCollapse": true,
              "order": [[1, 'desc']],
              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  const today = new Date();
                  const startdate = new Date(aData.serviceEndDatetime);
                  if (startdate <= today && aData.serviceStatus == 'N') {
                      $('td', nRow).css('background-color', '#fff2f9').css('color', 'red');
                  } else if (aData.serviceStatus == "Y") {
                      $('td', nRow).css('background-color', '#f2f2f2');
                  } else {
                      $('td', nRow).css('background-color', '#ffffff');
                  }
              }
          });

          var table = $('#showservice').DataTable();

          $("#showservice").on("click", 'tr', function () {
              const data = table.row(this).data();
              location.href = '/service/viewservice/' + data.serviceId + '/'
          });

          $("#showservice").on("mouseenter", 'tr', function () {
              const data = table.row(this).data();
              $('#empName').text(data.empName);
              $('#directgo').text(data.directgo);
              $('#companyName').text(data.companyName__companyName);
              $('#serviceType').text(data.serviceType.replace('&amp;', '&'));
              $('#serviceStartDatetime').text(replaceAll(data.serviceStartDatetime, "-", "."));
              $('#serviceEndDatetime').text(replaceAll(data.serviceEndDatetime, "-", "."));
              $('#serviceHour').text(data.serviceHour + ' 시간');
              $('#serviceOverHour').text(data.serviceOverHour + ' 시간');
              $('#serviceTitle').text(data.serviceTitle);
              $('#serviceDetails').html(data.serviceDetails);
              $('#contractName').html(data.contractId__contractName);
          });

          if ($('#contractCheckFilter').is(":checked")) {
              $("#contractNameFilter").attr('readonly', '');
          }

          if ($('#empCheckFilter').is(":checked")) {
              $("#empDeptNameFilter").attr('readonly', '');
              $("#empNameFilter").attr('readonly', '');
          }

          const changeContractTable = $('#changeContract').DataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      "companyName": function() { return $('#changeCompanyName').text() },
                      "selectType": "change",
                  },
                  "url": "{% url 'service:service_ajax_url' %}",
                  "dataSrc": ""
              },
              "columnDefs": [
                  {
                      targets: 0,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      orderable: false,
                      data: null,
                      defaultContent: '<input class="ckbx" name="ckbx" type=checkbox></input>',
                  },
                  {
                      targets: 1,
                      width: "20%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "serviceDate",
                  },
                  {
                      targets: 2,
                      width: "20%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "companyName__companyName"
                  },
                  {
                      targets: 3,
                      width: "50%",
                      className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                      data: "serviceTitle",
                  },
                  {
                      targets: 4,
                      orderable: false,
                      className: "service-id d-none",
                      data: "serviceId",
                  },
              ],
              "deferRender": true,
              "searching": false,
              "paging": false,
              "info": false,
              "scrollY": "50vh",
              "scrollX": true,
              "scrollCollapse": true,
              "order": [[1, 'desc']],
              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  const today = new Date();
                  const startdate = new Date(aData.serviceEndDatetime);
                  if (startdate <= today && aData.serviceStatus == 'N') {
                      $('td', nRow).css('background-color', '#fff2f9').css('color', 'red');
                  } else if (aData.serviceStatus == "Y") {
                      $('td', nRow).css('background-color', '#f2f2f2');
                  } else {
                      $('td', nRow).css('background-color', '#ffffff');
                  }
              }
          });

          $('.ckbxall').click( function() {
              $('.ckbx').prop('checked', this.checked);
          });

          const contracts = document.getElementById('contracts');
          $('#contracts').magicsearch({
              dataSource: {{ contracts|safe }},
              fields: 'value',
              id: 'id',
              format: '%value%',
              noResult: '검색결과없음',
              focusShow: true,
              maxShow: 100,
              success: function ($input, data) {
                  $('#changeCompanyName').text(data.company);
                  changeContractTable.ajax.reload();
              }
          });
          contracts.removeAttribute("style");
          contracts.parentElement.removeAttribute("style");


      });
  </script>

{% endblock %}