{% extends "dashboard/layout.html" %}


{% block title %}
  일정관리
{% endblock %}


{% block css %}

  <style type="text/css">

    .table {
      color: #333333;
      table-layout: fixed;
      border: 2px solid black;
      width: 100%;
      height: 600px;
      border-collapse: collapse;
      background-color: #ffffff;
    }

    .table td, .table th {
      padding: 0px;
      vertical-align: middle;
      border: 2px solid black;
      white-space: nowrap;
      font-size: 16px;
    }

    .mobile-table{
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .mobile-table td, .mobile-table th{
      vertical-align: middle;
      border-top: 1px dotted #858796a3;
    }

    @media (max-width:1199px){.mobile-table td, .mobile-table th{font-size: 16px; padding: 4px;}}
    @media (min-width:1200px){.mobile-table td, .mobile-table th{font-size: 18px; padding: 8px;}}
  </style>

{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-xl-2"></div>
    <!-- SERVICE REPORT -->
    <div id="serviceReport" class="col-xl-8 d-none" style="z-index: 2">
      <div class="text-right mb-3" style="min-width: 1000px">
        {% if service.empId.empId == user.employee.empId %}
              {% if service.serviceSignPath == '/media/images/signature/nosign.jpg' %}
                {% if service.serviceStatus != 'N'  %}
                <a href="#" class="btn btn-warning" onclick="location.href='/signature/selectmanager/{{ service.serviceId }}'">
                  <i class="fas fa-file-signature text-gray-100"></i>
                </a>
                {% endif %}
              {% else %}
                (서명완료)
              {% endif %}
          <a href="#" class="btn btn-info" style="width: 50px; height: 42px;" onclick="location.href='/mail/{{ service.serviceId }}'">
            <i class="fas fa-envelope text-gray-100" style="font-size: 1.5em;"></i>
          </a>
          &nbsp;&nbsp;
        {% endif %}
        <a href="#" class="btn btn-danger" style="width: 50px; height: 42px;" onclick="location.href='/service/viewservicepdf/{{ service.serviceId }}'">
          <i class="fas fa-file-pdf text-gray-100" style="font-size: 1.5em;"></i>
        </a>
      </div>

      <table class="table">
        <tbody>
        <tr style="height: 75px;">
          <td style="width: 1000px; text-align: center;" colspan="10">
            <strong style="font-size: 40px">SERVICE REPORT</strong>
          </td>
        </tr>
        <tr style="height: 25px;">
          <td style="width: 195px; text-align: center;" colspan="2">
            <strong>고 객 사</strong></td>
          <td style="width: 195px; text-align: center;" colspan="2">
            <strong>지 원 종 류</strong></td>
          <td style="width: 205px; text-align: center;" colspan="2">
            <strong>개 시 일 시</strong></td>
          <td style="width: 205px; text-align: center;" colspan="2">
            <strong>완 료 일 시</strong></td>
          <td style="width: 195px; text-align: center;" colspan="2">
            <strong>소 요 시 간</strong></td>
        </tr>
        <tr style="height: 50px;">
          <td style="width: 195px; text-align: center; font-size:14px" colspan="2">
            <strong>
              <a href="/client/viewclient/{{ service.companyName }}/" style="font-size: 18px; color:black">{{ service.companyName }}</a>
            </strong> 귀중
          </td>
          <td style="width: 195px; text-align: center;" colspan="2">
            {{ service.serviceType }}
          </td>
          <td style="width: 205px; text-align: center;" colspan="2">
            {{ service.serviceBeginDatetime | date:"Y년 m월 d일 H:i" }}
          </td>
          <td style="width: 205px; text-align: center;" colspan="2">
            {{ service.serviceFinishDatetime | date:"Y년 m월 d일 H:i" }}
          </td>
          <td style="width: 195px; text-align: center;" colspan="2">
            {{ service.serviceHour }} 시간
          </td>
        </tr>
        <tr style="height: 370px;">
          <td style="width: 1000px; vertical-align: top; white-space: normal" colspan="10">
            <p>&nbsp;</p>&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>내 용 :</strong>
            <p>
            <div style="padding-left: 40px">{{ service.serviceTitle }}</div>
            </p>
            <p>
            <div style="padding-left: 40px">{{ service.serviceDetails|linebreaksbr }}</div>
            </p>
            {% if coWorker %}
              <br><br>
              <p>
              <div style="padding-left: 40px">
                # 서비스 지원 동행 : 유니원아이앤씨
                {% for name in coWorker %}
                  {% if forloop.last %}
                    {{ name }}
                  {% else %}
                    {{ name }},
                  {% endif %}
                {% endfor %}
              </div></p>
            {% endif %}
          </td>
        </tr>
        <tr style="height: 20px;">
          <td style="width: 300px;" colspan="3">
            <strong>&nbsp;&nbsp;지원담당부서 :</strong>
            {{ service.empDeptName }}
          </td>
          <td style="width: 300px;" colspan="3">
            <strong>&nbsp;&nbsp;고객담당부서 :</strong>
            {% if service.customerDeptName == None %}
              &nbsp;
            {% else %}
              {{ service.customerDeptName }}
            {% endif %}
          </td>
          <td style="width: 100px; text-align: center;" colspan="2" rowspan="4">
            <strong>고객<br>서명</strong>
          </td>
          <td style="width: 300px; text-align: center;" colspan="2" rowspan="4">
            <img src="{{ service.serviceSignPath }}" height="100px" width="198px">
          </td>
        </tr>
        <tr style="height: 20px;">
          <td style="width: 300px;" colspan="3">
            <strong>&nbsp;&nbsp;담 당 자 :</strong>
            {{ service.empName }}
          </td>
          <td style="width: 300px;" colspan="3">
            <strong>&nbsp;&nbsp;담 당 자 :</strong>
            {% if service.customerName == None %}
              &nbsp;
            {% else %}
              {{ service.customerName }}
            {% endif %}
          </td>
        </tr>
        <tr style="height: 20px;">
          <td style="width: 300px;" colspan="3">
            <strong>&nbsp;&nbsp;연 락 처 :</strong>
            {{ service.empId.empPhone }}
          </td>

          <td style="width: 300px;" colspan="3">
            <strong>&nbsp;&nbsp;연 락 처 :</strong>
            {% if service.customerPhone == None %}
              &nbsp;
            {% else %}
              {{ service.customerPhone }}
            {% endif %}
          </td>
        </tr>
        <tr style="height: 20px;">
          <td style="width: 300px;" colspan="3">
            <strong>&nbsp;&nbsp;이 메 일 :</strong>
            {{ service.empId.empEmail }}
          </td>
          <td style="width: 300px;" colspan="3">
            <strong>&nbsp;&nbsp;이 메 일 :</strong>
            {% if service.customerEmail == None %}
              &nbsp;
            {% else %}
              {{ service.customerEmail }}
            {% endif %}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-center mb-2" style="min-width: 1000px">
        {% if board == None %}
          <a href="#" class="btn btn-primary btn-icon-split" onclick="btn_board()">
            <span class="icon text-white-50">
              <i class="fas fa-pen-fancy"></i>
            </span>
            <span class="text text-white">게시물 작성</span>
          </a>
        {% else %}
          <a href="#" class="btn btn-primary btn-icon-split" onclick="location.href='/noticeboard/viewboard/{{ board.boardId }}/'">
            <span class="icon text-white-50">
              <i class="fas fa-link"></i>
            </span>
            <span class="text text-white">게시글 보기</span>
          </a>
        {% endif %}
        <a href="#" class="btn btn-info btn-icon-split" onclick="btn_modify()">
          <span class="icon text-white-50"> <i class="fas fa-edit"> </i> </span>
          <span class="text p-2"> 수정 </span>
        </a>
      </div>
    </div>

    <!-- SERVICE SUMMARY -->
    <div id="serviceSummary" class="col-xl-8">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> No. {{ service.serviceId }} </h6>
          <div class="text-right mb-2">
            {% if service.empId.empId == user.employee.empId %}
            <a href="#" class="btn btn-info" onclick="location.href='/mail/{{ service.serviceId }}'">
              <i class="fas fa-envelope text-gray-100"></i>
            </a>
            {% endif %}
            <a href="#" class="btn btn-danger" onclick="location.href='/service/viewservicepdf/{{ service.serviceId }}'">
              <i class="fas fa-file-pdf text-gray-100"></i>
            </a>
          </div>
        </div>
        <div class="card-body ">
          <table class="mobile-table">
            <tbody>
            <tr>
              <td style="width: 30%; border-top: 0px;" class="text-center"><b>성&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;함</b></td>
              <td style="width: 70%; border-top: 0px;">{{ service.empName }} {% if service.directgo == "Y" %}(직출){% endif %}</td>
            </tr>
            {% if coWorker %}
            <tr>
              <td class="text-center"><b>동&nbsp;&nbsp;행&nbsp;&nbsp;자</b></td>
              <td>{% for name in coWorker %}{% if forloop.last %}{{ name }}{% else %}{{ name }}, {% endif %}{% endfor %}</td>
            </tr>
            {% endif %}
            {% if contractName %}
            <tr>
              <td class="text-center"><b>계&nbsp;&nbsp;약&nbsp;&nbsp;명</b></td>
              <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ contractName }}</td>
            </tr>
            {% endif %}
            <tr>
              <td class="text-center"><b>고&nbsp;&nbsp;객&nbsp;&nbsp;사</b></td>
              <td><b class="text-primary">{{ service.companyName }}</b> ({{ service.serviceLocation }})
                <i class="fas fa-search text-gray-600" onclick="location.href='/client/viewclient/{{ service.companyName }}/'"></i>
              </td>
            </tr>
            <tr>
              <td class="text-center"><b>일정구분</b></td>
              <td>{{ service.serviceType }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>출발일시</b></td>
              <td>{{ service.serviceBeginDatetime | date:"Y. m. d(D" | slice:"0:14" }})
                {{ service.serviceBeginDatetime | date:"H:i" }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>시작일시</b></td>
              <td>{{ service.serviceBeginDatetime | date:"Y. m. d(D" | slice:"0:14" }})
                {{ service.serviceStartDatetime | date:"H:i" }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>종료일시</b></td>
              <td>{{ service.serviceFinishDatetime | date:"Y. m. d(D" | slice:"0:14" }})
                {{ service.serviceEndDatetime | date:"H:i" }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>도착일시</b></td>
              <td>{{ service.serviceFinishDatetime | date:"Y. m. d(D" | slice:"0:14" }})
                {{ service.serviceFinishDatetime | date:"H:i" }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>소요시간</b></td>
              <td>{{ service.serviceHour }} 시간 {% if service.serviceOverHour > 0 %}<b class="text-danger">({{ service.serviceOverHour }} 초과근무)</b>{% endif %}</td>
            </tr>
            <tr>
              <td class="text-center"><b>제&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;목</b></td>
              <td>{{ service.serviceTitle }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>내&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;용</b></td>
              <td>{{ service.serviceDetails | linebreaksbr }}</td>
            </tr>
            </tbody>
          </table>
          <div class="text-center mb-2">
            {% if board == None %}
              <a href="#" class="btn btn-primary btn-icon-split" onclick="btn_board()">
                <span class="icon text-white-50">
                  <i class="fas fa-pen-fancy"></i>
                </span>
                <span class="text text-white">게시물 작성</span>
              </a>
            {% else %}
              <a href="#" class="btn btn-primary btn-icon-split" onclick="location.href='/noticeboard/viewboard/{{ board.boardId }}/'">
                <span class="icon text-white-50">
                  <i class="fas fa-link"></i>
                </span>
                <span class="text text-white">게시글 보기</span>
              </a>
            {% endif %}
            <a href="#" class="btn btn-info btn-icon-split" onclick="btn_modify()">
              <span class="icon text-white-50"> <i class="fas fa-edit"> </i> </span>
              <span class="text p-2"> 계약명 수정 </span>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-2"></div>
  </div>


{% endblock %}


{% block script %}

  <script type="text/javascript">

      function btn_board() {
          location.href = '/noticeboard/postboard/' + {{ service.serviceId }} +'/';
      }

      function btn_modify() {
          if (confirm("계약명을 수정 하시겠습니까?") === true) {
              location.href = '/service/modifyservice/' + {{ service.serviceId }} +'/';
          }
      }

  </script>

{% endblock %}