{% extends "dashboard/layout.html" %}


{% block title %}
  일정관리
{% endblock %}


{% block css %}

  <style type="text/css">

    .mobile-table{
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .mobile-table td, .mobile-table th{
      vertical-align: middle;
      border-top: 1px dotted #858796a3;
    }

    @media (max-width:1199px){.mobile-table td, .mobile-table th{font-size: 16px; padding: 4px;}}
    @media (min-width:1200px){.mobile-table td, .mobile-table th{font-size: 18px; padding: 8px;}}

  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-2"></div>

    <div class="col-xl-8">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> No. {{ service.serviceId }} </h6>
        </div>
        <div class="card-body ">
          <table class="mobile-table">
            <tbody>
            <tr>
              <td style="width: 30%; border-top: 0px;" class="text-center"><b>성&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp함</b></td>
              <td style="width: 70%; border-top: 0px;">{{ service.empName }} {% if service.directgo == "Y" %}(직출){% endif %}</td>
            </tr>
            {% if coWorker %}
            <tr>
              <td class="text-center"><b>동&nbsp&nbsp행&nbsp&nbsp자</b></td>
              <td>{% for name in coWorker %}{% if forloop.last %}{{ name }}{% else %}{{ name }}, {% endif %}{% endfor %}</td>
            </tr>
            {% endif %}
            {% if contractName %}
            <tr>
              <td class="text-center"><b>계&nbsp&nbsp약&nbsp&nbsp명</b></td>
              <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ contractName }}</td>
            </tr>
            {% endif %}
            <tr>
              <td class="text-center"><b>고&nbsp&nbsp객&nbsp&nbsp사</b></td>
              <td><b class="text-primary">{{ service.companyName }}</b> ({{ service.serviceLocation }})
                <i class="fas fa-search text-gray-600" onclick="location.href='/client/viewclient/{{ service.companyName }}/'"></i>
              </td>
            </tr>
            <tr>
              <td class="text-center"><b>일정구분</b></td>
              <td>{{ service.serviceType }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>시작일시</b></td>
              <td>{{ service.serviceStartDatetime | date:"Y. m. d(D" | slice:"0:14" }}) {{ service.serviceStartDatetime | date:"H:i" }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>종료일시</b></td>
              <td>{{ service.serviceEndDatetime | date:"Y. m. d(D" | slice:"0:14" }}) {{ service.serviceEndDatetime | date:"H:i" }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>소요시간</b></td>
              <td>{{ service.serviceHour }} 시간 {% if service.serviceOverHour > 0 %}<b class="text-danger">({{ service.serviceOverHour }} 초과근무)</b>{% endif %}</td>
            </tr>
            <tr>
              <td class="text-center"><b>제&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp목</b></td>
              <td>{{ service.serviceTitle }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>내&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp용</b></td>
              <td>{{ service.serviceDetails | linebreaksbr }}</td>
            </tr>
            </tbody>
          </table>

          {% if service.empId.empId == user.employee.empId and service.serviceStatus == 'N' %}
            <div class="text-center">
              <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_delete()">
                <span class="icon text-white-50"> <i class="fas fa-trash-alt"> </i> </span>
                <span class="text p-2"> 삭제 </span>
              </a>
              <a href="#" class="btn btn-info btn-icon-split" onclick="btn_modify()">
                <span class="icon text-white-50"> <i class="fas fa-edit"> </i> </span>
                <span class="text p-2"> 수정 </span>
              </a>
              {% if user.employee.empDeptName == '솔루션지원팀' or user.employee.empDeptName == 'DB지원팀' %}
              <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">
                <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
                <span class="text p-2"> 완료 </span>
              </a>
              {% endif %}
            </div>
          {% elif service.empId.empId != user.employee.empId and service.serviceStatus == 'N' %}
            <div class="text-center">
              <a href="#" class="btn btn-info btn-icon-split" onclick="btn_copy()">
                <span class="icon text-white-50"> <i class="fas fa-copy"> </i> </span>
                <span class="text"> 복사 </span>
              </a>
            </div>
          {% endif %}

        </div>

      </div>
    </div>

    <div class="col-xl-2"></div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">

      function btn_save(){
          if (confirm("일정을 완료 하시겠습니까?") === true) {
              location.href = '/signature/selectmanager/' + {{ service.serviceId }} + '/';
          }
      }

      function btn_modify(){
          if (confirm("일정을 수정 하시겠습니까?") === true) {
              location.href = '/service/modifyservice/' + {{ service.serviceId }} + '/';
          }
      }

      function btn_delete(){
          if (confirm("일정을 삭제 하시겠습니까?") === true) {
              location.href = '/service/deleteservice/' + {{ service.serviceId }} + '/';
          }
      }

      function btn_copy(){
          if (confirm("일정을 복사 하시겠습니까?") === true) {
              location.href = '/service/copyservice/' + {{ service.serviceId }} + '/';
          }
      }

  </script>

{% endblock %}