{% extends "dashboard/layout.html" %}


{% block title %}
  일정관리
{% endblock %}


{% block css %}

  <style type="text/css">

    .table {
      color: #333333;
      table-layout: fixed;
      border: 2px solid black;
      width: 100%;
      height: 600px;
      border-collapse: collapse;
      background-color: #ffffff;
    }

    .table td, .table th {
      padding: 0px;
      vertical-align: middle;
      border: 2px solid black;
      white-space: nowrap;
      font-size: 16px;
    }

    .mobile-table{
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .mobile-table td, .mobile-table th{
      vertical-align: middle;
      border-top: 1px dotted #858796a3;
    }

    .file-table {
      color: #333333;
      width: 100%;
    }

    .file-table td, .file-table th {
      padding: .75rem;
      vertical-align: middle;
      text-align: center;
      border-top: 0px;
    }

    @media (max-width:1199px){.mobile-table td, .mobile-table th{font-size: 16px; padding: 4px;}}
    @media (min-width:1200px){.mobile-table td, .mobile-table th{font-size: 18px; padding: 8px;}}
  </style>

{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-xl-2"></div>
    <div id="serviceSummary" class="col-xl-8">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h3 class="m-0 text-gray-800 d-none d-xl-block"> No. {{ service.serviceId }} </h3>
          <h6 class="m-0 text-gray-800 d-xl-none"> No. {{ service.serviceId }} </h6>
          <div class="text-right mb-2">
            <a class="btn btn-warning" href="#" role="button" onclick="btn_copy()">
              <i class="fas fa-copy d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-copy"></i> 복사</span>
            </a>
          </div>
        </div>
        <div class="card-body ">
          <table class="mobile-table">
            <tbody>
            <tr>
              <td style="width: 30%; border-top: 0px;" class="text-center"><b>성&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;함</b></td>
              <td style="width: 70%; border-top: 0px;">{{ service.empName }} {% if service.directgo == "Y" %}(직출){% endif %}</td>
            </tr>
            {% if coWorker %}
            <tr>
              <td class="text-center"><b>참&nbsp;&nbsp;석&nbsp;&nbsp;자</b></td>
              <td>{% for name in coWorker %}{% if forloop.last %}{{ name }}{% else %}{{ name }}, {% endif %}{% endfor %}</td>
            </tr>
            {% endif %}
            {% if contractName %}
            <tr>
              <td class="text-center"><b>프로젝트명</b></td>
              <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ contractName }}</td>
            </tr>
            {% endif %}
            <tr>
              <td class="text-center"><b>거&nbsp;&nbsp;래&nbsp;&nbsp;처</b></td>
              <td>
              {% if service.companyName %}
                <b class="text-primary">{{ service.companyName }}</b> ({{ service.serviceLocation }})
                <i class="fas fa-search text-gray-600" onclick="location.href='/client/viewclient/{{ service.companyName }}/'"></i>
              {% else %}
                <b class="font-weight-bold text-danger">거래처 없음</b>
              {% endif %}
              </td>
            </tr>
            <tr>
              <td class="text-center"><b>일정구분</b></td>
              <td>{{ service.serviceType }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>시작일시</b></td>
              <td>{{ service.serviceStartDatetime | date:"Y. m. d(D" | slice:"0:14" }})
                {{ service.serviceStartDatetime | date:"H:i" }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>종료일시</b></td>
              <td>{{ service.serviceEndDatetime | date:"Y. m. d(D" | slice:"0:14" }})
                {{ service.serviceEndDatetime | date:"H:i" }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>소요시간</b></td>
              <td>{{ service.serviceHour }} 시간 {% if service.serviceOverHour > 0 %}<b class="text-danger">({{ service.serviceOverHour }} 초과근무)</b>{% endif %}</td>
            </tr>
            <tr>
              <td class="text-center"><b>제&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;목</b></td>
              <td>{{ service.serviceTitle }}</td>
            </tr>
            <tr>
              <td class="text-center"><b>내&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;용</b></td>
              <td>{{ service.serviceDetails | linebreaksbr }}</td>
            </tr>
            <tr>
              <td class="text-center">
                <label class="font-weight-bold">첨부파일
                  {% if user.is_staff %}
                    <span class="icon text-info"><i class="fas fa-paperclip" style="cursor:pointer"></i></span>
                    <input id="files" name="files" type="file" multiple="multiple" class="d-none" onchange=file_upload()>
                    <form id="filesForm" method="POST" enctype="multipart/form-data" class="d-none">{% csrf_token %}</form>
                  {% endif %}
                </label>
              </td>
              <td>
                <table class="file-table">
                  <tbody>
                  {% for file in files %}
                    <tr>
                      <td class="text-left">
                        <a href="/media/{{ file.file }}" download>{{ file.fileName }}</a>
                      </td>
                      <td class="text-right">{{ file.fileSize }} MB</td>
                      {% if user.is_staff %}
                      <td><i class="fas fa-times-circle" onclick="file_delete({{ file.fileId }})"></i></td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-center mb-2">
            {% if user.is_staff %}
              <a href="#" class="btn btn-info btn-icon-split" onclick="btn_modify()">
                <span class="icon text-white"> <i class="fas fa-edit"></i> </span>
                <span class="text p-2"> 수정 </span>
              </a>
              <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_delete()">
                <span class="icon text-white"> <i class="fas fa-trash-alt"></i> </span>
                <span class="text p-2"> 삭제 </span>
              </a>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-2"></div>
  </div>


{% endblock %}


{% block script %}

  <script type="text/javascript">

      function btn_board() {
          location.href = '/noticeboard/postboard/' + {{ service.serviceId }} +'/';
      }

      function btn_copy(){
          if (confirm("일정을 복사 하시겠습니까?") === true) {
              location.href = '/service/copyservice/' + {{ service.serviceId }} + '/';
          }
      }

      function btn_delete(){
          if (confirm("일정을 삭제 하시겠습니까?") === true) {
              location.href = '/service/deleteservice/' + {{ service.serviceId }} + '/';
          }
      }

      function btn_sign() {
          if (confirm("해당일정의 서명을 복사 하시겠습니까?") === true) {
              let signId = $('input[name="signId"]:checked').val();
              const form = $('#signForm');
              $('<input />', {
                  type: 'hidden',
                  name: 'signId',
                  value: signId
              }).appendTo(form);
              form.submit();
          }
      }

      function btn_modify(){
          if (confirm("일정을 수정 하시겠습니까?") === true) {
              location.href = '/service/modifyservice/' + {{ service.serviceId }} + '/';
          }
      }

      function file_names(id) {
          let files = $('#' + id).get(0).files;
          let filesTbody = $('#filesTbody');
          let file;
          let tr;
          filesTbody.empty();

          for (let i = 0; i < files.length; i++) {
              file = files[i];
              tr = '<tr>';
              tr += '<td class="text-left" name="filesName">' + file.name + '</td>';
              tr += '<td name="filesSize">' + (file.size / 1048576).toFixed(2) + 'MB</td>';
              tr += '<td><i class="fas fa-times-circle" name="remove" onclick="remove_row(this)"></i></td>';
              tr += '</tr>';
              filesTbody.append(tr);
          }
      }

      function btn_upload() {
          let contractId = "{{ service.contractId.contractId }}";
          let serviceId = "{{ service.serviceId }}";

          if (contractId != "None"){
              let uploadForm = $('#uploadForm');
              // 첨부파일
              uploadForm.append($("#files"));
              let filesName = $('td[name="filesName"]');
              let filesSize = $('td[name="filesSize"]');
              let listFile = [];
              let data;
              for (let i = 0; i < filesName.length; i++) {
                  data = {};
                  data.fileName = filesName[i].innerText;
                  data.fileSize = filesSize[i].innerText;
                  listFile.push(data);
              }
              $('<input />', {
                  type: 'hidden',
                  name: 'jsonFile',
                  value: JSON.stringify(listFile)
              }).appendTo(uploadForm);

              $('<input />', {
                  type: 'hidden',
                  name: 'serviceId',
                  value: serviceId
              }).appendTo(uploadForm);

              let msg = "납품,구축,검수확인서를 업로드 하시겠습니까? \n";
              if (confirm(msg) === true) {
                  uploadForm.submit();
              }

          } else{
              alert("계약명이 있어야 검수확인서 업로드가 가능합니다.");
          }

      }

      function remove_row(obj) {
          let row = $(obj).parent().parent();
          row.remove();
      }

  </script>

{% endblock %}