{% extends "dashboard/layout.html" %}


{% block title %}
  데일리리포트
{% endblock %}
{% load humanize %}
{% block css %}
  <style type="text/css">
    .mobile-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .mobile-table td, .mobile-table th {
      padding: 4px;
      vertical-align: middle;
      font-size: 16px;
      border-top: 1px dotted #858796a3;
      text-align: center;
      border: 1px solid lightgray;
      border-collapse: collapse;
    }

    .thtd {
      text-align: center;
      border: 1px solid lightgray;
      border-collapse: collapse;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xl-12">

      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

          <h6 class="m-0 h3 text-gray-800"> 영업관리 Daily Report </h6>
          <span class="text-right"> [단위: 부가세 별도] </span>

        </div>

        <div class="card-body">
          <div class="row ml-1 mb-2"><h6 class="font-weight-bold text-dark">1. {{ todayYear }}년 실적 현황</h6></div>
          <div class="row ml-3"><span class="text-dark"> 1) <span class="text-primary">Firm </span>차트 기준 실적 현황</span></div>

          <div class="row">
            <div class="col-xl-6">
              <span class="ml-3"> ① 연간 누계 달성 현황</span>
              <table class="mobile-table">
                <thead>
                <tr class="bg-light">
                  <td rowspan="2">구분</td>
                  <td colspan="2">연간 목표</td>
                  <td colspan="2">{{ todayQuarter }} 달성</td>
                  <td colspan="2">{{ todayQuarter }} 달성률</td>
                </tr>
                <tr class="bg-light">
                  <td>매출</td>
                  <td>GP</td>
                  <td>매출</td>
                  <td>GP</td>
                  <td>매출</td>
                  <td>GP</td>
                </tr>
                {% for goal in teamGoals %}
                  <tr>
                    <td>{{ goal.empDeptName }}</td>
                    <td>{{ goal.yearSalesSum |slugify|slice:"0:-6"|intcomma }}</td>
                    <td>{{ goal.yearProfitSum |slugify|slice:"0:-6"|intcomma }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                {% endfor %}
                <tr>
                  <td class="bg-light">합계</td>
                  <td>{{ teamGoalsSum.sum_yearSales|slugify|slice:"0:-6"|intcomma }}</td>
                  <td>{{ teamGoalsSum.sum_yearProfit|slugify|slice:"0:-6"|intcomma }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
            <div class="col-xl-6">
              <span class="ml-3"> ② 분기 누계 달성 현황</span>
              <table class="mobile-table">
                <thead>
                <tr class="bg-light">
                  <td rowspan="2">구분</td>
                  <td colspan="2">연간 목표</td>
                  <td colspan="2">{{ todayQuarter }} 달성</td>
                  <td colspan="2">{{ todayQuarter }} 달성률</td>
                </tr>
                <tr class="bg-light">
                  <td>매출</td>
                  <td>GP</td>
                  <td>매출</td>
                  <td>GP</td>
                  <td>매출</td>
                  <td>GP</td>
                </tr>

                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
          <div class="row ml-3"><span class="text-dark"> 2) <span class="text-primary">Firm </span> + <span class="text-success">Oppt'y </span> 차트 기준 누계 실적 현황</span></div>
          <div class="row">
            <div class="col-xl-6">
              <span class="ml-3"> ① 연간 누계 달성 현황</span>
              <table class="mobile-table">
                <thead>
                <tr class="bg-light">
                  <td rowspan="2">구분</td>
                  <td colspan="2">연간 목표</td>
                  <td colspan="2">{{ todayQuarter }} 달성</td>
                  <td colspan="2">{{ todayQuarter }} 달성률</td>
                </tr>
                <tr class="bg-light">
                  <td>매출</td>
                  <td>GP</td>
                  <td>매출</td>
                  <td>GP</td>
                  <td>매출</td>
                  <td>GP</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
            <div class="col-xl-6">
              <span class="ml-3"> ② 분기 누계 달성 현황</span>
              <table class="mobile-table">
                <thead>
                <tr class="bg-light">
                  <td rowspan="2">구분</td>
                  <td colspan="2">연간 목표</td>
                  <td colspan="2">{{ todayQuarter }} 달성</td>
                  <td colspan="2">{{ todayQuarter }} 달성률</td>
                </tr>
                <tr class="bg-light">
                  <td>매출</td>
                  <td>GP</td>
                  <td>매출</td>
                  <td>GP</td>
                  <td>매출</td>
                  <td>GP</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
          <br>
          <div class="row ml-1 mb-2"><h6 class="font-weight-bold text-dark">2. 미수금 주요 현황 </h6></div>
          <div class="row ml-3">
            <span class="text-dark">
              ※ 본 자료에는 <span class="text-danger">수금예정일이 경과된 채권</span>만 표기.
              미수금 전체 내역은 <a href="/sales/showoutstandingcollections/">여기</a>에서 확인 가능.
            </span>
          </div>
          <div class="table-responsive">
            <table id="showrevenues" class="hover row-border" width="100%" style="width: 100%;">
              <thead>
              <tr>
                <th>매출일</th>
                <th>매출처</th>
                <th>계약명</th>
                <th>매출금액</th>
                <th>수금예정일</th>
                <th>비고</th>
                <th class="d-none">revenueId</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right">TOTAL :</th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
              </tr>
              </tfoot>
            </table>
          </div>
          <br>
          <div class="row ml-1 mb-2"><h6 class="font-weight-bold text-dark">3. 채권 및 채무 현황 </h6></div>
          <div class="row">
            <div class="col-xl-12">
              <table class="mobile-table">
                <thead>
                <tr class="text-white" style="background-color: darkorange">
                  <td colspan="12">UnioneI&C 채권 및 채무 현황</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td colspan="6" class="bg-light text-primary">매출채권잔액</td>
                  <td colspan="6">1000,000,000</td>
                </tr>
                <tr>
                  <td colspan="6" class="bg-light text-danger">매입채무잔액</td>
                  <td colspan="6">1300,000,000</td>
                </tr>
                <tr>
                  <td colspan="3" rowspan="4" class="bg-light">매입채무조정사항</td>
                  <td colspan="3" class="bg-light">선매입</td>
                  <td colspan="6">-300,000,000</td>
                </tr>
                <tr>
                  <td colspan="3" class="bg-light">선지급</td>
                  <td colspan="6">-400,000,000</td>
                </tr>
                <tr>
                  <td colspan="3" class="bg-light">미접수</td>
                  <td colspan="6">200,000,000</td>
                </tr>
                <tr>
                  <td colspan="3" class="bg-light font-weight-bold">소계</td>
                  <td colspan="6">-500,000,000</td>
                </tr>
                <tr>
                  <td colspan="6" class="bg-warning font-weight-bold">매출채권-매입채무</td>
                  <td colspan="6" class="text-success">200,000,000</td>
                </tr>


                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script>

      $(document).ready(function () {

          $('#showrevenues').dataTable({
              "scrollX": true,
              "autoWidth": true,
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {},
                  "url": "{% url 'sales:outstanding_ajax_url' %}",
                  "dataSrc": ""
              },
              "columns": [
                  {data: 'billingDate'},
                  {data: 'revenueCompany__companyNameKo'},
                  {data: 'contractId__contractName'},
                  {data: 'revenuePrice'},
                  {data: 'predictDepositDate'},
                  {data: 'comment'},
                  {data: 'revenueId'},
              ],
              "columnDefs": [
                  {targets: 0, width: '10%', className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 1, width: '15%', className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, width: '30%', className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, width: '10%', className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                  {targets: 4, width: '10%', className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 5, width: '25%', className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 6, className: "d-none"},
              ],
              "deferRender": true,
              "order": [[4, 'asc']],
              "searching": true,
              "paging": false,
              "info": false,
              "scrollY": "40vh",
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                  $('td:eq(3)', nRow).text(aData.revenuePrice.toLocaleString());


              },
              "footerCallback": function () {
                  var api = this.api(), data;

                  var revenueResult = 0;
                  api.column(3, {search: 'applied'}).data().each(function (data, index) {
                      revenueResult += parseFloat(data);
                  });
                  $(api.column(3).footer()).html(revenueResult.toLocaleString());

              },
          });

          var table = $('#showrevenues').DataTable();
          $("#showrevenues").on("click", 'tr', function () {
              const data = table.row(this).data();
              location.href = '/sales/viewrevenue/' + data.revenueId + '/'
          });
      });
  </script>


{% endblock %}