{% extends "dashboard/layout.html" %}


{% block title %}
  영업관리
{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-1"></div>

    <div class="col-xl-10">
      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> 영업기회 및 계약 등록 </h6>
        </div>

        <div class="card-body">
          <form id="ContractForm" method="POST">
            {% csrf_token %}
            <div id="Opportunity">
              <div class="form-group row">
                <div class="col-12 mb-3">
                  <label for="contractName" class="font-weight-bold text-primary"> 제목 </label> {{ form.contractName }}
                </div>
              </div>

              <div class="form-group row">
                <div class="col-xl-6">
                  <div class="form-group row mb-0">
                    <div class="col-6 mb-3">
                      <label for="contractStep" class="font-weight-bold text-primary"> 단계 </label> {{ form.contractStep }}
                    </div>
                    <div class="col-6 mb-3">
                      <label for="empId" class="font-weight-bold text-primary"> 영업담당 </label> {{ form.empId }}
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group row mb-0">
                    <div class="col-6 mb-3">
                      <label for="saleType" class="font-weight-bold text-primary"> 판매유형 </label> {{ form.saleType }}
                    </div>
                    <div class="col-6 mb-3">
                      <label for="saleIndustry" class="font-weight-bold text-primary"> 산업군 </label> {{ form.saleIndustry }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-4 mb-3">
                  <label for="saleCompanyName" class="font-weight-bold text-primary"> 거래처 </label> {{ form.saleCompanyName }}
                </div>
                <div class="col-4 mb-3">
                  <label for="saleCustomerId" class="font-weight-bold text-primary"> 거래처 담당자 </label> {{ form.saleCustomerId }}
                </div>
                <div class="col-4  mb-3">
                  <label for="endCompanyName" class="font-weight-bold text-primary"> 최종고객사 </label> {{ form.endCompanyName }}
                </div>
              </div>

              <div class="form-group row">
                <div class="col-4 mb-3">
                  <label for="salePrice" class="font-weight-bold text-primary"> <span name="predict">예상</span>계약금액 (원) </label> {{ form.salePrice }}
                </div>
                <div class="col-4 mb-3">
                  <label for="profitPrice" class="font-weight-bold text-primary"> <span name="predict">예상</span>이익금액 (원) </label> {{ form.profitPrice }}
                </div>
                <div class="col-4 mb-3">
                  <label for="profitRatio" class="font-weight-bold text-primary"> <span name="predict">예상</span>이익율 (%) </label> {{ form.profitRatio }}
                </div>
              </div>

              <div class="form-group row">
                <div class="col-4 mb-3">
                  <label for="contractDate" class="font-weight-bold text-primary"> <span name="predict">예상</span>계약일 </label> {{ form.contractDate }}
                </div>
                <div class="col-4">
                  <label for="predictSalePrice" class="font-weight-bold text-primary"> 계약시작일 </label> {{ form.contractStartDate }}
                </div>
                <div class="col-4">
                  <label for="predictProfitPrice" class="font-weight-bold text-primary"> 계약종료일 </label> {{ form.contractEndDate }}
                </div>
              </div>

              <div class="form-group row">
                <div class="col-xl-12">
                  <label for="predictSalePrice" class="font-weight-bold text-primary"> 참고사항 </label> {{ form.comment }}
                </div>
              </div>

              <hr class="divider">
              <div class="form-group row">
                <div class="col-xl-12">
                  <h4 class="text-primary mb-0"><b>세부사항</b></h4>
                  <table id="categoryItem" class="display" style="width:100%">
                    <thead style="width:100%">
                    <tr>
                      <th>구분</th>
                      <th>대분류</th>
                      <th>소분류</th>
                      <th>상세내용</th>
                      <th>가격</th>
                      <th><i id="addItem" class="fas fa-plus-square fa-fw text-info" style="font-size: 2rem"></i></th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>

            <div id="Firm" class="d-none">
              <hr class="divider">
              <div class="form-group row">
                <div class="col-xl-12">
                  <h4 class="text-primary mb-0"><b>매출정보</b></h4>
                  <table id="revenue" class="display" style="width:100%">
                    <thead style="width:100%">
                    <tr>
                      <th>구분</th>
                      <th>빌링일자</th>
                      <th>매출금액</th>
                      <th>이익금액</th>
                      <th>비고</th>
                      <th><i id="addRevenue" class="fas fa-plus-square fa-fw text-info" style="font-size: 2rem"></i></th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
            <div class="text-center">
              <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_cancel()">
                <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
                <span class="text"> 취소 </span>
              </a>
              <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">
                <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
                <span class="text"> 저장 </span>
              </a>
            </div>
          </form>
        </div>

      </div>
    </div>

    <div class="col-xl-1"></div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">

      function btn_cancel() {
          if (confirm("취소 하시겠습니까?") === true) {
              location.href = "/sales/showcontracts"
          } else {
              return false;
          }
      }

      function btn_save() {
          const ContractForm = document.getElementById("ContractForm");

          const lengthItem = $('[name="itemId"]').length;
          const listItem = new Array();
          for (var i = 0; i <= lengthItem - 1; i++) {
              var data = new Object();
              data.itemId = $('div[name="itemId"]').eq(i).text()
              data.mainCategory = $('select[name="mainCategory"]').eq(i).val();
              data.subCategory = $('select[name="subCategory"]').eq(i).val();
              data.itemName = $('input[name="itemName"]').eq(i).val();
              data.itemPrice = $('input[name="itemPrice"]').eq(i).val();
              listItem.push(data);
          }
          const jsonItem = JSON.stringify(listItem);
          const item = document.createElement("input");
          item.setAttribute("type", "hidden"); item.setAttribute("name", "jsonItem"); item.setAttribute("value", jsonItem);
          ContractForm.appendChild(item);

          const lengthRevenue = $('[name="revenueId"]').length;
          const listRevenue = new Array();
          for (var i = 0; i <= lengthRevenue - 1; i++) {
              // 객체 생성
              var data = new Object();
              data.revenueId = $('div[name="revenueId"]').eq(i).text();
              data.billingDate = $('input[name="billingDate"]').eq(i).val();
              data.revenuePrice = $('input[name="revenuePrice"]').eq(i).val();
              data.revenueProfitPrice = $('input[name="revenueProfitPrice"]').eq(i).val();
              data.revenueComment = $('input[name="revenueComment"]').eq(i).val();
              listRevenue.push(data);
          }
          const jsonRevenue = JSON.stringify(listRevenue);
          const revenue = document.createElement("input");
          revenue.setAttribute("type", "hidden"); revenue.setAttribute("name", "jsonRevenue"); revenue.setAttribute("value", jsonRevenue);
          ContractForm.appendChild(revenue);

          let sumItemPrice = 0;
          for(i=0; i<$('input[name="itemPrice"]').length; i++){
             sumItemPrice += Number($('input[name="itemPrice"]').eq(i).val());
          }

          let sumRevenuePrice = 0;
          for(i=0; i<$('input[name="revenuePrice"]').length; i++){
             sumRevenuePrice += Number($('input[name="revenuePrice"]').eq(i).val());
          }

          let sumRevenueProfitPrice = 0;
          for(i=0; i<$('input[name="revenueProfitPrice"]').length; i++){
             sumRevenueProfitPrice += Number($('input[name="revenueProfitPrice"]').eq(i).val());
          }


          if (sumItemPrice != $('#salePrice').val()) {
              alert("계약금액과 세부사항 가격의 합이 일치하지 않습니다.");
              return false;
          }
          if($('#contractStep').val() === 'Firm'){
              if (sumRevenuePrice != $('#salePrice').val()) {
                  alert("계약금액과 매출금액의 합이 일치하지 않습니다.");
                  return false;
              }
              if (sumRevenueProfitPrice != $('#profitPrice').val()) {
                  alert("이익금액과 매출이익의 합이 일치하지 않습니다.");
                  return false;
              }
          }

          if (confirm("저장 하시겠습니까?") === true) {
              ContractForm.submit();
          }
      }

      function companyChange(saleCompanyName, selectId) {
          $.ajax({
              url: "{% url 'sales:salemanager_ajax_url' %}",
              method: 'POST',
              cache: false,
              data: {"saleCompanyName": saleCompanyName},
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  var salecompany = returnData;
                  $('#' + selectId).empty();

                  for (var count = 0; count < salecompany.length; count++) {
                      var option = $("<option value=" + salecompany[count].pk + ">" + salecompany[count].fields.customerName + "</option>");
                      $('#' + selectId).append(option);
                  }
              }
          })
      }

      function itemChange(main, sub) {
          var selectItem = $(main).val();

          $.ajax({
              url: "{% url 'sales:category_ajax_url' %}",
              method: 'POST',
              cache: false,
              data: {"mainCategory": selectItem},
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  var mainCategory = returnData;
                  $(sub).empty();

                  for (var count = 0; count < mainCategory.length; count++) {
                      var option = $("<option value=" + mainCategory[count].fields.subCategory + ">" + mainCategory[count].fields.subCategory + "</option>");
                      $(sub).append(option);
                  }
              }
          });
      }

      function itemChangeAdd(main, sub, subCategory, itemCounter) {
          if ($.type(main) === 'string') {
              main = '#' + main
          }
          if ($.type(sub) === 'string') {
              sub = '#' + sub
          }
          var selectItem = $(main).val();

          $.ajax({
              url: "{% url 'sales:category_ajax_url' %}",
              method: 'POST',
              cache: false,
              data: {"mainCategory": selectItem},
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  var mainCategory = returnData;
                  $(sub).empty();

                  for (var count = 0; count < mainCategory.length; count++) {
                      var option = $("<option value=" + mainCategory[count].fields.subCategory + ">" + mainCategory[count].fields.subCategory + "</option>");
                      $(sub).append(option);
                      $('#item2' + itemCounter).val(subCategory).prop("selected", true);
                  }
              }
          });
      }

      $(document).ready(function () {
          if ($('#contractStep').val() === 'Firm') {
              $('#Firm').removeClass('d-none');
              $('#contractStartDate').removeAttr('readonly');
              $('#contractEndDate').removeAttr('readonly');
              $('span[name=predict]').addClass('d-none');
          }

          var t1 = $('#categoryItem').DataTable({
              "searching": false,
              "paging": false,
              "info": false,
              "scrollY": "60vh",
              "scrollCollapse": true,
              'fnCreatedRow': function (nRow, aData, iDataIndex) {
                  $(nRow).attr('id', 'row' + iDataIndex);
              },
              "ordering": false,
              "columnDefs": [
                  {targets: 0, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap d-none"},
                  {targets: 1, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 4, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 5, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
              ],
          });

          var itemCounter = 0;

          $('#addItem').on('click', function () {
              t1.row.add([
                  '<div class="text-center d-none" value="0" name="itemId" id="item0' + itemCounter + '">추가</div>',
                  '<select size="1" id="item1' + itemCounter + '" name="mainCategory" onchange="itemChange( item1' + itemCounter + ",item2" + itemCounter + ')">' +
                      '<option value="init" selected="selected">--대분류--</option>' +
                      '<option value="상품_Oracle">상품_Oracle</option>' +
                      '<option value="상품_IBM">상품_IBM</option>' +
                      '<option value="상품_Lenovo">상품_Lenovo</option>' +
                      '<option value="상품_기타">상품_기타</option> </select>',
                  '<select size="1" id="item2' + itemCounter + '" name="subCategory"> <option value="init" selected="selected">--소분류--</option>',
                  '<input type="text" name="itemName" id="item3' + itemCounter + '">',
                  '<input type="text" name="itemPrice" id="item4' + itemCounter + '">',
                  '<i class="fas fa-times-circle" name="remove" >'
              ]).draw(false);
              itemCounter++;
          });

          {% if items %}
              {% for item in items %}
                  t1.row.add([
                      '<div class="text-center d-none" value="0" name="itemId" id="item0' + itemCounter + '">{{ item.contractItemId }}</div>',
                      '<select size="1" id="item1' + itemCounter + '" name="mainCategory" onchange="itemChange( item1' + itemCounter + ",item2" + itemCounter + ')">' +
                          '<option value="init" selected="selected">--대분류--</option>' +
                          '<option value="상품_Oracle">상품_Oracle</option>' +
                          '<option value="상품_IBM">상품_IBM</option>' +
                          '<option value="상품_Lenovo">상품_Lenovo</option>' +
                          '<option value="상품_기타">상품_기타</option> </select>',
                      '<select size="1" id="item2' + itemCounter + '" name="subCategory"> <option value="init" selected="selected">--소분류--</option>',
                      '<input type="text" name="itemName" id="item3' + itemCounter + '" value="{{ item.itemName }}">',
                      '<input type="text" name="itemPrice" id="item4' + itemCounter + '" value="{{ item.itemPrice }}">',
                      '<i class="fas fa-times-circle" name="remove" >'
                  ]).draw(false);
                  $('#item1' + itemCounter).val("{{ item.mainCategory }}").prop("selected", true);
                  itemChangeAdd("item1" + itemCounter, "item2" + itemCounter, "{{ item.subCategory }}", itemCounter);
                  itemCounter++;
              {% endfor %}
          {% else %}
              $('#addItem').click();
          {% endif %}

          $('#categoryItem').on('click', 'i', function () {
              t1
                  .row($(this).parents('tr'))
                  .remove()
                  .draw();
          });


          var t2 = $('#revenue').DataTable({
              "searching": false,
              "paging": false,
              "info": false,
              "scrollY": "60vh",
              "scrollCollapse": true,
              'fnCreatedRow': function (nRow, aData, iDataIndex) {
                  $(nRow).attr('id', 'row' + iDataIndex);
              },
              "ordering": false,
              "columnDefs": [
                  {targets: 0, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap d-none"},
                  {targets: 1, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 4, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 5, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
              ],
          });

          var revenueCounter = 0;

          $('#addRevenue').on('click', function () {
              t2.row.add([
                  '<div class="text-center d-none" value="0" name="revenueId" id="revenue0' + revenueCounter + '">추가</div>',
                  '<input type="date" name="billingDate" id="revenue1' + revenueCounter + '">',
                  '<input type="number" name="revenuePrice" id="revenue2' + revenueCounter + '">',
                  '<input type="number" name="revenueProfitPrice" id="revenue3' + revenueCounter + '">',
                  '<input type="text" name="revenueComment" id="revenue4' + revenueCounter + '">',
                  '<i class="fas fa-times-circle" name="remove" >'
              ]).draw(false);
              revenueCounter++;
          });

          {% if revenues %}
              {% for revenue in revenues %}
                  t2.row.add([
                      '<div class="text-center d-none" value="0" name="revenueId" id="revenue0' + revenueCounter + '">{{ revenue.revenueId }}</div>',
                      '<input type="date" name="billingDate" id="revenue1' + revenueCounter + '" value="{{ revenue.billingDate | date:"Y-m-d" }}">',
                      '<input type="number" name="revenuePrice" id="revenue2' + revenueCounter + '" value="{{ revenue.revenuePrice }}">',
                      '<input type="number" name="revenueProfitPrice" id="revenue3' + revenueCounter + '" value="{{ revenue.revenueProfitPrice }}">',
                      '<input type="text" name="revenueComment" id="revenue4' + revenueCounter + '" value="{{ revenue.comment }}">',
                      '<i class="fas fa-times-circle" name="remove" >'
                  ]).draw(false);
                  revenueCounter++;
              {% endfor %}
          {% endif %}

          $('#revenue').on('click', 'i', function () {
              t2
                  .row($(this).parents('tr'))
                  .remove()
                  .draw();
          });

          $('#predictSalePrice').on("propertychange change keyup paste input", function () {
              const predictSalePrice = $('#predictSalePrice').val();
              const predictProfitPrice = $('#predictProfitPrice').val();
              $('#predictProfitRatio').val(((predictProfitPrice / predictSalePrice) * 100).toFixed(1));
          });

          $('#predictProfitPrice').on("propertychange change keyup paste input", function () {
              const predictSalePrice = $('#predictSalePrice').val();
              const predictProfitPrice = $('#predictProfitPrice').val();
              $('#predictProfitRatio').val(((predictProfitPrice / predictSalePrice) * 100).toFixed(1));
          });

          $('#salePrice').on("propertychange change keyup paste input", function () {
              const salePrice = $('#salePrice').val();
              const profitPrice = $('#profitPrice').val();
              $('#profitRatio').val(((profitPrice / salePrice) * 100).toFixed(1));
          });

          $('#profitPrice').on("propertychange change keyup paste input", function () {
              const salePrice = $('#salePrice').val();
              const profitPrice = $('#profitPrice').val();
              $('#profitRatio').val(((profitPrice / salePrice) * 100).toFixed(1));
          });

          $('#contractStep').on("propertychange change keyup paste input", function () {
              const contractStep = $('#contractStep').val();
              if (contractStep === 'Firm') {
                  $('#Firm').removeClass('d-none');
                  $('#contractStartDate').removeAttr('readonly');
                  $('#contractEndDate').removeAttr('readonly');
                  t2.clear().draw();
                  revenueCounter = 0;
                  $('#addRevenue').click();
                  $('span[name=predict]').addClass('d-none');
              } else {
                  $('#Firm').addClass('d-none');
                  $('#contractStartDate').val('');
                  $('#contractStartDate').attr('readonly', '');
                  $('#contractEndDate').val('');
                  $('#contractEndDate').attr('readonly', '');
                  t2.clear().draw();
                  $('span[name=predict]').removeClass('d-none');
              }
          });
      })
  </script>

{% endblock %}