{% extends "dashboard/layout.html" %}


{% block title %}
  영업관리
{% endblock %}


{% block css %}
  <style>
    .pc-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
    }

    .pc-table td, .pc-table th {
      padding: 3px 10px;
      text-align: center;
      vertical-align: middle;
      font-size: 16px;
      border: 1px solid lightgrey;
    }

    .pc-table-main td, .pc-table-main th {
      padding: 5px;
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
      border-top: 1px dotted #858796a3;
    }

    .mobile-table {
      color: #333333;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .mobile-table td, .mobile-table th {
      padding: 5px 10px;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
      border-top: 1px dotted #858796a3;
    }

  </style>
{% endblock %}


{% block content %}
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 h3 text-gray-800">{{ purchaseOrderCompany.companyNameKo }} 매입발주서</h6>
    </div>

    <div class="card-body">
      <form id="purchaseOrder" method="POST">{% csrf_token %}</form>
      <div class="row mb-3">
        <div class="col-12">
          <label for="title" class="font-weight-bold text-primary">제목</label>
          <input id="title" name="title" class="form-control" value="{{ purchaseOrder.title }}">
        </div>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-between">
        <label for="contentHtml" class="font-weight-bold text-primary">본문</label>
        <span>※ 문서편집기 하단을 드래그 하여 크기를 조정할 수 있습니다.</span>
      </div>
      <div id="contentHtml"></div>
      <span>※ 첨부파일은 등록 후 조회 화면에서 첨부할 수 있습니다.</span>
    </div>
    {% if emp == request.user.employee %}
    <div class="text-center mb-3">
      <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_cancel()">
        <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
        <span class="text">취소</span>
      </a>
      <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">
        <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
        <span class="text">등록</span>
      </a>
    </div>
  {% endif %}
  </div>

{% endblock %}


{% block script %}
  <script type="text/javascript">
      // 문서 양식 등록
      function btn_save() {
          let idList = [];
          {% for i in purchaseIds %}
              idList.push('{{ i }}');
          {% endfor %}
          const form = $('#purchaseOrder');
          $('<input />', {
              type: 'hidden',
              name: 'title',
              value: $('#title').val()
          }).appendTo(form);
          $('<input />', {
              type: 'hidden',
              name: 'formTitle',
              value: '{{ formTitle }}'
          }).appendTo(form);
          $('<input />', {
              type: 'hidden',
              name: 'purchaseIds',
              value: JSON.stringify(idList)
          }).appendTo(form);
          $('<input />', {
              type: 'hidden',
              name: 'contentHtml',
              value: $('#contentHtml').summernote('code')
          }).appendTo(form);
          form.submit();
      }

      $(document).ready(function () {
          // 본문 작성
          const toolbar = [
              ['font', ['fontsize', 'bold', 'italic', 'underline', 'strikethrough', 'forecolor', 'backcolor']],
              ['font2', ['ol', 'ul', 'paragraph', 'height']],
              ['insert', ['picture', 'link', 'table', 'hr']],
              ['util', ['codeview', 'help']]
          ];
          let contentHtml = $('#contentHtml');
          contentHtml.summernote({
              placeholder: '매입발주서 내용 작성',
              tabsize: 2,
              height: document.documentElement.clientHeight * 0.7,
              toolbar: toolbar,
              spellCheck: false,
              disableGrammar: true,
          });
          contentHtml.summernote('code', '{{ contentHtml | safe }}');
      })

  </script>
{% endblock %}
