{% extends "dashboard/layout.html" %}


{% block title %}
  미수금관리
{% endblock %}


{% block css %}

  <style type="text/css">
    .buttons-copy {
      background-color: #4e73df;
      color: white;
      margin-bottom: 1rem;
    }

    .buttons-excel {
      background-color: #36b9cc;
      color: white;
      margin-bottom: 1rem;
    }

    .buttons-print {
      background-color: #f6c23e;
      color: white;
      margin-bottom: 1rem;
    }

    .input-form {
      border: 1px solid #d1d3e2;
      border-radius: .35rem;
      padding: .375rem .75rem;
      font-size: 0.9em;
      color: #6e707e;
      width: 170px;
    }
  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> 미수금 관리 </h6>
          <div class="dropdown no-arrow">
            <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
              <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
            </a>
          </div>
        </div>
        <div class="card-body">
          {% csrf_token %}
          {% if user.employee.empDeptName == '경영지원본부' or user.is_staff %}
            {% if modifyMode == 'N' %}
              <div class="float-right">
                <div class="btn btn-warning" id="modifyMode" onclick="btn_modifyMode()"><i class="fas fa-table text-white"> 수정하기</i></div>
              </div>
            {% endif %}
            {% if modifyMode == 'Y' %}
              <div class="float-right">
                <button class="btn btn-danger" id="saveRevenueTable"><i class="fas fa-save text-white"> 저장하기</i></button>
              </div>
              <div class="float-right">
                <input type="date" id="copyDate" max="9999-12-31" class="input-form mr-3" value="{{ copyDate }}">
              </div>
            {% endif %}
          {% endif %}
        
          <div class="table-responsive">
            <form id="revenueForm" action="/sales/saverevenuetable/">
              <table id="showrevenues" class="hover row-border" width="100%" style="width: 100%;">
                <thead>
                <tr>
                  <th>구분</th>
                  <th>관리번호</th>
                  <th>소속</th>
                  <th>영업대표</th>
                  <th>계약명</th>
                  <th>매출처</th>
                  <th>매출예정일</th>
                  <th>매출일</th>
                  <th>수금예정일</th>
                  <th>수금일</th>
                  <th>매출금액</th>
                  <th>이익금액</th>
                  <th>비고</th>
                  <th class="d-none">revenueId</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right">TOTAL :</th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                  <th style="padding: 8px 10px; text-align: right"></th>
                </tr>
                </tfoot>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" action="/sales/showoutstandingcollections/" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="text-primary">시작일자
                  <div class="text-secondary" style="font-size:13px">(매출예정일 or 수금예정일)</div>
                </label>
                <input type="date" max="9999-12-31" class="form-control" id="startdate" name="startdate" value="{{ startdate }}">
              </div>
              <div class="col-6 mb-3 mb-sm-0">
                <label for="enddate" class="text-primary">종료일자
                  <div class="text-secondary" style="font-size:13px">(매출예정일 or 수금예정일)</div>
                </label>
                <input type="date" max="9999-12-31" class="form-control" id="enddate" name="enddate" value="{{ enddate }}">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="quarter" class="text-primary">분기</label>
                <select class="form-control" id="quarter" name="quarter" onchange="changeQuarter('startdate', 'enddate', 'quarter')">
                  <option value="">------</option>
                  <option value="1">1분기</option>
                  <option value="2">2분기</option>
                  <option value="3">3분기</option>
                  <option value="4">4분기</option>
                </select>
              </div>
              <div class="col-6">
                <label for="companyName" class="text-primary">거래처</label>
                <input class="form-control" id="saleCompanyName" name="saleCompanyName" value="{{ saleCompanyName }}">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="empDeptName" class="text-primary">영업부서</label>
                <select class="form-control" id="empDeptName" name="empDeptName" onchange="changeDeptName(this.value,'empName')">
                  <option value='전체' {% if empDeptName == '전체' %}selected{% endif %}>전체</option>
                  <option value="영업1팀" {% if empDeptName == '영업1팀' %}selected{% endif %}>영업1팀</option>
                  <option value="영업2팀" {% if empDeptName == '영업2팀' %}selected{% endif %}>영업2팀</option>
                </select>
              </div>
              <div class="col-6">
                <label for="empName" class="text-primary">영업담당자</label>
                <select class="form-control" id="empName" name="empName">
                  <option value='전체'>전체</option>
                  {% if empDeptName != '전체' %}
                    {% for e in employees %}
                      {% if e.empDeptName == empDeptName %}
                        <option value="{{ e.empName }}" {% if empName and empName == e.empName %}selected{% endif %}>{{ e.empName }}</option>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    {% for e in employees %}
                      <option value="{{ e.empName }}" {% if e.empName == empName %}selected{% endif %}>{{ e.empName }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="boardTitle" class="text-primary">계약명</label>
                <input class="form-control" id="contractName" name="contractName" value="{{ contractName }}">
              </div>
              <div class="col-6">
                <label for="maincategory" class="text-primary">대분류</label>
                <input class="form-control" id="maincategory" name="maincategory" value="{{ maincategory }}">
              </div>
            </div>
            <div class="row d-none">
              <div class="col-6">
                <label for="step" class="text-primary">단계</label>
                <select class="form-control" id="contractStep" name="contractStep">
                  <option value="전체" {% if contractStep == '전체' %}selected{% endif %}>전체</option>
                  <option value="Opportunity" {% if contractStep == 'Opportunity' %}selected{% endif %}>Opportunity</option>
                  <option value="Firm" {% if contractStep == 'Firm' %}selected{% endif %}>Firm</option>
                </select>
              </div>
              <div class="col-6">
                <label for="issued" class="text-primary">진행상태</label>
                <select class="form-control" id="issued" name="issued">
                  <option value="전체">전체</option>
                  <option value="A" {% if issued == 'A' %}selected{% endif %}>계산서 미발행</option>
                  <option value="B" {% if issued == 'B' %}selected{% endif %}>계산서 발행</option>
                  <option value="C" {% if issued == 'C' %}selected{% endif %}>수금 완료</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      function btn_filter() {
          const filterForm = document.getElementById("filterForm");
          let modifyMode = document.createElement("input");
          modifyMode.setAttribute("type", "hidden");
          modifyMode.setAttribute("name", "modifyMode");
          modifyMode.setAttribute("value", '{{ modifyMode }}');
          filterForm.appendChild(modifyMode);
          filterForm.submit();
      }

      function btn_modifyMode() {
          const filterForm = document.getElementById("filterForm");
          let modifyMode = document.createElement("input");
          modifyMode.setAttribute("type", "hidden");
          modifyMode.setAttribute("name", "modifyMode");
          modifyMode.setAttribute("value", 'Y');
          filterForm.appendChild(modifyMode);
          let outstandingcollection = document.createElement("input");
          outstandingcollection.setAttribute("type", "hidden");
          outstandingcollection.setAttribute("name", "outstandingcollection");
          outstandingcollection.setAttribute("value", '{{ outstandingcollection }}');
          filterForm.appendChild(outstandingcollection);
          let copyDate = document.createElement("input");
          copyDate.setAttribute("type", "hidden");
          copyDate.setAttribute("name", "copyDate");
          copyDate.setAttribute("value", '{{ copyDate }}');
          filterForm.appendChild(copyDate);
          filterForm.submit();
      }

      function changeDeptName(empDeptName, selectId) {
          $.ajax({
              url: "{% url 'sales:empdept_ajax_url' %}",
              method: 'POST',
              cache: false,
              data: {"empDeptName": empDeptName,
                    "empStatus": "Y"},
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  var empName = returnData;
                  console.log(empName);
                  $('#' + selectId).empty();

                  $('#' + selectId).append("<option value='전체'>전체</option>");
                  for (var count = 0; count < empName.length; count++) {
                      var option = $("<option value=" + empName[count].fields.empName + ">" + empName[count].fields.empName + "</option>");
                      $('#' + selectId).append(option);
                  }
              }
          })
      }

      function replaceDate(predictStr, executionStr, searchStr, replaceStr, complete, idx) {
          let newStr;

          if (executionStr != null) {
              newStr = complete + '완료';
          }
          else if (predictStr != null) {
              newStr = predictStr.split(searchStr).join(replaceStr).split("T").join(" ").slice(0, idx);
          } else {
              newStr =  '-'
          }
          return newStr
      }

      function changeBillingDates(billingDate, predictBillingDate, predictExecutionDate, depositCondition, depositConditionDay) {
          const date = $('#' + billingDate).val();
          $('#' + predictBillingDate).val(date.substring(0, 7));

          if (typeof(predictExecutionDate) != 'undefined') {
              const condition = depositCondition;
              if (condition === '당월 말') {
                  const tmld = new Date(date.substring(0, 4), date.substring(5, 7), 0);
                  $('#' + predictExecutionDate).val(date.substring(0, 8) + tmld.getDate());
              } else if (condition === '익월 초') {
                  const nmfd = new Date(date.substring(0, 4), date.substring(5, 7), 1);
                  $('#' + predictExecutionDate).val(nmfd.getFullYear() + '-' + ((nmfd.getMonth() + 1) > 9 ? '' : '0') + (nmfd.getMonth() + 1) + '-' + '01');
              } else if (condition === '익월 말') {
                  const nmld = new Date(date.substring(0, 4), date.substring(5, 7)*1 + 1, 0);
                  $('#' + predictExecutionDate).val(nmld.getFullYear() + '-' + ((nmld.getMonth() + 1) > 9 ? '' : '0') + (nmld.getMonth() + 1) + '-' + (nmld.getDate() > 9 ? '' : '0') + nmld.getDate());
              } else if (condition === '계산서 발행 후') {
                  const aftd = new Date(date.substring(0, 4), date.substring(5, 7)*1 - 1, date.substring(8, 10));
                  aftd.setDate(aftd.getDate() + depositConditionDay*1);
                  $('#' + predictExecutionDate).val(aftd.getFullYear() + '-' + ((aftd.getMonth() + 1) > 9 ? '' : '0') + (aftd.getMonth() + 1) + '-' + (aftd.getDate() > 9 ? '' : '0') + aftd.getDate());
              }
          }
      }

      function changeExecutionDates(executionDate, predictExecutionDate) {
          const date = $('#' + executionDate).val();
          $('#' + predictExecutionDate).val(date);
      }

      function changeQuarter(startDateId, endDateId, quarterId) {
          const quarter = $('#' + quarterId).val();
          const year = new Date().getFullYear();
          if (quarter === '1') {
              $('#' + startDateId).val(year + '-01-01');
              $('#' + endDateId).val(year + '-03-31');
          } else if (quarter === '2') {
              $('#' + startDateId).val(year + '-04-01');
              $('#' + endDateId).val(year + '-06-30');
          } else if (quarter === '3') {
              $('#' + startDateId).val(year + '-07-01');
              $('#' + endDateId).val(year + '-09-30');
          } else if (quarter === '4') {
              $('#' + startDateId).val(year + '-10-01');
              $('#' + endDateId).val(year + '-12-31');
          }
      }

      function CopyDate(id) {
          const copyDate = $('#copyDate').val();
          if(copyDate!=''){
              $('#' + id).val(copyDate);
              $('#' + id).css('background-color', '#fffde7');
          }
      }

      $(document).ready(function () {
          $('#showrevenues').dataTable({
              "scrollX": true,
              "autoWidth": false,
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      "startdate": {% if startdate %}"{{ startdate }}",{% else %}"",{% endif %}
                      "enddate": {% if enddate %}"{{ enddate }}",{% else %}"",{% endif %}
                      "contractStep": {% if contractStep %}"{{ contractStep }}",{% else %}"",{% endif %}
                      "empDeptName": {% if empDeptName %}"{{ empDeptName }}",{% else %}"",{% endif %}
                      "empName": {% if empName %}"{{ empName }}",{% else %}"",{% endif %}
                      "saleCompanyName": {% if saleCompanyName %}"{{ saleCompanyName }}",{% else %}"",{% endif %}
                      "contractName": {% if contractName %}"{{ contractName }}",{% else %}"",{% endif %}
                      "outstandingcollection": "{{ outstandingcollection }}",
                      "modifyMode": "{{ modifyMode }}",
                      "userId": "{{ user.employee.empId }}",
                      "maincategory": "{{ maincategory }}",
                      "issued": "{{ issued }}",
                  },
                  "url": "{% url 'sales:revenues_ajax_url' %}",
                  "dataSrc": ""
              },
              "columns": [
                  {data: 'contractId__contractStep'},
                  {data: 'contractId__contractCode'},
                  {data: 'contractId__empDeptName'},
                  {data: 'contractId__empName'},
                  {data: 'contractId__contractName'},
                  {data: 'revenueCompany__companyNameKo'},
                  {data: 'predictBillingDate'},
                  {data: 'billingDate'},
                  {data: 'predictDepositDate'},
                  {data: 'depositDate'},
                  {data: 'revenuePrice'},
                  {data: 'revenueProfitPrice'},
                  {data: 'comment'},
                  {data: 'revenueId'},
              ],
              "columnDefs": [
                  {targets: 0, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 1, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 4, className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {targets: 5, className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {
                      {% if modifyMode == 'Y' %}
                      "render": function (data, type, row) {
                          return '<input type="month" max="9999-12" id="predictBillingDate' + row["revenueId"] + '" ' +
                              'name="predictBillingDate" class="input-form" value="' + row["predictBillingDate"].substring(0,7) + '" />'
                      },
                      {% endif %}
                      targets: 6, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"
                  },
                  {
                      {% if modifyMode == 'Y' %}
                      "render": function (data, type, row) {
                          return '<input type="date" max="9999-12-31" id="billingDate' + row["revenueId"] + '" ' +
                              'name="billingDate" onclick="CopyDate(this.id)" class="input-form" value="' + row["billingDate"] + '" ' +
                              'onchange="changeBillingDates(\'billingDate' + row["revenueId"] + '\', \'predictBillingDate' + row["revenueId"] + '\', ' +
                              '\'predictDepositDate' + row["revenueId"] + '\', \'' + row["contractId__depositCondition"] + '\', \'' + row["contractId__depositConditionDay"] + '\')" />'
                      },
                      {% endif %}
                      targets: 7, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"
                  },
                  {
                      {% if modifyMode == 'Y' %}
                      "render": function (data, type, row) {
                          return '<input type="date" max="9999-12-31" id="predictDepositDate' + row["revenueId"] + '" ' +
                              'name="predictDepositDate" class="input-form" value="' + row["predictDepositDate"] + '" />'
                      },
                      {% endif %}
                      targets: 8, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"
                  },
                  {
                      {% if modifyMode == 'Y' %}
                      "render": function (data, type, row) {
                          return '<input type="date" max="9999-12-31" id="depositDate' + row["revenueId"] + '" ' +
                              'name="depositDate" onclick="CopyDate(this.id)" class="input-form" value="' + row["depositDate"] + '" ' +
                              'onchange="changeExecutionDates(\'depositDate' + row["revenueId"] + '\', \'predictDepositDate' + row["revenueId"] + '\')" />'
                      },
                      {% endif %}
                      targets: 9, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"
                  },
                  {targets: 10, className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                  {targets: 11, className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                  {
                      {% if modifyMode == 'Y' %}
                      "render": function (data, type, row) {
                          return '<input type="text" name="comment" class="input-form"  value="' + data + '" />'
                      },
                      {% endif %}
                      targets: 12, className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"
                  },
                  {
                      "render": function (data, type, row) {
                          return '<div name="revenueId" >' + data + '</div>'
                      },
                      targets: 13, className: "d-none"
                  },
              ],
              dom: 'Blfrtip',
              buttons: [
                  {
                      extend: 'excel',
                      text: '엑셀',
                      footer: true
                  },
                  {
                      extend: 'copy',
                      text: '복사',
                      footer: true
                  },
                  {
                      extend: 'print',
                      text: '인쇄',
                      footer: true
                  }
              ],
              "deferRender": true,
              "order": [[8, 'asc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_개씩 보기",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  if (aData.contractId__contractStep == 'Firm') {
                      $('td:eq(0)', nRow).css('color', '#4e73df');
                  } else if (aData.contractId__contractStep == 'Opportunity') {
                      $('td:eq(0)', nRow).css('color', '#1cc88a');
                  }
                  $('td:eq(10)', nRow).text(aData.revenuePrice.toLocaleString());
                  $('td:eq(11)', nRow).text(aData.revenueProfitPrice.toLocaleString());

                  {% if modifyMode == 'N' %}
                      $('td:eq(6)', nRow).text(replaceDate(aData.predictBillingDate, aData.billingDate, "-", ".", "발행", 7));
                      if (aData.billingDate != null) {
                          $('td:eq(6)', nRow).css('color', '#b7b9cc');
                      }
                      $('td:eq(7)', nRow).text(replaceDate(aData.billingDate, null, "-", ".", null, 10));
                      $('td:eq(8)', nRow).text(replaceDate(aData.predictDepositDate, aData.depositDate, "-", ".", "수금", 10));
                      if (aData.depositDate != null) {
                          $('td:eq(8)', nRow).css('color', '#b7b9cc');
                      }
                      $('td:eq(9)', nRow).text(replaceDate(aData.depositDate, null, "-", ".", null, 10));
                      $('td:eq(12)', nRow).text(aData.comment).css('color', '#e74a3b');
                  {% endif %}
                  if (aData.predictDepositDate < '{{ today | date:"Y-m-d" }}') {
                      $('td:eq(8)', nRow).css('color', '#ff0000');
                  }
                  if (aData.predictDepositDate < '{{ before | date:"Y-m-d" }}') {
                      $(nRow).css('background-color', '#ffe6e6');
                  }
              },
              "footerCallback": function () {
                  var api = this.api(), data;

                  var revenueResult = 0;
                  api.column(10, {search: 'applied'}).data().each(function (data, index) {
                      revenueResult += parseFloat(data);
                  });
                  $(api.column(10).footer()).html(revenueResult.toLocaleString());

                  var profitResult = 0;
                  api.column(11, {search: 'applied'}).data().each(function (data, index) {
                      profitResult += parseFloat(data);
                  });
                  $(api.column(11).footer()).html(profitResult.toLocaleString());

              },
              "search": {
                  "search": '{{ searchText }}'
              }
          });

          var table = $('#showrevenues').DataTable();
          {% if modifyMode == 'N' %}
              $("#showrevenues").on("click", 'tr', function () {
                  const data = table.row(this).data();
                  window.open('about:blank').location.href = '/sales/viewrevenue/' + data.revenueId + '/'
              });
          {% endif %}

          {% if modifyMode == 'Y' %}
              $('#saveRevenueTable').click(function () {
                  var size = $("input[name='predictBillingDate']").length;
                  var nullcheck = true;
                  for (i = 0; i < size; i++) {
                      var inputValue = $("input[name='predictBillingDate']").eq(i).val();
                      if (!inputValue) {
                          nullcheck = false;
                          break
                      }
                  }
                  if (nullcheck == true) {
                      const revenueForm = document.getElementById("revenueForm");
                      const search = document.getElementsByClassName('form-control form-control-sm')[1].value;
                      let startdate = document.createElement("input");
                      const copy = document.getElementById("copyDate").value;

                      startdate.setAttribute("type", "hidden");
                      startdate.setAttribute("name", "startdate");
                      startdate.setAttribute("value", '{{ startdate }}');
                      revenueForm.appendChild(startdate);
                      let enddate = document.createElement("input");
                      enddate.setAttribute("type", "hidden");
                      enddate.setAttribute("name", "enddate");
                      enddate.setAttribute("value", '{{ enddate }}');
                      revenueForm.appendChild(enddate);
                      let contractStep = document.createElement("input");
                      contractStep.setAttribute("type", "hidden");
                      contractStep.setAttribute("name", "contractStep");
                      contractStep.setAttribute("value", '{{ contractStep }}');
                      revenueForm.appendChild(contractStep);
                      let empDeptName = document.createElement("input");
                      empDeptName.setAttribute("type", "hidden");
                      empDeptName.setAttribute("name", "empDeptName");
                      empDeptName.setAttribute("value", '{{ empDeptName }}');
                      revenueForm.appendChild(empDeptName);
                      let empName = document.createElement("input");
                      empName.setAttribute("type", "hidden");
                      empName.setAttribute("name", "empName");
                      empName.setAttribute("value", '{{ empName }}');
                      revenueForm.appendChild(empName);
                      let saleCompanyName = document.createElement("input");
                      saleCompanyName.setAttribute("type", "hidden");
                      saleCompanyName.setAttribute("name", "saleCompanyName");
                      saleCompanyName.setAttribute("value", '{{ saleCompanyName }}');
                      revenueForm.appendChild(saleCompanyName);
                      let contractName = document.createElement("input");
                      contractName.setAttribute("type", "hidden");
                      contractName.setAttribute("name", "contractName");
                      contractName.setAttribute("value", '{{ contractName }}');
                      revenueForm.appendChild(contractName);
                      let outstandingcollection = document.createElement("input");
                      outstandingcollection.setAttribute("type", "hidden");
                      outstandingcollection.setAttribute("name", "outstandingcollection");
                      outstandingcollection.setAttribute("value", '{{ outstandingcollection }}');
                      revenueForm.appendChild(outstandingcollection);
                      let modifyMode = document.createElement("input");
                      modifyMode.setAttribute("type", "hidden");
                      modifyMode.setAttribute("name", "modifyMode");
                      modifyMode.setAttribute("value", '{{ modifyMode }}');
                      revenueForm.appendChild(modifyMode);
                      let searchText = document.createElement("input");
                      searchText.setAttribute("type", "hidden");
                      searchText.setAttribute("name", "searchText");
                      searchText.setAttribute("value", search);
                      revenueForm.appendChild(searchText);
                      let copyDate = document.createElement("input");
                      copyDate.setAttribute("type", "hidden");
                      copyDate.setAttribute("name", "copyDate");
                      copyDate.setAttribute("value", copy);
                      revenueForm.appendChild(copyDate);

                      const lengthRevenue = $('[name="revenueId"]').length;
                      for (var i = 0; i <= lengthRevenue - 1; i++) {
                          const revenue = document.createElement("input");
                          const data = $('div[name="revenueId"]').eq(i).text();
                          revenue.setAttribute("type", "hidden");
                          revenue.setAttribute("name", "revenueId");
                          revenue.setAttribute("value", data);
                          revenueForm.appendChild(revenue);
                      }
                      revenueForm.submit();
                  } else if (nullcheck == false) (
                      alert('매출예정일은 필수값입니다. 매출예정일을 기입해주세요.')
                  )
              });
          {% endif %}
      });

  </script>

{% endblock %}