{% extends "dashboard/layout.html" %}


{% block title %}
  계약관리
{% endblock %}


{% block css %}

  <style type="text/css">

    .buttons-copy {
      background-color: #4e73df;
      color: white;
      margin-bottom: 1rem;
    }

    .buttons-excel {
      background-color: #36b9cc;
      color: white;
      margin-bottom: 1rem;
    }

    .buttons-print {
      background-color: #f6c23e;
      color: white;
      margin-bottom: 1rem;
    }

  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800">프로젝트 관리 {% if startdate or enddate %}({{ startdate }} ~ {{ enddate }}){% endif %}</h6>
          <div class="dropdown no-arrow">
            <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
              <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
            </a>
            <a class="btn btn-primary" href="/sales/postcontract/" role="button">
              <i class="fas fa-pen d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-pen"></i> 등록</span>
            </a>
          </div>
        </div>

        <div class="card-body">
          {% csrf_token %}

          <div class="table-responsive">
            <table id="showcontracts" class="hover row-border" width="100%" style="width: 100%;">
              <thead>
              <tr>
                <th>구분</th>
                <th>관리번호</th>
                <th>담당부서</th>
                <th>담당자</th>
                <th>프로젝트명</th>
                <th>거래처</th>
                <th>계약일</th>
                <th>계약금액</th>
                <th>이익금액</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right">TOTAL :</th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
              </tr>
              </tfoot>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" onclick="updown('dropcard')">
          <h6 class="m-0 h3 text-gray-800">실주 계약 관리</h6>
        </div>

        <div id="dropcard" class="card-body d-block">
          {% csrf_token %}

          <div class="table-responsive">
            <table id="showdrops" class="hover row-border" width="100%" style="width: 100%;">
              <thead>
              <tr>
                <th>구분</th>
                <th>관리번호</th>
                <th>담당부서</th>
                <th>담당자</th>
                <th>프로젝트명</th>
                <th>거래처</th>
                <th>계약일</th>
                <th>계약금액</th>
                <th>이익금액</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right">TOTAL :</th>
                <th style="padding: 8px 10px; text-align: right"></th>
                <th style="padding: 8px 10px; text-align: right"></th>
              </tr>
              </tfoot>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="text-primary">시작일자</label>
                <input type="date" max="9999-12-31" class="form-control" id="startdate" name="startdate" value="{{ startdate }}">
              </div>
              <div class="col-6 mb-3 mb-sm-0">
                <label for="enddate" class="text-primary">종료일자</label>
                <input type="date" max="9999-12-31" class="form-control" id="enddate" name="enddate" value="{{ enddate }}">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="quarter" class="text-primary">분기</label>
                <select class="form-control" id="quarter" name="quarter" onchange="changeQuarter('startdate', 'enddate', 'quarter')">
                  <option value="">------</option>
                  <option value="1">1분기</option>
                  <option value="2">2분기</option>
                  <option value="3">3분기</option>
                  <option value="4">4분기</option>
                </select>
              </div>
              <div class="col-6">
                <label for="contractStep" class="text-primary">단계</label>
                <select class="form-control" id="contractStep" name="contractStep">
                  <option value="전체">전체</option>
                  <option value="예정" {% if contractStep == "예정" %}selected{% endif %}>예정</option>
                  <option value="확정" {% if contractStep == "확정" %}selected{% endif %}>확정</option>
                </select>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="empName" class="text-primary">담당자</label>
                <select class="form-control" id="empName" name="empName">
                  <option value='전체'>전체</option>
                  {% for e in employees %}
                    <option value="{{ e.empName }}" {% if e.empName == empName %}selected{% endif %}>{{ e.empName }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label for="saleCompanyName" class="text-primary">거래처</label>
                <input class="form-control" id="saleCompanyName" name="saleCompanyName" value="{{ saleCompanyName }}">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-12">
                <label for="contractName" class="text-primary">계약명</label>
                <input class="form-control" id="contractName" name="contractName" value="{{ contractName }}">
              </div>
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      function btn_filter() {
          document.getElementById("filterForm").submit();
      }

      function btn_filter2() {
          document.getElementById("filterForm2").submit();
      }

      function replaceAll(str, searchStr, replaceStr) {
          var new_str = str.split(searchStr).join(replaceStr);
          return new_str.split("T").join(" ").slice(0, 10);
      }

      function changeDeptName(empDeptName, selectId) {
          $.ajax({
              url: "{% url 'sales:empdept_ajax_url' %}",
              method: 'POST',
              cache: false,
              data: {"empDeptName": empDeptName,
                    "empStatus": "Y"},
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  var empName = returnData;
                  console.log(empName);
                  $('#' + selectId).empty();

                  $('#' + selectId).append("<option value='전체'>전체</option>");
                  for (var count = 0; count < empName.length; count++) {
                      var option = $("<option value=" + empName[count].fields.empName + ">" + empName[count].fields.empName + "</option>");
                      $('#' + selectId).append(option);
                  }
              }
          })
      }

      function changeQuarter(startDateId, endDateId, quarterId) {
          const quarter = $('#' + quarterId).val();
          const year = new Date().getFullYear();
          if (quarter === '1') {
              $('#' + startDateId).val(year + '-01-01');
              $('#' + endDateId).val(year + '-03-31');
          } else if (quarter === '2') {
              $('#' + startDateId).val(year + '-04-01');
              $('#' + endDateId).val(year + '-06-30');
          } else if (quarter === '3') {
              $('#' + startDateId).val(year + '-07-01');
              $('#' + endDateId).val(year + '-09-30');
          } else if (quarter === '4') {
              $('#' + startDateId).val(year + '-10-01');
              $('#' + endDateId).val(year + '-12-31');
          }
      }

      function updown(tableId) {
          if ($('#' + tableId).hasClass("d-none") === true) {
              $('#' + tableId).removeClass("d-none");
              $('#' + tableId).addClass("d-block");
          } else if ($('#' + tableId).hasClass("d-block") === true) {
              $('#' + tableId).removeClass("d-block");
              $('#' + tableId).addClass("d-none");
          }
      }

      $(document).ready(function () {

          {#영업기회 & 계약 관리 테이블#}
          $('#showcontracts').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      "userId": "{{ user.employee.empId }}",
                      "startdate": "{{ startdate }}",
                      "enddate": "{{ enddate }}",
                      "contractStep": "{{ contractStep }}",
                      "empDeptName": "{{ empDeptName }}",
                      "empName": "{{ empName }}",
                      "companyName": "",
                      "saleCompanyName": "{{ saleCompanyName }}",
                      "endCompanyName": "{{ endCompanyName }}",
                      "contractName": "{{ contractName }}",
                      "mainCategory": "{{ mainCategory }}",
                      "modifyContractPaper": "{{ modifyContractPaper }}",
                      "drops": "N"
                  },
                  "url": "{% url 'sales:contracts_ajax_url' %}",
                  "dataSrc": ""
              },
              "columns": [
                  {data: "contractStep"},
                  {data: "contractCode"},
                  {data: "empDeptName"},
                  {data: "empName"},
                  {data: "contractName"},
                  {data: "saleCompanyName__companyNameKo"},
                  {data: "contractDate"},
                  {data: "salePrice"},
                  {data: "profitPrice"},
                  {data: "contractId"},
              ],
              "columnDefs": [
                  {targets: 0, width: "5%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 1, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 4, width: "25%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {targets: 5, width: "10%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {targets: 6, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 7, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                  {targets: 8, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                  {targets: 9, visible: false},
              ],
              dom: 'Blfrtip',
              buttons: [
                  {
                      extend: 'excel',
                      text: '엑셀',
                      footer: true
                  },
                  {
                      extend: 'copy',
                      text: '복사',
                      footer: true
                  },
                  {
                      extend: 'print',
                      text: '인쇄',
                      footer: true
                  }
              ],
              "deferRender": true,
              "order": [[1, 'desc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollX": true,
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_개씩 보기",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  if (aData.contractStep == '확정') {
                      $('td:eq(0)', nRow).css('color', '#4e73df');
                  } else if (aData.contractStep == '예정') {
                      $('td:eq(0)', nRow).css('color', '#1cc88a');
                  }
                  $('td:eq(6)', nRow).text(replaceAll(aData.contractDate, "-", "."));
                  $('td:eq(7)', nRow).text(aData.salePrice.toLocaleString());
                  $('td:eq(8)', nRow).text(aData.profitPrice.toLocaleString());
              },
              "footerCallback": function () {
                  var api = this.api(), data;

                  var saleResult = 0;
                  api.column(7, {search: 'applied'}).data().each(function (data, index) {
                      saleResult += parseFloat(data);
                  });
                  $(api.column(7).footer()).html(saleResult.toLocaleString());

                  var profitResult = 0;
                  api.column(8, {search: 'applied'}).data().each(function (data, index) {
                      profitResult += parseFloat(data);
                  });
                  $(api.column(8).footer()).html(profitResult.toLocaleString());
              },
          });

          const contractsTable = $('#showcontracts').DataTable();

          $("#showcontracts").on("click", 'tr', function () {
              const data = contractsTable.row(this).data();
              window.open('about:blank').location.href = '/sales/viewcontract/' + data.contractId + '/'
          });

          {#실주 계약 관리 테이블#}
          $('#showdrops').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      "userId": "{{ user.employee.empId }}",
                      "startdate": "",
                      "enddate": "",
                      "contractStep": "",
                      "empDeptName": "전체",
                      "empName": "",
                      "companyName": "",
                      "saleCompanyName": "",
                      "endCompanyName": "",
                      "contractName": "",
                      "mainCategory": "",
                      "modifyContractPaper": "",
                      "drops": "Y",
                  },
                  "url": "{% url 'sales:contracts_ajax_url' %}",
                  "dataSrc": ""
              },
              "columns": [
                  {data: "contractStep"},
                  {data: "contractCode"},
                  {data: "empDeptName"},
                  {data: "empName"},
                  {data: "contractName"},
                  {data: "saleCompanyName__companyNameKo"},
                  {data: "contractDate"},
                  {data: "salePrice"},
                  {data: "profitPrice"},
                  {data: "contractId"},
              ],
              "columnDefs": [
                  {targets: 0, width: "5%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 1, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 4, width: "25%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {targets: 5, width: "10%", className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"},
                  {targets: 6, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 7, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                  {targets: 8, width: "10%", className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap"},
                  {targets: 9, visible: false},
              ],
              dom: 'Blfrtip',
              buttons: [
                  {
                      extend: 'excel',
                      text: '엑셀',
                      footer: true
                  },
                  {
                      extend: 'copy',
                      text: '복사',
                      footer: true
                  },
                  {
                      extend: 'print',
                      text: '인쇄',
                      footer: true
                  }
              ],
              "deferRender": true,
              "order": [[1, 'desc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollX": true,
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_개씩 보기",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  $('td:eq(7)', nRow).text(aData.salePrice.toLocaleString());
                  $('td:eq(8)', nRow).text(aData.profitPrice.toLocaleString());
              },
              "footerCallback": function () {
                  var api = this.api(), data;

                  var saleResult = 0;
                  api.column(7, {search: 'applied'}).data().each(function (data, index) {
                      saleResult += parseFloat(data);
                  });
                  $(api.column(7).footer()).html(saleResult.toLocaleString());

                  var profitResult = 0;
                  api.column(8, {search: 'applied'}).data().each(function (data, index) {
                      profitResult += parseFloat(data);
                  });
                  $(api.column(8).footer()).html(profitResult.toLocaleString());
              },
          });

          const dropTable = $('#showdrops').DataTable();

          $("#showdrops").on("click", 'tr', function () {
              const data = dropTable.row(this).data();
              window.open('about:blank').location.href = '/sales/viewcontract/' + data.contractId + '/'
          });
      });

  </script>

{% endblock %}