{% extends "dashboard/layout.html" %}


{% block title %}
  영업관리
{% endblock %}


{% block css %}
  <style>
    .file-table {
      color: #333333;
      width: 100%;
      margin-bottom: 2rem;
    }

    .file-table td, .file-table th {
      padding: .75rem;
      vertical-align: middle;
      border-bottom: 1px solid #e3e6f0;
      font-size: 14px;
      text-align: center;
      white-space: nowrap;
    }
  </style>
{% endblock %}


{% block content %}
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 h3 text-gray-800">
        [{{ purchaseOrder.contractId.contractName }}]
        {{ purchaseOrder.purchaseCompany.companyNameKo }}
        매입발주서
      </h6>
      <div class="dropdown no-arrow">
        <a class="dropdown-toggle" href="#" role="button" id="emailLink" data-toggle="modal" data-target="#emailModal">
          <i class="fas fa-at fa-fw text-info"></i>
        </a>
      </div>
    </div>

    <div class="card-body">
      <label class="font-weight-bold text-primary">제목</label>
      <div class="mb-3 ml-2">
        <h5 class="h5 text-gray-900">{{ purchaseOrder.title }}</h5>
      </div>

      <label for="contentHtml" class="font-weight-bold text-primary">본문</label>
      <div class="mb-3 ml-2 text-gray-900">
        {{ purchaseOrder.contentHtml | safe }}
      </div>

      <div class="row">
        <div class="col-6">
          <label class="font-weight-bold text-primary mt-3">첨부파일</label>
          <form id="filesForm" method="POST" enctype="multipart/form-data" class="d-none">{% csrf_token %}</form>
          <table class="file-table">
            <thead>
            <tr>
              <td width="65%"><b>파일명</b></td>
              <td width="20%"><b>파일크기</b></td>
              <td width="15%">
                <label class="m-0 btn btn-info btn-icon-split">
                  <span class="icon text-white-100"><i class="fas fa-file-upload"></i></span>
                  <input id="files" name="files" type="file" multiple="multiple" class="d-none" onchange=file_upload()>
                </label>
              </td>
            </tr>
            </thead>
            <tbody>
            {% for file in purchaseOrderFiles %}
              <tr>
                <td class="text-left">{{ file.fileName }}</td>
                <td class="text-right">{{ file.fileSize }} MB</td>
                <td><i class="fas fa-times-circle" onclick="file_delete({{ file.fileId }})"></i></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-6">
          <label class="font-weight-bold text-primary mt-3">매입견적서</label>
          <table class="file-table">
            <thead>
            <tr>
              <td width="30%"><b>매입처</b></td>
              <td width="35%"><b>파일명</b></td>
              <td width="20%"><b>파일크기</b></td>
              <td width="15%">
                <label class="m-0 btn btn-info btn-icon-split">
                  <span class="icon text-white-100" role="button" data-toggle="modal" data-target="#purchaseEstimateModal">
                    <i class="fas fa-file-upload"></i>
                  </span>
                </label>
              </td>
            </tr>
            </thead>
            <tbody>
            {% for estimate in relatedPurchaseEstimate %}
              <tr>
                <td>{{ estimate.purchaseEstimate.purchaseCompany.companyNameKo }}</td>
                <td class="text-left">{{ estimate.purchaseEstimate.fileName }}</td>
                <td class="text-right">{{ estimate.purchaseEstimate.fileSize }} MB</td>
                <td><i class="fas fa-times-circle" onclick="estimate_delete({{ estimate.relatedId }})"></i></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% if purchaseOrder.writeEmp == request.user.employee and purchaseOrder.sendDatetime is None %}
    <div class="text-center mb-3">
      <a href="/sales/deletepurchaseorder/{{ purchaseOrder.orderId }}" class="btn btn-danger btn-icon-split" onclick="btn_delete()">
        <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
        <span class="text">삭제</span>
      </a>
      <a href="/sales/modifypurchaseorder/{{ purchaseOrder.orderId }}/" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
        <span class="text">수정</span>
      </a>
    </div>
  {% endif %}
  </div>

  <!-- email Modal -->
  <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="documentModalLabel">매입발주서 전송</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="emailForm" action="/approval/viewdocumentemail/{{ document.documentId }}/" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_email();}">
            {% csrf_token %}
            <label class="text-primary mb-0">수신자</label>
            <div class="row mb-1">
              <div class="col-3 pr-0 mb-sm-0">
                <input type="text" class="form-control" id="empEmail" name="empEmail">
              </div>
              <div class="col-1 pt-1">
                <span class="text-info">@</span>
              </div>
              <div class="col-4 pl-0">
                <input type="text" class="form-control" id="address" name="address">
              </div>
              <div class="col-4 pl-0 mb-sm-0">
                <select type="text" class="form-control" id="selectaddress" name="selectaddress" onchange="change_email(this.value)">
                  <option value="직접입력">직접입력</option>
                  <option value="unioneinc.co.kr">unioneinc.co.kr</option>
                  <option value="naver.com">naver.com</option>
                  <option value="gmail.com">gmail.com</option>
                  <option value="hanmail.com">hanmail.net</option>
                </select>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-12">
                <label for="selectpurchase" class="text-primary">매입견적서 선택</label>
                <select type="text" class="form-control" id="selectpurchase" name="selectpurchase">
                  <option value="">------</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_email()">전송</a>
        </div>
      </div>
    </div>
  </div>

  <!-- purchase estimate file download modal -->
  <div class="modal fade" id="purchaseEstimateModal" tabindex="-1" role="dialog" aria-labelledby="purchaseEstimateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="purchaseEstimateModalLabel">매입견적서 목록</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="purchaseFileForm" method="POST">{% csrf_token %}</form>
          <div class="text-dark ml-2"> ▼ {{ purchaseOrder.purchaseCompany.companyNameKo }}</div>
          <table class="file-table">
            <thead>
            <tr>
              <td class="d-none"></td>
              <td width="5%"><input class="ckbxall" type="checkbox"></td>
              <td width="20%"><b>일시</b></td>
              <td width="20%"><b>작성자</b></td>
              <td width="40%"><b>파일명</b></td>
              <td width="20%"><b>파일크기</b></td>
            </tr>
            </thead>
            <tbody>
            {% for f in purchaseFiles %}
              <tr>
                <td name="purchaseFileId" class="d-none">{{ f.fileId }}</td>
                <td><input class="ckbx" type="checkbox"></td>
                <td>{{ f.uploadDatetime | date:"Y.m.d H:i" }}</td>
                <td>{{ f.uploadEmp.empName }}</td>
                <td class="text-left">
                  <a onclick="downloadLog('/media/{{ f.file }}', '매입견적서')" href="/media/{{ f.file }}" download>{{ f.fileName }}</a>
                </td>
                <td class="text-right">{{ f.fileSize }} MB</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="post_related()">등록</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}


{% block script %}
  <script type="text/javascript">

      function file_upload() {
          let form = $('#filesForm');
          form.attr("action", "/sales/uploadpurchaseorderfiles/{{ purchaseOrder.orderId }}/");
          form.append($("#files"));
          form.submit();
      }

      function file_delete(fileId) {
          location.href = '/sales/deletepurchaseorderfile/' + fileId + '/';
      }

      function estimate_delete(relatedId) {
          location.href = '/sales/deleterelatedpurchaseestimate/' + relatedId + '/';
      }

      function post_related() {
          const form =$('#purchaseFileForm');
          form.attr("action", "/sales/uploadrelatedpurchaseestimate/{{ purchaseOrder.orderId }}/");

          let len = $('.ckbx').length;
          let idList = [];
          for (let i=0; i<len; i++) {
              if ($('.ckbx').eq(i).is(":checked")) {
                  idList.push($('td[name="purchaseFileId"]').eq(i).text());
              }
          }

          $('<input />', {
              type: 'hidden',
              name: 'purchaseFileIds',
              value: JSON.stringify(idList)
          }).appendTo(form);
          form.submit();
      }

      $(document).ready(function () {
          $('.ckbxall').click(function () {
              $('.ckbx').prop('checked', this.checked);
          });
          $('.ckbx').click(function () {
              $('.ckbxall').prop('checked', false);
          });
      })

  </script>
{% endblock %}
