{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ko">
<head>

  <meta charset="utf-8">

  <style type="text/css">
    @font-face {
      font-family: KBIZHanmaumMyungjo;
      src: url({% static '/mail/KBIZHanmaumMyungjo.ttf' %});
    }

    html {
      font-family: KBIZHanmaumMyungjo, serif;
    }

    @page {
      size: A4 landscape;
      margin-left: 20pt;
      margin-right: 20pt;
      margin-top: 20pt;
    }

    .thtd {
      text-align: center;
      border: 1px solid grey;
      border-collapse: collapse;
      font-size: 13px;
    }

    .pc-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .pc-table td, .pc-table th {
      padding: 5px 5px;
      text-align: center;
      vertical-align: middle;
      font-size: 13px;
      border-top: 1px dotted #858796a3;
      background-color: #ebfaff;
    }


  </style>
</head>
<body>
<div style="text-align: center;">
  <strong style="font-size: 25px;">수주통보서</strong>
</div>
<br>
<table width="400px" align="right">
  <tr class="thtd" style="height: 30px">
    <td class="thtd" rowspan="2" colspan="2" style="background-color:gainsboro">결재</td>
    <td class="thtd" colspan="3" style="background-color:gainsboro">담당자</td>
    <td class="thtd" colspan="3" style="background-color:gainsboro">경지부</td>
    <td class="thtd" colspan="3" style="background-color:gainsboro">팀장</td>
    <td class="thtd" colspan="3" style="background-color:gainsboro">사장</td>
    <td class="thtd" colspan="3" style="background-color:gainsboro">대표이사</td>
  </tr>
  <tr class="thtd" style="height: 60px">
    <td class="thtd" colspan="3"></td>
    <td class="thtd" colspan="3"></td>
    <td class="thtd" colspan="3"></td>
    <td class="thtd" colspan="3"></td>
    <td class="thtd" colspan="3"></td>
  </tr>
</table>
<div style="font-size: 14px">발행일자 : {{ today.year }}년 {{ today.month }} 월 {{ today.day }}일</div>
<table>
  <tr>
    <td colspan="5">
      <table>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff;font-size: 13px">부&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 서</td>
          <td class="thtd" colspan="1" style="background-color:#ebfaff;font-size: 13px">영&nbsp; 업&nbsp; &nbsp;대&nbsp; 표</td>
          <td class="thtd" colspan="3" style="background-color:#ebfaff;font-size: 13px">계&nbsp; &nbsp; &nbsp;약&nbsp; &nbsp; &nbsp;명</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1">{{ contract.empDeptName }}</td>
          <td class="thtd" colspan="1">{{ contract.empName }}</td>
          <td class="thtd" colspan="3">[{{ contract.contractCode }}] {{ contract.contractName }}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-right: 5px">
      <div style="font-size: 15px;padding-top: 10px"><b>* 계약정보</b></div>
      <table>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">구&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 분</td>
          <td class="thtd" colspan="2" style="background-color:#ebfaff">내&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 용</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">거&nbsp; &nbsp; &nbsp;래&nbsp; &nbsp; &nbsp;처</td>
          <td class="thtd" colspan="2" style="text-align: left; margin-left: 5px">{{ contract.saleCompanyName.companyNameKo }}</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">최 종 고 객 사</td>
          <td class="thtd" colspan="2" style="text-align: left; margin-left: 5px">{{ contract.endCompanyName.companyNameKo }}</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">대분류/소분류</td>
          <td class="thtd" colspan="2" style="text-align: left; margin-left: 5px">{{ contract.mainCategory }}({{ contract.subCategory }})</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">산&nbsp; &nbsp; &nbsp;업&nbsp; &nbsp; &nbsp;군</td>
          <td class="thtd" colspan="2" style="text-align: left; margin-left: 5px">{{ contract.saleIndustry }}</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">판&nbsp; 매&nbsp; &nbsp;유&nbsp; 형</td>
          <td class="thtd" colspan="2" style="text-align: left; margin-left: 5px">{{ contract.saleType }}</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">계&nbsp; &nbsp; &nbsp;약&nbsp; &nbsp; &nbsp;일</td>
          <td class="thtd" colspan="2" style="text-align: left; margin-left: 5px">{{ contract.contractDate }}</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">계&nbsp; 약&nbsp; &nbsp;기&nbsp; 간</td>
          <td class="thtd" colspan="2" style="text-align: left; margin-left: 5px">{% if contract.contractStep == 'Firm' and contract.contractStartDate %}{{ contract.contractStartDate }} ~ {{ contract.contractEndDate }}{% else %}-{% endif %}</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">계&nbsp; 약&nbsp; &nbsp;금&nbsp; 액</td>
          <td class="thtd" colspan="2" style="text-align: right; margin-right: 0px">{{ contract.salePrice | intcomma }} 원</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">수&nbsp; 금&nbsp; &nbsp;조&nbsp; 건</td>
          <td class="thtd" colspan="2" style="text-align: left; margin-left: 5px">{{ contract.depositCondition }}{% if contract.depositCondition == '계산서 발행 후' %} {{ contract.depositConditionDay }}일 이내{% endif %}</td>
        </tr>
      </table>
    </td>
    <td colspan="3">
      <div style="font-size: 15px;padding-top: 10px;"><b>* CoG정보</b></div>
      <table>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">구&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 분</td>
          <td class="thtd" colspan="1" style="background-color:#ebfaff">매&nbsp; 출&nbsp; &nbsp;금&nbsp; 액</td>
          <td class="thtd" colspan="1" style="background-color:#ebfaff">매&nbsp; 입&nbsp; &nbsp;금&nbsp; 액</td>
          <td class="thtd" colspan="1" style="background-color:#ebfaff">마&nbsp; 진&nbsp; &nbsp;금&nbsp; 액</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">상품_HW</td>
          <td class="thtd" colspan="1" rowspan="5" style="text-align: right; margin-right: 5px">{{ contract.salePrice | intcomma }}</td>
          <td class="thtd" colspan="1" style="text-align: right; margin-right: 5px">{{ summary.sumType1 | intcomma }}</td>
          <td class="thtd" colspan="1" rowspan="5" style="text-align: right; margin-right: 5px">{{ summary.profit | intcomma }}</td>
        </tr>
         <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">상품_SW</td>
          <td class="thtd" colspan="1" style="text-align: right; margin-right: 5px">{{ summary.sumType2 | intcomma }}</td>
        </tr>
         <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">용역_HW</td>
          <td class="thtd" colspan="1" style="text-align: right; margin-right: 5px">{{ summary.sumType3 | intcomma }}</td>
        </tr>
         <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">용역_SW</td>
          <td class="thtd" colspan="1" style="text-align: right; margin-right: 5px">{{ summary.sumType4 | intcomma }}</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">기타</td>
          <td class="thtd" colspan="1" style="text-align: right; margin-right: 5px">{{ summary.sumType5 | intcomma }}</td>
        </tr>
         <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff">총 합계</td>
          <td class="thtd" colspan="1" style="text-align: right; margin-right: 5px">{{ contract.salePrice | intcomma }}</td>
          <td class="thtd" colspan="1" style="text-align: right; margin-right: 5px">{{ summary.sumPurchase | intcomma }}</td>
          <td class="thtd" colspan="1" style="text-align: right; margin-right: 5px">{{ summary.profit | intcomma }}</td>
        </tr>
      </table>
      <div style="font-size: 15px;padding-top: 3px;"><b>* 마진율분석</b></div>
      <table>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1" style="background-color:#ebfaff;font-size: 13px">마&nbsp; &nbsp; &nbsp;진&nbsp; &nbsp; &nbsp;율</td>
          <td class="thtd" colspan="1" style="background-color:#ebfaff;font-size: 13px">목 표 마 진 율</td>
          <td class="thtd" colspan="1" style="background-color:#ebfaff;font-size: 13px">분&nbsp; 석&nbsp; &nbsp;결&nbsp; 과</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="1">{{ contract.profitRatio | floatformat }}%</td>
          <td class="thtd" colspan="1">15%</td>
          {% if result > 0 %}
          <td class="thtd" style="color:red;" colspan="1">{{ result }}%</td>
          {% else %}
          <td class="thtd" style="color:blue;" colspan="1">{{ result }}%</td>
          {% endif %}
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-right: 5px">
      <div style="font-size: 15px;padding-top: 10px"><b>* 고객정보</b></div>
      <table>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="4" style="background-color:gainsboro">대표자</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="4">{{ contract.saleCompanyName.ceo }}</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="4" style="background-color:gainsboro">주소</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="4">{{ contract.saleCompanyName.companyAddress }}</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="2" style="background-color:gainsboro">영업담당자</td>
          <td class="thtd" colspan="2" style="background-color:gainsboro">세금계산서담당자</td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="2"></td>
          <td class="thtd" colspan="2"></td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="2"></td>
          <td class="thtd" colspan="2"></td>
        </tr>
        <tr class="thtd" style="height: 25px">
          <td class="thtd" colspan="2"></td>
          <td class="thtd" colspan="2"></td>
        </tr>
      </table>
    </td>
    <td colspan="3">
      <div style="font-size: 15px;padding-top: 10px;"><b>* 기타정보</b></div>
      <table style="background-color:gainsboro;">
        <tr class="thtd" style="height: 25px;text-align: left;">
          <td colspan="5" style="height: 200px;"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>