{% extends "dashboard/layout.html" %}
{% load humanize %}

{% block title %}
  인센티브현황
{% endblock %}


{% block css %}

  <style type="text/css">
    .pc-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .pc-table td, .pc-table th {
      padding: 5px 15px;
      text-align: center;
      vertical-align: middle;
      font-size: 17px;
      border-top: 1px dotted #858796a3;
    }

    .pc-table-main td, .pc-table-main th {
      padding: 5px;
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
      border-top: 1px dotted #858796a3;
    }

    .mobile-table {
      color: #333333;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .mobile-table td, .mobile-table th {
      padding: 5px 10px;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
      border-top: 1px dotted #858796a3;
    }

    .thtd {
      text-align: center;
      border: 1px solid lightgray;
      border-collapse: collapse;
    }
  </style>

{% endblock %}


{% block content %}

  <div class="d-none d-lg-block">
    <div class="card shadow mb-4">

      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h3 class="m-0 text-gray-800"> {{ todayYear }}년 {{ todayQuarter }}분기 인센티브 현황 </h3>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
            <i class="fas fa-filter fa-fw text-gray-400"></i>
          </a>
        </div>
      </div>

      <div class="card-body">
        <table class="pc-table" id="contract">
          <thead class="bg-light thtd">
          <tr class="thtd">
            <td class="thtd" colspan="3">구분</td>
            <td class="thtd" colspan="6">{{ todayQuarter }}분기 누계 급여 정보</td>
            <td class="thtd" colspan="2">인센티브 산출</td>
            <td class="thtd" colspan="8">인센티브</td>
            <td class="thtd" colspan="2"></td>
          </tr>
          <tr class="thtd">
            <td class="thtd" rowspan="2">직급</td>
            <td class="thtd" rowspan="2">성명</td>
            <td class="thtd" rowspan="2">목표<br>달성율</td>
            <td class="thtd" colspan="2">연봉</td>
            <td class="thtd" colspan="2">기본급</td>
            <td class="thtd" colspan="2">베팅액</td>
            <td class="thtd">인정율</td>
            <td class="thtd">ACC</td>
            <td class="thtd" colspan="2">{{ todayQuarter }}분기누계</td>
            <td class="thtd" colspan="2">{{ beforeQuarter }}분기누계지급</td>
            <td class="thtd" colspan="2">{{ nextMonth }}월급여대장</td>
            <td class="thtd" colspan="2">{{ todayQuarter }}분기AWARD</td>
            <td class="thtd" colspan="2">급여증감액</td>
          </tr>
          <tr class="thtd">
            <td class="thtd" colspan="2">A</td>
            <td class="thtd" colspan="2">B</td>
            <td class="thtd" colspan="2">C</td>
            <td class="thtd">D</td>
            <td class="thtd">E</td>
            <td class="thtd" colspan="2"><div class="text-xs">D가100%미만:C*D=F</div><div class="text-xs">그외:((C*D)-C)*E+C=F</div></td>
            <td class="thtd" colspan="2">G</td>
            <td class="thtd" colspan="2">F-G=H</td>
            <td class="thtd" colspan="2">I</td>
            <td class="thtd" colspan="2"></td>
          </tr>
          </thead>
          <tbody>
          {% for row in table %}
            <tr class="thtd">
              <td class="thtd" colspan="1">{{ row.empPosition }}</td>
              <td class="thtd" colspan="1"><a href="/sales/viewincentive/{{ row.empId }}/">{{ row.empName }}</a></td>
              <td class="thtd" colspan="1">{{ row.achieveRatio }}</td>
              <td class="thtd" colspan="2">{{ row.sum_salary | intcomma }}</td>
              <td class="thtd" colspan="2">{{ row.sum_basicSalary | intcomma }}</td>
              <td class="thtd" colspan="2">{{ row.sum_bettingSalary | intcomma }}</td>
              <td class="thtd" colspan="1">{{ row.creditRatio }}</td>
              <td class="thtd" colspan="1">{{ row.ACC }}</td>
              <td class="thtd" colspan="2">{{ row.cumulateIncentive | intcomma }}</td>
              <td class="thtd" colspan="2">{{ row.before_achieve | intcomma }}</td>
              <td class="thtd" colspan="2">{{ row.achieveIncentive | intcomma }}</td>
              <td class="thtd" colspan="2">{{ row.achieveAward | intcomma }}</td>
              {% if row.compareIncentive > 0 %}
                <td class="thtd text-danger" colspan="2">{{ row.compareIncentive | intcomma }}</td>
              {% else %}
                <td class="thtd text-primary" colspan="2">{{ row.compareIncentive | intcomma }}</td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" action="/sales/viewincentiveall/" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-12">
                <label for="quarter" class="text-primary">분기</label>
                <select class="form-control" id="quarter" name="quarter">
                  <option value="">------</option>
                  <option value="1">1분기</option>
                  <option value="2">2분기</option>
                  <option value="3">3분기</option>
                  <option value="4">4분기</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info text-white" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">

      function btn_filter() {
          const filterForm = document.getElementById("filterForm");
          filterForm.submit();
      }

  </script>

{% endblock %}