{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="utf-8">

    <style type="text/css">
        @font-face {
            font-family: KBIZHanmaumMyungjo;
            src: url({% static '/mail/KBIZHanmaumMyungjo.ttf' %});
        }

        html {
            font-family: KBIZHanmaumMyungjo, serif;
        }

        @page {
            size: A4 landscape;
            margin-left: 20pt;
            margin-right: 20pt;
            margin-top: 50pt;
        }

        .thtd {
            text-align: center;
            border: 1px solid grey;
            border-collapse: collapse;
        }

        .pc-table {
            color: #333333;
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1rem;
        }

        .pc-table td, .pc-table th {
            padding: 5px 15px;
            text-align: center;
            vertical-align: middle;
            font-size: 14px;
            border-top: 1px dotted #858796a3;
            background-color: #ebfaff;
        }


    </style>
</head>
<body>
<div style="text-align: center;">
    <strong style="font-size: 35px;">{{ todayYear }}년 급여증감현황</strong>
</div>
<br>
<br>
<br>
<table width="315px" align="right">
    <tr class="thtd" style="height: 30px">
        <td class="thtd" rowspan="2" colspan="2" style="background-color:gainsboro">결재</td>
        <td class="thtd" colspan="2" style="background-color:gainsboro">담당자</td>
        <td class="thtd" colspan="2" style="background-color:gainsboro">팀장</td>
        <td class="thtd" colspan="2" style="background-color:gainsboro">사장</td>
        <td class="thtd" colspan="2" style="background-color:gainsboro">대표이사</td>
    </tr>
    <tr class="thtd" style="height: 70px">
        <td class="thtd" colspan="2"></td>
        <td class="thtd" colspan="2"></td>
        <td class="thtd" colspan="2"></td>
        <td class="thtd" colspan="2"></td>
    </tr>
</table>
<div style="font-size: 14px">결재일자 : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;년 &nbsp; &nbsp; &nbsp; &nbsp;월
    &nbsp; &nbsp; &nbsp; &nbsp;일
</div>
<table class="pc-table" id="contract">
    <thead class="bg-light thtd">
    <tr class="thtd">
        <td class="thtd" colspan="3">구분</td>
        <td class="thtd" colspan="8">베팅액</td>
        <td class="thtd" colspan="8">인센티브 + Award</td>
        <td class="thtd" colspan="8">프로그램 시행에 따른 급여 증가액</td>
    </tr>
    <tr class="thtd">
        <td class="thtd" rowspan="1">직급</td>
        <td class="thtd" rowspan="1" colspan="2">성명</td>
        <td class="thtd" colspan="2">1Q누계</td>
        <td class="thtd" colspan="2">2Q누계</td>
        <td class="thtd" colspan="2">3Q누계</td>
        <td class="thtd" colspan="2">4Q누계</td>
        <td class="thtd" colspan="2">1Q누계</td>
        <td class="thtd" colspan="2">2Q누계</td>
        <td class="thtd" colspan="2">3Q누계</td>
        <td class="thtd" colspan="2">4Q누계</td>
        <td class="thtd" colspan="2">1Q누계</td>
        <td class="thtd" colspan="2">2Q누계</td>
        <td class="thtd" colspan="2">3Q누계</td>
        <td class="thtd" colspan="2">4Q누계</td>
    </tr>
    </thead>
    <tbody>
    {% for row in table %}
    <tr class="thtd">
        <td class="thtd" colspan="1">{{ row.empPosition }}</td>
        <td class="thtd" colspan="2">{{ row.empName }}</a></td>
        <td class="thtd" colspan="2" style="background-color: white">{{ row.quarter1_bettingSalary | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ row.quarter2_bettingSalary | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ row.quarter3_bettingSalary | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ row.quarter4_bettingSalary | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ row.quarter1_achieveIncentiveAward | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ row.quarter2_achieveIncentiveAward | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ row.quarter3_achieveIncentiveAward | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ row.quarter4_achieveIncentiveAward | intcomma }}</td>
        {% if row.quarter1_salaryIncreaseDecrease > 0 %}
        <td class="thtd" colspan="2" style="background-color: white;color: red;">{{ row.quarter1_salaryIncreaseDecrease | intcomma }}</td>
        {% else %}
        <td class="thtd" colspan="2" style="background-color: white;color: navy;">{{ row.quarter1_salaryIncreaseDecrease | intcomma }}</td>
        {% endif %}
        {% if row.quarter2_salaryIncreaseDecrease > 0 %}
        <td class="thtd" colspan="2" style="background-color: white;color: red;">{{ row.quarter2_salaryIncreaseDecrease | intcomma }}</td>
        {% else %}
        <td class="thtd" colspan="2" style="background-color: white;color: navy;">{{ row.quarter2_salaryIncreaseDecrease | intcomma }}</td>
        {% endif %}
        {% if row.quarter3_salaryIncreaseDecrease > 0 %}
        <td class="thtd" colspan="2" style="background-color: white;color: red;">{{ row.quarter3_salaryIncreaseDecrease | intcomma }}</td>
        {% else %}
        <td class="thtd" colspan="2" style="background-color: white;color: navy;">{{ row.quarter3_salaryIncreaseDecrease | intcomma }}</td>
        {% endif %}
        {% if row.quarter4_salaryIncreaseDecrease > 0 %}
        <td class="thtd" colspan="2" style="background-color: white;color: red;">{{ row.quarter4_salaryIncreaseDecrease | intcomma }}</td>
        {% else %}
        <td class="thtd" colspan="2" style="background-color: white;color: navy;">{{ row.quarter4_salaryIncreaseDecrease | intcomma }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr class="thtd bg-light">
        <td class="thtd" colspan="3">합계</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ sum_table.sum_quarter1_bettingSalary | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ sum_table.sum_quarter2_bettingSalary | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ sum_table.sum_quarter3_bettingSalary | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ sum_table.sum_quarter4_bettingSalary | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ sum_table.sum_quarter1_achieveIncentiveAward | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ sum_table.sum_quarter2_achieveIncentiveAward | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ sum_table.sum_quarter3_achieveIncentiveAward | intcomma }}</td>
        <td class="thtd" colspan="2" style="background-color: white">{{ sum_table.sum_quarter4_achieveIncentiveAward | intcomma }}</td>
        {% if sum_table.sum_quarter1_salaryIncreaseDecrease > 0 %}
        <td class="thtd" colspan="2" style="background-color: white;color: red;">{{ sum_table.sum_quarter1_salaryIncreaseDecrease | intcomma }}</td>
        {% else %}
        <td class="thtd" colspan="2" style="background-color: white;color: navy;">{{ sum_table.sum_quarter1_salaryIncreaseDecrease | intcomma }}</td>
        {% endif %}
        {% if sum_table.sum_quarter2_salaryIncreaseDecrease > 0 %}
        <td class="thtd" colspan="2" style="background-color: white;color: red;">{{ sum_table.sum_quarter2_salaryIncreaseDecrease | intcomma }}</td>
        {% else %}
        <td class="thtd" colspan="2" style="background-color: white;color: navy;">{{ sum_table.sum_quarter2_salaryIncreaseDecrease | intcomma }}</td>
        {% endif %}
        {% if sum_table.sum_quarter3_salaryIncreaseDecrease > 0 %}
        <td class="thtd" colspan="2" style="background-color: white;color: red;">{{ sum_table.sum_quarter3_salaryIncreaseDecrease | intcomma }}</td>
        {% else %}
        <td class="thtd" colspan="2" style="background-color: white;color: navy;">{{ sum_table.sum_quarter3_salaryIncreaseDecrease | intcomma }}</td>
        {% endif %}
        {% if sum_table.sum_quarter4_salaryIncreaseDecrease > 0 %}
        <td class="thtd" colspan="2" style="background-color: white;color: red;">{{ sum_table.sum_quarter4_salaryIncreaseDecrease | intcomma }}</td>
        {% else %}
        <td class="thtd" colspan="2" style="background-color: white;color: navy;">{{ sum_table.sum_quarter4_salaryIncreaseDecrease | intcomma }}</td>
        {% endif %}
    </tr>
    </tbody>
</table>
</body>
</html>