{% extends "dashboard/layout.html" %}


{% block title %}
  비품관리
{% endblock %}


{% block css %}

  <style type="text/css">

  </style>

{% endblock %}


{% block content %}

  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 h3 text-gray-800">비품 관리</h6>
      <div class="dropdown no-arrow">
        <a class="btn btn-primary" href="#" role="button" data-toggle="modal" data-target="#insertModal">
          <i class="fas fa-pen d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-pen"></i> 등록</span>
        </a>
      </div>
    </div>

    <div class="card-body">
      <div class="mb-3">
        <h5>▼ <span class="text-primary font-weight-bold">비품 목록</span></h5>
      </div>
      <div class="table-responsive">
        <table id="showsavings" class="hover row-border" style="width: 100%;">
          <thead>
          <tr style="background-color: #deeef8; color: black;">
            <th>품명</th>
            <th>현재수량</th>
            <th>누적금액</th>
            <th>규격</th>
            <th>구입처</th>
            <th>최근 설치장소<br>(사용기관)</th>
            <th>최근 구매일<br>(소모일)</th>
            <th>최근 인수자<br>(검수자)</th>
            <th>비고</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <!-- Insert Modal -->
  <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="insertModalLabel">비품등록</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="insertForm" method="POST" action="/supply/postsaving/" onkeydown="javascript: if (event.keyCode == 13) {btn_insert();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-5 mb-3 mb-sm-0">
                <label class="text-primary font-weight-bold">품명</label>
                <select class="form-control" name="selectName" id="selectName">
                  {% for saving in savings %}
                    <option value="{{ saving.savingId }}">{{ saving.name }}</option>
                  {% endfor %}
                </select>
                <input class="form-control d-none" name="newName" id="newName">
              </div>
              <div class="col-1 mb-3 mb-sm-0 text-center">
                <label class="text-primary font-weight-bold">신규</label>
                <input type="checkbox" class="form-control" name="newSaving" id="newSaving">
              </div>
              <div class="col-6 mb-3 mb-sm-0">
                <label class="text-secondary font-weight-bold">규격</label>
                <input class="form-control" name="standard">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-4 mb-3 mb-sm-0">
                <label class="text-primary font-weight-bold">수량</label>
                <input class="form-control" name="quantity" type="number" value="0">
              </div>
              <div class="col-2 mb-3 mb-sm-0">
                <label class="text-primary font-weight-bold">구분</label>
                <select class="form-control" name="quantityType" id="quantityType" onchange="btn_change(this.value)">
                  <option value="1">구입</option>
                  <option value="-1">소모</option>
                </select>
              </div>
              <div class="col-6 mb-3 mb-sm-0">
                <label class="text-primary font-weight-bold">금액</label>
                <input class="form-control" name="money" id="money" type="number" value="0">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label class="text-secondary font-weight-bold">구입처</label>
                <input class="form-control" name="purchaseCompany" id="purchaseCompany">
              </div>
              <div class="col-6 mb-3 mb-sm-0">
                <label class="text-primary font-weight-bold">설치장소 (사용기관)</label>
                <input class="form-control" name="location">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label class="text-primary font-weight-bold">구매일 (소모일)</label>
                <input class="form-control" name="purchaseDate" type="date" max="9999-12-31">
              </div>
              <div class="col-6 mb-3 mb-sm-0">
                <label class="text-primary font-weight-bold">인수자 (검수자)</label>
                <select class="form-control" name="purchaseEmp">
                  {% for emp in emps %}
                    <option value="{{ emp.empId }}">{{ emp.empName }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-12 mb-3 mb-sm-0">
                <label class="text-secondary font-weight-bold">비고</label>
                <input class="form-control" name="comment">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_insert()">등록</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">

      function btn_change(seleted) {
          if(seleted=="-1"){
            $("#money").val(0);
            $("#money").attr("readonly",true);
            $("#purchaseCompany").val('');
            $("#purchaseCompany").attr("readonly", true);

          }else{
            $("#money").attr("readonly",false);
            $("#purchaseCompany").attr("readonly", false);
          }
      }

      function btn_insert() {
          let newSaving;
          let name = '';
          if ($('#newSaving').is(':checked')) {
              newSaving = true;
              if (!$('#insertForm [name="newName"]').val()) {
                  alert('품명을 입력해주세요.');
                  return false;
              } else {
                  name = $('#insertForm [name="newName"]').val();
              }
          } else {
              newSaving = false;
              if (!$('#insertForm [name="selectName"]').val()) {
                  alert('품명을 선택해주세요.');
                  return false;
              } else {
                  name = $('#insertForm [name="selectName"]').val();
              }
          }
          if (!$('#insertForm [name="quantity"]').val()) {
              alert('수량을 입력해주세요.');
              return false;
          }
          if (!$('#insertForm [name="money"]').val()) {
              alert('금액을 입력해주세요.');
              return false;
          }
          if (!$('#insertForm [name="location"]').val()) {
              alert('설치장소 (사용기관)을 입력해주세요.');
              return false;
          }
          if (!$('#insertForm [name="purchaseDate"]').val()) {
              alert('구매일 (소모일)을 입력해주세요.');
              return false;
          }
          if (!$('#insertForm [name="purchaseEmp"]').val()) {
              alert('인수자 (검수자)를 입력해주세요.');
              return false;
          }

          $.ajax({
              url: "{% url 'supply:postsaving' %}",
              method: 'POST',
              cache: false,
              data: {
                  "newSaving": newSaving,
                  "name": name,
                  "quantity": $('#insertForm [name="quantity"]').val() * $('#insertForm [name="quantityType"]').val(),
                  "money": $('#insertForm [name="money"]').val(),
                  "standard": $('#insertForm [name="standard"]').val(),
                  "purchaseCompany": $('#insertForm [name="purchaseCompany"]').val(),
                  "purchaseDate": $('#insertForm [name="purchaseDate"]').val(),
                  "location": $('#insertForm [name="location"]').val(),
                  "purchaseEmp": $('#insertForm [name="purchaseEmp"]').val(),
                  "comment": $('#insertForm [name="comment"]').val(),
              },
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  if (returnData === 'N') {
                      alert('이미 등록된 비품입니다.');
                      return false;
                  } else if (returnData === 'Y') {
                      $('.close').click();
                      alert('비품 등록이 완료되었습니다.');
                      location.reload();
                  } else if (returnData === 'error') {
                      $('.close').click();
                      alert('오류가 발생했습니다. 관리자에게 문의하세요.');
                      location.reload();
                  }
              }
          });
      }

      function replaceAll(str, searchStr, replaceStr) {
          var new_str = str.split(searchStr).join(replaceStr);
          return new_str.split("T").join(" ").slice(0, 10);
      }

      $(document).ready(function () {
          const savingsTable = $('#showsavings').DataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                  },
                  "url": "{% url 'supply:savingsasjson' %}",
                  "dataSrc": ""
              },
              "columnDefs": [
                  {
                      targets: 0,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "name",
                  },
                  {
                      targets: 1,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "quantity",
                  },
                  {
                      targets: 2,
                      width: "10%",
                      className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap",
                      data: "money",
                  },
                  {
                      targets: 3,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "standard",
                  },
                  {
                      targets: 4,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "purchaseCompany",
                  },
                  {
                      targets: 5,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "location",
                  },
                  {
                      targets: 6,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "purchaseDate",
                  },
                  {
                      targets: 7,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "purchaseEmp__empName",
                  },
                  {
                      targets: 8,
                      width: "20%",
                      className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                      data: "comment",
                  },
              ],
              "deferRender": true,
              "order": [[0, 'asc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollX": true,
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_개씩 보기",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  let row = $('td', nRow);
                  row.eq(1).text(aData.quantity.toLocaleString());
                  row.eq(2).text(aData.money.toLocaleString());
              },
          });

          $("#showsavings").on("click", 'tr', function () {
              const data = savingsTable.row(this).data();
              location.href = '/supply/viewsaving/' + data.savingId + '/';
          });

          $('#newSaving').on('click', function() {
              if ($('#newSaving').is(':checked')) {
                  $('#newName').removeClass('d-none');
                  $('#selectName').addClass('d-none');
              } else {
                  $('#newName').addClass('d-none');
                  $('#selectName').removeClass('d-none');
              }
          })
      });

  </script>

{% endblock %}