{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom fonts for this template-->
    <link href='{% static "hr/vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href='{% static "hr/css/sb-admin-2.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href='{% static "hr/vendor/datatables/dataTables.bootstrap4.min.css" %}' rel="stylesheet">

    {# 스크립트 파일 순서 중요 #}
    <link rel="stylesheet" href="{% static 'scheduler/css/fullcalendar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'scheduler/js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'scheduler/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'scheduler/js/fullcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'scheduler/js/locale-all.js' %}"></script>


    <style type="text/css">

        #accordionSidebar {
            z-index: 999;
        }

        #calendar {
            font-size: 18px;


        }

        #calendar-container {
            position: fixed;
            top: 70px;
            right: 0;
            bottom: 0;
        }


        .demo-topbar { /* will be stripped out */
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 40px;
        }

        .demo-topbar + #calendar-container { /* will be stripped out */
            top: 40px;
        }

        .fc-header-toolbar {
            /*
            the calendar will be butting up against the edges,
            but let's scoot in the header's buttons
            */
            padding-top: 1em;
            padding-left: 1em;
            padding-right: 1em;
        }

        .fc-sun {
            color: #e31b23
        }

        .fc-sat {
            color: #007dc3
        }

        .fc-day-number {
            color: black
        }

        .fc-sun .fc-day-number {
            color: #e31b23
        }

        .fc-sat .fc-day-number {
            color: #007dc3
        }

        .hide {
            display: none
        }

        @media only screen and (max-width: 800px) {
            .fc-day-grid-event .fc-time {
                display: none;
            }

            .fc-center {
                padding-top: 15px
            }

            #calendar {
                font-size: 12px;
            }
        }

        @media only screen and (min-width: 600px) {

            #calendar-container {
                left: 105px;
            }
        }


    </style>

</head>
<body id="page-top" class="sidebar-toggled">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

            <div class="sidebar-brand-text mx-4">USONE</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->

        <!-- Nav Item - Daily Report -->
        <li class="nav-item">
            <a class="nav-link" href="/scheduler/">
                <i class="fas fa-fw fa-pencil-ruler"></i>
                <span>일일 업무</span></a>
        </li>

        <!-- Nav Item - Calendar -->
        <li class="nav-item">
            <a class="nav-link" href="/scheduler/">
                <i class="fas fa-fw fa-calendar"></i>
                <span>캘린더</span></a>
        </li>


        <!-- Nav Item - Board -->
        <li class="nav-item">
            <a class="nav-link" href="/hr/Board/">
                <i class="fas fa-fw fa-file"></i>
                <span>게시판</span></a>
        </li>


        <!-- Nav Item - Client -->
        <li class="nav-item">
            <a class="nav-link" href="/hr/Client/">
                <i class="fas fa-fw fa-building"></i>
                <span>고객사</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">


                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">

                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been having.
                                    </div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60"
                                         alt="">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how would
                                        you like them sent to you?
                                    </div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60"
                                         alt="">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with the
                                        progress so far, keep up the good work!
                                    </div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told
                                        me that people say this to all dogs, even if they aren't good...
                                    </div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">환영합니다. <B>{{ user.username }}</B> 님 </span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">


                <div id='legend' style="float: right;">
                    <p style="float: left;font-size: 0.7rem"><img src="/media/icon/mainta.png" width="12px"> 정기점검
                        &nbsp </p>
                    <p style="float: left;font-size: 0.7rem"><img src="/media/icon/support.png" width="12px"> 일반작업
                        &nbsp </p>
                    <p style="float: left;font-size: 0.7rem"><img src="/media/icon/proj.png" width="12px"> 프로젝트
                        &nbsp </p>
                    <p style="float: left;font-size: 0.7rem"><img src="/media/icon/else.png" width="12px"> 기타 </p>
                </div>

                <div id="SearchLayer" style="position:absolute;z-index:999;display:none; width:90%; height:50%;background: none rgba(255,255,255,0.0);
                                 filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#80000000', endColorstr='#80000000');" align='center'>
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="h5 font-weight-bold text-warning text-uppercase mb-1">부서 목록</div>
                                        <form name="DeptCheck" id="DeptCheck" method="post">
                                            {% csrf_token %}
                                            <div class="h6 mb-0 font-weight-bold text-gray-800" style="align:center;margin-left: 30px">
                                                {% for i in DeptList %}
                                                    <div class="row">
                                                        <label><input type="checkbox" name="dept" value="{{ i }}"> {{ i }} </label></div>
                                                {% endfor %}
                                                <input type="text" name="deptList" style="visibility:hidden;">

                                            </div>
                                            <div class="text-center">
                                                <a href="#" class="btn btn-danger btn-icon-split" onclick="btnClose()">
                                                    <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
                                                    <span class="text"> 취소 </span>
                                                </a>
                                                <a href="#" class="btn btn-success btn-icon-split" onclick="btnSubmit()">
                                                    <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
                                                    <span class="text"> 확인 </span>
                                                </a>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="ui container">
                        <div class="ui container">
                            <div class="ui grid">
                                <div class="ui sixteen column">
                                    <div id='calendar-container' style="margin-top:30px">
                                        <div id='calendar'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function btnView() {
        document.getElementById("SearchLayer").style.display = 'inline'
    }

    function btnClose() {
        document.getElementById("SearchLayer").style.display = 'none'
    }

    function btnSubmit() {
        let arrsize = document.getElementsByName("dept").length;
        let DeptList = "";
        let arrList = new Array();
        //check이름을 가진 check중에서 체크된 것만 값 가져오기
        j = 0;
        for (let i = 0; i < arrsize; i++) {
            console.log("i", i);
            console.log("j", j);
            if (document.getElementsByName("dept")[i].checked == true) {

                arrList[j] = document.getElementsByName("dept")[i].value;
                j += 1;
            }
        }
        let form_check = document.getElementById('DeptCheck');
        form_check.deptList.value = arrList;
        form_check.submit();


    }

    $(document).ready(function () {
        $('#calendar').fullCalendar({
            customButtons: {

                addEvent: {
                    text: '+일정',
                    click: function (event) {

                        onSelectEvent(event);

                    }
                },
                addCalendar: {
                    text: '+팀',
                    click: function popupLayer() {

                        btnView();

                    }

                }

            },
            header: {
                left: 'addCalendar prev,next',
                center: 'title',
                right: 'month,basicWeek addEvent'
            }, defaultDate: new Date(),
            locale:'ko',
            selectable: false,
            navLinks: false,
            editable: true,
            eventLimit: false,
            eventSources: [
                {
                    events: [
                        {% for i in myVacation %}
                            {
                                title: '[휴가] {{ i.empName }}',
                                start: '{{ i.vacationStartDate|date:"Y-m-d" }}',
                                end: '{{ i.vacationStartDate|date:"Y-m-d" }}',
                                service_id: '{{ i.vacationId }}',
                                name: '{{ i.empName }}',
                                type :'X'
                            },
                        {% endfor %}
                        {% for i in teamVacation %}
                            {
                                title: '[휴가] {{ i.empName }}',
                                start: '{{ i.vacationStartDate|date:"Y-m-d" }}',
                                end: '{{ i.vacationStartDate|date:"Y-m-d" }}',
                                service_id: '{{ i.vacationId }}',
                                name: '{{ i.empName }}',
                                type :'X'
                            },
                        {% endfor %}
                    ],
                    backgroundColor: '#FFFF0000',
                    borderColor: '#FFFF0000',
                    textColor: '#3dbd9a'
                },
                {
                    events: [
                        {% for i in myCalendar %}
                            {
                                title: '{{ i.empName }}',
                                start: '{{ i.serviceStartDatetime|date:"Y-m-d" }}',
                                end: '{{ i.serviceEndDatetime|date:"Y-m-d" }}',
                                {#url: '{% url 'usone:viewdetails' i.id %}',#}
                                service_id: '{{ i.serviceId }}',
                                name: '{{ i.empName }}',
                                detail: '{{ i.serviceDetails|linebreaksbr }}',
                                company: '{{ i.companyName|linebreaksbr }}',
                                service_type: '{{ i.serviceType }}',
                                className: 'me',
                                {#직출 여부#}
                                {% if i.directgo == 'Y' %}
                                    imageurl: '/media/icon/jigchul.png',
                                {% endif %}
                                {#야간 근무#}
                                {% if i.serviceOverHour > 0 %}
                                    imageurl2: '/media/icon/moon.png',
                                {% endif %}
                                {#일정 완료 여부#}
                                {% if i.serviceStatus == 'Y' %}
                                    type: 'Y',
                                    backgroundColor: '#FFFF0000',
                                    borderColor: '#FFFF0000',
                                    textColor: '#656565',
                                {% else %}
                                    type: 'N',
                                    {%  if i.serviceType == "정기점검" %}
                                        backgroundColor: '#3DBD9A',
                                        borderColor: '#3DBD9A',
                                    {% elif i.serviceType == "일반작업지원" %}
                                        backgroundColor: '#365D66',
                                        borderColor: '#45a18d',
                                    {% elif i.serviceType == "프로젝트" %}
                                        backgroundColor: '#8a85ab',
                                        borderColor: '#8a85ab',
                                    {% else %}
                                        backgroundColor: '#487ea1',
                                        borderColor: '#487ea1',
                                    {% endif %}
                                     textColor: 'white'
                                {% endif %}
                            },
                        {% endfor %}
                    ],
                },
                {
                    events: [
                        {% for i in teamCalendar %}
                            {
                                title: '{{ i.empName }}',
                                start: '{{ i.serviceStartDatetime|date:"Y-m-d" }}T{{ i.serviceStartDatetime|time:"H:i" }}:00',
                                end: '{{ i.serviceEndDatetime|date:"Y-m-d" }}T{{ i.serviceEndDatetime|time:"H:i" }}:00',
                                {#url: '{% url 'usone:viewdetails' i.id %}',#}
                                service_id: '{{ i.serviceId }}',
                                name: '{{ i.empName }}',
                                detail: '{{ i.serviceDetails|linebreaksbr }}',
                                company: '{{ i.companyName|linebreaksbr }}',
                                service_type: '{{ i.serviceType }}',
                                className: 'team',
                                {#직출 여부#}
                                {% if i.directgo == 'Y' %}
                                    imageurl: '/media/icon/jigchul.png',
                                {% endif %}
                                {#야간 근무#}
                                {% if i.serviceOverHour > 0 %}
                                    imageurl2: '/media/icon/moon.png',
                                {% endif %}
                                {#일정 완료 여부#}
                                {% if i.serviceStatus == 'Y' %}
                                    type: 'Y',
                                    backgroundColor: '#FFFF0000',
                                    borderColor: '#FFFF0000',
                                    textColor: '#656565',
                                {% else %}
                                    type: 'N',
                                    {%  if i.serviceType == "정기점검" %}
                                        backgroundColor: '#3DBD9A',
                                        borderColor: '#3DBD9A',
                                    {% elif i.serviceType == "일반작업지원" %}
                                        backgroundColor: '#365D66',
                                        borderColor: '#45a18d',
                                    {% elif i.serviceType == "프로젝트" %}
                                        backgroundColor: '#8a85ab',
                                        borderColor: '#8a85ab',
                                    {% else %}
                                        backgroundColor: '#487ea1',
                                        borderColor: '#487ea1',
                                    {% endif %}
                                     textColor: 'white'
                                {% endif %}
                            },
                        {% endfor %}
                    ],
                },
            ],
            eventMouseover: function (data, event, view) {
                if (data.type == 'X') {
                    tooltip = '<div class="tooltiptopicevent" style="width:auto;height:auto;background:#E9F5F5;position:absolute;z-index:10001;padding:5px 5px 5px 5px;line-height: 130%; font-size : 13px; border-radius:0.5em;border:1px solid grey;">' + '<b>' + '[' + data.service_type + '] ' + data.company + '</b><br>' + data.detail + '</div>';
                } else {

                    tooltip = '<div class="tooltiptopicevent" style="width:auto;height:auto;background:#E9F5F5;position:absolute;z-index:10001;padding:5px 5px 5px 5px;line-height: 130%; font-size : 13px; border-radius:0.5em;border:1px solid grey;">' + '<b>' + '[' + data.service_type + '] ' + data.company + '</b><br>' + data.start.format('YYYY/MM/DD HH:mm') + '~' + data.end.format('YYYY/MM/DD HH:mm') + '<br>' + data.detail + '</div>';
                }
                $("body").append(tooltip);
                $(this).mouseover(function (e) {
                    $(this).css('z-index', 10000);
                    $('.tooltiptopicevent').fadeIn('500');
                    $('.tooltiptopicevent').fadeTo('10', 1.9);
                }).mousemove(function (e) {
                    $('.tooltiptopicevent').css('top', e.pageY + 10);
                    $('.tooltiptopicevent').css('left', e.pageX + 20);
                });
            },
            eventMouseout: function (data, event, view) {
                $(this).css('z-index', 8);
                $('.tooltiptopicevent').remove();
            },

            eventRender: function (event, element) {
                if (event.imageurl) {
                    element.find("span.fc-title").prepend("<img src='" + event.imageurl + "' width='12' height='12' >");
                }
                if (event.imageurl2) {
                    element.find("span.fc-title").append("<img src='" + event.imageurl2 + "' width='12' height='12' >");
                }
            },
            eventDrop: function (event, delta, revertFunc) {
                {#로그인한 유저 엔지니어 이름#}
                const userName = "{{ empName }}";
                {#선택된 이벤트의 엔지니어 이름, 타입, id#}
                const empName = event.name;
                const serviceType = event.type;
                const serviceId = event.service_id;
                const startDate = String(event.start.format());
                let endDate;
                if (empName == userName) {
                    {#완료된 일정일 경우#}
                    if (event.serviceType == 'Y') {
                        alert('완료된 일정은 수정할 수 없습니다. :)');
                        revertFunc()

                    } else {
                        {#휴가일 경우#}
                        if (serviceType == 'X') {
                            endDate = startDate;
                        } else {
                            endDate = String(event.end.format());
                        }
                        $.ajax({
                            type: "POST",
                            url: "/scheduler/changeDate/",
                            data: {'start': startDate, 'end': endDate , 'serviceId': serviceId ,'serviceType' :serviceType},
                            dataType: "json",
                            success: function (response) {
                                console.log(response.serviceId + "일정 변경");
                            },
                            error: function (request, status, error) {
                                alert("일정변경실패");
                            },
                        });
                    }
                } else {
                    alert("본인 일정만 변경 가능합니다 :)");
                    revertFunc()
                }
            },

            dayClick: function (date, jsEvent, view) {
                if (~jsEvent.target.className.indexOf('fc-day-number')) {
                    if (confirm(date.format() + "에 일정을 등록 할까요?") == true) {
                        server_url = '/usone/post/' + date.format() + '/';
                        location.href = server_url;
                    }
                }
            }

        });


    });

</script>
<!-- Bootstrap core JavaScript-->
{#<script src='{% static "hr/vendor/jquery/jquery.min.js" %}'></script>#}
<script src='{% static "hr/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

<!-- Core plugin JavaScript-->
<script src='{% static "hr/vendor/jquery-easing/jquery.easing.min.js" %}'></script>

<!-- Custom scripts for all pages-->
<script src='{% static "hr/js/sb-admin-2.min.js" %}'></script>

</body>
</html>