{% extends "dashboard/layout.html" %}


{% block title %}
  캘린더
{% endblock %}


{% block css %}
  <style type="text/css">

    body {
      overflow-y:hidden;
    }


    #accordionSidebar {
      z-index: 999;
    }

    #calendar {
      font-size: 18px;
    }

    .fc-header-toolbar {

      padding-top: 1em;
      padding-left: 1em;
      padding-right: 1em;
    }

    .fc-sun {
      color: #e31b23
    }

    .fc-sat {
      color: #007dc3
    }

    .fc-day-number {
      color: black
    }

    .fc-sun .fc-day-number {
      color: #e31b23
    }

    .fc-sat .fc-day-number {
      color: #007dc3
    }

    .hide {
      display: none
    }

    @media only screen and (max-width: 765px) {
      .fc-day-grid-event .fc-time {
        display: none;
      }

      .fc-center {
        padding-top: 15px
      }

      #calendar {
        font-size: 12px;
        height : 600px;
<!--        position: fixed;-->
<!--        top: 80px;-->
        left: 0px;
        right: 0px;
<!--        bottom: 0;-->
      }
    }




  </style>

{% endblock %}


{% block content %}


  <div id="SearchLayer" style="position:absolute;z-index:999;display:none; width:90%; height:50%;background: none rgba(255,255,255,0.0);
                                 filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#80000000', endColorstr='#80000000');" align='center'>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 font-weight-bold text-warning text-uppercase mb-1">부서 목록</div>
              <form name="DeptCheck" id="DeptCheck" method="post">
                {% csrf_token %}
                <div class="h6 mb-0 font-weight-bold text-gray-800" style="align:center;margin-left: 30px">
                  {% for i in DeptList %}
                    <div class="row">
                      {% if i == empDeptName %}
                        <label><input type="checkbox" name="ckdept" value="{{ i }}" checked> {{ i }} </label>
                      {% else %}
                        <label><input type="checkbox" name="ckdept" value="{{ i }}"> {{ i }} </label>
                      {% endif %}
                    </div>
                  {% endfor %}

                </div>
                <div class="text-center">
                  <a href="#" class="btn btn-danger btn-icon-split" onclick="btnClose()">
                    <span class="icon text-white-50"> <i class="fas fa-times"> </i> </span>
                    <span class="text"> 취소 </span>
                  </a>
                  <a href="#" class="btn btn-success btn-icon-split" onclick="btnSubmit()">
                    <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
                    <span class="text"> 확인 </span>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='calendar-container'>
    <div id='calendar'></div>
  </div>
{% endblock %}


{% block script %}

  <script type="text/javascript">
      function btnView() {
          document.getElementById("SearchLayer").style.display = 'inline'
      }

      function btnClose() {
          document.getElementById("SearchLayer").style.display = 'none'
      }

      function btnSubmit() {
          let form_check = document.getElementById('DeptCheck');
          form_check.submit();
      }

      $(document).ready(function () {
          $('#calendar').fullCalendar({
              customButtons: {
                  id: 'test',
                  addEvent: {
                      text: '+일정',
                      click: function () {
                          const dateToday = new Date();
                          const yyyy = dateToday.getFullYear();
                          let mm = dateToday.getMonth() + 1;
                          if (mm < 10) {
                              mm = '0' + mm
                          }
                          let dd = dateToday.getDate();
                          if (dd < 10) {
                              dd = '0' + dd
                          }
                          const strToday = yyyy + '-' + mm + '-' + dd;
                          const url = "/service/postservice/" + strToday;
                          location.href = url;
                      }
                  },
                  addCalendar: {
                      text: '+팀',
                      click: function popupLayer() {

                          btnView();

                      }

                  }

              },
              header: {
                  left: 'addCalendar prev,next',
                  center: 'title',
                  right: 'month,basicWeek addEvent'
              }, defaultDate: new Date(),
              locale: 'ko',
              selectable: false,
              navLinks: false,
              editable: true,
              eventLimit: false,
              timeFormat: 'HH:mm',
              eventMouseover: function (data, event, view) {
                  if (data.type == 'X') {
                      tooltip = '<div class="tooltiptopicevent" style="width:auto;height:auto;background:#E9F5F5;position:absolute;z-index:10001;padding:5px 5px 5px 5px;line-height: 130%; font-size : 13px; border-radius:0.5em;border:1px solid grey;">' + '<b>' + '[' + data.vacationType + '] ' + data.name + '</b></div>';
                  } else {
                      tooltip = '<div class="tooltiptopicevent" style="width:auto;height:auto;background:#E9F5F5;position:absolute;z-index:10001;padding:5px 5px 5px 5px;line-height: 130%; font-size : 13px; border-radius:0.5em;border:1px solid grey;">' + '<b>' + '[' + data.service_type + '] ' + data.company + '</b><br>' + data.start.format('YYYY/MM/DD HH:mm') + '~' + data.end.format('YYYY/MM/DD HH:mm') + '<br>' + data.detail + '</div>';
                  }
                  $("body").append(tooltip);
                  $(this).mouseover(function (e) {
                      $(this).css('z-index', 10000);
                      $('.tooltiptopicevent').fadeIn('500');
                      $('.tooltiptopicevent').fadeTo('10', 1.9);
                  }).mousemove(function (e) {
                      $('.tooltiptopicevent').css('top', e.pageY + 10);
                      $('.tooltiptopicevent').css('left', e.pageX + 20);
                  });
              },
              eventMouseout: function (data, event, view) {
                  $(this).css('z-index', 8);
                  $('.tooltiptopicevent').remove();
              },

              eventRender: function (event, element) {
                  if (event.imageurl) {
                      element.find("span.fc-title").prepend("<img src='" + event.imageurl + "' width='12' height='12' >");
                  }
                  if (event.imageurl2) {
                      element.find("span.fc-title").append("<img src='" + event.imageurl2 + "' width='12' height='12' >");
                  }
              },
              eventDrop: function (event, delta, revertFunc) {
                  {#로그인한 유저 엔지니어 이름#}
                  const userName = "{{ empName }}";
                  {#선택된 이벤트의 엔지니어 이름, 타입, id#}
                  const empName = event.name;
                  const serviceType = event.type;
                  const serviceId = event.service_id;
                  const startDate = String(event.start.format());
                  let endDate;
                  if (empName == userName) {
                      {#완료된 일정일 경우#}
                      if (event.serviceType == 'Y') {
                          alert('완료된 일정은 수정할 수 없습니다. :)');
                          revertFunc()

                      } else {
                          {#휴가일 경우#}
                          if (serviceType == 'X') {
                              endDate = startDate;
                          } else {
                              endDate = String(event.end.format());
                          }
                          $.ajax({
                              type: "POST",
                              url: "/scheduler/changeDate/",
                              data: {'start': startDate, 'end': endDate, 'serviceId': serviceId, 'serviceType': serviceType},
                              dataType: "json",
                              success: function (response) {
                                  console.log(response.serviceId + "일정 변경");
                              },
                              error: function (request, status, error) {
                                  alert("일정변경실패");
                              },
                          });
                      }
                  } else {
                      alert("본인 일정만 변경 가능합니다 :)");
                      revertFunc()
                  }
              },

              dayClick: function (date, jsEvent, view) {
                  if (~jsEvent.target.className.indexOf('fc-day-number')) {
                      if (confirm(date.format() + "에 일정을 등록 할까요?") == true) {
                          server_url = '/service/postservice/' + date.format() + '/';
                          location.href = server_url;
                      }
                  }
              }

          });


          $('#calendar').fullCalendar('addEventSource',
              {#1.내휴가&팀휴가#}
              {
                  events: [
                      {% for i in myVacation %}
                          {
                              title: '[휴가] {{ i.empName }}',
                              start: '{{ i.vacationDate|date:"Y-m-d" }}',
                              end: '{{ i.vacationDate|date:"Y-m-d" }}',
                              service_id: '{{ i.vacationId }}',
                              name: '{{ i.empName }}',
                              vacationType: '{{ i.vacationType }}',
                              type: 'X'
                          },
                      {% endfor %}
                      {% for i in teamVacation %}
                          {
                              title: '[휴가] {{ i.empName }}',
                              start: '{{ i.vacationDate|date:"Y-m-d" }}',
                              end: '{{ i.vacationDate|date:"Y-m-d" }}',
                              service_id: '{{ i.vacationId }}',
                              name: '{{ i.empName }}',
                              vacationType: '{{ i.vacationType }}',
                              type: 'X'
                          },
                      {% endfor %}
                  ],
                  backgroundColor: '#FFFF0000',
                  borderColor: '#FFFF0000',
                  textColor : '#1cc88a'
                  {#textColor: '#3dbd9a'#}
              },
          );


          $('#calendar').fullCalendar('addEventSource',
              {#2.내 일정#}
              {
                  events: [
                      {% for i in myCalendar %}
                          {
                              title: '{{ i.empName }}',
                              start: '{{ i.serviceStartDatetime|date:"Y-m-d" }}T{{ i.serviceStartDatetime|time:"H:i" }}:00',
                              end: '{{ i.serviceEndDatetime|date:"Y-m-d" }}T{{ i.serviceEndDatetime|time:"H:i" }}:00',
                              url: '{% url 'service:viewservice' i.serviceId %}',
                              service_id: '{{ i.serviceId }}',
                              name: '{{ i.empName }}',
                              detail: '{{ i.serviceDetails|linebreaksbr }}',
                              company: '{{ i.companyName|linebreaksbr }}',
                              service_type: '{{ i.serviceType }}',
                              className: 'me',
                              {#직출 여부#}
                              {% if i.directgo == 'Y' %}
                                  imageurl: '/media/icon/jigchul.png',
                              {% endif %}
                              {#야간 근무#}
                              {% if i.serviceOverHour > 0 %}
                                  imageurl2: '/media/icon/moon.png',
                              {% endif %}
                              {#일정 완료 여부#}
                              {% if i.serviceStatus == 'Y' %}
                                  type: 'Y',
                                  backgroundColor: '#FFFF0000',
                                  borderColor: '#FFFF0000',
                                  textColor: '#656565',
                              {% else %}
                                  type: 'N',
                                  {%  if i.serviceType == "정기점검" %}
                                      {#backgroundColor: '#3DBD9A',#}
                                      {#borderColor: '#3DBD9A'#}
                                      backgroundColor: '#496fdb',
                                      borderColor: '#496fdb',
                                  {% elif i.serviceType == "일반작업지원" %}
                                      backgroundColor: '#36b9cc',
                                      borderColor: '#36b9cc',
                                      {#backgroundColor: '#365D66',#}
                                      {#borderColor: '#45a18d',#}
                                  {% elif i.serviceType == "프로젝트" %}
                                      backgroundColor: '#835dab',
                                      borderColor: '#835dab',
                                  {% else %}
                                      backgroundColor: '#1cc88a',
                                      {#borderColor: '#487ea1',#}
                                      borderColor: '#1cc88a',
                                  {% endif %}
                                  textColor: 'white'
                              {% endif %}
                          },
                      {% endfor %}
                  ],
              },
          );

          $('#calendar').fullCalendar('addEventSource',
              {#3.팀 일정#}
              {
                  events: [
                      {% for i in teamCalendar %}
                          {
                              title: '{{ i.empName }}',
                              start: '{{ i.serviceStartDatetime|date:"Y-m-d" }}T{{ i.serviceStartDatetime|time:"H:i" }}:00',
                              end: '{{ i.serviceEndDatetime|date:"Y-m-d" }}T{{ i.serviceEndDatetime|time:"H:i" }}:00',
                              url: '{% url 'service:viewservice' i.serviceId %}',
                              service_id: '{{ i.serviceId }}',
                              name: '{{ i.empName }}',
                              detail: '{{ i.serviceDetails|linebreaksbr }}',
                              company: '{{ i.companyName|linebreaksbr }}',
                              service_type: '{{ i.serviceType }}',
                              className: 'team',
                              {#직출 여부#}
                              {% if i.directgo == 'Y' %}
                                  imageurl: '/media/icon/jigchul.png',
                              {% endif %}
                              {#야간 근무#}
                              {% if i.serviceOverHour > 0 %}
                                  imageurl2: '/media/icon/moon.png',
                              {% endif %}
                              {#일정 완료 여부#}
                              {% if i.serviceStatus == 'Y' %}
                                  type: 'Y',
                                  backgroundColor: '#FFFF0000',
                                  borderColor: '#FFFF0000',
                                  textColor: '#656565',
                              {% else %}
                                  type: 'N',
                                  {%  if i.serviceType == "정기점검" %}
                                      backgroundColor: '#496fdb',
                                      borderColor: '#496fdb',
                                  {% elif i.serviceType == "일반작업지원" %}
                                      backgroundColor: '#36b9cc',
                                      borderColor: '#36b9cc',
                                  {% elif i.serviceType == "프로젝트" %}
                                      backgroundColor: '#835dab',
                                      borderColor: '#835dab',
                                  {% else %}
                                      backgroundColor: '#1cc88a',
                                      borderColor: '#1cc88a',
                                  {% endif %}
                                  textColor: 'white'
                              {% endif %}
                          },
                      {% endfor %}
                  ],
              },
          );

          $('#calendar').fullCalendar('addEventSource',
              {#4. 공휴일#}
              {
                  events: [
                      {% for i in holiday %}
                          {
                              title: '{{ i.eventName }}',
                              start: '{{ i.eventDate|date:"Y-m-d" }}',
                              end: '{{ i.eventDate|date:"Y-m-d" }}',
                              service_id: '{{ i.serviceId }}',
                              name: '{{ i.eventName }}',
                              detail: '{{ i.eventName }}',
                              service_type: '공휴일',
                              className: 'holiday',
                          },
                      {% endfor %}
                  ]
                    ,color: "#fbc9d3"
                    ,textColor: "#ff2121"
                    ,borderColor: "#e6e6e6"
              },
          );
          $('#calendar').fullCalendar('addEventSource',
              {#5. unione event#}
              {
                  events: [
                      {% for i in event %}
                          {
                              title: '{{ i.eventName }}',
                              start: '{{ i.eventDate|date:"Y-m-d" }}',
                              end: '{{ i.eventDate|date:"Y-m-d" }}',
                              service_id: '{{ i.serviceId }}',
                              name: '{{ i.eventName }}',
                              detail: '{{ i.eventName }}',
                              service_type: '사내일정',
                              className: 'holiday',
                          },
                      {% endfor %}
                  ]
                    , color: "#fffcb4"
                    , textColor: "#85680f"
                    , borderColor: "#fbe261"
              },
          );
      });
  </script>

{% endblock %}