{% extends "dashboard/layout.html" %}


{% block title %}
  부서관리
{% endblock %}


{% block css %}

  <style type="text/css">
    .pc-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border: 1px solid lightgray;
      margin-bottom: 1rem;
    }

    .pc-table td, .pc-table th {
      padding: 12px 10px 12px 10px;
      text-align: center;
      vertical-align: middle;
      font-size: 17px;
      border: 1px solid lightgray;
    }
  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800">{{ eventDay.eventType }} 정보</h6>
        </div>
        <div class="card-body">
          <table class="pc-table">
            <tbody>
            <form class="form-group" method="POST" id="eventdayForm">
              {% csrf_token %}
              <tr>
                <td class="text-center align-middle bg-light" style="width: 30%"><b>일 자</b></td>
                <td style="width: 70%">{{ form.eventDate }}</td>
              </tr>
              <tr>
                <td class="text-center align-middle bg-light"><b>명 칭</b></td>
                <td>{{ form.eventName }}</td>
              </tr>
              <tr>
                <td class="text-center align-middle bg-light"><b>구 분</b></td>
                <td>{{ form.eventType }}</td>
              </tr>
            </form>
            </tbody>
          </table>
          <div class="text-center">
            <a href="#" class="btn btn-danger btn-icon-split" onclick="btn_delete()">
              <span class="icon text-white-50"> <i class="fas fa-trash-alt"> </i> </span>
              <span class="text"> 삭제 </span>
            </a>
            <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">
              <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
              <span class="text"> 저장 </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2"></div>

  </div>

{% endblock %}


{% block script %}
  <script type="text/javascript">
      function btn_save() {
          if (confirm('수정 하시겠습니까?')) {
              const eventdayForm = $('#eventdayForm');
              eventdayForm.submit();
          }
      }

      function btn_delete() {
          if (confirm('삭제 하시겠습니까?')) {
              location.href = '/scheduler/deleteeventday/' + '{{ eventDay.eventDate | date:"Y-m-d" }}' + '/'
          }
      }
  </script>
{% endblock %}