{% extends "dashboard/layout.html" %}


{% block title %}
  부서관리
{% endblock %}


{% block css %}

  <style type="text/css">
    .pc-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border: 1px solid lightgray;
      margin-bottom: 1rem;
    }

    .pc-table td, .pc-table th {
      padding: 12px 10px 12px 10px;
      text-align: center;
      vertical-align: middle;
      font-size: 17px;
      border: 1px solid lightgray;
    }
  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800">신규 부서 등록</h6>
        </div>
        <div class="card-body">
          <table class="pc-table">
            <tbody>
            <form class="form-group" method="POST" id="deptForm">
              {% csrf_token %}
              <tr>
                <td class="text-center align-middle bg-light text-primary" style="width: 20%"><b>부&nbsp;&nbsp;서&nbsp;&nbsp;명</b></td>
                <td class="text-center" style="width: 30%">{{ form.deptName }}</td>
                <td class="text-center align-middle bg-light" style="width: 20%"><b>부&nbsp;&nbsp;서&nbsp;&nbsp;장</b></td>
                <td class="text-center" style="width: 30%">{{ form.deptManager }}</td>
              </tr>
              <tr>
                <td class="text-center align-middle bg-light text-primary"><b>부서단계</b></td>
                <td>{{ form.deptLevel }}</td>
                <td class="text-center align-middle bg-light"><b>상위부서</b></td>
                <td>{{ form.parentDept }}</td>
              </tr>
              <tr>
                <td class="text-center align-middle bg-light text-primary"><b>시작일자</b></td>
                <td>{{ form.startDate }}</td>
                <td class="text-center align-middle bg-light"><b>종료일자</b></td>
                <td>{{ form.endDate }}</td>
              </tr>
            </form>
            </tbody>
          </table>
          <div class="text-center">
            <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">
              <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
              <span class="text"> 저장 </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2"></div>

  </div>

{% endblock %}


{% block script %}
  <script type="text/javascript">
      function btn_save() {
          const deptName = $('#deptName').val();
          const deptLevel = $('#deptLevel').val();
          const startDate = $('#startDate').val();

          if (!deptName) {
              alert('부서명을 입력해주세요.');
              return false;
          }
          if (!deptLevel) {
              alert('부서단계를 입력해주세요.');
              return false;
          }
          if (!startDate) {
              alert('부서명을 사용하는 시작일자 입력해주세요.');
              return false;
          }


          if (confirm('등록 하시겠습니까?')) {
              $.ajax({
                  url: "{% url 'hr:checkdepartment' %}",
                  method: 'GET',
                  cache: false,
                  data: {"deptName": deptName},
                  headers: {'X-CSRFToken': '{{ csrf_token }}'},
                  success: function (returnData) {
                      if (returnData === 'N') {
                          alert('이미 등록된 부서입니다.\n다시 확인해주세요.');
                          return false;
                      } else {
                          const deptForm = $('#deptForm');
                          deptForm.submit();
                      }
                  }
              });
          }
      }
  </script>
{% endblock %}