{% extends "dashboard/layout.html" %}


{% block title %}
  내 정보
{% endblock %}

{% block css %}

  <style type="text/css">
    .pc-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border: 1px solid lightgray;
      margin-bottom: 1rem;
    }

    .pc-table td, .pc-table th {
      padding: 12px 10px 12px 10px;
      text-align: center;
      vertical-align: middle;
      font-size: 17px;
      border: 1px solid lightgray;
    }
  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8">

      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

          <h6 class="m-0 h3 text-gray-800"> 내 정보 </h6>

        </div>

        <div class="card-body">
          <div style="text-align: center">
            <img src="/media/icon/profile.png" width="11%">
          </div>
          <br>

          <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
              <table class="pc-table">
                <thead>
                <tr>
                  <td width="30%" class="text-center bg-success text-white"><b>구&nbsp; &nbsp; &nbsp; &nbsp;분</b></td>
                  <td width="70%" class="text-center bg-success text-white"><b>내&nbsp; &nbsp; &nbsp; &nbsp;용</b></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-center" style="vertical-align: middle;"><b>아&nbsp; 이&nbsp; 디</b></td>
                  <td class="text-center"><b>{{ user.username }}</b></td>
                </tr>
                <tr>
                  <td class="text-center" style="vertical-align: middle;"><b>비밀 번호</b></td>
                  <td class="text-center">
                    <b><a href="#" class="btn btn-warning btn-icon-split btn-sm"
                          onclick="location.href='/accounts/password_change/'">
                      <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
                      <span class="text">비밀번호 변경</span>
                    </a></b>
                  </td>
                </tr>
                <tr>
                  <td class="text-center" style="vertical-align: middle;"><b>성&nbsp; &nbsp; &nbsp; &nbsp;함</b></td>
                  <td class="text-center"><b>{{ user.employee.empName }}</b></td>
                </tr>
                <tr>
                  <td class="text-center" style="vertical-align: middle;"><b>부&nbsp; &nbsp; &nbsp; &nbsp;서</b></td>
                  <td class="text-center"><b>{{ user.employee.empDeptName }}</b></td>
                </tr>
                <tr>
                  <td class="text-center" style="vertical-align: middle;"><b>직&nbsp; &nbsp; &nbsp; &nbsp;급</b></td>
                  <td class="text-center"><b>{{ user.employee.empPosition }}</b></td>
                </tr>
                <tr>
                  <td class="text-center" style="vertical-align: middle;">
                    <b>서명 파일</b>
                    <div>
                      <a href="/hr/redodefaultstamp/{{ user.employee.empId }}/" class="btn btn-secondary btn-icon-split btn-sm">
                        <span class="icon text-white-50"><i class="fas fa-redo"></i></span>
                        <span class="text">기본서명사용</span>
                      </a>
                    </div>
                  </td>
                  <td class="text-center">
                    <label>
                      <img id="empStamp" src="/media/{{ user.employee.empStamp }}" width="100px">
                      <form id="fileForm" method="POST" enctype="multipart/form-data" class="d-none">
                        {% csrf_token %}
                        <input name="empStamp" type="file" class="d-none" onchange="file_upload()">
                      </form>
                      <br>※ 전자 결재시 사용되는 서명 파일. 클릭하여 변경가능.
                    </label>
                  </td>
                </tr>
                <form class="form-group" method="POST" id="empForm">
                {% csrf_token %}
                  <tr>
                    <td class="text-center" style="vertical-align: middle;"><b>전화 번호</b></td>
                    <td>
                      <input class="form-control" name="empPhone" value="{{ user.employee.empPhone }}">
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center" style="vertical-align: middle;"><b>이&nbsp; 메&nbsp; 일</b></td>
                    <td>
                      <input class="form-control" name="empEmail" value="{{ user.employee.empEmail }}">
                    </td>
                  </tr>
                  <!--<tr>-->
                    <!--<td class="text-center" style="vertical-align: middle;"><b>차&nbsp; &nbsp; &nbsp; &nbsp;량</b></td>-->
                    <!--<td>-->
                      <!--<select class="form-control" name="carId">-->
                        <!--<option value>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
                        <!--{% for car in cars %}-->
                        <!--<option value="{{ car.carId }}" {% if user.employee.carId.carId == car.carId %}selected{% endif %}>-->
                          <!--{{ car.oilType }}, {{ car.carType }}({{ car.comment }})-->
                        <!--</option>-->
                        <!--{% endfor %}-->
                      <!--</select>-->
                      <!--※ 유류비 청구시 기준이 되는 차량입니다.-->
                    <!--</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td class="text-center" style="vertical-align: middle;"><b>내근 문구</b></td>-->
                    <!--<td>-->
                      <!--<input class="form-control" name="message" placeholder="{{ user.employee.message }}">-->
                      <!--※ 일일업무 메뉴에서 내근 시 표기되는 내용입니다.-->
                    <!--</td>-->
                  <!--</tr>-->
                </form>
                </tbody>
              </table>
              <div class="text-center">
                <a href="#" class="btn btn-success btn-icon-split" onclick="btn_save()">
                  <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
                  <span class="text"> 저장 </span>
                </a>
              </div>
            </div>
            <div class="col-xl-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6"></div>

  </div>

{% endblock %}


{% block script %}
  <script type="text/javascript">
    function btn_save() {
        const empForm = document.getElementById('empForm');
        empForm.submit();
    }

    function file_upload() {
        let form = $('#fileForm');
        form.attr("action", "/hr/uploadempstamp/{{ user.employee.empId }}/");
        form.submit();
    }
  </script>
{% endblock %}