{% extends "dashboard/layout.html" %}


{% block title %}
  직원관리
{% endblock %}


{% block css %}

  <style type="text/css">

  </style>

{% endblock %}


{% block content %}

  <div>
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 h3 text-gray-800">직원관리</h6>
        <div class="dropdown no-arrow">
          {% if user.employee.empDeptName == '경영지원본부' or user.is_staff %}
            <a class="btn btn-primary" href="/hr/postprofile/" role="button">
              <i class="fas fa-pen d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-pen"></i> 등록</span>
            </a>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div class="mb-3">
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_empStatus('')">
              <span class="d-xl-none">전체</span>
              <span class="d-none d-xl-block">전체</span>
            </a>
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_empStatus('Y')">
              <span class="d-xl-none">재직</span>
              <span class="d-none d-xl-block">재직</span>
            </a>
            <a class="btn btn-secondary" href="#" role="button" onclick="btn_empStatus('N')">
              <span class="d-xl-none">퇴사</span>
              <span class="d-none d-xl-block">퇴사</span>
            </a>
          </div>
          <table id="showprofiles" class="hover row-border" style="width: 100%;">
            <thead>
            <tr>
              <th>empId</th>
              <th>ID</th>
              <th>성함</th>
              <th>직급</th>
              <th>부서</th>
              <th>전화번호</th>
              <th>이메일</th>
              <th>마지막접속일</th>
              <th>구분</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">

      function btn_empStatus(empStatus) {
          load_datatable($('#showprofiles').DataTable(), empStatus);
      }

      function load_datatable(table, empStatus) {
          table.rows().remove();
          $.ajax({
              url: "{% url 'hr:showprofilesasjson' %}",
              method: 'GET',
              cache: false,
              data: {
                  "empStatus": empStatus,
              },
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  for (let i = 0; i < returnData.length; i++) {
                      table.row.add(returnData[i])
                  }
                  table.draw()
              }
          });
      }

      $(document).ready(function () {
          let showprofiles = $('#showprofiles').DataTable({
              "processing": true,
              "columnDefs": [
                  {
                      targets: 0,
                      width: "5%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empId",
                  },
                  {
                      targets: 1,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "userName",
                  },
                  {
                      targets: 2,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empName"
                  },
                  {
                      targets: 3,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "positionName",
                  },
                  {
                      targets: 4,
                      width: "5%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empDeptName",
                  },
                  {
                      targets: 5,
                      width: "20%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empPhone",
                  },
                  {
                      targets: 6,
                      width: "20%",
                      className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap",
                      data: "empEmail",
                  },
                  {
                      targets: 7,
                      width: "15%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "lastLogin",
                  },
                  {
                      targets: 8,
                      width: "5%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empStatus",
                  },
              ],
              "deferRender": true,
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "60vh",
              "scrollX": false,
              "scrollCollapse": true,
              "order": [[0, 'asc']],
              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  if (aData.lastLogin) {
                      $('td', nRow).eq(7).text(String(aData.lastLogin).split('-').join('.').split('T').join(' ').slice(0,16));
                  } else {
                      $('td', nRow).eq(7).text('-');
                  }

                  if (aData.empStatus === 'Y') {
                      $('td', nRow).eq(8).text('재직');
                  } else {
                      $('td', nRow).eq(8).text('퇴사');
                  }
              },
              "footerCallback": function () {
              },
          });

          $("#showprofiles").on("click", 'tr', function () {
              const data = showprofiles.row(this).data();
              console.log(data);
              location.href = '/hr/viewprofile/' + data.empId + '/'
          });

          load_datatable(showprofiles, 'Y')
      });

  </script>

{% endblock %}