{% extends "dashboard/layout.html" %}


{% block title %}
  근태현황
{% endblock %}
{% block css %}
  <style type="text/css">
    .mobile-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .mobile-table td, .mobile-table th {
      padding: 4px;
      vertical-align: middle;
      font-size: 16px;
      border-top: 1px dotted #858796a3;
      text-align: center;
      border: 1px solid lightgray;
      border-collapse: collapse;
    }

    .thtd {
      text-align: center;
      border: 1px solid lightgray;
      border-collapse: collapse;
    }
  </style>
{% endblock %}

{% block content %}
  <h2 class="text-center d-none d-xl-block mb-3">
    <i class="fas fa-angle-left" onclick="location.href='/hr/showpunctuality/{{ beforeDate | date:'Y-m-d' }}/'"></i>
    {{ Date | date:"Y년 m월 d일" }} ({{ Date | date:"D" | slice:"0:1" }})
    <i class="fas fa-angle-right" onclick="location.href='/hr/showpunctuality/{{ afterDate | date:'Y-m-d' }}/'"></i>
  </h2>

  <h3 class="text-center d-xl-none mb-3">
    <i class="fas fa-angle-left" onclick="location.href='/hr/showpunctuality/{{ beforeDate | date:'Y-m-d' }}/'"></i>
    {{ Date | date:"Y년 m월 d일" }} ({{ Date | date:"D" | slice:"0:1" }})
    <i class="fas fa-angle-right" onclick="location.href='/hr/showpunctuality/{{ afterDate | date:'Y-m-d' }}/'"></i>
  </h3>
  <div class="row">
    <div class="col-xl-12">

      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

          <h6 class="m-0 h3 text-gray-800"> 근태 현황 </h6>

        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
              <table class="mobile-table">
                <thead>
                <tr class="bg-secondary text-white">
                  <td>부서</td>
                  <td>성명</td>
                  <td>직급</td>
                  <td>현황</td>
                  {% if user.employee.empPosition.positionName != '임원' %}
                    <td>비고</td>
                    <td>분기지각체크</td>
                  {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for punctuality in punctualityList %}
                  {% for p in punctuality %}
                    {% ifchanged p.empId__empDeptName %}
                      <tr class="bg-gray-200">
                        <td><b>{{ p.empId__empDeptName }}</b><br></td>
                        {% else %}
                      <tr>
                      <td></td>
                    {% endifchanged %}
                  <td>{{ p.empId__empName }}</td>
                  {% if p.empId__empPosition == 1 %}
                    <td>이사</td>
                  {% elif p.empId__empPosition == 2 %}
                    <td>부장</td>
                  {% elif p.empId__empPosition == 3 %}
                    <td>차장</td>
                  {% elif p.empId__empPosition == 4 %}
                    <td>과장</td>
                  {% elif p.empId__empPosition == 5 %}
                    <td>대리</td>
                  {% elif p.empId__empPosition == 6 %}
                    <td>사원</td>
                  {% endif %}
                  {% if user.employee.empDeptName == '경영지원본부' %}
                    {% if p.punctualityType == '일차' or p.punctualityType == '오전반차' %}
                      <td><a href="/hr/viewabsence/{{ p.punctualityId }}/" class="text-success">{{ p.punctualityType }}</a></td>
                    {% elif p.punctualityType == '직출' %}
                      <td><a href="/hr/viewabsence/{{ p.punctualityId }}/" class="text-primary">{{ p.punctualityType }}</a></td>
                    {% elif p.punctualityType == '지각' %}
                      <td><a href="/hr/viewabsence/{{ p.punctualityId }}/" class="text-danger">{{ p.punctualityType }}</a></td>
                    {% elif p.punctualityType == '-' %}
                      <td><a href="/hr/viewabsence/{{ p.punctualityId }}/" class="text-secondary">{{ p.punctualityType }}</a></td>
                    {% else %}
                      <td><a href="/hr/viewabsence/{{ p.punctualityId }}/" class="text-secondary">{{ p.punctualityType }}</a></td>
                    {% endif %}
                  {% else %}
                    {% if p.punctualityType == '일차' or p.punctualityType == '오전반차' %}
                      <td class="text-success">{{ p.punctualityType }}</td>
                    {% elif p.punctualityType == '직출' %}
                      <td class="text-primary">{{ p.punctualityType }}</td>
                    {% elif p.punctualityType == '지각' %}
                      <td class="text-danger">{{ p.punctualityType }}</td>
                    {% elif p.punctualityType == '-' %}
                      <td class="text-secondary">{{ p.punctualityType }}</td>
                    {% else %}
                      <td class="text-secondary">{{ p.punctualityType }}</td>
                    {% endif %}
                  {% endif %}
                  {% if user.employee.empPosition.positionName != '임원' %}
                    {% if p.comment %}
                      <td>{{ p.comment }}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                    {% if p.absenceCount %}
                      {% if p.absenceCount == 1 or p.absenceCount == 2 %}
                        <td name="absence">{{ p.absenceCount }}회
                          {% else %}
                        <td name="absence" class="text-danger">{{ p.absenceCount }}회
                      {% endif %}
                    (
                    {% for date in p.absenceDate %}
                      {{ date|date:"m/d" }},
                    {% endfor %}
                    )
                    </td>
                    {% else %}
                      <td></td>
                    {% endif %}
                  {% endif %}
                  </tr>
                  {% endfor %}
                {% endfor %}
                <tr class="bg-gray-200">
                  <td>합계</td>
                  {% if user.employee.empPosition.positionName != '임원' %}
                    <td colspan="5">{{ sumpunctuality }}명</td>
                  {% else %}
                    <td colspan="3">{{ sumpunctuality }}명</td>
                  {% endif %}
                </tr>


                </tbody>

              </table>
            </div>
            <div class="col-xl-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}
  <script>
      $(document).ready(function () {
          var size = $("td[name='absence']").length;
          console.log(size);
          for (i = 0; i < size; i++) {
              var tdValue = $("td[name='absence']").eq(i).text();
              var len = tdValue.length - 100;
              var newValue = tdValue.substr(0, tdValue.length - 65) + ' )';
              $("td[name='absence']").eq(i).text(newValue);
          }
      });
  </script>


{% endblock %}