{% extends "dashboard/layout.html" %}


{% block title %}
  휴가등록
{% endblock %}


{% block css %}

  <style type="text/css">
    .pc-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border: 1px solid lightgray;
      margin-bottom: 1rem;
    }

    .pc-table td, .pc-table th {
      padding: 12px 10px 12px 10px;
      text-align: center;
      vertical-align: middle;
      font-size: 16px;
      border: 1px solid darkgray;
    }

    .buttons-copy {
      background-color: #4e73df;
      color: white;
      margin-bottom: 1rem;
    }

    .buttons-excel {
      background-color: #36b9cc;
      color: white;
      margin-bottom: 1rem;
    }

    .buttons-print {
      background-color: #f6c23e;
      color: white;
      margin-bottom: 1rem;
    }
  </style>

{% endblock %}


{% block content %}

  <div>
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 h3 text-gray-800">{{year}}년도 휴가등록</h6>
        <div class="dropdown">
            <a class="btn btn-info" href="/hr/vacationsexcel/" role="button">
              <i class="fas fa-file-excel d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-file-excel"></i> 현황</span>
            </a>
<!--            <a class="btn btn-danger" href="/hr/returnvacation/" role="button">-->
<!--              <i class="fas fa-times d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-times"></i> 취소</span>-->
<!--            </a>-->
            <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
              <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
            </a>
            <a class="btn btn-primary" href="#" role="button" id="vacationLink" data-toggle="modal" data-target="#vacationModal">
              <i class="fas fa-pen d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-pen"></i> 등록</span>
            </a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="showvacations" class="hover row-border" style="width: 100%;">
            <thead>
            <tr>
              <th class="d-none">vacationId</th>
              <th>부서명</th>
              <th>성함</th>
              <th>휴가종류</th>
              <th>휴가일수</th>
              <th>휴가생성일시</th>
              <th>휴가만료일자</th>
              <th>비고</th>
              <th><i class="fas fa-trash"></i></th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- vacation Modal -->
  <div class="modal fade" id="vacationModal" tabindex="-1" role="dialog" aria-labelledby="vacationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-primary text-gray-100">
          <h5 class="modal-title" id="billingPurchaseModalLabel">휴가등록</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="vacationForm" action="/hr/savevacation/" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_save();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6">
                <label for="empId" class="font-weight-bold text-primary">성함</label>
                <select type="text" class="form-control" autocomplete="off" id="empId" name="empId">
                  <option value="">------</option>
                  {% for employee in employees %}
                  <option value="{{ employee.empId }}">{{ employee.empName }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label for="vacationType" class="font-weight-bold text-primary">휴가 종류</label>
                <select type="text" class="form-control" autocomplete="off" id="vacationType" name="vacationType">
                  <option value="하계휴가">하계휴가</option>
                  <option value="동계휴가">동계휴가</option>
                </select>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="vacationDays" class="font-weight-bold text-primary">휴가 일수</label>
                <input type="number" step="0.5" max="100" class="form-control" id="vacationDays" name="vacationDays" value=0 >
              </div>
              <div class="col-6">
                <label for="comment" class="font-weight-bold">비고</label>
                <input type="text" class="form-control"  id="comment" name="comment" required>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="#" onclick="btn_save()">생성</a>
        </div>
      </div>
    </div>
  </div>
  <!-- filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-primary text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">기간 조회</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <label for="vacationType" class="font-weight-bold text-primary">조회 년도</label>
              <input type="number" max="9999" step="1" class="form-control" name="year">
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="#" onclick="btn_filter()">조회</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      function btn_filter() {
            document.getElementById("filterForm").submit();
      }

      function btn_save() {
          if (document.getElementById("empId").value == '') {
              alert("성함을 선택해주세요.");
              return false;
          }
          if (document.getElementById("vacationDays").value == '') {
              alert("휴가일수를 입력해주세요.");
              return false;
          }
          document.getElementById("vacationForm").submit();
      }

      function replaceAll(str, searchStr, replaceStr) {
          var new_str = str.split(searchStr).join(replaceStr);
          return new_str.split("T").join(" ").slice(0,16);
      }

      $(document).ready(function () {
          $('#showvacations').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                    "year":{{ year }},
                  },
                  "url": "{% url 'hr:showvacationsasjson' %}",
                  "dataSrc": ""
              },
              "columnDefs": [
                  {
                       "render": function (data, type, row) {
                          return '<div name="vacationId">' + data + '</div>'
                      },
                      targets: 0, className: "d-none"
                  },
                  {
                      targets: 1,
                      width: "15%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empId__empDeptName",
                  },
                  {
                      targets: 2,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empId__empName"
                  },
                  {
                      targets: 3,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "vacationType",
                  },
                  {
                      targets: 4,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "vacationDays",
                  },
                  {
                      targets: 5,
                      width: "15%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "creationDateTime",
                  },
                  {
                      targets: 6,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "expirationDate",
                  },
                  {
                      targets: 7,
                      width: "15%",
                      className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                      data: "comment",
                  },
                  {
                       "render": function (data, type, row) {
                          return '<i class="fas fa-times-circle" name="remove">'
                      },
                      targets: 8, width: "5%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"
                  },
              ],
              dom: 'Blfrtip',
              buttons: [
                  {
                      extend: 'excel',
                      text: '엑셀',
                      footer: true
                  },
                  {
                      extend: 'copy',
                      text: '복사',
                      footer: true
                  },
                  {
                      extend: 'print',
                      text: '인쇄',
                      footer: true
                  }
              ],
              "deferRender": true,
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "60vh",
              "scrollX": false,
              "scrollCollapse": true,
              "order": [[5, 'desc']],

              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  if (aData.creationDateTime != "") {
                      $('td:eq(5)', nRow).text(replaceAll(aData.creationDateTime,"-","."));
                  }
              },
              "footerCallback": function () {
              },
          });

          var table = $('#showvacations').DataTable();

          $('#showvacations').on('click', 'i', function () {
              const tr = $(this).closest('tr');
              const row = table.row( tr );
              const vacationId = row.data().vacationId;
              const empName = row.data().empId__empName;

              if (confirm(empName+"님의 휴가 정보를 삭제하시겠습니까?") == true) {
                  table
                  .row($(this).parents('tr'))
                  .remove()
                  .draw();
                  $.ajax({
                              type: "POST",
                              url: "/hr/deletevacation/",
                              data: {'vacationId': vacationId,
                                    'empId': vacationId},
                              dataType: "json",
                              success: function (response) {
                                  alert('휴가가 삭제되었습니다.')
                              },
                              error: function (request, status, error) {
                                  alert('휴가가 삭제되었습니다.')
                              },
                          });
              }
          });

      });


  </script>

{% endblock %}