{% extends "dashboard/layout.html" %}


{% block title %}
  근태현황
{% endblock %}
{% block css %}
  <style type="text/css">
    .mobile-table {
      color: #333333;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1rem;
    }

    .mobile-table td, .mobile-table th {
      padding: 4px;
      vertical-align: middle;
      font-size: 16px;
      border-top: 1px dotted #858796a3;
      text-align: center;
      border: 1px solid lightgray;
      border-collapse: collapse;
    }

    .thtd {
      text-align: center;
      border: 1px solid lightgray;
      border-collapse: collapse;
    }
  </style>
{% endblock %}

{% block content %}
  <h2 class="text-center d-none d-xl-block mb-3">
    <i class="fas fa-angle-left" onclick="location.href='/hr/showpunctuality/{{ beforeDate | date:'Y-m-d' }}/'"></i>
    {{ Date | date:"Y년 m월 d일" }} ({{ Date | date:"D" | slice:"0:1" }})
    <i class="fas fa-angle-right" onclick="location.href='/hr/showpunctuality/{{ afterDate | date:'Y-m-d' }}/'"></i>
  </h2>

  <h3 class="text-center d-xl-none mb-3">
    <i class="fas fa-angle-left" onclick="location.href='/hr/showpunctuality/{{ beforeDate | date:'Y-m-d' }}/'"></i>
    {{ Date | date:"Y년 m월 d일" }} ({{ Date | date:"D" | slice:"0:1" }})
    <i class="fas fa-angle-right" onclick="location.href='/hr/showpunctuality/{{ afterDate | date:'Y-m-d' }}/'"></i>
  </h3>

  <div class="row mb-2">
    <div class="col-xl-10"></div>
    <div class="col-xl-2">
      <input class="form-control" type="date" max="9999-12-31" value="{{ Date | date:'Y-m-d' }}" onchange="change_date(this.value)">
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> 근태 현황 </h6>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-xl-12">
              <table class="mobile-table">
                <thead>
                <tr class="bg-secondary text-white">
                  <td>부서</td>
                  <td>성명</td>
                  <td>출근</td>
                  <td>퇴근</td>
                  <td>정규근무</td>
                  <td>초과근무</td>
                  <td>총근무시간</td>
                </tr>
                </thead>
                <tbody>
                {% for punctuality in punctualityList %}
                <tr>
                  <td>{{ punctuality.empDeptName }}</td>
                  <td class="font-weight-bold">{{ punctuality.empName }}</td>
                  <td>{{ punctuality.start | date:'H:i' }}</td>
                  <td>{{ punctuality.end | date:'H:i' }}</td>
                  <td>{{ punctuality.reg }}</td>
                  <td class="text-danger">{{ punctuality.over }}</td>
                  <td>{{ punctuality.hour }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          {% if vacationList %}
            <div class="m-3">
              <div class="row mb-3">
                <h4 class="text-danger"><i class="fas fa-plane-departure"></i> 휴가자</h4><br>
              </div>
              {% for vacation in vacationList %}
                <div class="row">
                  <h5 class="text-gray-900">
                    [{{ vacation.vacationCategory }}, {{ vacation.vacationType }}]
                    <span class="font-weight-bold">{{ vacation.empName }}</span>
                  </h5>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}
  <script>
  function change_date(date) {
      location.href='/hr/showpunctuality/' + date + '/'
  }

  $(document).ready(function () {
      var size = $("td[name='absence']").length;
      console.log(size);
      for (i = 0; i < size; i++) {
          var tdValue = $("td[name='absence']").eq(i).text();
          var len = tdValue.length - 100;
          var newValue = tdValue.substr(0, tdValue.length - 65) + ' )';
          $("td[name='absence']").eq(i).text(newValue);
      }
  });

  </script>


{% endblock %}