{% extends "dashboard/layout.html" %}


{% block title %}
  직원관리
{% endblock %}


{% block css %}

  <style type="text/css">

  </style>

{% endblock %}


{% block content %}

  <div>
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 h3 text-gray-800">직원관리</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
            <i class="fas fa-filter fa-fw text-gray-400"></i>
          </a>
          {% if user.employee.empDeptName == '경영지원본부' or user.is_staff %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="dropdown-toggle" href="/hr/postprofile/" role="button">
              <i class="fas fa-plus fa-fw text-gray-400"></i>
            </a>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="showprofiles" class="hover row-border" style="width: 100%;">
            <thead>
            <tr>
              <th>empId</th>
              <th>ID</th>
              <th>성함</th>
              <th>직급</th>
              <th>부서</th>
              <th>전화번호</th>
              <th>이메일</th>
              <th>마지막접속일</th>
              <th>구분</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="text-primary">시작일자</label>
                <input type="date" max="9999-12-31" class="form-control" id="startdate" name="startdate" value="{{ startdate }}">
              </div>
              <div class="col-6 mb-3 mb-sm-0">
                <label for="enddate" class="text-primary">종료일자</label>
                <input type="date" max="9999-12-31" class="form-control" id="enddate" name="enddate" value="{{ enddate }}">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="quarter" class="text-primary">분기</label>
                <select class="form-control" id="quarter" name="quarter" onchange="changeQuarter('startdate', 'enddate', 'quarter')">
                  <option value="">------</option>
                  <option value="1">1분기</option>
                  <option value="2">2분기</option>
                  <option value="3">3분기</option>
                  <option value="4">4분기</option>
                </select>
              </div>
              <div class="col-6">
                <label for="contractStep" class="text-primary">단계</label>
                <select class="form-control" id="contractStep" name="contractStep">
                  <option value="전체">전체</option>
                  <option value="Opportunity" {% if contractStep == "Opportunity" %}selected{% endif %}>Opportunity</option>
                  <option value="Firm" {% if contractStep == "Firm" %}selected{% endif %}>Firm</option>
                </select>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="empDeptName" class="text-primary">영업부서</label>
                <select class="form-control" id="empDeptName" name="empDeptName" onchange="changeDeptName(this.value,'empName')">
                  <option value="전체">전체</option>
                  <option value="영업1팀" {% if empDeptName == '영업1팀' %}selected{% endif %}>영업1팀</option>
                  <option value="영업2팀" {% if empDeptName == '영업2팀' %}selected{% endif %}>영업2팀</option>
                  {#                  <option value="영업3팀">영업3팀</option>#}
                </select>
              </div>
              <div class="col-6">
                <label for="empName" class="text-primary">영업담당자</label>
                <select class="form-control" id="empName" name="empName">
                  <option value='전체'>전체</option>
                  {% if empDeptName != '전체' %}
                    {% for e in employees %}
                      {% if e.empDeptName == empDeptName %}
                        <option value="{{ e.empName }}" {% if empName and empName == e.empName %}selected{% endif %}>{{ e.empName }}</option>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    {% for e in employees %}
                      <option value="{{ e.empName }}" {% if e.empName == empName %}selected{% endif %}>{{ e.empName }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="saleCompanyName" class="text-primary">거래처</label>
                <input class="form-control" id="saleCompanyName" name="saleCompanyName" value="{{ saleCompanyName }}">
              </div>
              <div class="col-6">
                <label for="endCompanyName" class="text-primary">최종고객사</label>
                <input class="form-control" id="endCompanyName" name="endCompanyName" value="{{ endCompanyName }}">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="mainCategory" class="text-primary">대분류</label>
                <input class="form-control" id="mainCategory" name="mainCategory" value="{{ mainCategory }}">
              </div>
              <div class="col-6">
                <label for="modifyContractPaper" class="text-primary">수정수주통보서대상</label>
                <select class="form-control" id="modifyContractPaper" name="modifyContractPaper">
                  <option value="">------</option>
                  <option value="Y" {% if modifyContractPaper == 'Y' %}selected{% endif %}>Y</option>
                  <option value="N" {% if modifyContractPaper == 'N' %}selected{% endif %}>N</option>
                </select>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-12">
                <label for="contractName" class="text-primary">계약명</label>
                <input class="form-control" id="contractName" name="contractName" value="{{ contractName }}">
              </div>
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      function btn_filter() {
          document.getElementById("filterForm").submit();
      }

      function changeDeptName(empDeptName, selectId) {
          $.ajax({
              url: "{% url 'sales:empdept_ajax_url' %}",
              method: 'POST',
              cache: false,
              data: {"empDeptName": empDeptName},
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  var empName = returnData;
                  console.log(empName);
                  $('#' + selectId).empty();

                  $('#' + selectId).append("<option value='전체'>전체</option>");
                  for (var count = 0; count < empName.length; count++) {
                      var option = $("<option value=" + empName[count].fields.empName + ">" + empName[count].fields.empName + "</option>");
                      $('#' + selectId).append(option);
                  }
              }
          })
      }

      function changeQuarter(startDateId, endDateId, quarterId) {
          const quarter = $('#' + quarterId).val();
          const year = new Date().getFullYear();
          if (quarter === '1') {
              $('#' + startDateId).val(year + '-01-01');
              $('#' + endDateId).val(year + '-03-31');
          } else if (quarter === '2') {
              $('#' + startDateId).val(year + '-04-01');
              $('#' + endDateId).val(year + '-06-30');
          } else if (quarter === '3') {
              $('#' + startDateId).val(year + '-07-01');
              $('#' + endDateId).val(year + '-09-30');
          } else if (quarter === '4') {
              $('#' + startDateId).val(year + '-10-01');
              $('#' + endDateId).val(year + '-12-31');
          }
      }

      function updown(tableId) {
          if ($('#' + tableId).hasClass("d-none") === true) {
              $('#' + tableId).removeClass("d-none");
              $('#' + tableId).addClass("d-block");
          } else if ($('#' + tableId).hasClass("d-block") === true) {
              $('#' + tableId).removeClass("d-block");
              $('#' + tableId).addClass("d-none");
          }
      }

      $(document).ready(function () {
          $('#showprofiles').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'GET',
                  "data": {
                  },
                  "url": "{% url 'hr:showprofilesasjson' %}",
                  "dataSrc": ""
              },
              "columnDefs": [
                  {
                      targets: 0,
                      width: "5%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empId",
                  },
                  {
                      targets: 1,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "userName",
                  },
                  {
                      targets: 2,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empName"
                  },
                  {
                      targets: 3,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "positionName",
                  },
                  {
                      targets: 4,
                      width: "5%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empDeptName",
                  },
                  {
                      targets: 5,
                      width: "20%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empPhone",
                  },
                  {
                      targets: 6,
                      width: "20%",
                      className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap",
                      data: "empEmail",
                  },
                  {
                      targets: 7,
                      width: "15%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "lastLogin",
                  },
                  {
                      targets: 8,
                      width: "5%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empStatus",
                  },
              ],
              "deferRender": true,
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "60vh",
              "scrollX": false,
              "scrollCollapse": true,
              "order": [[0, 'asc']],
              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  if (aData.lastLogin) {
                      $('td', nRow).eq(7).text(String(aData.lastLogin).split('-').join('.').split('T').join(' ').slice(0,16));
                  } else {
                      $('td', nRow).eq(7).text('-');
                  }

                  if (aData.empStatus === 'Y') {
                      $('td', nRow).eq(8).text('재직');
                  } else {
                      $('td', nRow).eq(8).text('퇴사');
                  }
              },
              "footerCallback": function () {
              },
          });

          const showprofiles = $('#showprofiles').DataTable();

          $("#showprofiles").on("click", 'tr', function () {
              const data = showprofiles.row(this).data();
              location.href = '/hr/viewprofile/' + data.empId + '/'
          });
      });

  </script>

{% endblock %}