{% extends "dashboard/layout.html" %}


{% block title %}
  유류비현황
{% endblock %}


{% block css %}

  <style type="text/css">

  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800">
            {{ startdate | slice:'0:4' }}년 {{ startdate | slice:'5:7' }}월 {{ empName }}님 유류비 신청현황
          </h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
              <i class="fas fa-filter fa-fw text-gray-400"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="text-dark font-weight-bold">▼ 완료</h5>
          <div class="table-responsive">
            <table id="yrapprovalfuel" class="hover row-border" width="100%" style="width: 100%;">
            <thead>
              <tr>
                <th>단계</th>
                <th>날짜</th>
                <th>고객사</th>
                <th>제목</th>
                <th>이동거리</th>
                <th>유류비</th>
                <th>반려사유</th>
              </tr>
            </thead>
            <tfoot>
            <tr>
              <th style="padding: 8px 10px; text-align: right"></th>
              <th style="padding: 8px 10px; text-align: right"></th>
              <th style="padding: 8px 10px; text-align: right"></th>
              <th style="padding: 8px 10px; text-align: right">(승인) TOTAL :</th>
              <th style="padding: 8px 10px; text-align: center"></th>
              <th style="padding: 8px 10px; text-align: center"></th>
              <th style="padding: 8px 10px; text-align: left">
                ※ 합계는 <span class="text-primary">승인</span>된 건에 대해서만 계산됩니다.
              </th>
            </tr>
            </tfoot>
            </table>
          </div>
          <h5 class="text-dark font-weight-bold">▼ 진행</h5>
          <div class="table-responsive">
            <table id="napprovalfuel" class="hover row-border" width="100%" style="width: 100%;">
            <thead>
              <tr>
                <th>단계</th>
                <th>날짜</th>
                <th>고객사</th>
                <th>제목</th>
                <th>이동거리</th>
                <th>유류비</th>
                <th>승인</th>
                <th>반려</th>
                <th>반려사유</th>
                <th class="d-none">fuelId</th>
              </tr>
            </thead>
            <tfoot>
            <tr>
              <th style="padding: 8px 10px; text-align: right"></th>
              <th style="padding: 8px 10px; text-align: right"></th>
              <th style="padding: 8px 10px; text-align: right"></th>
              <th style="padding: 8px 10px; text-align: right">TOTAL :</th>
              <th style="padding: 8px 10px; text-align: center"></th>
              <th style="padding: 8px 10px; text-align: center"></th>
              <th style="padding: 8px 10px; text-align: center"></th>
              <th style="padding: 8px 10px; text-align: center"></th>
              <th style="padding: 8px 10px; text-align: center"></th>
            </tr>
            </tfoot>
            </table>
          </div>
          <br>
          <div class="text-center">
            <form id="approvalfuelForm" method="POST" action="/extrapay/approvalpostfuel/">
            {% csrf_token %}
              <input class="d-none" name="empId" value="{{ empId }}">
            </form>
            <a href="#" class="btn btn-success btn-icon-split" onclick="btn_post()">
              <span class="icon text-white-50"> <i class="fas fa-check"> </i> </span>
              <span class="text"> 완료 </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <label for="findDate" class="font-weight-light text-primary">검색 일자</label>
            <input type="month" max="9999-12" class="form-control" id="findDate" name="findDate" value="{{ startdate | slice:'0:7' }}">
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block script %}

  <script type="text/javascript">
    function btn_filter() {
        const filterForm = document.getElementById('filterForm');
        filterForm.submit();
    }

    function btn_post() {
        const approvalfuelForm = document.getElementById('approvalfuelForm');

        const fuelId = $('.fuel-id');
        const length = fuelId.length;
        const yidList = [];
        const nidList = [];
        for (var i = 2; i <= length - 1; i++) {
            var YN = $(":input:radio[name=rdbt" + fuelId.eq(i).text() +"]:checked").val();
            if (YN === 'Y') {
                yidList.push(fuelId.eq(i).text());
            } else if (YN === 'N') {
                nidList.push([fuelId.eq(i).text(), $("#input" + fuelId.eq(i).text()).val()]);
            }
        }

        const yid = document.createElement("input");
        yid.setAttribute("type", "hidden");
        yid.setAttribute("name", "yid");
        yid.setAttribute("value", JSON.stringify(yidList));
        approvalfuelForm.appendChild(yid);

        const nid = document.createElement("input");
        nid.setAttribute("type", "hidden");
        nid.setAttribute("name", "nid");
        nid.setAttribute("value", JSON.stringify(nidList));
        approvalfuelForm.appendChild(nid);

        approvalfuelForm.submit();
    }

    function rdbt_input(inputId, type) {
        if (type === 'remove') {
            $(inputId).removeAttr('readonly');
        } else if (type === 'attr') {
            $(inputId).val('');
            $(inputId).attr('readonly', '');
        }
    }

    $(document).ready(function () {
        const napprovalfuel = $('#napprovalfuel').DataTable({
            "processing": true,
            "ajax": {
                "processing": true,
                "type": 'POST',
                "data": {
                    "startdate": "{{ startdate }}",
                    "enddate": "{{ enddate }}",
                    "empId": "{{ empId }}",
                    "status": "N",
                },
                "url": "{% url 'extrapay:approvalfuelasjson' %}",
                "dataSrc": ""
            },
            "columnDefs": [
                {
                    targets: 0,
                    width: "5%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "fuelStatus",
                },
                {
                    targets: 1,
                    width: "10%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "serviceDate",
                },
                {
                    targets: 2,
                    width: "10%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "companyName"
                },
                {
                    targets: 3,
                    width: "25%",
                    className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                    data: "serviceTitle",
                },
                {
                    targets: 4,
                    width: "10%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "totalDistance",
                },
                {
                    targets: 5,
                    width: "10%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "fuelMoney",
                },
                {
                    targets: 6,
                    width: "5%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "fuelId",
                    render: function(data, type, full, meta) {
                        return '<input type="radio" class="rdbt" name="rdbt' + data + '" value="Y" checked ' +
                            'onchange="rdbt_input(input' + data + ', \'attr\')">';
                    },
                },
                {
                    targets: 7,
                    width: "5%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "fuelId",
                    render: function(data, type, full, meta) {
                        return '<input type="radio" class="rdbt" name="rdbt' + data + '" value="N" ' +
                            'onchange="rdbt_input(input' + data + ', \'remove\')">';
                    },
                },
                {
                    targets: 8,
                    width: "20%",
                    className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                    data: "fuelId",
                    render: function(data, type, full, meta) {
                        return '<input id="input' + data + '" class="form-control" readonly>';
                    },
                },
                {
                    targets: 9,
                    className: "d-none fuel-id",
                    data: "fuelId",
                },
            ],
            "deferRender": true,
            "searching": false,
            "paging": false,
            "info": false,
            "scrollY": "50vh",
            "scrollX": true,
            "scrollCollapse": true,
            "order": [[0, 'desc']],
            "language": {
                  "lengthMenu": "_MENU_개씩 보기",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                const fuelStatus = aData.fuelStatus;
                if (fuelStatus === 'N') {
                    $('td', nRow).eq(0).text('진행');
                    $('td', nRow).eq(0).addClass('text-dark font-weight-bold');
                } else if (fuelStatus === 'Y') {
                    $('td', nRow).eq(0).text('승인');
                    $('td', nRow).eq(0).addClass('text-primary font-weight-bold');
                } else if (fuelStatus === 'R') {
                    $('td', nRow).eq(0).text('반려');
                    $('td', nRow).css('background-color', '#f2f2f2');
                    $('td', nRow).eq(0).addClass('text-danger font-weight-bold');
                }

                $('td:eq(4)', nRow).text(aData.totalDistance.toLocaleString() + 'km');
                $('td:eq(5)', nRow).text(aData.fuelMoney.toLocaleString() + '원');
            },
            "footerCallback": function () {
                let api = this.api(), data;

                let distanceResult = 0;
                api.column(4, {search: 'applied'}).data().each(function (data, index) {
                    distanceResult += parseFloat(data);
                });
                $(api.column(4).footer()).html(distanceResult.toLocaleString() + 'km');

                let moneyResult = 0;
                api.column(5, {search: 'applied'}).data().each(function (data, index) {
                    moneyResult += parseFloat(data);
                });
                $(api.column(5).footer()).html(moneyResult.toLocaleString() + '원');
              },
        });

        const yrapprovalfuel = $('#yrapprovalfuel').DataTable({
            "processing": true,
            "ajax": {
                "processing": true,
                "type": 'POST',
                "data": {
                    "startdate": "{{ startdate }}",
                    "enddate": "{{ enddate }}",
                    "empId": "{{ empId }}",
                    "status": "YR",
                },
                "url": "{% url 'extrapay:approvalfuelasjson' %}",
                "dataSrc": ""
            },
            "columnDefs": [
                {
                    targets: 0,
                    width: "5%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "fuelStatus",
                },
                {
                    targets: 1,
                    width: "10%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "serviceDate",
                },
                {
                    targets: 2,
                    width: "10%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "companyName"
                },
                {
                    targets: 3,
                    width: "25%",
                    className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                    data: "serviceTitle",
                },
                {
                    targets: 4,
                    width: "10%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "totalDistance",
                },
                {
                    targets: 5,
                    width: "10%",
                    className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                    data: "fuelMoney",
                },
                {
                    targets: 6,
                    width: "30%",
                    className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                    data: "comment"
                },
            ],
            "deferRender": true,
            "searching": false,
            "paging": false,
            "info": false,
            "scrollY": "50vh",
            "scrollX": true,
            "scrollCollapse": true,
            "order": [[0, 'desc']],
            "language": {
                  "lengthMenu": "_MENU_개씩 보기",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                const fuelStatus = aData.fuelStatus;
                if (fuelStatus === 'N') {
                    $('td', nRow).eq(0).text('진행');
                    $('td', nRow).eq(0).addClass('text-dark font-weight-bold');
                } else if (fuelStatus === 'Y') {
                    $('td', nRow).eq(0).text('승인');
                    $('td', nRow).eq(0).addClass('text-primary font-weight-bold');
                } else if (fuelStatus === 'R') {
                    $('td', nRow).eq(0).text('반려');
                    $('td', nRow).css('background-color', '#f2f2f2');
                    $('td', nRow).eq(0).addClass('text-danger font-weight-bold');
                }

                $('td:eq(4)', nRow).text(aData.totalDistance.toLocaleString() + 'km');
                $('td:eq(5)', nRow).text(aData.fuelMoney.toLocaleString() + '원');
            },
            "footerCallback": function () {
                let api = this.api(), data;

                let distanceResult = 0;
                api.column(4, {search: 'applied'}).data().each(function (data, index) {
                    if (api.column(0).data()[index] === 'Y') {
                        distanceResult += parseFloat(data);
                    }
                });
                $(api.column(4).footer()).html(distanceResult.toLocaleString() + 'km');

                let moneyResult = 0;
                api.column(5, {search: 'applied'}).data().each(function (data, index) {
                    if (api.column(0).data()[index] === 'Y') {
                        moneyResult += parseFloat(data);
                    }
                });
                $(api.column(5).footer()).html(moneyResult.toLocaleString() + '원');
              },
        });
    })

  </script>

{% endblock %}