{% extends "dashboard/layout.html" %}
{% load humanize %}
{% block title %}
월별 시간외수당 현황
{% endblock %}


{% block css %}

<style type="text/css">

  .pc-table {
    color: #333333;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 1rem;
  }

  .pc-table td, .pc-table th {
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    border-top: 1px dotted #858796a3;
  }

  .thtd {
    text-align: center;
    border: 1px solid lightgray;
    border-collapse: collapse;
  }

</style>

{% endblock %}


{% block content %}

<div class="row">
  <div class="col-xl-1"></div>

  <div class="col-xl-10 d-xl-block">
    <div class="card shadow mb-4">

      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 h3 text-gray-800">{{ todayYear }}년 {{ todayMonth }}월 시간외수당 근무내역</h6>

        <div class="dropdown no-arrow">
          <a class="btn btn-warning" href="#" role="button" onclick="location.href='/extrapay/viewextrapaypdf/{{ today }}/'">
            <i class="fas fa-download d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-download"></i> PDF</span>
          </a>
          <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
            <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
          </a>
        </div>
      </div>
      <div class="card-body">
        {% csrf_token %}
        <table class="pc-table">
          <thead>
          <tr class="bg-light thtd">
            <td class="thtd">부서</td>
            <td class="thtd">직급</td>
            <td class="thtd">성명</td>
            <td class="thtd">시간외근무시간</td>
            <td class="thtd">휴가신청시간</td>
            <td class="thtd">수당&식대</td>
            <td class="thtd">수당외식대</td>
            <td class="thtd">시간외수당합계</td>
          </tr>
          </thead>
          <tbody>
          {% for extrapay in extrapayList %}
            {% for row in extrapay %}
            {% ifchanged row.empDeptName %}
            <tr class="bg-light">
            <td class="thtd">{{ row.empDeptName }}</td>
            {% else %}
            <tr class="thtd">
            <td class="thtd"></td>
            {% endifchanged %}
            <td class="thtd">{{ row.empPosition }}</td>
            <td class="thtd"><a href="/extrapay/viewoverhour/{{ row.extraPayId }}/">{{ row.empName }}</a></td>
            <td class="thtd text-right">{{ row.sumOverhour |floatformat:"2"}}</td>
            <td class="thtd text-right">{{ row.compensatedHour }}</td>
            <td class="thtd text-right">{{ row.sumOverhourFoodCost |floatformat:0|intcomma }}</td>
            <td class="thtd text-right">{{ row.sumFoodCost |floatformat:0|intcomma }}</td>
            <td class="thtd text-right">{{ row.sumCost |floatformat:0|intcomma }}</td>
          </tr>
            {% endfor %}
          {% endfor %}
          <tr class="thtd" style="background-color: lightsalmon">
            <td class="thtd" colspan="3">소계</td>
            <td class="thtd text-right">{{ sumEmp.sumoverHour |floatformat:"2"}}</td>
            <td class="thtd text-right">{{ sumEmp.sumcompensatedHour }}</td>
            <td class="thtd text-right">{{ sumEmp.sumoverandfoodCost |floatformat:0|intcomma }}</td>
            <td class="thtd text-right">{{ sumEmp.sumfoodCost |floatformat:0|intcomma }}</td>
            <td class="thtd text-right">{{ sumEmp.sumCost |floatformat:0|intcomma }}</td>
          </tr>
          </tbody>
        </table>

        {% if extrapaySupport %}
        <table class="pc-table">
          <thead>
          <tr class="bg-light thtd">
            <td class="thtd">부서</td>
            <td class="thtd">직급</td>
            <td class="thtd">성명</td>
            <td class="thtd">평일심야근무일수</td>
            <td class="thtd">주말근무일수</td>
            <td class="thtd">평일심야근무수당</td>
            <td class="thtd">주말근무수당</td>
            <td class="thtd">시간외수당합계</td>
          </tr>
          </thead>
          <tbody>
          {% for row in extrapaySupport %}
          <tr class="thtd">
            <td class="thtd">경영지원본부</td>
            <td class="thtd">주임</td>
            <td class="thtd">{{ row.empName }}</td>
            <td class="thtd text-right">{{ row.sumOverhourWeekday }}</td>
            <td class="thtd text-right">{{ row.sumOverhour |floatformat:"2"}}</td>
            <td class="thtd text-right">{{ row.overHourCostWeekDay |floatformat:0|intcomma }}</td>
            <td class="thtd text-right">{{ row.sumOverhourCost |floatformat:0|intcomma }}</td>
            <td class="thtd text-right">{{ row.sumCost |floatformat:0|intcomma }}</td>
          </tr>
          {% endfor %}
          <tr class="thtd" style="background-color: lightsalmon">
            <td class="thtd" colspan="3">소계</td>
            <td class="thtd text-right">{{ sumSupport.sumOverhourWeekday }}</td>
            <td class="thtd text-right">{{ sumSupport.sumOverhour |floatformat:"2"}}</td>
            <td class="thtd text-right">{{ sumSupport.overHourCostWeekDay |floatformat:0|intcomma }}</td>
            <td class="thtd text-right">{{ sumSupport.sumOverhourCost |floatformat:0|intcomma }}</td>
            <td class="thtd text-right">{{ sumSupport.sumCost |floatformat:0|intcomma }}</td>
          </tr>
          </tbody>
        </table>
        {% endif %}
        <div class="float-right">
          <table class="pc-table" style="border-color: white;">
            <tbody>
            <tr>
              <td colspan="10" style="border-color: white;"></td>
              <td class="thtd" colspan="2" style="background-color: lightsalmon">총 합계</td>
              <td class="thtd text-right" colspan="4" style="background-color: lightsalmon">{{ sumAll |floatformat:0|intcomma }}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>

  <div class="col-xl-1"></div>
</div>

<!-- Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header bg-info text-gray-100">
        <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span class="text-gray-100" aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
          {% csrf_token %}
          <div class="row mb-1">
            <div class="col-12">
              <label for="searchdate" class="font-weight-light text-primary">조회 일자</label>
              <input type="month" max="9999-12" class="form-control" id="searchdate" name="searchdate" value="{{ today }}">
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
        <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block script %}
<script type="text/javascript">

    function btn_filter() {
        document.getElementById("filterForm").submit();
    }

    function replaceAll(str, searchStr, replaceStr) {
        var new_str = str.split(searchStr).join(replaceStr);
        return new_str.split("T").join(" ").slice(0, 7);
    }

    $(document).ready(function () {


    });

</script>

{% endblock %}