{% extends "dashboard/layout.html" %}
{% block title %}
  미수금/미지급 현황
{% endblock %}
{% load humanize %}


{% block css %}

  <style type="text/css">
    .buttons-copy {
      background-color: #4e73df;
      color: white;
      margin-bottom: 1rem;
    }

    .buttons-excel {
      background-color: #36b9cc;
      color: white;
      margin-bottom: 1rem;
    }

    .buttons-print {
      background-color: #f6c23e;
      color: white;
      margin-bottom: 1rem;
    }
  </style>

{% endblock %}


{% block content %}
  <!-- 미수금/미접수 현황 개요 -->
  <div class="py-3 d-flex flex-row align-items-center justify-content-between">
    <h3 class="mb-2 text-gray-800">미수금 / 미접수 현황</h3>
    <h6 class="m-0 font-weight-bold text-secondary">[단위: 원]</h6>
  </div>

  <!-- 미수금 현황 개요 -->
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">총 미수금</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ totalNotDepositMoney| intcomma }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-won-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-success text-uppercase mb-1">정상 미수금</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ normalNotDepositMoney| intcomma }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-won-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-warning text-uppercase mb-1">3개월 미만 미수금</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ warningNotDepositMoney| intcomma }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-won-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-danger text-uppercase mb-1">3개월 이상 미수금</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ dangerNotDepositMoney| intcomma }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-won-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 미지급 현황 개요 -->
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">총 미지급</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ totalNotWithdrawMoney| intcomma }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-won-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-success text-uppercase mb-1">정상 미지급</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ normalNotWithdrawMoney| intcomma }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-won-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-warning text-uppercase mb-1">3개월 미만 미지급</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ warningNotWithdrawMoney| intcomma }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-won-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-danger text-uppercase mb-1">3개월 이상 미지급</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ dangerNotWithdrawMoney| intcomma }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-won-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 미수금 현황 그래프 -->
  <div class="row">
    <div class="col-xl-6 col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-secondary">기간별 미수금액</h6>
          <h6 class="m-0 font-weight-bold text-secondary">[단위: 백만원]</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="pieNotDeposit"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-secondary">고객사별 미수금액 (상위 5개)</h6>
          <h6 class="m-0 font-weight-bold text-secondary">[단위: 백만원]</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="barNotDeposit"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 미수금 현황 테이블 -->
  <div id="tableNotDepositRow" class="div-table-row d-none">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-secondary">상세내용 <span id="tableNotDepositTitle"></span></h6>
      </div>
      <div class="card-body">
        <table id="tableNotDeposit" class="hover row-border" style="width: 100%;">
          <thead>
          <tr>
            <th>구분</th>
            <th>관리번호</th>
            <th>소속</th>
            <th>영업대표</th>
            <th>계약명</th>
            <th>매출처</th>
            <th>수금예정일</th>
            <th>매출금액</th>
            <th>이익금액</th>
            <th>비고</th>
            <th class="d-none">revenueId</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right">TOTAL :</th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <!-- 미지급 현황 그래프 -->
  <div class="row">
    <div class="col-xl-6 col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-secondary">기간별 미지급액</h6>
          <h6 class="m-0 font-weight-bold text-secondary">[단위: 백만원]</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="pieNotWithdraw"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-secondary">고객사별 미지급액 (상위 5개)</h6>
          <h6 class="m-0 font-weight-bold text-secondary">[단위: 백만원]</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="barNotWithdraw"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 미지급 현황 테이블 -->
  <div id="tableNotWithdrawRow" class="div-table-row d-none">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-secondary">상세내용 <span id="tableNotWithdrawTitle"></span></h6>
      </div>
      <div class="card-body">
        <table id="tableNotWithdraw" class="hover row-border" style="width: 100%;">
          <thead>
          <tr>
            <th>구분</th>
            <th>관리번호</th>
            <th>소속</th>
            <th>영업대표</th>
            <th>계약명</th>
            <th>매입처</th>
            <th>지급예정일</th>
            <th>매입금액</th>
            <th>비고</th>
            <th class="d-none">purchaseId</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right">TOTAL :</th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
            <th style="padding: 8px 10px; text-align: right"></th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script src="/static/hr/js/demo/chart-bar-demo.js"></script>
  <script src="/static/hr/js/demo/chart-area-demo.js"></script>
  <script src="/static/hr/js/demo/chart-pie-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.4.0/dist/chartjs-plugin-datalabels.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels"></script>

  <script>
      function push_not_deposit(label, table, row, title) {
          $('.div-table-row').addClass('d-none');
          row.removeClass('d-none');
          title.text(' (' + label +')');

          table.rows().remove();
          $.ajax({
              url: "{% url 'dashboard:not_deposit_asjson' %}",
              method: 'GET',
              cache: false,
              data: {
                  "label": label,
              },
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  for (let i = 0; i < returnData.length; i++) {
                      table.row.add(returnData[i])
                  }
                  table.draw()
              }
          });
      }

      function push_not_withdraw(label, table, row, title) {
          $('.div-table-row').addClass('d-none');
          row.removeClass('d-none');
          title.text(' (' + label +')');

          table.rows().remove();
          $.ajax({
              url: "{% url 'dashboard:not_withdraw_asjson' %}",
              method: 'GET',
              cache: false,
              data: {
                  "label": label,
              },
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  for (let i = 0; i < returnData.length; i++) {
                      table.row.add(returnData[i])
                  }
                  table.draw()
              }
          });
      }

      $(document).ready(function () {
          // 기간별 미수금액 테이블
          let tableNotDepositRow = $('#tableNotDepositRow');
          let tableNotDepositTitle = $('#tableNotDepositTitle');
          let tableNotDeposit = $('#tableNotDeposit').DataTable({
              "scrollX": true,
              "autoWidth": false,
              "processing": true,
              "columnDefs": [
                  {
                      targets: 0,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "contractStep",
                  },
                  {
                      targets: 1,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "contractCode",
                  },
                  {
                      targets: 2,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empDeptName",
                  },
                  {
                      targets: 3,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empName",
                  },
                  {
                      targets: 4,
                      width: "10%",
                      className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                      data: "contractName",
                  },
                  {
                      targets: 5,
                      width: "10%",
                      className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                      data: "companyNameKo",
                  },
                  {
                      targets: 6,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "predictDepositDate",
                  },
                  {
                      targets: 7,
                      width: "10%",
                      className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap",
                      data: "revenuePrice",
                  },
                  {
                      targets: 8,
                      width: "10%",
                      className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap",
                      data: "revenueProfitPrice",
                  },
                  {
                      targets: 9,
                      width: "10%",
                      className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                      data: "comment",
                  },
                  {
                      targets: 10,
                      className: "d-none",
                      data: "revenueId",
                  },
              ],
              dom: 'Blfrtip',
              buttons: [
                  {
                      extend: 'excel',
                      text: '엑셀',
                      footer: true
                  },
                  {
                      extend: 'copy',
                      text: '복사',
                      footer: true
                  },
                  {
                      extend: 'print',
                      text: '인쇄',
                      footer: true
                  }
              ],
              "deferRender": true,
              "order": [[7, 'desc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_개씩 보기",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  $('td:eq(7)', nRow).text(aData.revenuePrice.toLocaleString());
                  $('td:eq(8)', nRow).text(aData.revenueProfitPrice.toLocaleString());
                  $('td:eq(9)', nRow).css('color', '#ff0000');
                  if (aData.predictDepositDate < '{{ today | date:"Y-m-d" }}') {
                      $('td:eq(6)', nRow).css('color', '#ff0000');
                  }
                  if (aData.predictDepositDate < '{{ warningDate | date:"Y-m-d" }}') {
                      $(nRow).css('background-color', '#ffe6e6');
                  }
              },
              "footerCallback": function () {
                  let api = this.api(), data;

                  let revenueResult = 0;
                  api.column(7, {search: 'applied'}).data().each(function (data, index) {
                      revenueResult += parseFloat(data);
                  });
                  $(api.column(7).footer()).html(revenueResult.toLocaleString());

                  let profitResult = 0;
                  api.column(8, {search: 'applied'}).data().each(function (data, index) {
                      profitResult += parseFloat(data);
                  });
                  $(api.column(8).footer()).html(profitResult.toLocaleString());
              }
          });
          $("#tableNotDeposit").on("click", 'tr', function () {
              const data = tableNotDeposit.row(this).data();
              window.open('about:blank').location.href = '/sales/viewrevenue/' + data.revenueId + '/'
          });

          // 기간별 미지급액 테이블
          let tableNotWithdrawRow = $('#tableNotWithdrawRow');
          let tableNotWithdrawTitle = $('#tableNotWithdrawTitle');
          let tableNotWithdraw = $('#tableNotWithdraw').DataTable({
              "scrollX": true,
              "autoWidth": false,
              "processing": true,
              "columnDefs": [
                  {
                      targets: 0,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "contractStep",
                  },
                  {
                      targets: 1,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "contractCode",
                  },
                  {
                      targets: 2,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empDeptName",
                  },
                  {
                      targets: 3,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "empName",
                  },
                  {
                      targets: 4,
                      width: "10%",
                      className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                      data: "contractName",
                  },
                  {
                      targets: 5,
                      width: "10%",
                      className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                      data: "companyNameKo",
                  },
                  {
                      targets: 6,
                      width: "10%",
                      className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap",
                      data: "predictWithdrawDate",
                  },
                  {
                      targets: 7,
                      width: "10%",
                      className: "dt-head-center dt-body-right dt-head-nowrap dt-body-nowrap",
                      data: "purchasePrice",
                  },
                  {
                      targets: 8,
                      width: "10%",
                      className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap",
                      data: "comment",
                  },
                  {
                      targets: 9,
                      className: "d-none",
                      data: "purchaseId",
                  },
              ],
              dom: 'Blfrtip',
              buttons: [
                  {
                      extend: 'excel',
                      text: '엑셀',
                      footer: true
                  },
                  {
                      extend: 'copy',
                      text: '복사',
                      footer: true
                  },
                  {
                      extend: 'print',
                      text: '인쇄',
                      footer: true
                  }
              ],
              "deferRender": true,
              "order": [[7, 'desc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_개씩 보기",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  $('td:eq(7)', nRow).text(aData.purchasePrice.toLocaleString());
                  $('td:eq(8)', nRow).css('color', '#ff0000');
                  if (aData.predictWithdrawDate < '{{ today | date:"Y-m-d" }}') {
                      $('td:eq(6)', nRow).css('color', '#ff0000');
                  }
                  if (aData.predictWithdrawDate < '{{ warningDate | date:"Y-m-d" }}') {
                      $(nRow).css('background-color', '#ffe6e6');
                  }
              },
              "footerCallback": function () {
                  let api = this.api(), data;

                  let purchaseResult = 0;
                  api.column(7, {search: 'applied'}).data().each(function (data, index) {
                      purchaseResult += parseFloat(data);
                  });
                  $(api.column(7).footer()).html(purchaseResult.toLocaleString());
              }
          });
          $("#tableNotWithdraw").on("click", 'tr', function () {
              const data = tableNotWithdraw.row(this).data();
              window.open('about:blank').location.href = '/sales/viewpurchase/' + data.purchaseId + '/'
          });

          // 파이 차트 옵션
          const pieChartOption = {
              legend: {
                  display: false,
              },
              layout: {
                  padding: {
                      left: 0,
                      right: 0,
                      top: 50,
                      bottom: 20
                  }
              },
              maintainAspectRatio: false,
              tooltips: {
                  titleMarginBottom: 5,
                  titleFontColor: '#6e707e',
                  titleFontSize: 14,
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#4e73df",
                  borderColor: '#dddfeb',
                  borderWidth: 3,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: true,
                  caretPadding: 10,
                  callbacks: {
                      label: function (tooltipItem, data) {
                          let Arr = data.datasets[0].data;
                          return number_format(Arr[tooltipItem.index]);
                      }
                  },
              },
              plugins: {
                  datalabels: {
                      formatter: (value, ctx) => {
                          let sum = 0;
                          let dataArr = ctx.chart.data.datasets[0].data;
                          dataArr.map(data => {
                              sum += data;
                          });
                          let dataSum = number_format(value).slice(0, -8);
                          return dataSum;
                      },
                      color: '#fff',
                  },
                  outlabels: {
                      text: '%l %p',
                      color: 'white',
                      stretch: 5,
                      font: {
                          resizable: true,
                          minSize: 12,
                          maxSize: 18
                      }
                  }
              }
          };

          // 바차트 옵션
          const barColors = [
              "#4e73df", "#1cc88a", "#36b9cc", "#f6c23e", "#e74a3b"
          ];
          const barChartOption = {
              plugins: {
                  datalabels: {
                      align: 'end',
                      anchor: 'end',
                      color: function (context) {
                          return context.dataset.backgroundColor;
                      },
                      font: function (context) {
                          var w = context.chart.width;
                          return {
                              size: w < 512 ? 12 : 14
                          };
                      },
                      formatter: function (value, context) {
                          return number_format(value).slice(0, -8);
                      }

                  }
              },
              maintainAspectRatio: false,
              layout: {
                  padding: {
                      left: 10,
                      right: 25,
                      top: 25,
                      bottom: 0
                  }
              },
              scales: {
                  xAxes: [{
                      gridLines: {
                          display: false,
                          drawBorder: false
                      },
                      ticks: {
                          autoSkip: false,
                      },
                      maxBarThickness: 40,
                  }],
                  yAxes: [{
                      display: false
                  }],
              },
              legend: {
                  display: false
              },
              tooltips: {
                  titleMarginBottom: 10,
                  titleFontColor: '#6e707e',
                  titleFontSize: 14,
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#858796",
                  borderColor: '#dddfeb',
                  borderWidth: 1,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: false,
                  caretPadding: 10,
                  callbacks: {
                      label: function (tooltipItem, chart) {
                          return number_format(tooltipItem.yLabel);
                      }
                  }
              },
          };

          // 기간별 미수금액 파이 차트
          const pieNotDepositCanvas = $("#pieNotDeposit");
          const pieNotDepositChart = new Chart(pieNotDepositCanvas, {
              type: 'pie',
              data: {
                  labels:[
                      {% for label in pieNotDepositLabel %}
                          '{{ label }}',
                      {% endfor %}
                  ],
                  datasets: [{
                      data: {{ pieNotDepositData }},
                      backgroundColor: ['#1cc88a', '#f6c23e', '#e74a3b'],
                      hoverBackgroundColor: ['#1cc88a', '#f6c23e', '#e74a3b'],
                      hoverBorderColor: "rgba(234, 236, 244, 1)",
                  }],
              },
              options: pieChartOption,
          });
          pieNotDepositCanvas.click(function (evt) {
              const activeElement = pieNotDepositChart.getElementAtEvent(evt);
              if (activeElement.length > 0 ) {
                  const idx = activeElement[0]._index;
                  const stepLabel = pieNotDepositChart.data.labels[idx];
                  push_not_deposit(stepLabel, tableNotDeposit, tableNotDepositRow, tableNotDepositTitle);
              }
          });

          // 고객사별 미수금액 바 차트
          const barNotDepositCanvas = $("#barNotDeposit");
          const barNotDepositChart = new Chart(barNotDepositCanvas, {
              type: 'bar',
              data: {
                  labels: [
                      {% for label in barNotDepositLabel %}
                          '{{ label }}',
                      {% endfor %}
                  ],
                  datasets: [{
                      backgroundColor: barColors,
                      hoverBackgroundColor: barColors,
                      hoverBorderColor: "rgba(234, 236, 244, 1)",
                      data: {{ barNotDepositData }},
                  }],
              },
              options: barChartOption
          });
          barNotDepositCanvas.click(
              function (evt) {
                  const activeElement = barNotDepositChart.getElementAtEvent(evt);
                  if (activeElement.length > 0 ) {
                      const idx = activeElement[0]._index;
                      const companyLabel = barNotDepositChart.data.labels[idx];
                      push_not_deposit(companyLabel, tableNotDeposit, tableNotDepositRow, tableNotDepositTitle);
                  }
              }
          );

          // 기간별 미지급액 파이 차트
          const pieNotWithdrawCanvas = $("#pieNotWithdraw");
          const pieNotWithdrawChart = new Chart(pieNotWithdrawCanvas, {
              type: 'pie',
              data: {
                  labels:[
                      {% for label in pieNotWithdrawLabel %}
                          '{{ label }}',
                      {% endfor %}
                  ],
                  datasets: [{
                      data: {{ pieNotWithdrawData }},
                      backgroundColor: ['#1cc88a', '#f6c23e', '#e74a3b'],
                      hoverBackgroundColor: ['#1cc88a', '#f6c23e', '#e74a3b'],
                      hoverBorderColor: "rgba(234, 236, 244, 1)",
                  }],
              },
              options: pieChartOption,
          });
          pieNotWithdrawCanvas.click(function (evt) {
              const activeElement = pieNotWithdrawChart.getElementAtEvent(evt);
              if (activeElement.length > 0 ) {
                  const idx = activeElement[0]._index;
                  const stepLabel = pieNotWithdrawChart.data.labels[idx];
                  push_not_withdraw(stepLabel, tableNotWithdraw, tableNotWithdrawRow, tableNotWithdrawTitle);
              }
          });

          // 고객사별 미지급액 바 차트
          const barNotWithdrawCanvas = $("#barNotWithdraw");
          const barNotWithdrawChart = new Chart(barNotWithdrawCanvas, {
              type: 'bar',
              data: {
                  labels: [
                      {% for label in barNotWithdrawLabel %}
                          '{{ label }}',
                      {% endfor %}
                  ],
                  datasets: [{
                      backgroundColor: barColors,
                      hoverBackgroundColor: barColors,
                      hoverBorderColor: "rgba(234, 236, 244, 1)",
                      data: {{ barNotWithdrawData }},
                  }],
              },
              options: barChartOption
          });
          barNotWithdrawCanvas.click(
              function (evt) {
                  const activeElement = barNotWithdrawChart.getElementAtEvent(evt);
                  if (activeElement.length > 0 ) {
                      const idx = activeElement[0]._index;
                      const companyLabel = barNotWithdrawChart.data.labels[idx];
                      push_not_withdraw(companyLabel, tableNotWithdraw, tableNotWithdrawRow, tableNotWithdrawTitle);
                  }
              }
          );

      });

  </script>
{% endblock %}