{% extends "dashboard/layout.html" %}
{% block title %}
  분기별 영업 실적
{% endblock %}
{% load humanize %}
{% block content %}


  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <span>
    <h1 class="h3 mb-0 text-gray-800">분기별 영업 실적</h1>
{#    <h6 class="h6 mb-0 text-gray-800"> ( {{ startdate}}~{{ enddate }} )</h6>#}
    </span>
    <span>
{#      <a href="#" class="d-sm-inline-block btn btn-sm btn-info shadow-sm" id="filterLink" data-toggle="modal" data-target="#filterModal"><i class="fas fa-filter fa-sm text-white-50"></i> 날짜 검색 </a>#}
{#      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="pdf"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
    </span>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">목표 매출 금액</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ Target_sales|intcomma }}원</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-won-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">누적 매출 금액</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{% if cumulative_sales_amount %}{{ cumulative_sales_amount|intcomma }}{% else %}0{% endif %}원 /
                {% if Sales_rate %}{{ Sales_rate }}{{ else }}{% endif %}%(달성률)
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-money-bill-alt fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-info text-uppercase mb-1">목표 이익 금액</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ Target_profit|intcomma }}원</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-coins fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-info text-uppercase mb-1">누적 이익 금액</div>
              <div class="h5 b-0 font-weight-bold text-gray-800">{% if cumulative_profit_amount %}{{ cumulative_profit_amount|intcomma }}{% else %}0{% endif %}원 /
                {% if Profit_rate %}{{ Profit_rate }}{{ else }}{% endif %}%(달성률)
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-search-dollar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top: 0px;">
  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-warning text-uppercase mb-1">{{ quarter }}분기 누적 매출 금액</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{% if quarterly_cumulative_sales %}{{ quarterly_cumulative_sales|intcomma }}{% else %}0{% endif %}원</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-won-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-warning text-uppercase mb-1">{{ quarter }}분기 누적 이익 금액</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{% if quarterly_cumulative_profit %}{{ quarterly_cumulative_profit|intcomma }}{% else %}0{% endif %}원</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-money-bill-alt fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-success text-uppercase mb-1">{{ quarter }}분기 매출 금액</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{% if quarterly_sales %}{{ quarterly_sales|intcomma }}{% else %}0{% endif %}원</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-coins fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-success text-uppercase mb-1">{{ quarter }}분기 이익 금액</div>
              <div class="h5 b-0 font-weight-bold text-gray-800">{% if quarterly_profit %}{{ quarterly_profit|intcomma }}{% else %}0{% endif %}원</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-search-dollar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header-->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">{{ quarter }}분기 opportunity&Firm</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="todayquarterBarchart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header-->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">{{ quarter }}분기 누적 매출/이익</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="todayquarterCumulativechart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">분기별 opportunity&Firm</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="quarterBarchart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">월별 매출액</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="contractMonthlychart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- data table -->
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header-->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">상세 내용</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterDatatable">
              <i class="fas fa-filter fa-fw text-gray-400"></i>
            </a>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table id="showcontracts" class="hover row-border" width="100%" style="width: 100%;">
              <thead>
              <tr>
                <th>구분</th>
                <th>영업부서</th>
                <th>영업담당</th>
                <th>계약명</th>
                <th>거래처</th>
                <th>계약일</th>
                <th class="d-none">contractId</th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">날짜 검색</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="font-weight-light text-primary">시작 일자</label>
                <input type="date" class="form-control" id="startdate" name="startdate">
              </div>
              <div class="col-6">
                <label for="enddate" class="font-weight-light text-primary">종료 일자</label>
                <input type="date" class="form-control" id="enddate" name="enddate">
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="filterDatatable" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterDatatableForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter2();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="font-weight-light text-primary">시작일자</label>
                <input type="date" class="form-control" id="startdate" name="startdate">
              </div>
              <div class="col-6 mb-3 mb-sm-0">
                <label for="enddate" class="font-weight-light text-primary">종료일자</label>
                <input type="date" class="form-control" id="enddate" name="enddate">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="empDeptName" class="font-weight-light text-primary">영업부서</label>
                <select class="form-control" id="empDeptName" name="empDeptName" onchange="changeDeptName(this.value,'empName')">
                  <option value="전체">전체</option>
                  <option value="영업1팀">영업1팀</option>
                  <option value="영업2팀">영업2팀</option>
                  <option value="영업3팀">영업3팀</option>
                </select>
              </div>
              <div class="col-6">
                <label for="empName" class="font-weight-light text-primary">영업담당자</label>
                <select class="form-control" id="empName" name="empName">
                  <option value='전체'>전체</option>
                  {% for i in employees %}
                    <option value="{{ i.pk }}">{{ i.empName }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="companyName" class="font-weight-light text-primary">거래처</label>
                <input class="form-control" id="saleCompanyName" name="saleCompanyName">
              </div>
              <div class="col-6">
                <label for="serviceType" class="font-weight-light text-primary">최종고객사</label>
                <input class="form-control" id="endCompanyName" name="endCompanyName">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="boardTitle" class="font-weight-light text-primary">계약명</label>
                <input class="form-control" id="contractName" name="contractName">
              </div>
              <div class="col-6">
                <label for="enddate" class="font-weight-light text-primary">구분</label>
                <select class="form-control" id="contractStep" name="contractStep">
                  <option value="전체">전체</option>
                  <option value="Opportunity">Opportunity</option>
                  <option value="Firm">Firm</option>
                  <option value="Drop">Drop</option>
                </select>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter2()">검색</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script src="/static/hr/js/demo/chart-bar-demo.js"></script>
  <script src="/static/hr/js/demo/chart-area-demo.js"></script>
  <script src="/static/hr/js/demo/chart-pie-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.4.0/dist/chartjs-plugin-datalabels.min.js"></script>

  <script>
      function btn_filter() {
          document.getElementById("filterForm").submit();
      }

      function btn_filter2() {
          document.getElementById("filterDatatableForm").submit();
      }

      function replaceAll(str, searchStr, replaceStr) {
          var new_str = str.split(searchStr).join(replaceStr);
          return new_str.split("T").join(" ").slice(0, 10);
      }

      function changeDeptName(empDeptName, selectId) {
          $.ajax({
              url: "{% url 'sales:empdept_ajax_url' %}",
              method: 'POST',
              cache: false,
              data: {"empDeptName": empDeptName},
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnData) {
                  var empName = returnData;
                  console.log(empName);
                  $('#' + selectId).empty();

                  $('#' + selectId).append("<option value='전체'>전체</option>");
                  for (var count = 0; count < empName.length; count++) {
                      var option = $("<option value=" + empName[count].pk + ">" + empName[count].fields.empName + "</option>");
                      $('#' + selectId).append(option);
                  }
              }
          })
      }

  </script>

  <script>
      const colors = ["#4e73df", "#1cc88a", "#36b9cc", "#f6c23e", "#e74a3b", "#858796", "#e83e8c", "grey",
          "#4e73df", "#1cc88a", "#36b9cc", "#f6c23e", "#e74a3b", "#858796", "#e83e8c", "grey",
          "#4e73df", "#1cc88a", "#36b9cc", "#f6c23e", "#e74a3b", "#858796", "#e83e8c", "grey"];
      const options = {
          maintainAspectRatio: false,
          plugins: {
              datalabels: {
                  align: 'end',
                  anchor: 'end',
                  color: function (context) {
                      return context.dataset.backgroundColor;
                  },
                  font: function (context) {
                      var w = context.chart.width;
                      return {
                          size: w < 512 ? 12 : 14
                      };
                  },
                  formatter: function (value, context) {
                      return number_format(value);
                  }

              }
          },
          layout: {
              padding: {
                  left: 0,
                  right: 0,
                  top: 0,
                  bottom: 0
              }
          },
          scales: {
              xAxes: [{
                  time: {
                      unit: 'week'
                  },
                  gridLines: {
                      display: false,
                      drawBorder: false
                  },
                  ticks: {
                      maxTicksLimit: 8
                  },
                  maxBarThickness: 30,
              }],
              yAxes: [{
                  ticks: {
                      min: 0,
                      maxTicksLimit: 5,
                      padding: 5,
                      // Include a dollar sign in the ticks
                      callback: function (value, index, values) {
                          return number_format(value);
                      }
                  },
                  gridLines: {
                      color: "rgb(234, 236, 244)",
                      zeroLineColor: "rgb(234, 236, 244)",
                      drawBorder: false,
                      borderDash: [2],
                      zeroLineBorderDash: [2]
                  }
              }],
          },
          tooltips: {
              titleMarginBottom: 10,
              titleFontColor: '#6e707e',
              titleFontSize: 14,
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              caretPadding: 10,
              callbacks: {
                  label: function (tooltipItem, chart) {
                      return '총 ' + number_format(tooltipItem.yLabel);
                  }
              }
          },
      };
      // Bar Chart 1
      const ctx1 = document.getElementById("todayquarterBarchart");
      const todayquarterBarchart = new Chart(ctx1, {
          type: 'pie',
          data: {
              labels: ["opportunity", 'Firm'],
              datasets: [{
                  data: {{ quarter_opp_Firm }},
                  backgroundColor: ['#e74a3b', '#858796'],
                  hoverBackgroundColor: ['#e74a3b', '#858796'],
                  hoverBorderColor: "rgba(234, 236, 244, 1)",
              }],
          },
          options: {
              maintainAspectRatio: false,
              tooltips: {
                  enabled: false
              },
              plugins: {
                  datalabels: {
                      formatter: (value, ctx) => {

                          let sum = 0;
                          let dataArr = ctx.chart.data.datasets[0].data;
                          dataArr.map(data => {
                              sum += data;
                          });
                          let percentage = (value * 100 / sum).toFixed(2) + "%";
                          return percentage;


                      },
                      color: '#fff',
                  }
              }
          },
      });
      // Bar Chart 2
      const ctx2 = document.getElementById("todayquarterCumulativechart");
      const todayquarterCumulativechart = new Chart(ctx2, {
          type: 'bar',
          data: {
              labels: ["{{ quarter }}분기"],
              datasets: [{
                  label: "매출금액",
                  backgroundColor: "#4365B0",
                  borderColor: "#4365B0",
                  data: [{{ quarterly_cumulative_sales }}]
              }, {
                  label: "이익금액",
                  backgroundColor: "#F29220",
                  borderColor: "#F29220",
                  data: [{{ quarterly_cumulative_profit }}]
              }],
          },
          options: options
      });
      // Bar Chart 3
      const ctx3 = document.getElementById("quarterBarchart");
      const quarterBarchart = new Chart(ctx3, {
          type: 'bar',
          data: {
              labels: ["1분기", "2분기", "3분기", "4분기"],
              datasets: [{
                  label: "opportunity",
                  backgroundColor: "#1cc88a",
                  borderColor: "#1cc88a",
                  data: [
                      {% for i in quarter_opp %}
                          {{ i }},
                      {% endfor %}
                  ]
              }, {
                  label: "Firm",
                  backgroundColor: "#4e73df",
                  borderColor: "#4e73df",
                  data: [
                      {% for i in quarter_firm %}
                          {{ i }},
                      {% endfor %}
                  ]
              }],
          },
          options: options
      });

      const team1 = new Array();
      const team2 = new Array();
      const teamSum = new Array();
      {% for i in team_revenues %}
          {% if i.contractId__empDeptName == '영업1팀' %}
              team1.push({{ i.revenuePrice__sum }});
          {% elif i.contractId__empDeptName == '영업2팀'%}
              team2.push({{ i.revenuePrice__sum }});
          {% endif %}
      {% endfor %}
      for (var x = 0; x < 12; x++) {
          teamSum[x] = team1[x] + team2[x]
      }
      // Bar Chart 4
      const ctx4 = document.getElementById("contractMonthlychart");
      const contractMonthlychart = new Chart(ctx4, {
          type: 'bar',
          data: {
              labels: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
              datasets: [{
                  label: "영업1팀",
                  backgroundColor: "grey",
                  borderColor: "grey",
                  data: team1
              }, {
                  label: "영업2팀",
                  backgroundColor: "#f6c23e",
                  borderColor: "#f6c23e",
                  data: team2
              }, {
                  label: "합계",
                  backgroundColor: "#e83e8c",
                  borderColor: "#e83e8c",
                  data: teamSum
              }],
          },
          options: options
      });
  </script>

  <script>
      $(document).ready(function () {

          $('#showcontracts').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      "startdate": {% if startdate %}"{{ startdate }}",{% else %}"",{% endif %}
                      "enddate": {% if enddate %}"{{ enddate }}",{% else %}"",{% endif %}
                      "contractStep": {% if contractStep %}"{{ contractStep }}",{% else %}"",{% endif %}
                      "empDeptName": {% if empDeptName %}"{{ empDeptName }}",{% else %}"",{% endif %}
                      "empName": {% if empName %}"{{ empName }}",{% else %}"",{% endif %}
                      "saleCompanyName": {% if saleCompanyName %}"{{ saleCompanyName }}",{% else %}"",{% endif %}
                      "endCompanyName": {% if endCompanyName %}"{{ endCompanyName }}",{% else %}"",{% endif %}
                      "contractName": {% if contractName %}"{{ contractName }}",{% else %}"",{% endif %}
                  },
                  "url": "{% url 'sales:contracts_ajax_url' %}",
                  "dataSrc": ""
              },
              "columns": [
                  {data: "contractStep"},
                  {data: "empDeptName"},
                  {data: "empName"},
                  {data: "contractName"},
                  {data: "saleCompanyName"},
                  {data: "contractDate"},
                  {data: "contractId"},
              ],
              "columnDefs": [
                  {targets: 0, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 1, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, width: "40%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 4, width: "20%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 5, width: "10%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 6, visible: false}
              ],
              "order": [[5, 'desc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_ 개씩 보기",
                  "search": "검색:",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "다음",
                      "previous": "이전"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  $('td:eq(5)', nRow).text(replaceAll(aData.contractDate, "-", "."));
                  if (aData.contractStep == 'Firm') {
                      $('td:eq(0)', nRow).css('color', '#4e73df');
                  } else if (aData.contractStep == 'Opportunity') {
                      $('td:eq(0)', nRow).css('color', '#1cc88a');
                  }
              }
          });

          var table = $('#showcontracts').DataTable();

          $("#showcontracts").on("click", 'tr', function () {
              const data = table.row(this).data();
              location.href = '/sales/viewcontract/' + data.contractId + '/'
          });

      });
  </script>
{% endblock %}