{% extends "dashboard/layout.html" %}
{% block title %}
  대시보드
{% endblock %}

{% block content %}


  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <span>
    <h1 class="h3 mb-0 text-gray-800">영업기회&계약 분석(Opportunity&Firm)</h1>
    <h6 class="h6 mb-0 text-gray-800"> ( {{ startdate }}~{{ enddate }} )</h6>
    </span>
    <span>
      <a href="#" class="d-sm-inline-block btn btn-sm btn-info shadow-sm" id="filterLink" data-toggle="modal" data-target="#filterModal"><i class="fas fa-filter fa-sm text-white-50"></i> 날짜 검색 </a>
    </span>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">전체 계약예상 금액</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{% if all_support_time.serviceHour__count %}{{ all_support_time.serviceHour__count }}{% else %}0{% endif %} 건</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-briefcase fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-success text-uppercase mb-1">전체 이익예상 금액</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{% if all_support_time.serviceHour__sum %}{{ all_support_time.serviceHour__sum }}{% else %}0.0{% endif %} 시간</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clock fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-info text-uppercase mb-1">전체 매출액</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{% if all_support_Overtime.serviceOverHour__sum %}{{ all_support_Overtime.serviceOverHour__sum }}{% else %}0.0{% endif %} 시간</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-moon fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-sm font-weight-bold text-warning text-uppercase mb-1">전체 계약 건수</div>
              <div class="h5 b-0 font-weight-bold text-gray-800">{{ customer_support_time|length }}건</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-building fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->

  <div class="row">
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header-->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">단계별 분석</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <canvas id="step-barchart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">영업팀별 분석</h6>

        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="emp-groupedbarchart"></canvas>
          </div>
          <div class="mt-4 text-center small">

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">상품별 분석</h6>

        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="category-piechart"></canvas>
          </div>
          <div class="mt-4 text-center small">

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">영업사원별 분석</h6>

        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="emp-groupedbarchart"></canvas>
          </div>
          <div class="mt-4 text-center small">

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- data table -->
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header-->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">상세 내용</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table id="showservice" class="hover row-border" width="100%" style="width: 100%;">
              <thead>
              <tr>
                <th>성함</th>
                <th>고객사</th>
                <th>구분</th>
                <th>날짜</th>
                <th>지원시간</th>
                <th>초과근무시간</th>
                <th>제목</th>
                <th class="d-none">serviceId</th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">날짜 검색</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="font-weight-light text-primary">시작 일자</label>
                <input type="date" class="form-control" id="startdate" name="startdate">
              </div>
              <div class="col-6">
                <label for="enddate" class="font-weight-light text-primary">종료 일자</label>
                <input type="date" class="form-control" id="enddate" name="enddate">
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script src="/static/hr/js/demo/chart-bar-demo.js"></script>
  <script src="/static/hr/js/demo/chart-area-demo.js"></script>
  <script src="/static/hr/js/demo/chart-pie-demo.js"></script>
  <script>

      function btn_filter() {
          document.getElementById("filterForm").submit();
      }

      const filterArray = new Array();
      filterArray['step'] = '';
      filterArray['category'] = '';
      filterArray['emp'] = '';

      $(document).ready(function () {

      });

      {# 1.step chart #}
      var stepChart = new Chart(document.getElementById("step-barchart"), {
          type: 'bar',
          data: {
              labels: ["Opportunity", "Firm"],
              datasets: [{
                  label: "금액 (원)",
                  backgroundColor: ["#1cc88a", "#4e73df"],
                  data: [2478, 5267]
              }]
          },
          options: {
              animation: {
                  onComplete: function () {
                      var ctx = this.chart.ctx;
                      ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
                      ctx.fillStyle = "black";
                      ctx.textAlign = 'center';
                      ctx.textBaseline = 'bottom';

                      this.data.datasets.forEach(function (dataset) {
                          for (var i = 0; i < dataset.data.length; i++) {
                              for (var key in dataset._meta) {
                                  var model = dataset._meta[key].data[i]._model;
                                  ctx.fillText(dataset.data[i], model.x, model.y - 5);
                              }
                          }
                      });
                  }
              },
              legend: {display: false},
              maintainAspectRatio: false,
              layout: {
                  padding: {
                      left: 10,
                      right: 25,
                      top: 25,
                      bottom: 0
                  }
              },
              scales: {
                  xAxes: [{
                      time: {
                          unit: 'week'
                      },
                      gridLines: {
                          display: false,
                          drawBorder: false
                      },
                      ticks: {
                          maxTicksLimit: 6
                      },
                      maxBarThickness: 50,
                  }],
                  yAxes: [{
                      ticks: {
                          min: 0,
                          maxTicksLimit: 5,
                          padding: 10,
                          // Include a dollar sign in the ticks
                          callback: function (value, index, values) {
                              return number_format(value);
                          }
                      },
                      gridLines: {
                          color: "rgb(234, 236, 244)",
                          zeroLineColor: "rgb(234, 236, 244)",
                          drawBorder: false,
                          borderDash: [2],
                          zeroLineBorderDash: [2]
                      }
                  }],
              },
              tooltips: {
                  titleMarginBottom: 10,
                  titleFontColor: '#6e707e',
                  titleFontSize: 14,
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#858796",
                  borderColor: '#dddfeb',
                  borderWidth: 1,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: false,
                  caretPadding: 10,
                  callbacks: {
                      label: function (tooltipItem, chart) {
                          return '총 ' + number_format(tooltipItem.yLabel);
                      }
                  }
              },
              onClick: barClick
          }
      });

      function barClick(evt) {
          const activeElement = stepChart.getElementAtEvent(evt);
          {#const a = stepChart.data.datasets[activeElement[0]._datasetIndex].data[activeElement[0]._index];#}
          const idx = activeElement[0]._index;
          const stepLabel = stepChart.data.labels[idx];
          filterArray['step'] = stepLabel;
          console.log(filterArray);
          stepChart.destroy();
          categoryChart.destroy();
          empChart.destroy();

          redraw();

          {#  기존 차트 데이터 다 지우고 다시 채우는 로  #}

      }

      {# 2. category type chart   #}

      var categoryChart = new Chart(document.getElementById("category-piechart"), {
          type: 'pie',
          data: {
              labels: ["Oracle", "IBM", "Lenovo", "유지보수", "용역"],
              datasets: [{
                  label: "상품별 (건)",
                  backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                  data: [2478, 5267, 734, 784, 433]
              }]
          },
          options: {
              maintainAspectRatio: false,
              tooltips: {
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#858796",
                  borderColor: '#dddfeb',
                  borderWidth: 1,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: false,
                  caretPadding: 10,
              },
              title: {
                  display: true,
                  text: '2019년 영업 통합 분석'
              },
              onClick: pieClick
          }
      });

      function pieClick(evt) {
          const activeElement = categoryChart.getElementAtEvent(evt);
          const idx = activeElement[0]._index;
          const categoryLabel = categoryChart.data.labels[idx];
          filterArray['category'] = categoryLabel;
          console.log(filterArray);
          {#  기존 차트 데이터 다 지우고 다시 채우는 로  #}
      }

      function pieClick2(evt) {
          const activeElement = categoryChart.getElementAtEvent(evt);
          const idx = activeElement[0]._index;
          const categoryLabel = categoryChart.data.labels[idx];
          filterArray['category'] = categoryLabel;
          console.log(filterArray);
          {#  기존 차트 데이터 다 지우고 다시 채우는 로  #}
      }

      {# 2. sales emp chart   #}

      var empChart = new Chart(document.getElementById("emp-groupedbarchart"), {
          type: 'bar',
          data: {
              labels: ["영업1팀", "영업2팀", "영업3팀", "영업4팀"],
              datasets: [
                  {
                      label: "계약예상금액",
                      backgroundColor: "#3e95cd",
                      data: [133, 221, 783, 2478]
                  }, {
                      label: "이익예상금액",
                      backgroundColor: "#8e5ea2",
                      data: [408, 547, 675, 734]
                  }
              ]
          },
          options: {
              animation: {
                  onComplete: function () {
                      var ctx = this.chart.ctx;
                      ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
                      ctx.fillStyle = "black";
                      ctx.textAlign = 'center';
                      ctx.textBaseline = 'bottom';

                      this.data.datasets.forEach(function (dataset) {
                          for (var i = 0; i < dataset.data.length; i++) {
                              for (var key in dataset._meta) {
                                  var model = dataset._meta[key].data[i]._model;
                                  ctx.fillText(dataset.data[i], model.x, model.y - 5);
                              }
                          }
                      });
                  }
              },
              layout: {
                  padding: {
                      left: 10,
                      right: 25,
                      top: 25,
                      bottom: 0
                  }
              },
              title: {
                  display: true,
                  text: '2019년 영업 통합 분석'
              },
              maintainAspectRatio: false,
              layout: {
                  padding: {
                      left: 10,
                      right: 25,
                      top: 25,
                      bottom: 0
                  }
              },
              scales: {
                  xAxes: [{
                      time: {
                          unit: 'week'
                      },
                      gridLines: {
                          display: false,
                          drawBorder: false
                      },
                      ticks: {
                          maxTicksLimit: 6
                      },
                      maxBarThickness: 50,
                  }],
                  yAxes: [{
                      ticks: {
                          min: 0,
                          maxTicksLimit: 5,
                          padding: 10,
                          // Include a dollar sign in the ticks
                          callback: function (value, index, values) {
                              return number_format(value);
                          }
                      },
                      gridLines: {
                          color: "rgb(234, 236, 244)",
                          zeroLineColor: "rgb(234, 236, 244)",
                          drawBorder: false,
                          borderDash: [2],
                          zeroLineBorderDash: [2]
                      }
                  }],
              },
              tooltips: {
                  titleMarginBottom: 10,
                  titleFontColor: '#6e707e',
                  titleFontSize: 14,
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#858796",
                  borderColor: '#dddfeb',
                  borderWidth: 1,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: false,
                  caretPadding: 10,
                  callbacks: {
                      label: function (tooltipItem, chart) {
                          return '총 ' + number_format(tooltipItem.yLabel);
                      }
                  }
              },
              onClick: groupedbarClick
          }
      });

      function groupedbarClick(evt) {
          const activeElement = empChart.getElementAtEvent(evt);
          const idx = activeElement[0]._index;
          const empLabel = empChart.data.labels[idx];
          filterArray['emp'] = empLabel;
          console.log(filterArray);
          {#  기존 차트 데이터 다 지우고 다시 채우는 로  #}

      }

      function redraw() {
          console.log(filterArray['step']);
          var stepChart = new Chart(document.getElementById("step-barchart"), {
              type: 'bar',
              data: {
                  labels: [],
                  datasets: [{
                      label: "금액 (원)",
                      backgroundColor: ["#1cc88a", "#4e73df"],
                      data: []
                  }]
              },
              options: {
                  animation: {
                      onComplete: function () {
                          var ctx = this.chart.ctx;
                          ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
                          ctx.fillStyle = "black";
                          ctx.textAlign = 'center';
                          ctx.textBaseline = 'bottom';

                          this.data.datasets.forEach(function (dataset) {
                              for (var i = 0; i < dataset.data.length; i++) {
                                  for (var key in dataset._meta) {
                                      var model = dataset._meta[key].data[i]._model;
                                      ctx.fillText(dataset.data[i], model.x, model.y - 5);
                                  }
                              }
                          });
                      }
                  },
                  legend: {display: false},
                  maintainAspectRatio: false,
                  layout: {
                      padding: {
                          left: 10,
                          right: 25,
                          top: 25,
                          bottom: 0
                      }
                  },
                  scales: {
                      xAxes: [{
                          time: {
                              unit: 'week'
                          },
                          gridLines: {
                              display: false,
                              drawBorder: false
                          },
                          ticks: {
                              maxTicksLimit: 6
                          },
                          maxBarThickness: 50,
                      }],
                      yAxes: [{
                          ticks: {
                              min: 0,
                              maxTicksLimit: 5,
                              padding: 10,
                              // Include a dollar sign in the ticks
                              callback: function (value, index, values) {
                                  return number_format(value);
                              }
                          },
                          gridLines: {
                              color: "rgb(234, 236, 244)",
                              zeroLineColor: "rgb(234, 236, 244)",
                              drawBorder: false,
                              borderDash: [2],
                              zeroLineBorderDash: [2]
                          }
                      }],
                  },
                  tooltips: {
                      titleMarginBottom: 10,
                      titleFontColor: '#6e707e',
                      titleFontSize: 14,
                      backgroundColor: "rgb(255,255,255)",
                      bodyFontColor: "#858796",
                      borderColor: '#dddfeb',
                      borderWidth: 1,
                      xPadding: 15,
                      yPadding: 15,
                      displayColors: false,
                      caretPadding: 10,
                      callbacks: {
                          label: function (tooltipItem, chart) {
                              return '총 ' + number_format(tooltipItem.yLabel);
                          }
                      }
                  },
                  onClick: barClick
              }

          });

          $.ajax({
              url: "{% url 'dashboard:opportunity_ajax_url' %}",
              method: 'POST',
              cache: false,
              data: {
                  'step': filterArray['step'],
                  'category': filterArray['category'],
                  'emp': filterArray['emp']
              },
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              success: function (returnStep) {
                  var dataStep = returnStep;
                  console.log(dataStep);
                  for (var k = 0; k < dataStep.length; k++) {
                      const labels = Object.keys(dataStep[k]);
                      const first_key = Object.keys(dataStep[k])[0];
                      if (first_key == 'contractStep') {
                          console.log(dataStep[k]['contractStep']);
                          stepChart.data.labels.push(dataStep[k]['contractStep']);
                          stepChart.data.datasets.forEach((dataset) => {
                              dataset.data.push(dataStep[k]['sum_price']);
                          });
                          stepChart.update();

                      } else if (first_key == 'mainCategory') {
                          categoryChart.data.labels.push(dataStep[k]['mainCategory']);
                          categoryChart.data.datasets.forEach((dataset) => {
                              dataset.data.push(dataStep[k]['count_main']);
                          });
                          categoryChart.update();

                      } else if (first_key == 'subCategory') {

                      } else if (first_key == 'empDeptName') {
                          empChart.data.labels.push(dataStep[k]['empDeptName']);
                          console.log(empChart.data.datasets);
                          empChart.data.datasets[0].data.push(dataStep[k]['sum_price']);
                          empChart.data.datasets[1].data.push(dataStep[k]['sum_profit']);
                          empChart.update();

                      }
                  }

              }
          });


          var categoryChart = new Chart(document.getElementById("category-piechart"), {
              type: 'pie',
              data: {
                  labels: [],
                  datasets: [{
                      label: "상품별 (건)",
                      backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                      data: []
                  }]
              },
              options: {
                  title: {
                      display: true,
                      text: '2019년 영업 통합 분석'
                  },
                  onClick: pieClick
              }
          });
          var empChart = new Chart(document.getElementById("emp-groupedbarchart"), {
              type: 'bar',
              data: {
                  labels: [],
                  datasets: [
                      {
                          label: "계약예상금액",
                          backgroundColor: "#3e95cd",
                          data: []
                      }, {
                          label: "이익예상금액",
                          backgroundColor: "#8e5ea2",
                          data: []
                      }
                  ]
              },
              options: {
                  title: {
                      display: true,
                      text: '2019년 영업 통합 분석'
                  },
                  onClick: groupedbarClick
              }
          });

      }


  </script>

  <script>
      // 고객사별 지원 시간
      // Bar Chart Example
      const colors = ["#4e73df", "#1cc88a", "#36b9cc", "#f6c23e", "#e74a3b", "#858796", "#e83e8c", "grey",
          "#4e73df", "#1cc88a", "#36b9cc", "#f6c23e", "#e74a3b", "#858796", "#e83e8c", "grey",
          "#4e73df", "#1cc88a", "#36b9cc", "#f6c23e", "#e74a3b", "#858796", "#e83e8c", "grey"];
      const options = {
          animation: {
              onComplete: function () {
                  var ctx = this.chart.ctx;
                  ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
                  ctx.fillStyle = "black";
                  ctx.textAlign = 'center';
                  ctx.textBaseline = 'bottom';

                  this.data.datasets.forEach(function (dataset) {
                      for (var i = 0; i < dataset.data.length; i++) {
                          for (var key in dataset._meta) {
                              var model = dataset._meta[key].data[i]._model;
                              ctx.fillText(dataset.data[i], model.x, model.y - 5);
                          }
                      }
                  });
              }
          },
          maintainAspectRatio: false,
          layout: {
              padding: {
                  left: 10,
                  right: 25,
                  top: 25,
                  bottom: 0
              }
          },
          scales: {
              xAxes: [{
                  time: {
                      unit: 'week'
                  },
                  gridLines: {
                      display: false,
                      drawBorder: false
                  },
                  ticks: {
                      maxTicksLimit: 6
                  },
                  maxBarThickness: 25,
              }],
              yAxes: [{
                  ticks: {
                      min: 0,
                      maxTicksLimit: 5,
                      padding: 10,
                      // Include a dollar sign in the ticks
                      callback: function (value, index, values) {
                          return number_format(value);
                      }
                  },
                  gridLines: {
                      color: "rgb(234, 236, 244)",
                      zeroLineColor: "rgb(234, 236, 244)",
                      drawBorder: false,
                      borderDash: [2],
                      zeroLineBorderDash: [2]
                  }
              }],
          },
          legend: {
              display: false
          },
          tooltips: {
              titleMarginBottom: 10,
              titleFontColor: '#6e707e',
              titleFontSize: 14,
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: false,
              caretPadding: 10,
              callbacks: {
                  label: function (tooltipItem, chart) {
                      return '총 ' + number_format(tooltipItem.yLabel);
                  }
              }
          },
      };
      // Bar Chart 1
      var ctx = document.getElementById("CustomerSupportTime");
      var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [
                  {% for i in customer_support_time %}
                      "{{ i.companyName }}",
                  {% endfor %}
              ],
              datasets: [{
                  label: "지원 시간",
                  backgroundColor: colors,
                  hoverBackgroundColor: "#2e59d9",
                  borderColor: "#4e73df",
                  data: [
                      {% for i in customer_support_time %}
                          "{{ i.sum_supportTime }}",
                      {% endfor %}
                  ],
              }],
          },
          options: options
      });
      // Bar Chart 2
      var ctx = document.getElementById("empSupportTime");
      var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [
                  {% for i in emp_support_time %}
                      "{{ i.empName }}",
                  {% endfor %}
              ],
              datasets: [{
                  label: "지원 시간",
                  hoverBackgroundColor: "#2e59d9",
                  borderColor: "#4e73df",
                  backgroundColor: colors,
                  data: [
                      {% for i in emp_support_time %}
                          "{{ i.sum_supportTime }}",
                      {% endfor %}
                  ],
              }],
          },
          options: options
      });
      // Bar Chart 3
      var ctx = document.getElementById("empSupportCount");
      var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [
                  {% for i in emp_support_time %}
                      "{{ i.empName }}",
                  {% endfor %}
              ],
              datasets: [{
                  label: "지원 횟수",
                  hoverBackgroundColor: "#2e59d9",
                  borderColor: "#4e73df",
                  backgroundColor: colors,
                  data: [
                      {% for i in emp_support_time %}
                          "{{ i.sum_supportCount }}",
                      {% endfor %}
                  ],
              }],
          },
          options: options
      });
      // Bar Chart 4
      var ctx = document.getElementById("empSupportOver");
      var myBarChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [
                  {% for i in emp_support_time %}
                      "{{ i.empName }}",
                  {% endfor %}
              ],
              datasets: [{
                  label: "초과 근무 시간",
                  hoverBackgroundColor: "#2e59d9",
                  borderColor: "#4e73df",
                  backgroundColor: colors,
                  data: [
                      {% for i in emp_support_time %}
                          "{{ i.sum_overTime }}",
                      {% endfor %}
                  ],
              }],
          },
          options: options
      });
  </script>
  <script>
      // Pie Chart 1
      var ctx = document.getElementById("typeSupportTime");
      var myPieChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: [
                  {% for i in type_support_time %}
                      "{{ i.serviceType }}".replace('&amp;', '&') ,
                  {% endfor %}
              ],
              datasets: [{
                  data: [
                      {% for i in type_support_time %}
                          "{{ i.sum_supportTime }}",
                      {% endfor %}
                  ],
                  backgroundColor: colors,
                  hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                  hoverBorderColor: "rgba(234, 236, 244, 1)",
              }],
          },
          options: {
              maintainAspectRatio: false,
              tooltips: {
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#858796",
                  borderColor: '#dddfeb',
                  borderWidth: 1,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: false,
                  caretPadding: 10,
              },
              legend: {
                  display: false
              },
              cutoutPercentage: 80,
          },
      });
  </script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-treemap.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
  <script>
      anychart.onDocumentReady(function () {

          // create data
          var data = [
              {
                  name: "고객사", children: [
                      {% for i in customer_support_time %}
                          {name: "{{ i.companyName }}", value: {{ i.sum_supportTime }}},
                      {% endfor %}
                  ]
              }
          ];

          var chart = anychart.treeMap(data, "as-tree");

          chart.container("SupportTimeTreemap");

          var customColorScale = anychart.scales.ordinalColor();
          customColorScale.ranges([
              {less: 10},
              {from: 11, to: 18},
              {from: 19, to: 28},
              {greater: 29}
          ]);
          customColorScale.colors(["lightgray", "#00ccff", "#ffcc00", "pink"]);

          // set the color scale as the color scale of the chart
          chart.colorScale(customColorScale);

          chart.draw();
      });
  </script>

{% endblock %}