{% extends "dashboard/layout.html" %}


{% block title %}
  전자결재 공유 이력
{% endblock %}


{% block css %}

  <style type="text/css">

    .buttons-copy {
      background-color: #4e73df;
      color: white;
      margin-bottom: 1rem;
    }

    .buttons-excel {
      background-color: #36b9cc;
      color: white;
      margin-bottom: 1rem;
    }

    .buttons-print {
      background-color: #f6c23e;
      color: white;
      margin-bottom: 1rem;
    }

  </style>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-xl-1"></div>

    <div class="col-xl-10">
      <div class="card shadow mb-4">

        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 h3 text-gray-800"> 전자결재 공유 이력 </h6>

          <div class="dropdown no-arrow">
            <a class="btn btn-success" href="#" role="button" id="filterLink" data-toggle="modal" data-target="#filterModal">
              <i class="fas fa-filter d-xl-none"></i><span class="d-none d-xl-block"><i class="fas fa-filter"></i> 조회</span>
            </a>
          </div>
        </div>

        <div class="card-body">
          {% csrf_token %}

          <div class="table-responsive">
            <table id="showapprovals" class="hover row-border" width="100%" style="width: 100%;">
              <thead>
              <tr>
                <th>문서공유일자</th>
                <th>부서</th>
                <th>발신자</th>
                <th>수신자</th>
                <th>문서명</th>
                <th>전송상태</th>
                <th class="d-none">downloadLogId</th>
              </tr>
              </thead>
            </table>
          </div>

        </div>

      </div>
    </div>

    <div class="col-xl-1"></div>
  </div>

  <!-- Filter Modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header bg-info text-gray-100">
          <h5 class="modal-title" id="filterModalLabel">검색조건</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span class="text-gray-100" aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="filterForm" method="POST" onkeydown="javascript: if (event.keyCode == 13) {btn_filter();}">
            {% csrf_token %}
            <div class="row mb-1">
              <div class="col-6 mb-3 mb-sm-0">
                <label for="startdate" class="font-weight-light text-primary">시작 일자</label>
                <input type="date" max="9999-12-31" class="form-control" id="startdate" name="startdate">
              </div>
              <div class="col-6">
                <label for="enddate" class="font-weight-light text-primary">종료 일자</label>
                <input type="date" max="9999-12-31" class="form-control" id="enddate" name="enddate">
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-6">
                <label for="empDeptName" class="font-weight-light text-primary">발신자부서</label>
                <input class="form-control" id="empDeptName" name="empDeptName">
              </div>
              <div class="col-6">
                <label for="empName" class="font-weight-light text-primary">발신자성함</label>
                <input class="form-control" id="empName" name="empName">
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-info" href="#" onclick="btn_filter()">검색</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript">
      function btn_filter() {
          document.getElementById("filterForm").submit();
      }

       function replaceAll(str, searchStr, replaceStr) {
          var new_str = str.split(searchStr).join(replaceStr);
          return new_str.split("T").join(" ").slice(0,16);
      }

      $(document).ready(function () {

          $('#showapprovals').dataTable({
              "processing": true,
              "ajax": {
                  "processing": true,
                  "type": 'POST',
                  "data": {
                      "startdate": {% if startdate %}"{{ startdate }}",{% else %}"",{% endif %}
                      "enddate": {% if enddate %}"{{ enddate }}",{% else %}"",{% endif %}
                      "empDeptName": {% if empDeptName %}"{{ empDeptName }}",{% else %}"",{% endif %}
                      "empName": {% if empName %}"{{ empName }}",{% else %}"",{% endif %}
                  },
                  "url": "{% url 'logs:approval_ajax_url' %}",
                  "dataSrc": ""
              },
              "columns": [
                  {data: "approvalDatetime"},
                  {data: "empId__empDeptName"},
                  {data: "empId__empName"},
                  {data: "toEmail"},
                  {data: "documentId__title"},
                  {data: "approvalStatus"},
                  {data: "approvalLogId"},

              ],
              "columnDefs": [
                  {targets: 0, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 1, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 2, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 3, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {
                    "render": function (data, type, row) {
                        return '<div><a href="/approval/viewdocument/'+ row['documentId__documentId']+'/">' + data + '</a></div>'
                    },
                    targets: 4, className: "dt-head-center dt-body-left dt-head-nowrap dt-body-nowrap"
                  },
                  {targets: 5, width: "15%", className: "dt-head-center dt-body-center dt-head-nowrap dt-body-nowrap"},
                  {targets: 6, className: "d-none"}
              ],
              dom: 'Blfrtip',
              buttons: [
                  {
                      extend: 'excel',
                      text: '엑셀',
                      footer: true
                  },
                  {
                      extend: 'copy',
                      text: '복사',
                      footer: true
                  },
                  {
                      extend: 'print',
                      text: '인쇄',
                      footer: true
                  }
              ],
              "deferRender": true,
              "order": [[0, 'desc']],
              "searching": true,
              "paging": true,
              "info": false,
              "scrollY": "80vh",
              "scrollX": true,
              "scrollCollapse": true,
              "language": {
                  "lengthMenu": "_MENU_개씩 보기",
                  "search": "검색:",
                  "zeroRecords": "결과 없음",
                  "processing": "로딩중",
                  "paginate": {
                      "first": "처음",
                      "last": "끝",
                      "next": "→",
                      "previous": "←"
                  },
              },
              "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                  if (aData.approvalDatetime != "") {
                      $('td:eq(0)', nRow).text(replaceAll(aData.approvalDatetime,"-","."));
                  }
                  if (aData.approvalStatus === '전송실패') {
                    $('td', nRow).eq(5).css('color', 'red');
                    $('td', nRow).css('background-color', '#ffe6e6');
                  }else{
                       $('td', nRow).eq(5).css('color', 'green');
                  }
              }

          });
      });

  </script>

{% endblock %}